<template>
  <div class="app-container scrollbar my-collapse">
    <el-collapse v-model="activeNames">
      <el-collapse-item title="备案基本信息" name="collapse_info">
        <div v-show="isShow" class="mb10 f16 justify-end">
          <span class>备案状态：</span>
          <!-- <span class="color-red">{{ projectStateName }}</span> -->
        </div>
        <el-form
          ref="form"
          :model="form"
          label-width="120px"
          label-position="left"
          size="mini"
          disabled
          class="mb30"
        >
          <div class="tableList scope required">
            <div class="title">备案信息</div>
            <div class="align">
              <el-col :span="6" class="left ellipsis" :title="fieldName">{{ fieldName }}</el-col>
              <el-col :span="18" class="right">
                <el-tag
                  class="cursor"
                  v-for="(file, index) in fileList"
                  :key="file.fileId"
                  size="mini"
                  :closable="false"
                  @click="onClickFile(file)"
                  @close="onRemoveFile(index)">
                  {{ file.fileName }}
                </el-tag>
                <el-upload
                  v-if="!isShowEmergency"
                  class="upload-facade-images"
                  :action="uploadUrl"
                  :file-list="fileList"
                  :show-file-list="false"
                  :on-success="onUploadSuccess"
                  :on-error="onUploadError"
                  accept="image/png, image/jpeg"
                >
                  <el-button size="mini" type="primary">点击上传</el-button>
                </el-upload>
              </el-col>
            </div>
          </div>
        </el-form>
      </el-collapse-item>
      <el-collapse-item title="变更内容" name="collapse_content">
        <el-form v-show="viewFormShow" ref="viewForm" :model="viewForm" label-width="120px" size="mini">
          <el-table :data="changeTable" border fit highlight-current-row :stripe="true">
            <el-table-column align="center" label="序号" width="60">
              <template slot-scope="scope">{{ scope.$index + 1 }}</template>
            </el-table-column>
            <el-table-column
              label="变更字段"
              min-width="180"
              align="left"
              prop="emergencyField"
              show-overflow-tooltip
            />
            <el-table-column label="变更前" min-width="130" align="left" prop="oldValue" show-overflow-tooltip>
              <template slot-scope="scope">
                <el-tag
                  style="cursor:pointer;"
                  v-for="file in fileList"
                  :key="file.fileId"
                  size="mini"
                  @click="onClickFile(file)"
                >{{ file.fileName }}</el-tag>
              </template>
            </el-table-column>
            <el-table-column label="变更后" min-width="130" align="left" prop="newValue">
              <template slot-scope="scope">
                <el-tag
                  class="cursor"
                  v-for="(file, index) in newfileList"
                  :key="file.fileId"
                  size="mini"
                  :closable="true"
                  @click="onClickFile(file)"
                  @close="onRemoveFile(index, scope.$index)"
                >{{ file.fileName }}</el-tag>
                <el-upload
                  class="upload-facade-images"
                  :action="uploadUrl"
                  :limit="3"
                  :show-file-list="false"
                  :on-success="value => onUploadSuccess(scope.$index, value)"
                  :on-error="onUploadError"
                  accept="image/png, image/jpeg"
                >
                  <el-button size="mini" type="primary">点击上传</el-button>
                </el-upload>
              </template>
            </el-table-column>
            <el-table-column label="操作" width="60" align="center">
              <!-- <template slot-scope="scope">
                <i
                  class="el-icon-delete cursor"
                  @click="handleDelete(scope.$index, changeTable, scope.row)"
                />
              </template> -->
            </el-table-column>
          </el-table>
        </el-form>
        <!-- 查看详情 -->
        <el-table v-show="detailTable" :data="changeDetailTable" border fit highlight-current-row :stripe="true">
          <el-table-column align="center" label="序号" width="60">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column
            label="变更字段"
            min-width="180"
            align="left"
            prop="emergencyField"
            show-overflow-tooltip
          />
          <el-table-column label="变更前" min-width="130" align="left" prop="oldValue" show-overflow-tooltip>
            <template slot-scope="scope">
              <el-tag
                style="cursor:pointer;"
                v-for="file in oldfileList"
                :key="file.fileId"
                size="mini"
                @click="onClickFile(file)"
              >{{ file.fileName }}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="变更后" align="left" prop="newValue" show-overflow-tooltip>
            <template slot-scope="scope">
              <el-tag
                style="cursor:pointer;"
                v-for="file in newfileList"
                :key="file.fileId"
                size="mini"
                @click="onClickFile(file)"
              >{{ file.fileName }}</el-tag>
            </template>
          </el-table-column>
        </el-table>
      </el-collapse-item>
    </el-collapse>
    <el-col class="mt20 justify-end">
      <el-button size="mini" type="info" @click="goback()">返回</el-button>
      <el-button
        v-show="showBtn"
        :loading="btnLoading2"
        type="primary"
        size="mini"
        @click="handleClick('submit')"
      >提交</el-button>
    </el-col>
    <PreviewImage ref="previewImage" />
  </div>
</template>

<script>
import * as AUTH from "@/utils/auth"
import * as API from "@/api/project"
import * as FILE from "@/api/files"
import * as EMERGENCY from "@/api/emergency"
import { getToken } from "@/utils/auth"
import PreviewImage from "../../../components/PreviewImage"

export default {
  components: { PreviewImage },
  data() {
    return {
      btnLoading1: false,
      btnLoading2: false,
      activeNames: [
        "collapse_info",
        "collapse_content",
        "collapse_check",
        "collapse_approvals"
      ],
      viewForm: {
        changeField: null
      },
      changeTable: [],
      changeDetailTable: [],
      type: [],
      form: {
        _0: { value: null, idProjectField: 1 },
        _1: { value: null, idProjectField: 2 },
        _2: { value: null, idProjectField: 3 },
        _3: { value: 2, idProjectField: 4 },
        _4: { value: 15, idProjectField: 5 },
        _5: { value: null, idProjectField: 6 },
        _6: { value: null, idProjectField: 7 },
        _7: { value: null, idProjectField: 8 },
        _8: { value: null, idProjectField: 9 },
        _9: { value: null, idProjectField: 10 },
        _10: { value: null, idProjectField: 11 },
        _11: { value: null, idProjectField: 12 },
        _12: { value: null, idProjectField: 13 },
        _13: { value: null, idProjectField: 14 },
        _14: { value: null, idProjectField: 15 },
        _15: { value: 1, idProjectField: 16 },
        _16: { value: null, idProjectField: 17 },
        _17: { value: null, idProjectField: 18 },
        _18: { value: "1", idProjectField: 19 },
        _19: { value: null, idProjectField: 20 },
        _20: { value: null, idProjectField: 21 },
        _21: { value: null, idProjectField: 22 },
        _22: { value: null, idProjectField: 23 },
        _23: { value: null, idProjectField: 24 },
        _24: { value: null, idProjectField: 25 },
        _25: { value: null, idProjectField: 26 },
        _26: { value: null, idProjectField: 27 },
        _27: { value: null, idProjectField: 28 },
        _28: { value: null, idProjectField: 29 },
        _29: { value: null, idProjectField: 30 },
        _30: { value: null, idProjectField: 31 },
        _31: { value: null, idProjectField: 32 },
        _32: { value: null, idProjectField: 33 },
        _33: { value: null, idProjectField: 34 },
        _34: { value: "1", idProjectField: 37 },
        _35: { value: "1", idProjectField: 38 },
        _36: { value: "1", idProjectField: 39 },
        _37: { value: "1", idProjectField: 40 },
        _38: { value: null, idProjectField: 41 },
        _39: { value: null, idProjectField: 42 },
        _40: { value: null, idProjectField: 43 },
        _41: { value: null, idProjectField: 44 },
        _42: { value: null, idProjectField: 45 },
        _43: { value: null, idProjectField: 46 },
        _44: { value: null, idProjectField: 47 },
        _45: { value: null, idProjectField: 48 },
        _46: { value: null, idProjectField: 49 },
        _47: { value: null, idProjectField: 50 },
        _48: { value: null, idProjectField: 51 },
        _49: { value: null, idProjectField: 52 },
        _50: { value: null, idProjectField: 53 },
        _51: { value: null, idProjectField: 54 },
        _52: { value: null, idProjectField: 55 },
        _53: { value: null, idProjectField: 56 },
        _54: { value: null, idProjectField: 57 }
      },
      fileList: [],
      newfileList: [],
      oldfileList: [],
      isShow: false,
      showBtn: true,
      viewFormShow: true,
      detailTable: false,
      fieldName: '幕墙应急预案',
      emergencyFieldList: [],
      idProject: null,
      idProjectUpdateLog: null,
      projectFieldType: null,
      idApproval: null,
      projectUpdateGroups: null,
      btnType: null,
      areaSelectedValue: null,
      projectStates: {},
      houseNumber: [],
      houseHigh: [],

      emergencyState: [],
      idProjectState: null,
      emergencyStateName: null,
      isShowEmergency: false,
      isdisabled: false,
      idEmergency: null,
      idEmergencyUpdateLog: null
    }
  },
  computed: {
    uploadUrl() {
      return (
        process.env.VUE_APP_BASE_API +
        "/project-api/file/upload" +
        "?AccessToken=" +
        getToken()
      )
    }
  },
  created() {
  },
  mounted() {
    this.getEmergencyState()
    this.getAccessoryByProject()
  },
  methods: {
    // 获取备案变更记录
    getEmergencyDetail() {
      EMERGENCY.getEmergencyDetail({
        idEmergency: this.$route.query.guid
      }).then(res => {
        const tmpData = res.data.datas
        tmpData.emergencyField = this.fieldName
        this.changeDetailTable.push(tmpData)
        this.fileList = JSON.parse(tmpData.filePath)
        this.newfileList = JSON.parse(tmpData.emergencyUpdateGroup.newValue)
        this.oldfileList = JSON.parse(tmpData.emergencyUpdateGroup.oldValue)
        this.idEmergencyUpdateLog = tmpData.idEmergencyUpdateLog
      })
    },
    // 查看备案文件列表
    getAccessoryByProject() {
      FILE.getAccessoryByProject()
      .then(res => {
        const tmpData = res.data.datas
        if (tmpData != null && tmpData.project.idProjectState === 3) {
          this.idEmergency = tmpData.emergency.emergencyId
          this.idProjectState = tmpData.project.idProjectState
          this.fileList = JSON.parse(tmpData.emergency.filePath)
          this.emergencyStateName = this.emergencyState[tmpData.emergency.idEmergencyState - 1].name
          this.isShowEmergency = true
          this.isdisabled = true

          this.changeTable.push({
            emergencyField: '幕墙应急预案',
            newValue: this.newfileList,
            oldValue: JSON.parse(tmpData.emergency.filePath)
          })

          this.getEmergencyDetail()
          if (this.$route.query.btn == 'detail') {
            this.showBtn = false
            this.viewFormShow = false
            this.detailTable = true
          } else {
            
          }
        } else {
          this.$message.warning('请先完成项目信息注册！');
        }
      })
    },
    // 获取备案状态列表
    getEmergencyState() {
      EMERGENCY.getEmergencyState()
      .then(res => {
        this.emergencyState = res.data.datas
      })
    },
    onClickFile(file) {
      const params = {
        id: file.fileId,
        fileName: file.fileName
      }
      FILE.readPDF(params)
      // this.$refs.previewImage.show(file.fileId)
    },
    onUploadSuccess(index, response) {
      const { status, datas } = response
      if (
        status !== 200 ||
        Object.isEmpty(datas) ||
        Object.isEmpty(datas.fileId)
      ) {
        this.$message.error("上传失败,请稍后重试")
        return
      }
      this.$message.success("上传成功")
      if (!this.newfileList) {
        this.newfileList = []
      }
      this.newfileList.push({
        ...datas
      })

      this.changeTable[index].newValue = JSON.stringify(this.newfileList)
    },
    onUploadError() {
      this.$message.error("上传失败,请稍后重试")
    },
    onRemoveFile(index, tableIndex) {
      this.newfileList.splice(index, 1)
      this.changeTable[tableIndex].newValue = JSON.stringify(this.newfileList)
    },
    // 删除变更记录
    handleDelete(index, changeTable, row) {
      changeTable.splice(index, 1)
      const emergencyFieldTemp = {
        newValue: row.newValue,
        oldValue: row.oldValue
      }
      this.emergencyFieldList.push(emergencyFieldTemp)
      this.areaSelected = true
    },

    // 提交
    handleClick(btn) {
      let params = {
        newValue: JSON.stringify(this.newfileList),
        oldValue: JSON.stringify(this.fileList),
        idEmergency: this.idEmergency,
        idEmergencyUpdateLog: this.idEmergencyUpdateLog,
        changeOrderNo: this.$route.query.guid
      }
      if (this.$route.query.btn === 'edit') {
        EMERGENCY.updateHistory(params).then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.cause)
            this.btnLoading1 = false
            this.btnLoading2 = false
            this.goback()
          } else {
            this.$message.error(res.data.cause)
            this.btnLoading1 = false
            this.btnLoading2 = false
          }
        })
      } else {
        EMERGENCY.insertUpdateHistory(params).then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.cause)
            this.btnLoading1 = false
            this.btnLoading2 = false
            this.goback()
          } else {
            this.$message.error(res.data.cause)
            this.btnLoading1 = false
            this.btnLoading2 = false
          }
        })
      }
      
    },

    // 返回
    goback() {
      this.$router.go(-1)
    }
  }
}
</script>
<style lang="scss" scoped>
.app-container {
  .el-collapse-item {
    margin-bottom: 10px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }
}

.el-collapse-item {
  .tableList {
    color: #2e4f7b;
    border: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom-width: 0;

    &.scope {
      margin-bottom: 20px;
    }

    &.required {
      .align {
        .left {
          position: relative;

          &:before {
            content: "*";
            color: #f00;
          }
        }
      }
    }

    .title {
      font-size: 16px;
      width: 100%;
      font-weight: 600;
      text-align: center;
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    }

    .align {
      &.facade-images {
        .upload-facade-images {
          display: inline-block;
        }

        /deep/ .el-tag {
          margin-right: 10px;
        }
      }
    }

    div {
      height: 36px;
      line-height: 36px;
    }

    .left {
      background: rgba(46, 79, 123, 0.1);
      border-right: 1px solid rgba(46, 79, 123, 0.5);
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
      padding: 0 20px;
    }

    .right {
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
      padding: 0 20px;
    }

    .borderR {
      border-right: 1px solid rgba(46, 79, 123, 0.5);
    }

    /deep/ .el-form-item--mini.el-form-item,
    .el-form-item--small.el-form-item {
      margin-bottom: 0px;
    }

    /deep/ .el-form-item__content {
      margin-left: 0 !important;
    }

    /deep/ .el-form-item__error {
      top: 30%;
      left: 20px;
    }
  }
}
</style>
