<template>
  <div class="app-container">
    <el-button v-show="isShowContent" size="mini" type="primary" class="mb20" icon="el-icon-circle-plus-outline" @click="gotoNewPage">新的变更</el-button>
    <el-table v-if="tableData.length>0" :cell-class-name="cellStyle" :data="tableData" border fit highlight-current-row :stripe="true" class="tableClass1">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="变更单号" align="left" prop="guid" show-overflow-tooltip />
      <el-table-column label="变更申请人" width="120" align="left" prop="userName" show-overflow-tooltip />
      <el-table-column label="变更内容" min-width="180" align="left" show-overflow-tooltip>
        <template>
          <span>幕墙应急预案</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="110" align="center">
        <template slot-scope="scope">
          <span>{{emergencyState[scope.row.idEmergencyState - 1].name}}</span>
        </template>
      </el-table-column>
      <el-table-column label="创建时间" width="170" align="left" prop="createTime" />
      <el-table-column align="center" label="操作" width="90">
        <template slot-scope="scope">
          <template v-if="scope.row.idEmergencyState === 3">
            <el-button size="mini" type="text" @click="handleDetail('edit',scope.row)">编辑</el-button>
          </template>
          <template v-else>
            <el-button size="mini" type="text" @click="handleDetail('detail',scope.row)">查看详情</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getEmergencInfo" />
  </div>
</template>

<script>
import * as API from '@/api/project';
import * as EMERGENCY from "@/api/emergency"
import Pagination from '@/components/Pagination';

export default {
  components: { Pagination },

  data() {
    return {
      tableData: [],
      reviewRecord: [],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true,
      isShowContent: true,
      projectStates: {},
      emergencyState: [],
      idProject: null
    };
  },
  created() {
  },
  mounted() {
    this.getEmergencyState()
    this.getProjectInfoByuser();
  },
  methods: {
    // 获取变更记录
    getEmergencInfo() {
      EMERGENCY.getEmergencInfo({
        idProject: this.idProject,
        pageNum: this.pageNum,
        pageSize: this.pageSize
      }).then(res => {
        this.tableData = res.data.datas.list;
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      })
    },
    // 获取备案状态列表
    getEmergencyState() {
      EMERGENCY.getEmergencyState()
      .then(res => {
        this.emergencyState = res.data.datas
      })
    },

    // 查询个人项目信息
    getProjectInfoByuser() {
      API.getProjectInfoByuser().then(res => {
        const tmpData = res.data.datas;
        if (tmpData !== null && tmpData.idProjectState === 3) {
          if (tmpData.idEmergencyState === 2) {
            this.idProject = tmpData.idProject
            this.getEmergencInfo()
            this.isShowContent = true;
          } else {
            this.isShowContent = false
            this.$message.warning('请先完成备案信息审核');
          }
          
        } else {
          this.isShowContent = false;
          this.$message.warning('请先完成项目信息注册');
        }
      });
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      if (row.idReportState === 3) {
        this.cellColorList = 'green-row';
      } else {
        this.cellColorList = 'red-row';
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 4) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    formatState(row) {
      return this.projectStates[row.idProjectState] ? this.projectStates[row.idProjectState].name : null;
    },
    // 新增变更
    gotoNewPage() {
      this.tableData.forEach(item => {
        // 判断变更列表中是否有待审核/退回（idProjectState=1/3）状态的记录
        if (item.idEmergencyState === 1 || item.idEmergencyState === 3 || item.idProjectState === 3) {
          this.reviewRecord.push(item);
        }
      });
      if (this.reviewRecord.length > 0) {
        this.$message.warning('当前存在待处理的变更记录，无法添加新的变更');
      } else {
        this.$router.push({ name: 'ChangeEidtEmergency' });
      }
    },
    // 编辑 or 查看详情
    handleDetail(btnType, row) {
      this.$router.push({
        name: 'ChangeEidtEmergency',
        query: { 
          btn: btnType, 
          id: row.idProjectUpdateLog,
          guid: row.guid
        }
      });
    }
  }
};
</script>