<template>
  <div class="app-container">
    <div class="mb10 f16 space-around">
      <div v-if="idEmergencyState === 3" class="row align nowrap">
        <div class>退回原因：</div>
        <div class="color-red withdrawCauseW ellipsis" :title="withdrawCause">{{ withdrawCause }}</div>
      </div>
      <div v-show="idEmergencyState > 0">
        <span class>备案审批状态：</span>
        <span class="color-red">{{ emergencyStateName }}</span>
      </div>
    </div>

    <div class="tableList scope required" v-if="isShowTab">
      <div class="title">备案信息</div>
      <div class="align">
        <el-col :span="6" class="left ellipsis" :title="fieldName">{{ fieldName }}</el-col>
        <el-col :span="18" class="right">
          <el-tag
            class="cursor"
            v-for="(file, index) in fileList"
            :key="file.fileId"
            size="mini"
            :closable="canEditFacadeImages"
            @click="onClickFile(file)"
            @close="onRemoveFile(index)">
            {{ file.fileName }}
          </el-tag>
          <el-upload
            v-if="canEditFacadeImages"
            class="upload-facade-images"
            :action="uploadUrl"
            :file-list="fileList"
            :show-file-list="false"
            :on-success="onUploadSuccess"
            :on-error="onUploadError"
            accept="image/png, image/jpeg"
          >
            <el-button size="mini" type="primary">点击上传</el-button>
          </el-upload>
        </el-col>
      </div>
    </div>

    <div slot="footer" class="dialog-footer" v-if="!isdisabled">
      <el-button type="info" size="mini" @click="cancelUpload">取 消</el-button>
      <el-button type="primary" size="mini" @click="addEmergency()">确 认</el-button>
    </div>

    <PreviewImage ref="previewImage" />

  </div>
</template>

<script>
import * as FILE from "@/api/files"
import * as PROJECT from "@/api/project"
import * as EMERGENCY from "@/api/emergency"
import PreviewImage from "@/components/PreviewImage"
import { checkPerimission, getToken } from "@/utils/auth"

export default {
  components: { PreviewImage },
  data() {
    return {
      listLoading: true,
      fileList: [],
      emergencyState: [],
      idProjectState: null,
      idEmergencyState: 0,
      emergencyStateName: null,
      isdisabled: false,
      withdrawCause: null,
      emergencyId: null,
      isShowTab: false,
      canEditFacadeImages: true,

      fieldName: '幕墙应急预案'
    }
  },
  computed: {
    uploadUrl() {
      return (
        process.env.VUE_APP_BASE_API +
        "/project-api/file/upload" +
        "?AccessToken=" +
        getToken()
      )
    }
  },
  mounted() {
    this.getEmergencyState()
    this.getAccessoryByProject()
  },
  methods: {
    onClickFile(file) {
      const params = {
        id: file.fileId,
        fileName: file.fileName
      }
      FILE.readPDF(params)
      // this.$refs.previewImage.show(file.fileId)
    },
    onRemoveFile(index) {
      this.fileList.splice(index, 1)
    },
    onUploadSuccess(response) {
      const { status, datas } = response
      if (
        status !== 200 ||
        Object.isEmpty(datas) ||
        Object.isEmpty(datas.fileId)
      ) {
        this.$message.error("上传失败,请稍后重试")
        return
      }
      this.$message.success("上传成功")
      if (!this.fileList) {
        this.fileList = []
      }
      this.fileList.push({
        ...datas
      })
    },
    onUploadError() {
      this.$message.error("上传失败,请稍后重试")
    },
    // 获取备案状态列表
    getEmergencyState() {
      EMERGENCY.getEmergencyState()
      .then(res => {
        this.emergencyState = res.data.datas
      })
    },
    // 查看备案文件列表
    getAccessoryByProject() {
      FILE.getAccessoryByProject()
      .then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas
          if (tmpData != null && tmpData.project.idProjectState === 3) { // 已完成项目注册
            this.isShowTab = true

            if (tmpData.emergency != null) { // 已存在申请备案记录
              this.idEmergencyState = tmpData.emergency.idEmergencyState
              if (this.idEmergencyState !== 3) {
                this.canEditFacadeImages = false
                this.isdisabled = true
              }
              this.fileList = JSON.parse(tmpData.emergency.filePath)
              this.emergencyId = tmpData.emergency.emergencyId
              this.withdrawCause = tmpData.emergency.checkCommon
              this.emergencyStateName = this.emergencyState[tmpData.emergency.idEmergencyState - 1].name
              
            }
            
          } else { // 未注册项目
            this.isdisabled = true
            this.$message.warning('请先完成项目信息注册！');
          }
        } else {
          this.isdisabled = true
          this.$message.warning(res.data.cause);
        }
      })
    },
    // 新增备案
    addEmergency() {
      if (this.fileList.length < 1) {
        this.$message.warning("请上传指定文件");
        return false;
      }
      const fileFormData = new FormData()
      if (this.fileList) {
        fileFormData.append(
          "filePath",
          JSON.stringify(this.fileList)
        )
      }
      if (this.emergencyId != null) {
        fileFormData.append("emergencyId", this.emergencyId)
      }
      

      this.axios
        .post(
          process.env.VUE_APP_BASE_API +
            `/project-api/emergency/insertEmergency?AccessToken=${getToken()}`,
          fileFormData
        )
        .then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.datas)
            this.isdisabled = true
            this.getAccessoryByProject()
          } else {
            this.$message.error(res.data.cause)
          }
        })
    },
    cancelUpload() {
      this.fileList = []
    }
  }
}
</script>

<style lang="scss" scoped>
.link {
  cursor: pointer;
  color: blue;
}
.dialog-footer {
  float: right;
}
.tableList {
  color: #2e4f7b;
  border: 1px solid rgba(46, 79, 123, 0.5);
  border-bottom-width: 0;

  &.scope {
    margin-bottom: 20px;
  }

  &.required {
    .align {
      .left {
        position: relative;

        &:before {
          content: "*";
          color: #f00;
        }
      }
    }
  }

  .title {
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
  }

  .align {
    &.facade-images {
      .upload-facade-images {
        display: inline-block;
      }

      /deep/ .el-tag {
        margin-right: 10px;
      }
    }
  }

  div {
    height: 36px;
    line-height: 36px;
  }

  .left {
    background: rgba(46, 79, 123, 0.1);
    border-right: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }

  .right {
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }

  .borderR {
    border-right: 1px solid rgba(46, 79, 123, 0.5);
  }

  /deep/ .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 0px;
  }

  /deep/ .el-form-item__content {
    margin-left: 0 !important;
  }

  /deep/ .el-form-item__error {
    top: 30%;
    left: 20px;
  }
  map-button {
    font-size: 18px;
    cursor: pointer;
  }
  .upload-facade-images {
    display: inline-block;
  }
}
</style>
