<template>
  <div class="app-container">
    <el-tabs :value="activeName" @tab-click="handleClick">
      <el-tab-pane label="备案信息" name="EmergencyFiling" />
      <el-tab-pane label="变更管理" name="ChangeEmergencyMnt" />
    </el-tabs>
    <router-view />
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  computed: {
    activeName: {
      get() {
        return this.$route.name
      },
      set(val) {
        this.$route.name = val
      }
    }
  },
  methods: {
    handleClick(tab, event) {
      this.$router.push({ name: tab.name })
    }
  }
}
</script>
