<template>
  <div>
    <div class="app-container">
      <el-input v-model="searchForm.approver" placeholder="审批人" size="mini" style="width: 130px;" />
      <el-select v-model="searchForm.approvalType" placeholder="类型" size="mini" style="width: 120px">
        <el-option v-for="item in approvalTypeOptions" :key="item.idApprovalModel" :label="item.name" :value="item.idApprovalModel" />
      </el-select>
      <el-select v-model="nameAccessArraySelect" filterable placeholder="所属区域" size="mini" clearable :collapse-tags="true">
        <el-option style="height:200px;overflow: auto;" label="nameAccessArraySelect" value="idAccessArraySelect" key="idAccessArraySelect">
          <el-tree
            ref="tree"
            :show-checkbox="true"
            :data="treeData"
            :props="defaultProps"
            node-key="idDistrict"
            :default-expand-all="false"
            :expand-on-click-node="false"
            @check-change="checkGroupNode"
          />
        </el-option>
      </el-select>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
      <el-table v-loading="listLoading" :data="tableData" element-loading-text="Loading" border highlight-current-row :stripe="true" class="tableClass mt10">
        <el-table-column align="center" label="序号" width="60">
          <template slot-scope="scope">{{ scope.$index + 1 }}</template>
        </el-table-column>
        <el-table-column label="类型" align="left" prop="typeName" min-width="150" />
        <el-table-column label="所属区域、街道" align="left" prop="area" min-width="180" show-overflow-tooltip />
        <el-table-column label="审批人" align="left" prop="userName" min-width="180" />
        <el-table-column align="center" label="操作" width="130">
          <template slot-scope="scope">
            <el-button v-if="checkPerimission('approvalInfoEdit')" size="mini" type="text" @click="handleEdit(scope.row)">编辑</el-button>
          </template>
        </el-table-column>
      </el-table>
      <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/>

      <!-- 编辑 -->
      <el-dialog :visible.sync="dialogVisible" width="600px" title="编辑">
        <el-form :model="editForm" label-width="90px" label-position="left" size="mini">
          <el-form-item label="类型">
            <el-input v-model="editForm.approvalType" placeholder="类型" style="width:100%" disabled />
          </el-form-item>
          <el-form-item label="所属区域">
            <el-input v-model="editForm.approvalDistrict" placeholder="所属区域" style="width:100%" disabled />
          </el-form-item>
          <el-form-item label="审批人">
            <el-select v-model="editForm.approver" placeholder="审批人" style="width:100%">
              <el-option v-for="item in approverOptions" :key="item.idUser" :label="item.realName" :value="item.idUser" />
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button type="info" size="mini" @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" size="mini" @click="createData()">确 认</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination";
import * as treeAPI from "@/api/district";
import * as API from "@/api/approval";
import { checkPerimission } from "@/utils/auth";

export default {
  components: { Pagination },
  data() {
    return {
      listLoading: true,
      dialogVisible: false,
      tableData: [],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      editForm: {
        approvalType: null,
        approvalDistrict: null,
        approver: null,
        idApproval: null,
        idDistrict: null
      },
      searchForm: {
        approver: null,
        approvalType: null,
        area: null
      },
      approvalTypeOptions: {},
      approverOptions: {},
      districts: null,
      nameAccessArraySelect: "",
      idAccessArraySelect: null,
      treeData: [],
      nodeArray: [],
      defaultProps: {
        children: "children",
        label: "name"
      }
    };
  },
  created() {
    this.getTableData();
    this.getTreeData();
  },
  mounted() {
    // 获取审批类型字典
    API.getApprovalTypes().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idApprovalModel] = item;
        });
        this.approvalTypeOptions = tmpData;
      }
    });
  },
  methods: {
    checkPerimission,
    // 获取审批流列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        areaId: this.districts,
        userName: this.searchForm.approver,
        typeId: this.searchForm.approvalType
      };
      API.getPageConfigs(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list;
          this.totalPage = res.data.datas.totalRecord;
          this.listLoading = false;
        }
      });
    },

    // 获取街道审批人员列表
    getStreetApproval(idDistrict) {
      const param = {
        idDistrict: idDistrict
      };
      API.getApproverByDistrict(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idUser] = item;
          });
          this.approverOptions = tmpData;
          this.dialogVisible = true;
        }
      });
    },

    // 编辑
    handleEdit(row) {
      this.editForm.approvalType = row.typeName;
      this.editForm.approvalDistrict = row.area;
      this.editForm.approver = row.userName;
      this.editForm.idApproval = row.idApprovalCaseNodeUser;
      this.getStreetApproval(row.idDistrict);
    },
    createData() {
      const params = {
        idApprovalCaseNodeUser: this.editForm.idApproval,
        idUser: this.editForm.approver
      };
      API.updateConfigUser(params).then(res => {
        if (res.data.status === 200) {
          this.$message.success(res.data.cause);
          this.getTableData();
        } else {
          this.$message.error(res.data.cause);
        }
        this.dialogVisible = false;
      });
    },

    // 选择树节点
    checkGroupNode(a, b) {
      const nodeArray = this.$refs.tree.getCheckedNodes();
      const halfNodeArray = this.$refs.tree.getHalfCheckedNodes(); // 获取半选状态的
      const idAccessArray = [];
      const nameAccessArray = [];
      for (const k in nodeArray) {
        if (nodeArray[k].level === 3) {
          idAccessArray.push(nodeArray[k].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      for (const j in halfNodeArray) {
        if (halfNodeArray[j].level === 3) {
          idAccessArray.push(halfNodeArray[j].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      this.districts = idAccessArray.toString();
      this.idAccessArraySelect = idAccessArray.toString();
      this.nameAccessArraySelect = nameAccessArray.toString();
    },
    data2treeDG(datas, dataArray) {
      for (let j = 0; j < dataArray.length; j++) {
        const dataArrayIndex = dataArray[j];
        const childrenArray = [];
        const Id = dataArrayIndex.idDistrict;
        for (let i = 0; i < datas.length; i++) {
          const data = datas[i];
          const parentId = data.parentId;
          if (parentId === Id) {
            // 判断是否为儿子节点
            const objTemp = {
              idDistrict: data.idDistrict,
              name: data.name,
              parenId: data.parenId,
              level: data.level
            };
            childrenArray.push(objTemp);
          }
        }
        dataArrayIndex.children = childrenArray;
        if (childrenArray.length > 0) {
          // 有儿子节点则递归
          this.data2treeDG(datas, childrenArray);
        }
      }
      this.treeData = dataArray;
      return dataArray;
    },
    getTreeData() {
      const dataArray = [];
      treeAPI.getDistrictTree().then(res => {
        if (res.data.status === 200) {
          const treeDataT = res.data.datas;
          treeDataT.forEach(item => {
            const parentId = item.parentId;
            if (parentId === 0) {
              const objTemp = {
                idDistrict: item.idDistrict,
                name: item.name,
                parenId: item.parenId,
                level: item.level
              };
              dataArray.push(objTemp);
            }
          });
          this.data2treeDG(treeDataT, dataArray);
        }
      });
    },
    // 重置
    reset() {
      this.searchForm = {};
      this.districts = null;
      this.idAccessArraySelect = null;
      this.nameAccessArraySelect = "";
    }
  }
};
</script>
