<template>
  <div>
    <div class="mainPage">
      <el-scrollbar style="height:100%;">
        <div class="table row">
          <div class="leftTree mr20 column">
            <div class="row align" />
            <div class="treeModel">
              <el-scrollbar style="height:100%;">
                <el-tree
                  ref="tree"
                  :data="treeData"
                  :default-expanded-keys="idArr"
                  node-key="idDistrict"
                  :check-strictly="true"
                  :show-checkbox="true"
                  :indent="30"
                  :props="defaultProps"
                  accordion
                  @check="checkGroupNode"
                />
              </el-scrollbar>
            </div>
            <div class="justify" style="margin-top:20px;">
              <el-button v-if="checkPerimission('treeInfoNew')" type="primary" size="mini" icon="el-icon-plus" @click="newArea" />
              <el-button v-if="checkPerimission('treeInfoEdit')" type="primary" size="mini" icon="el-icon-edit" @click="reArea" />
              <el-button v-if="checkPerimission('treeInfoDel')" type="primary" size="mini" icon="el-icon-delete" @click="delArea" />
            </div>
          </div>
        </div>
      </el-scrollbar>
    </div>
    <el-dialog :visible.sync="areaDialogN" :close-on-click-modal="false" width="700px" title="新增">
      <el-form ref="areaForm" :model="areaForm" :rules="areaRules" label-width="120px">
        <el-form-item>
          <span class="color1 f16">{{ this.titleConf }}</span>
        </el-form-item>
        <el-form-item label="区域名称" prop="name">
          <el-input v-model="areaForm.name" size="mini" clearable />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="dialogSaveN()">确 定</el-button>
        <el-button type="info" size="mini" @click="dialogClose()">取消</el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="areaDialogE" :close-on-click-modal="false" width="500px" title="修改">
      <el-form ref="areaFormE" :model="areaFormE" :rules="areaRulesE" label-width="120px">
        <el-form-item label="区域名称" prop="name">
          <el-input v-model="areaFormE.name" size="mini" clearable />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" size="mini" @click="dialogSaveE()">确 定</el-button>
        <el-button type="info" size="mini" @click="dialogClose()">取消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as treeAPI from "@/api/district";
import { checkPerimission } from "@/utils/auth";

export default {
  data() {
    return {
      idArr: [1],
      treeData: [],
      defaultProps: {
        children: "children",
        label: "name"
      },
      areaDialogN: false,
      areaDialogE: false,
      titleConf: "",
      areaForm: {},
      areaRules: {
        name: [{ required: true, message: "请输入区域名称", trigger: "blur" }]
      },
      areaFormE: {},
      areaRulesE: {
        name: [{ required: true, message: "请输入区域名称", trigger: "blur" }]
      },
      apiData: []
    };
  },
  created() {
    this.getTreeData();
  },
  methods: {
    checkPerimission,
    checkGroupNode(a, b) {
      if (b.checkedKeys.length > 0) {
        this.$refs.tree.setCheckedKeys([a.idDistrict]);
      }
    },
    data2treeDG(datas, dataArray) {
      for (let j = 0; j < dataArray.length; j++) {
        const dataArrayIndex = dataArray[j];
        const childrenArray = [];
        const Id = dataArrayIndex.idDistrict;
        for (let i = 0; i < datas.length; i++) {
          const data = datas[i];
          const parentId = data.parentId;
          if (parentId === Id) {
            // 判断是否为儿子节点
            const objTemp = {
              idDistrict: data.idDistrict,
              name: data.name,
              parenId: data.parenId,
              level: data.level
            };
            childrenArray.push(objTemp);
          }
        }
        dataArrayIndex.children = childrenArray;
        if (childrenArray.length > 0) {
          // 有儿子节点则递归
          this.data2treeDG(datas, childrenArray);
        }
      }
      this.treeData = dataArray;
      return dataArray;
    },
    getTreeData() {
      const dataArray = [];
      treeAPI.getDistrictTree().then(res => {
        if (res.data.status === 200) {
          const treeDataT = res.data.datas;
          treeDataT.forEach(item => {
            const parentId = item.parentId;
            if (parentId === 0) {
              const objTemp = {
                idDistrict: item.idDistrict,
                name: item.name,
                parenId: item.parenId,
                level: item.level
              };
              dataArray.push(objTemp);
            }
          });
          this.data2treeDG(treeDataT, dataArray);
        }
      });
    },
    newArea() {
      let tempName = "";

      if (this.$refs.tree.getCheckedNodes().length <= 0) {
        this.$message.warning("请先选择区域");
        return false;
      } else {
        tempName = this.$refs.tree.getCheckedNodes()[0].name;
        this.areaForm.parentId = this.$refs.tree.getCheckedNodes()[0].idDistrict;
      }
      this.titleConf = "在 《" + tempName + "》 下新增";
      this.areaDialogN = true;
    },
    reArea() {
      if (this.$refs.tree.getCheckedNodes().length <= 0) {
        this.$message.warning("请先选择区域");
        return false;
      } else {
        this.areaFormE.idDistrict = this.$refs.tree.getCheckedNodes()[0].idDistrict;
      }
      this.areaDialogE = true;
    },
    dialogSaveN() {
      this.$refs["areaForm"].validate(valid => {
        if (valid) {
          treeAPI.insertDistrict(this.areaForm).then(res => {
            if (res.data.status === 200) {
              this.$message.success("新增区域成功");
              this.areaForm = {};
              this.areaDialogN = false;
              this.getTreeData();
            } else {
              this.$message.error(res.data.cause);
            }
          });
        }
      });
    },
    dialogSaveE() {
      this.$refs["areaFormE"].validate(valid => {
        if (valid) {
          treeAPI.upadteDistrict(this.areaFormE).then(res => {
            if (res.data.status === 200) {
              this.$message.success("修改区域成功");
              this.areaForm = {};
              this.areaDialogE = false;
              this.getTreeData();
            } else {
              this.$message.error(res.data.cause);
            }
          });
        }
      });
    },
    dialogClose() {
      this.areaDialogN = false;
      this.areaDialogE = false;
      this.areaForm.areaName = "";
    },
    delArea() {
      if (this.$refs.tree.getCheckedNodes().length <= 0) {
        this.$message.warning("请先选择区域");
        return false;
      }
      const msg = "此操作会删除此区域及其下所有区域的项目，是否确定?请谨慎选择！！！";
      this.$confirm(msg, "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        const param = {
          idDistrict: this.$refs.tree.getCheckedNodes()[0].idDistrict
        };
        treeAPI.deleteDistrict(param).then(res => {
          if (res.data.status === 200) {
            this.$message.success("删除区域成功");
            this.getTreeData();
          } else {
            this.$message.error(res.data.cause);
          }
        });
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.table {
  padding: 20px;
  font-size: 14px;
  color: rgba(46, 79, 123, 0.7);
  .leftTree {
    width: 300px;
    .treeModel {
      width: 100%;
      height: calc(100vh - 350px);
      padding: 20px;
      background: rgba(251, 252, 255, 1);
      border: 1px solid rgba(212, 212, 225, 0.41);
      margin-top: 18px;
    }
  }
  .rightTable {
    width: calc(100% - 320px);
    .info {
      color: rgba(46, 79, 123, 0.4);
      font-size: 12px;
    }
  }
}
</style>
