<template>
  <div class="app-container">
    <el-button v-if="checkPerimission('roleInfoNew')" type="primary" size="mini" class="mb10" @click="handleAddRole('add')">新增</el-button>
    <el-table v-loading="listLoading" :data="tableData" element-loading-text="Loading" border fit highlight-current-row :stripe="true" class="tableClass">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column align="left" label="角色名称" max-width="160" prop="name" show-overflow-tooltip />
      <el-table-column align="left" label="描述" min-width="150" show-overflow-tooltip prop="description" />
      <el-table-column align="left" label="备注" min-width="150" show-overflow-tooltip prop="remark" />
      <el-table-column align="center" label="状态" width="120">
        <template slot-scope="scope">
          <template v-if="scope.row.isDisabled == true">
            <span class="color-green">有效</span>
          </template>
          <template v-if="scope.row.isDisabled == false">
            <span class="color-red">失效</span>
          </template>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="240">
        <template slot-scope="scope">
          <el-button v-if="checkPerimission('roleInfoEdit')" type="text" size="mini" @click="handleAddRole('edit', scope.row)">编辑</el-button>
          <el-button v-if="checkPerimission('roleInfoSetAuth')" type="text" size="mini" @click="setPermiss(scope.row)">权限设置</el-button>
          <template v-if="scope.row.isDisabled == true">
            <el-button v-if="checkPerimission('userInfoDisabled')" type="text" size="mini" @click="disable(scope.row)">停用</el-button>
          </template>
          <template v-if="scope.row.isDisabled == false">
            <el-button v-if="checkPerimission('userInfoDisabled')" type="text" size="mini" @click="enable(scope.row)">启用</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>

    <!-- 新增 or 编辑 -->
    <el-dialog :visible.sync="dialogVisible" width="700px" :title="dialogType">
      <el-form ref="roleForm" :model="roleForm" :rules="rules" label-width="120px" label-position="left" size="mini">
        <el-form-item label="角色名称" prop="name">
          <el-input v-model="roleForm.name" />
        </el-form-item>
        <el-form-item label="描述">
          <el-input v-model="roleForm.description" :autosize="{ minRows: 2, maxRows: 4 }" type="textarea" />
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="roleForm.remark" :autosize="{ minRows: 2, maxRows: 4 }" type="textarea" />
        </el-form-item>
        <el-form-item label="是否有效">
          <el-select v-model="roleForm.isDisabled" placeholder="是" size="mini" style="width:100%">
            <el-option label="是" :value="true" />
            <el-option label="否" :value="false" />
          </el-select>
        </el-form-item>
        <el-form-item v-if="dialogType === '编辑'" label="角色下的用户">
          <span>{{ roleForm.userNames }}</span>
        </el-form-item>
        <el-form-item v-if="dialogType === '编辑'" label="角色具有的权限">
          <span>{{ roleForm.permissNames }}</span>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" size="mini" @click="dialogType === '新增' ? createData() : updateData()">确 认</el-button>
      </div>
    </el-dialog>

    <!-- 权限设置 -->
    <el-dialog :visible.sync="setVisible" :close-on-click-modal="false" width="400px" title="权限设置">
      <div class="permissionList">
        <el-tree ref="tree" :data="treeData" :props="defaultProps" node-key="idAccessApi" :expand-on-click-node="false" :show-checkbox="true" @check-change="checkGroupNode" />
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="setVisible = false">取 消</el-button>
        <el-button type="primary" size="mini" @click="setPermissSave()">确 认</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import path from "path";
import * as API from "@/api/role";
import { checkPerimission } from "@/utils/auth";

export default {
  data() {
    return {
      tableData: [],
      dialogVisible: false,
      setVisible: false,
      dialogType: "新增",
      checkStrictly: false,
      roleCheckList: [],
      roleForm: {
        name: "",
        description: "",
        remark: "",
        isDisabled: true,
        idRole: "",
        userNames: "",
        permissNames: ""
      },
      rules: {
        name: [{ required: true, trigger: "blur", message: "请输入角色名称" }]
      },
      treeNodeId: null,
      treeData: [],
      nodeArray: [],
      checkedNodes: [],
      dataArray: [],
      defaultProps: {
        children: "children",
        label: "name"
      }
    };
  },
  created() {
    this.getTableData();
  },
  mounted() {
    this.getAuthTree();
  },
  methods: {
    checkPerimission,
    checkGroupNode(a, b) {
      const nodeArray = this.$refs.tree.getCheckedNodes();
      const halfNodeArray = this.$refs.tree.getHalfCheckedKeys(); // 获取半选状态的
      const idAccessArray = [];
      for (const k in nodeArray) {
        idAccessArray.push(nodeArray[k].idAccessApi);
      }
      for (const j in halfNodeArray) {
        idAccessArray.push(halfNodeArray[j]);
      }
      this.nodeArray = idAccessArray;
    },
    // 权限设置
    setPermiss(row) {
      this.idRole = row.idRole;
      this.setVisible = true;
      const params = {
        idRole: row.idRole
      };
      API.getAuthByRole(params).then(res => {
        if (res.data.status === 200) {
          const tempData = [];
          res.data.datas.forEach(element => {
            if (element.level === 3 || element.routerPath === "/cockpit") {
              tempData.push(element);
            }
          });
          this.$refs.tree.setCheckedNodes(tempData);
        }
      });
    },

    setPermissSave() {
      const params = {
        idAccessApis: this.nodeArray.toString(),
        idRole: this.idRole
      };
      API.setAuthByRole(params).then(res => {
        if (res.data.status === 200) {
          this.$message.success(res.data.cause);
          this.getTableData();
        } else {
          this.$message.error(res.data.cause);
        }
        this.setVisible = false;
      });
    },

    data2treeDG(datas, dataArray) {
      for (let j = 0; j < dataArray.length; j++) {
        const dataArrayIndex = dataArray[j];
        const childrenArray = [];
        const Id = dataArrayIndex.idAccessApi;
        for (let i = 0; i < datas.length; i++) {
          const data = datas[i];
          const parentId = data.parentId;
          if (parentId === Id) {
            // 判断是否为子节点
            const objTemp = {
              idAccessApi: data.idAccessApi,
              name: data.name,
              parenId: data.parenId,
              level: data.level
            };
            childrenArray.push(objTemp);
          }
        }
        dataArrayIndex.children = childrenArray;
        if (childrenArray.length > 0) {
          // 有子节点则递归
          this.data2treeDG(datas, childrenArray);
        }
      }
      this.treeData = dataArray;
      return dataArray;
    },
    // 获取权限树
    getAuthTree() {
      const dataArray = [];
      API.getAuthTree().then(res => {
        if (res.data.status === 200) {
          const treeDataT = res.data.datas;
          treeDataT.forEach(item => {
            const parentId = item.parentId;
            if (parentId === 0) {
              const objTemp = {
                idAccessApi: item.idAccessApi,
                name: item.name,
                parenId: item.parenId,
                level: item.level
              };
              dataArray.push(objTemp);
            }
          });
          this.data2treeDG(treeDataT, dataArray);
        }
      });
    },
    // 查询列表
    getTableData() {
      this.listLoading = true;
      API.getRoleList().then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas;
          this.listLoading = false;
        }
      });
    },

    // 根据角色获取角色下的用户
    getUserByRole(roleId) {
      const params = {
        idRole: roleId
      };
      API.getUserByRole(params).then(res => {
        if (res.data.status === 200) {
          const userNameList = res.data.datas;
          const userName = [];
          for (const k in userNameList) {
            userName.push(userNameList[k].realName);
          }
          this.roleForm.userNames = userName.join(",");
        }
        // this.dialogVisible = true
        this.getAuthByRole(roleId);
      });
    },

    // 根据角色获取角色下的权限
    getAuthByRole(roleId) {
      const params = {
        idRole: roleId
      };
      API.getAuthByRole(params).then(res => {
        if (res.data.status === 200) {
          const permissList = res.data.datas;
          const permissName = [];
          for (const k in permissList) {
            permissName.push(permissList[k].name);
          }
          this.roleForm.permissNames = permissName.join(",");
        }
        this.dialogVisible = true;
      });
    },

    // 新增 or 编辑
    handleAddRole(btn, row) {
      if (btn === "add") {
        this.dialogType = "新增";
        this.roleForm = {};
        this.dialogVisible = true;
      } else {
        this.roleForm = row;
        this.getUserByRole(row.idRole);
        this.dialogType = "编辑";
      }
    },

    // 保存
    createData() {
      this.$refs.roleForm.validate(valid => {
        if (valid) {
          const params = {
            name: this.roleForm.name,
            description: this.roleForm.description,
            remark: this.roleForm.remark,
            isDisabled: this.roleForm.isDisabled
          };
          API.insertRole(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.getTableData();
            } else {
              this.$message.error(res.data.cause);
            }
            this.dialogVisible = false;
          });
        }
      });
    },

    // 编辑
    updateData() {
      this.$refs.roleForm.validate(valid => {
        if (valid) {
          const params = {
            name: this.roleForm.name,
            description: this.roleForm.description,
            remark: this.roleForm.remark,
            isDisabled: this.roleForm.isDisabled,
            idRole: this.roleForm.idRole
          };
          API.updateRole(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.getTableData();
            } else {
              this.$message.error(res.data.cause);
            }
            this.dialogVisible = false;
          });
        }
      });
    },

    // 启用
    enable(row) {
      const params = {
        idRole: row.idRole
      };
      this.$confirm("是否启用？").then(_ => {
        API.enabledRole(params).then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.cause);
            this.getTableData();
          }
        });
      });
    },

    // 停用
    disable(row) {
      const params = {
        idRole: row.idRole
      };
      this.$confirm("是否停用？").then(_ => {
        API.disabledRole(params).then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.cause);
            this.getTableData();
          }
        });
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.app-container {
  .permissionList {
    .itemTitle {
      color: #000;
      font-size: 16px;
    }
  }
}
</style>
