<template>
  <div class="app-container">
    <div class="mb20">
      <el-input v-model="content" placeholder="用户姓名或账号" size="mini" style="width: 230px;" clearable >
        <el-button slot="append" icon="el-icon-search" @click="searchTableData"></el-button>
      </el-input>


      <el-button
        v-if="checkPerimission('userInfoNew')"
        type="primary"
        size="mini"
        class="ml50"
        @click="handleAddUser('add',row)"
      >新增</el-button>
    </div>
    <el-table v-loading="listLoading" :data="tableData" element-loading-text="Loading" border fit highlight-current-row :stripe="true" max-height="90%" class="tableClass">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="姓名" min-width="100" align="left" prop="realName" />
      <el-table-column label="项目名称" min-width="150" align="left" prop="projectName" show-overflow-tooltip />
      <el-table-column label="账号" min-width="100" align="left" prop="phone" />
      <el-table-column label="联系方式" min-width="100" align="left" prop="telephone" />
      <el-table-column label="状态" width="120" align="center" prop="enabled">
        <template slot-scope="scope">
          <template v-if="scope.row.enabled === true">
            <span class="color-green">有效</span>
          </template>
          <template v-if="scope.row.enabled === false">
            <span class="color-red">失效</span>
          </template>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="操作" width="240">
        <template slot-scope="scope">
          <el-button v-if="checkPerimission('userInfoEdit')" size="mini" type="text" @click="handleAddUser('edit', scope.row)">编辑</el-button>
          <template v-if="scope.row.enabled === true">
            <el-button v-if="checkPerimission('userInfoDisabled')" type="text" size="mini" @click="disable(scope.row)">停用</el-button>
          </template>
          <template v-if="scope.row.enabled === false">
            <el-button v-if="checkPerimission('userInfoDisabled')" type="text" size="mini" @click="enable(scope.row)">启用</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]" 
      layout="total, sizes, prev, pager, next, jumper"/>

    <!-- 新增 or 编辑 -->
    <el-dialog :visible.sync="dialogVisible" width="600px" :title="dialogType">
      <el-form ref="userForm" :model="userForm" label-width="120px" label-position="left" :rules="Rules" size="mini">
        <el-form-item label="姓名" prop="realName">
          <el-input v-model="userForm.realName" />
        </el-form-item>
        <el-form-item label="账号" prop="phone">
          <el-input v-model="userForm.phone" />
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="userForm.email" />
        </el-form-item>
        <el-form-item label="联系方式">
          <el-input v-model="userForm.telephone" />
        </el-form-item>
        <el-form-item label="单位">
          <el-input v-model="userForm.company" />
        </el-form-item>
        <el-form-item label="是否有效">
          <el-select v-model="userForm.enabled" placeholder="是" style="width:100%">
            <el-option label="是" :value="true" />
            <el-option label="否" :value="false" />
          </el-select>
        </el-form-item>
        <!-- <el-form-item label="用户具有的角色">
          <el-select v-model="userForm.idRole" placeholder="请选择角色" style="width: 100%">
            <el-option v-for="item in roleOptions" :key="item.idRole" :label="item.name" :value="item.idRole" />
          </el-select>
        </el-form-item> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="dialogVisible = false">取 消</el-button>
        <el-button v-if="dialogType === '编辑'" type="info" size="mini" @click="resetPassword()">重置密码</el-button>
        <el-button type="primary" size="mini" @click="dialogType === '新增' ? createData() : updateData()">确 认</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as API from "@/api/user";
import * as roleAPI from "@/api/role";
import Pagination from "@/components/Pagination";
import { checkPerimission } from "@/utils/auth";

export default {
  components: { Pagination },
  data() {
    return {
      tableKey: 0,
      tableData: null,
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true,
      dialogVisible: false,
      dialogType: "新增",
      Rules: {
        realName: [{ required: true, trigger: "blur", message: "请输入姓名" }],
        phone: [{ required: true, trigger: "blur", message: "请输入账号" }]
      },
      userForm: {
        realName: "",
        phone: "",
        email: "",
        company: "",
        telephone:"",
        enabled: true,
        idRole: "",
        idUser: ""
      },
      roleOptions: {},
      content: ""
    };
  },
  created() {
    this.getTableData();
  },
  mounted() {
    this.getRoles();
  },

  methods: {
    checkPerimission,
    searchTableData(){
      this.pageNum =1
      this.getTableData()
    },
    // 查询列表
    getTableData() {
      this.listLoading = true
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        content: this.content
      };
      API.getUserList(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list;
          this.totalPage = res.data.datas.totalRecord;
          this.listLoading = false;
        }
      });
    },

    // 获取所有角色列表信息
    getRoles() {
      roleAPI.getRoleList().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idRole] = item;
          });
          this.roleOptions = tmpData;
        }
      });
    },

    // 新增 or 编辑
    handleAddUser(btn, row) {
      this.dialogVisible = true;
      if (btn === "add") {
        this.dialogType = "新增";
        this.userForm = {};
      } else {
        this.dialogType = "编辑";
        this.userForm = row;
      }
    },

    // 保存
    createData() {
      this.$refs.userForm.validate(valid => {
        if (valid) {
          const params = {
            realName: this.userForm.realName,
            phone: this.userForm.phone,
            email: this.userForm.email,
            company: this.userForm.company,
            enabled: this.userForm.enabled,
            idRole: 1,
            telephone:this.userForm.telephone
          };
          API.insertUser(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.getTableData();
            } else {
              this.$message.error(res.data.cause);
            }
            this.dialogVisible = false;
          });
        }
      });
    },

    // 编辑
    updateData() {
      this.$refs.userForm.validate(valid => {
        if (valid) {
          const params = {
            idUser: this.userForm.idUser,
            realName: this.userForm.realName,
            phone: this.userForm.phone,
            email: this.userForm.email,
            company: this.userForm.company,
            enabled: this.userForm.enabled,
            idRole: this.userForm.idRole,
            telephone:this.userForm.telephone
          };
          API.updateUser(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.getTableData();
            } else {
              this.getTableData();
              this.$message.error(res.data.cause);
            }
            this.dialogVisible = false;
          });
        }
      });
    },

    // 启用
    enable(row) {
      const params = {
        userId: row.idUser
      };
      this.$confirm("是否启用？").then(_ => {
        API.enabledUser(params).then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.cause);
            this.getTableData();
          }
        });
      });
    },

    // 停用
    disable(row) {
      const params = {
        userId: row.idUser
      };
      this.$confirm("是否停用？").then(_ => {
        API.disableUser(params).then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.cause);
            this.getTableData();
          }
        });
      });
    },

    // 重置密码
    resetPassword() {
      const params = {
        userId: this.userForm.idUser
      };
      API.reUserPassword(params).then(res => {
        if (res.data.status === 200) {
          this.$message.success("密码重置成功");
          this.getTableData();
        } else {
          this.$message.error(res.data.cause);
        }
        this.dialogVisible = false;
      });
    }
  }
};
</script>
