<template>
  <div class="app-container scrollbar">
    <div class="mb20 mt20 f20">预警阈值维护</div>
    <el-form ref="form" :model="form" label-width="120px" label-position="left" size="mini">
      <div class="tableList">
        <div class="align">
          <el-col :span="4" class="left">{{ fieldName[0] }}</el-col>
          <el-col :span="20" class="right">
            竣工验收满
            <el-input v-model="form[0].config.fill" size="mini" /> 月，未按时检查的系统自动警示
          </el-col>
        </div>
        <div class="align">
          <el-col :span="4" class="left">{{ fieldName[1] }}</el-col>
          <el-col :span="20" class="right">
            满
            <el-input v-model="form[1].config.fill" size="mini" /> 月需检查一次，满
            <el-input v-model="form[1].config.fill" size="mini" /> 月以后，每
            <el-input v-model="form[1].config.cycle" size="mini" /> 月检查一次，未按时检查的系统自动警示
          </el-col>
        </div>
        <div class="align">
          <el-col :span="4" class="left">{{ fieldName[2] }}</el-col>
          <el-col :span="20" class="right">
            竣工验收满
            <el-input v-model="form[2].config.fill" size="mini" /> 个月，检查一次；竣工验收满
            <el-input v-model="form[2].config.fill" size="mini" /> 个月以后，每
            <el-input v-model="form[2].config.cycle" size="mini" /> 月全面检查一次，未按时检查的系统自动警示
          </el-col>
        </div>
        <div class="align">
          <el-col :span="4" class="left">{{ fieldName[3] }}</el-col>
          <el-col :span="20" class="right">
            竣工验收满
            <el-input v-model="form[3].config.fill" size="mini" /> 月，未按时检查的系统自动警示
          </el-col>
        </div>
        <div class="align">
          <el-col :span="4" class="left">{{ fieldName[4] }}</el-col>
          <el-col :span="20" class="right">
            竣工验收满
            <el-input v-model="form[4].config.fill" size="mini" /> 月，进行全面鉴定
          </el-col>
        </div>
      </div>

    </el-form>
    <div class=" align-justify mt30">
      <el-button v-if="checkPerimission('thresholdInfoEdit')" type="primary" size="mini" @click="handleClick()">提交</el-button>
    </div>
  </div>
</template>

<script>
import * as API from '@/api/warning';
import { checkPerimission } from '@/utils/auth';

export default {
  data() {
    return {
      form: [],
      fieldName: [],
      config: []
    };
  },
  created() {
    this.getWarningType();
  },
  methods: {
    checkPerimission,
    // 年度预警类型数据结构
    getWarningType() {
      API.getWarningType().then(res => {
        if (res.data.status === 200) {
          this.form = res.data.datas;
          for (let i = 0; i < this.form.length; i += 1) {
            // 这里转json是为了方便拿到config中的属性
            this.form[i].config = JSON.parse(this.form[i].config);
          }
          res.data.datas.forEach(item => {
            this.fieldName.push(item.name);
          });
        }
      });
    },

    // 提交
    handleClick() {
      for (let i = 0; i < this.form.length; i += 1) {
        // 上传数据的时候，需要将json重新转换为字符串
        this.form[i].config = JSON.stringify(this.form[i].config);
      }
      this.form = JSON.stringify(this.form);
      API.updateWarningValue(this.form).then(res => {
        if (res.data.status === 200) {
          this.$message.success(res.data.cause);
        } else {
          this.$message.error(res.data.cause);
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid rgba(46, 79, 123, 0.5);
  border-bottom-width: 0;
  div {
    height: 36px;
    line-height: 36px;
  }
  .left {
    background: rgba(46, 79, 123, 0.1);
    border-right: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }
  .right {
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }
  .borderR {
    border-right: 1px solid rgba(46, 79, 123, 0.5);
  }
  .el-input {
    width: 70px;
  }
}
</style>
