<template>
  <div id="idCurtainTypeChart" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";

export default {
  name: "CurtainTypeChart",
  props: {
    chartData: {
      type: Array,
      required: true
    },
    colorData: {
      type: Array,
      required: true
    },
    width: {
      type: String,
      default: "360px"
    },
    height: {
      type: String,
      default: "210px"
    }
  },
  data() {
    return {
      myChart: ""
    };
  },
  watch: {
    chartData: {
      handler(newValue, oldValue) {
        this.chartData = newValue;
        this.initChart(); 
      },
      deep: true
    }
  },
  mounted() {
    this.initChart();
  },
  methods: {
    initChart() {
      this.myChart = echarts.init(document.getElementById("idCurtainTypeChart"));
      this.myChart.setOption({
        tooltip: {
          trigger: "item",
          formatter: "{b}<br/>{c}({d}%)"
        },
        series: [
          {
            name: "安全管理等级分类统计",
            type: "pie",
            center: ["50%", "50%"],
            radius: ["50%", "70%"],
            color: this.colorData,
            clockwise: false,
            avoidLabelOverlap: true,
            minAngle: 10,
            label: {
              normal: {
                formatter: "{d}%\n{hr|}\n{b}",
                rich: {
                  hr: {
                    height: 10
                  }
                }
              }
            },
            labelLine: {
              normal: {
                length: 15,
                length2: 30
              }
            },
            data: this.chartData
          }
        ]
      });
    }
  }
};
</script>
