<template>
  <div id="idMainCompetionChart" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";

export default {
  name: "CurtainMainCompetionChart",
  props: {
    chartData: {
      type: Object,
      default: {}
    },
    width: {
      type: String,
      default: "650px"
    },
    height: {
      type: String,
      default: "220px"
    }
  },
  data() {
    return {
      myChart: ""
    };
  },
  watch: {
    chartData: {
      handler(newValue, oldValue) {
        this.chartData = newValue; 
        this.initChart(); 
      },
      deep: true
    }
  },
  mounted() {
    this.initChart();
  },

  methods: {
    initChart() {
      const data = this.chartData
      let xAxisName = '日期';
      let xAxisValue = data.xValue;
       
      let seriesArray = []
      let values = {
        type: "bar",
        name: '数量',
        itemStyle: {
          normal: {
            color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
              {
                offset: 0,
                color: "rgba(127,167,255,0.3)"
              },
              {
                offset: 1,
                color: "rgba(127,167,255,0.9)"
              }
            ])
          }
        },
        data: data.yValue
      }
      seriesArray.push(values)

      this.myChart = echarts.init(document.getElementById("idMainCompetionChart"));
      this.myChart.setOption({
        tooltip: {
          trigger: "axis"
        },
        grid: {
          left: "10%",
          right: "8%",
          top: "20%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: ["3%", "3%"],
            name: xAxisName,
            nameTextStyle: {
              color: "#65C6E7"
            },
            axisLabel: {
              color: "#65C6E7"
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            },
            data: xAxisValue
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "数量",
            nameTextStyle: {
              color: "#65C6E7"
            },
            axisLabel: {
              formatter: "{value}",
              textStyle: {
                color: "#65C6E7"
              }
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            }
          }
        ],
        series: seriesArray
      });
    }
  }
};
</script>
