<template>
  <div id="idCurtainTotalAreaChart" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";

export default {
  name: "CurtainTotalAreaChart",
  props: {
    chartData: {
      type: Object,
      required: true
    },
    width: {
      type: String,
      default: "650px"
    },
    height: {
      type: String,
      default: "220px"
    }
  },
  data() {
    return {
      myChart: ""
    };
  },
  watch: {
    chartData: {
      handler(newValue, oldValue) {
        this.chartData = newValue; 
        this.initChart(); 
      },
      deep: true
    }
  },
  mounted() {
    this.initChart();
  },
  methods: {
    initChart() {
      this.myChart = echarts.init(document.getElementById("idCurtainTotalAreaChart"));
      this.myChart.setOption({
        tooltip: {
          trigger: "axis"
        },
        legend: {
          data: ["数量"],
          icon: "circle",
          textStyle: {
            color: "#4d4d4d"
          },
          top: "2%"
        },
        grid: {
          left: 0,
          right: 0,
          top: "28%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: ["3%", "3%"],
            name: "面积",
            nameTextStyle: {
              padding: [35, 0, 5, -10],
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              color: "#65C6E7"
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            },
            data: this.chartData.xValue
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "数量",
            nameTextStyle: {
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              formatter: "{value}",
              textStyle: {
                color: "#65C6E7"
              }
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            splitLine: {
              show: false,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            }
          },
          {
            type: "value",
            name: "",
            nameTextStyle: {
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              formatter: "",
              textStyle: {
                color: "#65C6E7"
              }
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            }
          }
        ],
        series: [
          {
            name: "数量",
            yAxisIndex: 1,
            type: "line",
            showSymbol: false,
            smooth: true,
            itemStyle: {
              normal: {
                color: "#3D62F6",
                lineStyle: {
                  color: "#3D62F6",
                  width: 1
                },
                areaStyle: {
                  color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                    {
                      offset: 0,
                      color: "rgba(61,98,246,0.3)"
                    },
                    {
                      offset: 1,
                      color: "rgba(61,98,246,0.9)"
                    }
                  ])
                }
              }
            },
            data: this.chartData.yValue
          }
        ]
      });
    }
  }
};
</script>
