<template>
  <div id="idStateChart" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";
import * as API from "@/api/cockpit";

export default {
  name: "ReportStatisticsChart",
  props: {
    chartData: {
      type: Object,
      required: true
    },
    width: {
      type: String,
      default: "360px"
    },
    height: {
      type: String,
      default: "220px"
    }
  },
  data() {
    return {
      myChart: ""
    };
  },
  watch: {
    chartData: {
      handler(newValue, oldValue) {
        this.chartData = newValue; 
        this.initChart(); 
      },
      deep: true
    }
  },
  mounted() {
    this.initChart();
  },
  methods: {
    initChart() {
      this.myChart = echarts.init(document.getElementById("idStateChart"));
      this.myChart.setOption({
        tooltip: {
          trigger: "axis"
        },
        legend: {
          data: ["项目草稿数量", "项目提交审核数量", "小程序注册数量", "登录平台次数"],
          icon: "circle",
          textStyle: {
            color: "#4d4d4d"
          },
          top: "2%"
        },
        grid: {
          left: 0,
          right: 0,
          top: "28%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: ["3%", "3%"],
            name: "街道",
            nameTextStyle: {
              padding: [35, 0, 5, -10],
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              color: "#65C6E7"
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            },
            data: this.chartData.districtArray
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "数量",
            nameTextStyle: {
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              formatter: "{value}",
              textStyle: {
                color: "#65C6E7"
              }
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            splitLine: {
              show: false,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            }
          },
          {
            type: "value",
            name: "",
            nameTextStyle: {
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              formatter: "",
              textStyle: {
                color: "#65C6E7"
              }
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            }
          }
        ],
        series: [
          {
            name: "项目草稿数量",
            yAxisIndex: 1,
            type: "line",
            showSymbol: false,
            smooth: true,
            itemStyle: {
              normal: {
                color: "#3D62F6",
                lineStyle: {
                  color: "#3D62F6",
                  width: 1
                },
                areaStyle: {
                  color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                    {
                      offset: 0,
                      color: "rgba(61,98,246,0.3)"
                    },
                    {
                      offset: 1,
                      color: "rgba(61,98,246,0.9)"
                    }
                  ])
                }
              }
            },
            data: this.chartData.draftCountArray
          },
          {
            name: "项目提交审核数量",
            yAxisIndex: 0,
            type: "line",
            showSymbol: false,
            smooth: true,
            itemStyle: {
              normal: {
                color: "#e9a272",
                lineStyle: {
                  color: "#e9a272",
                  width: 1
                },
                areaStyle: {
                  color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                    {
                      offset: 0,
                      color: "rgba(162,114,112,0.914)"
                    },
                    {
                      offset: 1,
                      color: "rgba(233,162,114,1)"
                    }
                  ])
                }
              }
            },
            data: this.chartData.submitCountArray
          },
          {
            name: "小程序注册数量",
            yAxisIndex: 1,
            type: "line",
            showSymbol: false,
            smooth: true,
            itemStyle: {
              normal: {
                color: "#96E9EF",
                lineStyle: {
                  color: "#96E9EF",
                  width: 1
                },
                areaStyle: {
                  color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                    {
                      offset: 0,
                      color: "rgba(137, 231, 238, 0.418)"
                    },
                    {
                      offset: 1,
                      color: "rgba(137, 231, 238, 0.884)"
                    }
                  ])
                }
              }
            },
            data: this.chartData.wxRegisterArray
          },
          {
            name: "登录平台次数",
            yAxisIndex: 0,
            type: "line",
            showSymbol: false,
            smooth: true,
            itemStyle: {
              normal: {
                color: "#DD5451", // #AB67F1
                lineStyle: {
                  color: "#DD5451",
                  width: 1
                },
                areaStyle: {
                  color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                    {
                      offset: 0,
                      color: "rgba(221, 83, 81, 0.438)" // 171,103,241,0.3
                    },
                    {
                      offset: 1,
                      color: "rgba(221,84,81,1)" // 171,103,241,0.9
                    }
                  ])
                }
              }
            },
            data: this.chartData.loginCountArray
          }
        ]
      });
    }
  }
};
</script>
