// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.el-menu-item.is-active {
  background: #061220 !important;
}

.el-menu-item:hover {
  background-color: #061220 !important;
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
}

.el-dialog__body {
  padding: 20px 30px;
  font-size: 14px;
  max-height: 450px;
  overflow-y: auto;
}

.el-dialog__body::-webkit-scrollbar {
  width: 5px;
  // display: none;
}

/*滚动条里面小方块*/
.el-dialog__body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.15);
}

.el-dialog__header {
  padding: 12px 20px 12px;
  border-radius: 10px 10px 0 0;
}

.el-dialog__headerbtn {
  top: 15px;
}

.el-dialog__footer {
  padding: 15px 20px 15px;
  border-radius: 10px;
}

.el-header {
  padding: 0;
}

.el-submenu__title i {
  color: rgba(255, 255, 255, 0.7);
}

.el-submenu__icon-arrow {
  margin-top: -5px;
}

.el-table__body-wrapper {
  overflow-y: scroll;
  height: 95%;
}

.el-table__body-wrapper::-webkit-scrollbar {
  width: 5px;
  // display: none;
}

/*滚动条里面小方块*/
.el-table__body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.15);
}

.el-table th {
  padding: 5px 0;
}
.el-table td {
  padding: 3px 0;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block;
  }
}

// 状态颜色
.el-table .green-row {
  color: #8bc24c !important;
  font-weight: bold;
}

.el-table .yellow-row {
  color: #f6d04d !important;
  font-weight: bold;
}

.el-table .red-row {
  color: #de4307 !important;
  font-weight: bold;
}

.el-table .orange-row {
  color: #f29c2b !important;
  font-weight: bold;
}

.el-input.is-disabled .el-input__inner {
  color: #6a6c6f;
}

.el-textarea.is-disabled .el-textarea__inner {
  color: #6a6c6f;
}

.el-select-dropdown__list {
  padding: 8px 0 22px;
}

.login-container {
  .el-button--primary {
    border-radius: 30px;
  }
}

.el-icon-user-solid:before,
.el-icon-switch-button:before {
  font-size: 24px;
  color: #f5eeee;
}

.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  color: rgba(255, 255, 255, 0.6);
}

.el-table .cell,
.el-table th div {
  padding-left: 15px;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #fff;
}
