// sidebar
$menuText:rgba(255,255,255,0.7);
$menuActiveText:#ffffff;
$subMenuActiveText:#ffffff; 
$menuBg:#0A1C34;
$menuHover:#061220;
$subMenuBg:#0A1C34;
$subMenuHover:#061220;
$sideBarWidth: 210px;

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
