<template>
  <div class="app-container">
    <div class="mb10">
      <el-input
        v-model="searchForm.curriculumName"
        placeholder="课程名称"
        size="mini"
        style="width: 130px;"
        clearable
      />
      <el-select
        v-model="searchForm.curriculumType"
        placeholder="课程类型"
        @change="getTableDataIndex()"
        size="mini"
        style="width: 130px"
      >
        <el-option
          v-for="item in curriculumTypeOptions"
          :key="item.idCurriculumType"
          :label="item.curriculumTypeName"
          :value="item.idCurriculumType"
        />
      </el-select>
      <el-select
        v-model="searchForm.curriculumState"
        placeholder="状态"
        @change="getTableDataIndex()"
        size="mini"
        style="width: 130px"
      >
        <el-option
          v-for="item in curriculumStateOptions"
          :key="item.idCurriculumState"
          :label="item.curriculumStateName"
          :value="item.idCurriculumState"
        />
      </el-select>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableDataIndex()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
      <el-button
        v-if="checkPerimission('elearningNew')"
        type="primary"
        size="mini"
        @click="handleNew('新增')"
      >新增</el-button>
    </div>
    <el-table :data="tableData" border fit highlight-current-row :stripe="true" class="tableClass">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="课程名称" align="left" prop="curriculumName" show-overflow-tooltip />
      <el-table-column
        label="课程类型"
        align="left"
        width="120"
        prop="curriculumTypeName"
        show-overflow-tooltip
      />
      <el-table-column
        label="描述"
        align="left"
        min-width="150"
        prop="curriculumDesc"
        show-overflow-tooltip
      />
      <el-table-column
        label="发布时间"
        align="left"
        width="110"
        prop="curriculumPTime"
        show-overflow-tooltip
      />
      <el-table-column
        label="地址链接"
        align="left"
        min-width="150"
        prop="curriculumLink"
        show-overflow-tooltip
      >
        <template slot-scope="scope">
          <span class="link" @click="handleDetailLink(scope.row)">{{scope.row.curriculumLink}}</span>
        </template>
      </el-table-column>
      <el-table-column label="文件" align="left" show-overflow-tooltip>
        <template slot-scope="scope">
          <el-button
            v-if="scope.row.idAccessoryGroup"
            size="mini"
            type="text"
            @click="handleDetailFile(scope.row)"
          >查看</el-button>
          <span v-if="!scope.row.idAccessoryGroup">暂无文件</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" width="100" align="center" prop="curriculumState">
        <template slot-scope="scope">
          <span v-if="scope.row.curriculumState === 1" class="color-green">有效</span>
          <span v-if="scope.row.curriculumState === 2" class="color-red">失效</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="200">
        <template slot-scope="scope">
          <el-button
            v-if="checkPerimission('elearningEdit')"
            size="mini"
            type="text"
            @click="handleEdit(scope.row)"
          >编辑</el-button>
          <el-button
            v-if="checkPerimission('elearningDel')"
            size="mini"
            type="text"
            @click="handleDelete(scope.row)"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <Pagination
      v-show="totalPage > 0"
      :total="totalPage"
      :page.sync="pageNum"
      :limit.sync="pageSize"
      @pagination="getTableData"
      :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"
    />

    <!-- 新增 or 编辑 -->
    <el-dialog
      :visible.sync="dialogVisible"
      width="700px"
      :title="dialogType"
      :close-on-click-modal="false"
    >
      <el-form
        :model="curriculumForm"
        ref="curriculumForm"
        :rules="rules"
        label-width="120px"
        label-position="left"
        size="mini"
      >
        <el-form-item label="课程名称" prop="curriculumName">
          <el-input v-model="curriculumForm.curriculumName" />
        </el-form-item>
        <el-form-item label="课程类型" prop="curriculumType">
          <el-select v-model="curriculumForm.curriculumType" style="width:100%">
            <el-option
              v-for="item in curriculumTypeOptions"
              :key="item.idCurriculumType"
              :label="item.curriculumTypeName"
              :value="item.idCurriculumType"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="描述" prop="curriculumDesc">
          <el-input
            v-model="curriculumForm.curriculumDesc"
            :autosize="{ minRows: 2, maxRows: 4 }"
            type="textarea"
          />
        </el-form-item>
        <el-form-item label="课程状态" prop="curriculumState">
          <el-select v-model="curriculumForm.curriculumState" size="mini" style="width:100%">
            <el-option
              v-for="item in curriculumStateOptions"
              :key="item.idCurriculumState"
              :label="item.curriculumStateName"
              :value="item.idCurriculumState"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="链接">
          <el-input v-model="curriculumForm.curriculumLink" />
        </el-form-item>
        <el-form-item label="文件">
          <el-upload
            action="doUpload"
            multiple
            list-type="text"
            :auto-upload="false"
            :file-list="fileList"
            :on-change="onChange"
            :on-remove="onRemove"
          >
            <el-button slot="trigger" size="mini" type="primary">上传附件</el-button>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" size="mini" @click="dialogType === '新增' ? insert() : update()">确 认</el-button>
      </div>
    </el-dialog>

    <el-dialog :visible.sync="dialogFile" width="700px" title="文件列表">
      <el-table :data="FileData" border fit highlight-current-row :stripe="true" class="tableClass">
        <el-table-column align="center" label="序号" width="60">
          <template slot-scope="scope">{{ scope.$index + 1 }}</template>
        </el-table-column>
        <el-table-column label="文件名称" align="left" prop="fileName" show-overflow-tooltip />
        <el-table-column label="文件类型" align="left" width="120" prop="ext" show-overflow-tooltip />
        <el-table-column
          label="文件大小(B)"
          align="left"
          width="120"
          prop="size"
          show-overflow-tooltip
        />
        <el-table-column align="center" label="操作" width="200">
          <template slot-scope="scope">
            <el-button size="mini" type="text" @click="handleDownLoad(scope.row)">下载</el-button>
            <el-button size="mini" type="text" @click="getPdfCode(scope.row)">在线预览</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-dialog>

  </div>
</template>

<script>
import * as API from "@/api/curriculum"
import * as FILE from "@/api/files"
import * as PROJECT from "@/api/project"
import Pagination from "@/components/Pagination"
import { checkPerimission, getUserId, getToken } from "@/utils/auth"

export default {
  components: { 
    Pagination
  },
  data() {
    return {
      tableData: [],
      curriculumTypeOptions: [],
      curriculumStateOptions: [
        {
          idCurriculumState: 1,
          curriculumStateName: "有效"
        },
        {
          idCurriculumState: 2,
          curriculumStateName: "无效"
        }
      ],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true,
      dialogVisible: false,
      dialogFile: false,
      dialogType: "",
      fileList: [],
      FileData: [],
      curriculumForm: {
        idCurriculum: null,
        curriculumName: null,
        curriculumType: null,
        curriculumDesc: null,
        curriculumLink: null,
        curriculumState: null
      },
      rules: {
        curriculumName: [
          { required: true, message: "请输入课程名称", trigger: "blur" }
        ],
        curriculumType: [
          { required: true, message: "请选择课程类型", trigger: "blur" }
        ],
        curriculumState: [
          { required: true, message: "请选择课程状态", trigger: "blur" }
        ]
      },
      projectTypeOptions: {},
      searchForm: {
        curriculumName: null,
        curriculumType: null,
        curriculumState: null
      },
      idCurriculum: null
    }
  },
  mounted() {
    this.getTableData()
    this.getCurriculumType()
  },
  methods: {
    // 在线预览pdf
    getPdfCode (row) {
      const params = {
        idCurriculum: this.idCurriculum,
        idUser: getUserId(),
        isDone: true
      }
      API.checkCurriculumRecipient(params).then(res => {
        if (res.data.status === 200) {
          PROJECT.readPDF(row.idAccessory)
        }
      })
    },
    checkPerimission,
    // 获取课程类型
    getCurriculumType() {
      API.getCurriculumType().then(res => {
        if (res.data.status === 200) {
          this.curriculumTypeOptions = res.data.datas
        } else {
          this.$message.error(res.data.cause)
        }
      })
    },
    // 查询课程列表
    getTableData() {
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        curriculumName: this.searchForm.curriculumName,
        curriculumType: this.searchForm.curriculumType,
        curriculumState: this.searchForm.curriculumState
      }
      API.getCurriculumList(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list
          this.totalPage = res.data.datas.totalRecord
        } else {
          this.$message.error(res.data.cause)
        }
      })
    },
    // 删除课程
    handleDelete(row) {
      this.$confirm("是否确认删除？").then(_ => {
        const params = {
          idCurriculum: row.idCurriculum
        }
        API.deleteCurriculum(params).then(res => {
          if (res.data.status === 200) {
            this.$message.success("删除课程成功")
            this.reset()
          } else {
            this.$message.error(res.data.cause)
          }
        })
      })
    },
    // 更新课程
    update() {
      this.$refs["curriculumForm"].validate(valid => {
        if (valid) {
          const fileFormData = new FormData()
          for (const i in this.fileList) {
            if (this.fileList[i].raw) {
              fileFormData.append("accessoryFiles", this.fileList[i].raw)
            }
          }
          fileFormData.append("idCurriculum", this.curriculumForm.idCurriculum)
          fileFormData.append(
            "curriculumName",
            this.curriculumForm.curriculumName
          )
          fileFormData.append(
            "curriculumType",
            this.curriculumForm.curriculumType
          )
          fileFormData.append(
            "curriculumDesc",
            this.curriculumForm.curriculumDesc
          )
          fileFormData.append(
            "curriculumLink",
            this.curriculumForm.curriculumLink
          )
          fileFormData.append(
            "curriculumState",
            this.curriculumForm.curriculumState
          )

          this.axios
            .post(
              process.env.VUE_APP_BASE_API +
                `/project-api/curriculum/update?AccessToken=${getToken()}`,
              fileFormData
            )
            .then(res => {
              if (res.data.status === 200) {
                this.$message.success("更新课程成功")
                this.dialogVisible = false
                this.curriculumForm = {}
                this.reset()
              } else {
                this.$message.error(res.data.cause)
              }
            })
        }
      })
    },
    // 新增课程
    insert() {
      this.$refs["curriculumForm"].validate(valid => {
        if (valid) {
          const fileFormData = new FormData()
          for (const i in this.fileList) {
            if (this.fileList[i].raw) {
              fileFormData.append("accessoryFiles", this.fileList[i].raw)
            }
          }
          if (this.curriculumForm.idCurriculum) {
            fileFormData.append(
              "idCurriculum",
              this.curriculumForm.idCurriculum
            )
          }

          fileFormData.append(
            "curriculumName",
            this.curriculumForm.curriculumName
          )
          fileFormData.append(
            "curriculumType",
            this.curriculumForm.curriculumType
          )
          if (this.curriculumForm.curriculumDesc) {
            fileFormData.append(
              "curriculumDesc",
              this.curriculumForm.curriculumDesc
            )
          }
          if (this.curriculumForm.curriculumLink) {
            fileFormData.append(
              "curriculumLink",
              this.curriculumForm.curriculumLink
            )
          }
          fileFormData.append(
            "curriculumState",
            this.curriculumForm.curriculumState
          )
          this.axios
            .post(
              process.env.VUE_APP_BASE_API +
                `/project-api/curriculum/insert?AccessToken=${getToken()}`,
              fileFormData
            ).then(res => {
              if (res.data.status === 200) {
                this.$message.success("新增课程成功")
                this.dialogVisible = false
                this.curriculumForm = {}
                this.reset()
              } else {
                this.$message.error(res.data.cause)
              }
            })
        }
      })
    },
    // 重置
    reset() {
      this.searchForm = {}
      this.getTableDataIndex()
    },
    getTableDataIndex() {
      this.pageNum = 1
      this.getTableData()
    },
    // 查看链接
    handleDetailLink(row) {
      const params = {
        idCurriculum: row.idCurriculum,
        idUser: getUserId(),
        isDone: true
      }
      API.checkCurriculumRecipient(params).then(res => {
        if (res.data.status === 200) {
          window.open(row.curriculumLink, "_blank").location
        }
      })
      
    },
    // 查看文件
    handleDetailFile(row) {
      this.idCurriculum = row.idCurriculum
      const param = {
        idAccessoryGroup: row.idAccessoryGroup
      }
      FILE.getAccessoryByGroup(param).then(res => {
        if (res.data.status === 200) {
          this.FileData = res.data.datas
          this.dialogFile = true
        }
      })
    },
    // 下载文件
    handleDownLoad(row) {
      const params = {
        idCurriculum: row.idCurriculum,
        idUser: getUserId(),
        isDone: true
      }
      API.checkCurriculumRecipient(params).then(res => {
        if (res.data.status === 200) {
          FILE.downloadFile(row.idAccessory)
        }
      })
    },
    // 点击新增按钮
    handleNew() {
      this.dialogType = "新增"
      this.curriculumForm = {}
      this.fileList = []
      this.curriculumForm.curriculumState = 1 // 课程状态默认置为有效
      this.dialogVisible = true
    },
    // 点击编辑按钮
    handleEdit(row) {
      this.dialogType = "编辑"
      this.fileList = []
      this.curriculumForm = row
      this.dialogVisible = true
    },
    onChange(file, fileList) {
      this.fileList = fileList
    },
    onRemove(file, fileList) {
      this.fileList = fileList
    }
  }
}
</script>

<style lang="scss" scoped>
.link {
  cursor: pointer;
  color: blue;
}
</style>
