<template>
  <!--<div ref="baidu-map-container">
    <remote-script src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"></remote-script>
  </div>-->
  <el-dialog :visible="visible" @close="closeMap" @open="openMap" width="800px">
    <div slot="title" class="header-title">
      <i class="el-icon-location" /> 查看地图 - {{searchKey}}
    </div>
    <el-row :gutter="24">
      <el-col :span="editEnalbe?16:24">
        <baidu-map
          class="bm-view"
          :center="mapCenter"
          :zoom="zoomLevel"
          :ak="apiKey"
          :scroll-wheel-zoom="true"
          @ready="mapHandler"
        >
        </baidu-map>
      </el-col>
      <el-col v-if="editEnalbe" :span="8">
        <div id="r-result" @click="getAddress"></div>
      </el-col>
    </el-row>
    <br>
    <el-row v-if="editEnalbe">
      <el-col :span="24"><i class="el-icon-location"></i> {{selectAddress}}</el-col>
    </el-row>
    <div slot="footer" class="dialog-footer">
      <el-button size="mini" type="info" @click="closeMap">关 闭</el-button>
      <el-button v-if="editEnalbe" :disabled="disabled" size="mini" type="primary" @click="selectAddressOk">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import BaiduMap from 'vue-baidu-map/components/map/Map.vue'
export default {
  data() {
    return {
      Bmap:null,
      map:null,
      local:null,
      selectAddress:'',
      disabled:true
    }
  },
  components: { BaiduMap },
  props:{
    visible: Boolean,
    editEnalbe: Boolean,
    apiKey: String,
    mapCenter: String,
    zoomLevel: Number,
    searchKey: String
  },
  methods: {
    // baidu map就绪时
    mapHandler({Bmap, map}){
      this.Bmap = Bmap
      this.map = map
      this.local = new BMap.LocalSearch(map, {
        renderOptions:{map: map, panel:'r-result'},
      });
      this.local.search(this.searchKey);
      window.testObj = map
      var geoc = new BMap.Geocoder();
      // 注册点击事件
      map.addEventListener("click", (e)=>{
        var pt = e.point;
        geoc.getLocation(pt, (rs)=>{
          var addComp = rs.addressComponents;
          this.selectAddress = addComp.district +  addComp.street + addComp.streetNumber
        });
      });
    },
    // 关闭地图对话框时
    closeMap(e){
      this.$emit('update:visible', false)
    },
    // 打开地址图对话框时
    openMap(e){
      this.selectAddress = ""
      this.disabled = true
      if(this.local){
        this.local.search(this.searchKey)
      }
    },
    // 点击panel 获取地址
    getAddress(e){
      setTimeout(()=>{
        this.selectAddress = filterAddress(this.map.platform.innerText)
        this.disabled = this.selectAddress!==''? false : true
      },500)
    },
    // 确认选择
    selectAddressOk(){
      if(this.selectAddress!==''){
        this.$emit('ok', this.selectAddress)
        this.closeMap()
      }
    }
  },
}

// 过滤出地址
function filterAddress(str){
  const startI = str.indexOf("地址：")+3
  const endI = str.indexOf("电话")
  let newStr = endI>0? str.substring(startI, endI) : str.substring(startI)
  newStr = newStr.replace(/(^\s*)|(\s*$)/g, "")
  newStr = newStr.indexOf('广东省')==0? newStr.substring(3) : newStr
  newStr = newStr.indexOf('广州市')==0? newStr.substring(3) : newStr
  return newStr
}
</script>

<style>
.bm-view {
  width: 100%;
  height: 300px;
}

#r-result{
  overflow:auto;
  height:300px;
}
</style>
