<template>
  <el-dialog
    class="warning-deal-datum-dialog"
    title="上传预警处理资料"
    :visible.sync="dialogVisible"
    width="500"
  >
    <div class="tips">上传建筑玻璃幕墙安全隐患治理通知书</div>
    <div class="upload-deal-datum-warp">
      <el-upload
        class="upload-deal-datum"
        :action="uploadUrl"
        :on-remove="onRemoveFile"
        :on-success="onUploadSuccess"
        :on-error="onUploadError"
        :limit="5"
        drag
      >
        <i class="el-icon-upload" />
        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
      </el-upload>
    </div>
  </el-dialog>
</template>

<script>

  import { getToken } from '@/utils/auth';

  export default {
    name: 'WarningDealDatum',
    data() {
      return {
        dialogVisible: false,
        fileList: [],
      };
    },
    computed: {
      uploadUrl() {
        return process.env.VUE_APP_BASE_API + '/project-api/file/upload' + '?AccessToken=' + getToken();
      },
    },
    methods: {
      show(projectId) {
        this.dialogVisible = true;
      },
      onRemoveFile(file, fileList) {
        this.fileList = fileList.filter(_ => _.response.status === 200).map(_ => {
          return {
            ..._.response.datas,
          };
        });
        console.log('onRemoveFile', file, fileList);
      },
      onUploadSuccess(response, file, fileList) {
        const { status, datas } = response;
        if (status !== 200 || Object.isEmpty(datas) || Object.isEmpty(datas.fileId)) {
          this.$message.error('上传失败,请稍后重试');
          return;
        }
        this.$message.success('上传成功');
        this.fileList = fileList.filter(_ => _.response.status === 200).map(_ => {
          return {
            ..._.response.datas,
          };
        });
      },
      onUploadError() {
        this.$message.error('上传失败,请稍后重试');
      },
    },
  };
</script>

<style lang="scss" scoped>
  .warning-deal-datum-dialog {
    /deep/ .el-dialog__body {
      max-height: 600px;
    }

    .upload-deal-datum-warp {
      padding: 20px 0;

      .upload-deal-datum {
        /deep/ .el-upload {
          display: block;

          .el-upload-dragger {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
</style>
