<template>
  <el-dialog
    class="warning-notification-dialog"
    title=""
    :visible.sync="dialogVisible"
    width="500"
  >
    <div class="warning-notification-wrap">
      <div class="warning-notification-title">
        既有建筑玻璃幕墙安全隐患治理通知书
      </div>
      <div class="warning-notification-content">
        <div class="paragraph">
          <span class="input">_______</span>（既有建筑玻璃幕墙的维护责任主体）：
        </div>
        <div class="paragraph">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贵单位（您）是________区________路________号________（项目名称）既有建筑玻璃幕墙的维护责任主体，经________（具有相应建筑工程质量检测资质的单位开展的定期检查/具有相应建筑工程质量检测资质的鉴定单位开展的安全性鉴定/行政主管部门开展的抽查检查/其他方式），发现该既有建筑的玻璃幕墙存在以下安全隐患：_____________________________________________________________________________________________________________________________________________________________。
        </div>
        <div class="paragraph">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据《广州市建筑玻璃幕墙管理办法》（广州市人民政府令市政府令第148号）第15条“经检查、安全性鉴定发现玻璃幕墙存在安全问题的，维护责任主体应当委托具有建筑玻璃幕墙施工资质的单位进行维修并设置围蔽等安全防护措施，消除安全隐患后方可解除围蔽等安全措施。经维修无法消除安全隐患的，维护责任主体应当及时进行更换改造”和第二十二条第二款“维护责任主体未按照规定进行安全性鉴定或者未维修更换的，由住房建设行政主管部门责令限期改正，并可视情节轻重，处3万元以上10万元以下罚款”的规定请贵单位（您）在收到本通知后及时治理该既有建筑玻璃幕墙的安全隐患，确保使用安全。
          特此通知。
        </div>
        <div class="paragraph statement">
          <div class="item">广州市天河区住房和建设税务局</div>
          <div class="item">（单位盖章）</div>
          <div class="item">____年____月____日</div>
          <div class="item">（联系人：________联系电话________________）</div>
        </div>
        <div class="paragraph statement">
          <div class="">抄送：________街（镇）、________居委会（村委会）</div>
        </div>
      </div>
    </div>
  </el-dialog>
</template>

<script>

  export default {
    name: 'WarningNotification',
    data() {
      return {
        dialogVisible: false,
      };
    },
    methods: {
      show(projectId) {
        this.dialogVisible = true;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .warning-notification-dialog {

    /deep/ .el-dialog__body {
      max-height: 600px;
    }

    .warning-notification {
      &-wrap {
      }

      &-title {
        font-size: 28px;
        text-align: center;
        line-height: 180%;
      }

      &-content {
        font-size: 18px;
        line-height: 150%;

        .paragraph {
          margin-bottom: 20px;

          &.statement {
            text-align: right;

            .item {
              padding: 10px 0;
            }
          }
        }

        .input {
          text-decoration: underline;
        }
      }
    }
  }
</style>
