<template>
  <div class="app-container">
    <div class="mb10">
      <el-input v-model="searchForm.projectName" placeholder="项目名称" size="mini" style="width: 130px;" clearable @keyup.enter.native="getTableData()" />
      <el-input v-model="searchForm.addressName" placeholder="项目地址" size="mini" style="width: 130px;" clearable @keyup.enter.native="getTableData()" />
      <el-select v-model="nameAccessArraySelect" filterable placeholder="所属区域" size="mini" clearable :collapse-tags="true">
        <el-option class="option-scroll" label="nameAccessArraySelect" value="idAccessArraySelect" key="idAccessArraySelect">
          <el-tree
            ref="tree"
            :show-checkbox="true"
            :data="treeData"
            :props="defaultProps"
            node-key="idDistrict"
            :default-expand-all="false"
            :expand-on-click-node="false"
            @check-change="checkGroupNode"
          />
        </el-option>
      </el-select>
      <el-input v-model="searchForm.manager" placeholder="负责人" size="mini" style="width: 90px;" clearable @keyup.enter.native="getTableData()" />
      <el-select v-model="searchForm.checkState" placeholder="预警状态" size="mini" style="width: 100px">
        <el-option v-for="item in projectStateOptions" :key="item.idWarningState" :label="item.name" :value="item.idWarningState" />
      </el-select>
      <span>
        <el-date-picker v-model="searchForm.startTime" type="date" value-format="yyyy-MM-dd" placeholder="竣工开始时间" size="mini" style="width:135px" />
        <span>至</span>
        <el-date-picker v-model="searchForm.endTime" type="date" value-format="yyyy-MM-dd" placeholder="竣工结束时间" size="mini" style="width:135px" />
      </span>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
    </div>
    <el-table v-loading="listLoading" :cell-class-name="cellStyle" :data="tableData" element-loading-text="Loading" border highlight-current-row :stripe="true" class="tableClass">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="项目名称" align="left" show-overflow-tooltip prop="projectName" />
      <el-table-column label="项目地址" align="left" show-overflow-tooltip prop="addressName" />
      <el-table-column label="所属区域" align="left" show-overflow-tooltip prop="districtName" />
      <el-table-column label="负责人" width="130" align="left" prop="userName" />
      <!-- <el-table-column label="幕墙类型" width="120" align="left" prop="projectType" :formatter="formatProjectType" show-overflow-tooltip /> -->
      <el-table-column label="竣工时间" width="130" align="left" prop="curtainCompletion" show-overflow-tooltip />
      <el-table-column label="预警状态" width="110" align="left" prop="checkState" :formatter="formatProjectState" />
      <el-table-column label="预警变更审核状态" width="200" align="left" prop="warningUpdateApproval" />
      <el-table-column align="center" label="操作" width="120">
        <template slot-scope="scope">
          <el-button size="mini" type="text" @click="handleDetail(scope.row)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/>
    <WarningNotification ref="notification" />
    <WarningDealDatum ref="dealDatum" />
  </div>
</template>

<script>
import Pagination from "@/components/Pagination";
import * as API from "@/api/project";
import * as treeAPI from "@/api/district";
import * as warningAPI from "@/api/warning";
import WarningNotification from "./WarningNotification";
import WarningDealDatum from "./WarningDealDatum";

export default {
  components: { WarningDealDatum, WarningNotification, Pagination },
  data() {
    return {
      tableData: [],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true,
      searchForm: {
        projectName: null,
        addressName: null,
        manager: null,
        projectType: null,
        checkState: null,
        startTime: null,
        endTime: null
      },
      projectTypeOptions: {},
      projectStateOptions: {},

      treeData: [],
      defaultProps: {
        children: "children",
        label: "name"
      },
      districts: null,
      nameAccessArraySelect: "",
      idAccessArraySelect: null
    };
  },
  created() {
    this.getTableData();
    this.getTreeData();
  },
  mounted() {
    // 获取幕墙类型
    API.getProjectTypeState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idProjectType] = item;
        });
        this.projectTypeOptions = tmpData;
      }
    });

    // 获取预警状态
    warningAPI.getWarningState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idWarningState] = item;
        });
        this.projectStateOptions = tmpData;
      }
    });
  },
  methods: {
    // 选择树节点
    checkGroupNode(a, b) {
      const nodeArray = this.$refs.tree.getCheckedNodes();
      const halfNodeArray = this.$refs.tree.getHalfCheckedNodes(); // 获取半选状态的
      const idAccessArray = [];
      const nameAccessArray = [];
      for (const k in nodeArray) {
        if (nodeArray[k].level === 3) {
          idAccessArray.push(nodeArray[k].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      for (const j in halfNodeArray) {
        if (halfNodeArray[j].level === 3) {
          idAccessArray.push(halfNodeArray[j].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      this.districts = idAccessArray.toString();
      this.idAccessArraySelect = idAccessArray.toString();
      this.nameAccessArraySelect = nameAccessArray.toString();
    },
    data2treeDG(datas, dataArray) {
      for (let j = 0; j < dataArray.length; j++) {
        const dataArrayIndex = dataArray[j];
        const childrenArray = [];
        const Id = dataArrayIndex.idDistrict;
        for (let i = 0; i < datas.length; i++) {
          const data = datas[i];
          const parentId = data.parentId;
          if (parentId === Id) {
            // 判断是否为儿子节点
            const objTemp = {
              idDistrict: data.idDistrict,
              name: data.name,
              parenId: data.parenId,
              level: data.level
            };
            childrenArray.push(objTemp);
          }
        }
        dataArrayIndex.children = childrenArray;
        if (childrenArray.length > 0) {
          // 有儿子节点则递归
          this.data2treeDG(datas, childrenArray);
        }
      }
      this.treeData = dataArray;
      return dataArray;
    },
    getTreeData() {
      const dataArray = [];
      treeAPI.getDistrictTree().then(res => {
        if (res.data.status === 200) {
          const treeDataT = res.data.datas;
          treeDataT.forEach(item => {
            const parentId = item.parentId;
            if (parentId === 0) {
              const objTemp = {
                idDistrict: item.idDistrict,
                name: item.name,
                parenId: item.parenId,
                level: item.level
              };
              dataArray.push(objTemp);
            }
          });
          this.data2treeDG(treeDataT, dataArray);
        }
      });
    },
    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        projectName: this.searchForm.projectName,
        addressName: this.searchForm.addressName,
        userName: this.searchForm.manager,
        districts: this.districts,
        projectType: this.searchForm.projectType,
        checkState: this.searchForm.checkState || this.$route.query.idw,
        startTime: this.searchForm.startTime,
        endTime: this.searchForm.endTime ? this.searchForm.endTime + " 23:59:59" : this.searchForm.endTime
      };
      API.curtainDatabase(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.projects.list;
          this.totalPage = res.data.datas.projects.totalRecord;
          this.listLoading = false;
        }
      });
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      switch (row.checkState) {
        case 1:
          this.cellColorList = "green-row";
          break;
        case 2:
          this.cellColorList = "yellow-row";
          break;
        case 3:
          this.cellColorList = "red-row";
          break;
        case 4:
          this.cellColorList = "orange-row";
          break;
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 6) {
        this.processColor(row);
        return this.cellColorList;
      }
    },

    formatProjectState(row) {
      return this.projectStateOptions[row.checkState] ? this.projectStateOptions[row.checkState].name : null;
    },
    formatProjectType(row) {
      return this.projectTypeOptions[row.projectType] ? this.projectTypeOptions[row.projectType].name : null;
    },
    // 重置
    reset() {
      this.searchForm = {};
      if (this.$route.query.idw) {
        this.$route.query.idw = null;
      }
      this.getTableData();
    },
    handleDetail(row) {
      this.$router.push({
        path: "/curtainWarning/warningDetail",
        query: { id: row.idProject }
      });
    },
    onClickWarningNotification(row) {
      this.$refs.notification.show(row.id);
    },
    onClickWarningDealDatum(row) {
      this.$refs.dealDatum.show(row.id);
    }
  }
};
</script>

<style>
.option-scroll {
  height: 200px;
  overflow-y: scroll;
}
.option-scroll::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.option-scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #547286;
  background: #cdcecf;
  opacity: 0.6;
}
.option-scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(212, 212, 212, 0.808);
  border-radius: 5px;
  background: #f6f6f6;
}
</style>
