<template>
  <div class="app-container scrollbar">
    <div class="space-between mb10 align">
      <div class="ml10 f16">幕墙预警详细信息</div>
      <div class="mr10">
        <span>状态：</span>
        <span v-if="prjDetail.checkState === 1" class="color-green">正常</span>
        <span v-if="prjDetail.checkState === 2" class="color-yellow">黄色预警</span>
        <span v-if="prjDetail.checkState === 3" class="color-red">红色预警</span>
        <span v-if="prjDetail.checkState === 4" class="color-orange">橙色预警</span>
      </div>
      <el-button type="info" size="mini" @click="goback()">返 回</el-button>
    </div>
    <div class="tableList">
      <div class="align">
        <el-col :span="4" class="left">项目名称</el-col>
        <el-col :span="20" class="right">{{ prjDetail.projectName }}</el-col>
      </div>
      <div class="align">
        <el-col :span="4" class="left">项目地址</el-col>
        <el-col :span="20" class="right">{{ prjDetail.addressName }}</el-col>
      </div>
      <div class="align">
        <el-col :span="4" class="left">幕墙玻璃竣工时间</el-col>
        <el-col :span="20" class="right">{{ prjDetail.curtainCompletion }}</el-col>
      </div>
      <div class="align">
        <el-col :span="4" class="left">项目所属区域</el-col>
        <el-col :span="20" class="right">{{ prjDetail.districtName }}</el-col>
      </div>
      <div class="align">
        <el-col :span="4" class="left">项目负责人</el-col>
        <el-col :span="20" class="right">{{ prjDetail.userName }}</el-col>
      </div>
    </div>

    <el-row class="mt30">
      <el-col class="mb10 ml10 f16">预警内容</el-col>
      <el-table :cell-class-name="cellStyle" :data="tableData" border highlight-current-row :stripe="true" class="tableClass">
        <el-table-column align="center" label="序号" width="60">
          <template slot-scope="scope">{{ scope.$index + 1 }}</template>
        </el-table-column>
        <el-table-column label="项目名称" min-width="150" align="left" prop="project.projectName" show-overflow-tooltip />
        <el-table-column label="项目地址" min-width="150" align="left" prop="project.addressName" show-overflow-tooltip />
        <el-table-column label="所属区域" align="left" min-width="150" prop="project.districtName" show-overflow-tooltip />
        <el-table-column label="负责人" align="left" prop="project.userName" show-overflow-tooltip />
        <el-table-column label="预警类型" min-width="120" align="left" :formatter="formatProjectType" prop="idWarningType" show-overflow-tooltip />
        <el-table-column label="竣工时间" width="120" align="left" prop="project.curtainCompletion" show-overflow-tooltip />
        <el-table-column label="下次安检时间" min-width="120" align="left" prop="nextCkeckDate" show-overflow-tooltip />
        <el-table-column label="整改通知" min-width="120" align="left" prop="warningPdfPath" show-overflow-tooltip>
          <template slot-scope="scope">
            <a v-if="scope.row.warningPdfPath !== null" @click="preView(scope.row.warningPdfPath)">
              <span class="orange-row">整改通知(点击查看)</span>
            </a>
          </template>
        </el-table-column>
        <el-table-column label="状态" width="110" align="left" prop="idWarningState" :formatter="formatProjectState" />
        <el-table-column align="center" label="操作" width="130">
          <template slot-scope="scope">
            <template v-if="[2, 3, 4].indexOf(scope.row.idWarningState) > -1">
              <el-button v-if="checkPerimission('warningInfoEdit') && scope.row.updateApprovalState !== 2" size="mini" type="text" @click="handleEdit(scope.row)"
                >分项预警状态修改</el-button
              >
              <span v-if="scope.row.updateApprovalState === 2">审核中</span>
            </template>
          </template>
        </el-table-column>
      </el-table>
    </el-row>

    <!-- 分项预警状态修改 -->
    <el-dialog :visible.sync="dialogVisible" :title="dialogType" width="600px">
      <el-form ref="editForm" :rules="rules" :model="editForm" label-width="120px" label-position="left" size="mini">
        <el-form-item label="预警内容" prop="content">{{ editForm.content }}</el-form-item>
        <el-form-item label="竣工日期" prop="completionTime">{{ editForm.completionTime }}</el-form-item>
        <el-form-item label="下次检查日期" prop="checkTime">{{ editForm.checkTime }}</el-form-item>
        <el-form-item label="修改前状态" prop="status">{{ editForm.oldWarningState }}</el-form-item>
        <el-form-item label="分项预警状态">
          <el-select v-model="editForm.newWarningState" placeholder="请选择">
            <el-option v-for="item in projectStateOptions" v-if="item.idWarningState === 1" :key="item.idWarningState" :label="item.name" :value="item.idWarningState" />
          </el-select>
        </el-form-item>
        <el-form-item label="修改原因" prop="modifyRemark">
          <el-input v-model="editForm.modifyRemark" :autosize="{ minRows: 2, maxRows: 4 }" type="textarea" placeholder="请输入" />
        </el-form-item>
        <el-form-item label="附件资料" prop="fileList">
          <el-upload
            action="doUpload"
            multiple
            accept=".jpg, .jpeg, .png, .gif, .bmp, .pdf, .JPG, .JPEG, .PBG, .GIF, .BMP, .PDF"
            list-type="text"
            :auto-upload="false"
            :file-list="editForm.fileList"
            :on-change="onChange"
            :on-remove="onRemove"
          >
            <el-button slot="trigger" size="mini" type="primary">上传文件</el-button>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="dialogVisible = false">取消</el-button>
        <el-button :loading="btnLoading" type="primary" size="mini" @click="submitUpload()">确认</el-button>
      </div>
    </el-dialog>

    <el-row class="mt30">
      <el-col class="mb10 ml10 f16">预警内容修改记录</el-col>
      <el-table :data="recordTable" border fit highlight-current-row :stripe="true" class="tableClass" :cell-class-name="cellStyle1">
        <el-table-column align="center" label="序号" width="60">
          <template slot-scope="scope">{{ scope.$index + 1 }}</template>
        </el-table-column>
        <el-table-column label="预警内容" min-width="180" align="left" prop="idWarningType" :formatter="formatProjectType" show-overflow-tooltip />
        <el-table-column label="修改原因" min-width="180" align="left" prop="modifyRemark" show-overflow-tooltip />
        <el-table-column label="操作人" align="left" prop="userName" show-overflow-tooltip />
        <el-table-column label="修改时间" min-width="100" align="left" prop="createTime" show-overflow-tooltip />
        <el-table-column label="审批状态" align="left" prop="approvalStateName" show-overflow-tooltip />
        <el-table-column label="退回原因" min-width="180" align="left" prop="checkCommon" show-overflow-tooltip />
        <el-table-column align="center" label="操作" width="120">
          <template slot-scope="scope">
            <el-button size="mini" type="text" @click="handleDetail(scope.row)">查看详情</el-button>
            <el-button v-if="checkPerimission('warningApproval') && scope.row.idApprovalState === 2" size="mini" type="text" @click="approval(scope.row)">审批</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-row>

    <el-dialog :visible.sync="approvalVisible" title="预警变更审批" width="600px">
      <el-form ref="approvalForm" :rules="approvalrules" :model="approvalForm" label-width="80px" size="mini">
        <el-form-item label="处理结果">
          <el-radio-group v-model="approvalForm.idCheckResult">
            <el-radio :label="1">通过</el-radio>
            <el-radio :label="2">不通过</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="处理意见" prop="checkCommon">
          <el-input v-model="approvalForm.checkCommon" type="textarea" :autosize="{ minRows: 2, maxRows: 4 }" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button size="mini" type="primary" @click="onSubmit()">提 交</el-button>
      </div>
    </el-dialog>

    <!-- 查看详情 -->
    <el-dialog :visible.sync="detailVisible" title="查看详情" width="60%">
      <el-form ref="detailForm" :model="detailForm" label-width="120px" label-position="left" size="mini">
        <el-form-item label="预警内容">{{ detailForm.content }}</el-form-item>
        <el-form-item label="操作人">{{ detailForm.operator }}</el-form-item>
        <el-form-item label="修改时间">{{ detailForm.checkTime }}</el-form-item>
        <el-form-item label="修改原因">{{ detailForm.modifyRemark }}</el-form-item>
        <el-form-item label="附件资料">
          <el-table :data="detailForm.annex" border highlight-current-row :stripe="true">
            <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
            <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
            <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
            <el-table-column align="center" label="操作" width="120">
              <template slot-scope="scope">
                <i class="el-icon-download ml10 cursor f20 label-default" @click="download(scope.row.idAccessory)" title="下载" />
                <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(scope.row.filePath)" title="预览" />
              </template>
            </el-table-column>
          </el-table>
          <!-- 
          <div v-for="(item, index) in detailForm.annex" :key="index">
            {{ item.fileName + "." + item.ext }}
            <i class="el-icon-download ml10 cursor f20 label-default" @click="download(item.idAccessory)" />
            <i class="el-icon-search ml10 cursor f20 label-default" @click="preView(item.filePath)" />
          </div> -->
        </el-form-item>

        <el-row class="mt30">
          <el-col class="space-between mb10 f16">
            <div class="ml10">流程审批信息</div>
            <div class="mr10">流程名称：{{ processName }}</div>
          </el-col>
          <el-table :data="processTable" border fit highlight-current-row :stripe="true" class="tableClass">
            <el-table-column label="流程步骤" align="left" prop="caseName" show-overflow-tooltip />
            <el-table-column label="环节操作人" align="left" prop="caseUserName" />
            <el-table-column label="操作结果" min-width="200" align="left" prop="checkCommon" show-overflow-tooltip />
            <el-table-column label="操作时间" min-width="120" align="left" prop="createTime" show-overflow-tooltip />
            <el-table-column label="下一环节" align="left" prop="nextCaseUserName" show-overflow-tooltip />
            <el-table-column label="下一环节操作人" align="left" prop="nextCaseName" show-overflow-tooltip />
          </el-table>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <!-- <el-button type="info" size="mini" @click="detailVisible = false">关闭</el-button> -->
      </div>
    </el-dialog>
  </div>
</template>

<script>
import * as APP from "@/api/approval";
import * as API from "@/api/warning";
import * as FILE from "@/api/files";
import * as PRJ from "@/api/project";
import Pagination from "@/components/Pagination";
import { getToken } from "@/utils/auth";
import { checkPerimission } from "@/utils/auth";

export default {
  components: { Pagination },
  data() {
    return {
      recordTable: [],
      tableData: [],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      btnLoading: false,
      dialogVisible: false,
      approvalVisible: false,
      detailVisible: false,
      processName: null,
      processTable: [],
      approvalForm: {
        idCheckResult: 2,
        checkCommon: null
      },
      approvalrules: {
        checkCommon: [{ required: true, message: "请输入处理意见", trigger: "blur" }],
        reason: [{ required: true, message: "请输入修改原因", trigger: "blur" }]
      },
      dialogType: "分项预警状态修改",
      editForm: {
        content: null,
        completionTime: null,
        checkTime: null,
        oldWarningState: null,
        newWarningState: 1,
        fileList: [],
        modifyRemark: ""
      },
      detailForm: {
        content: null,
        operator: null,
        checkTime: null,
        modifyRemark: "",
        annex: []
      },
      annexList: null,
      rules: {
        modifyRemark: [{ required: true, message: "请输入修改原因", trigger: "blur" }],
        fileList: [{ required: true, message: "请选择附件", trigger: "blur" }]
      },
      idProjectWarning: null,
      idProject: null,
      prjDetail: {},
      projectTypeOptions: {},
      projectStateOptions: {}
    };
  },
  mounted() {
    if (this.$route.path === "/curtainWarning/warningDetail") {
      this.idProject = this.$route.query.id;
      this.getDetail(this.idProject);
      this.getTableData(this.idProject);
      this.getWarningHistroy(this.idProject);
    }

    // 获取预警状态
    API.getWarningState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idWarningState] = item;
        });
        this.projectStateOptions = tmpData;
      }
    });

    // 获取预警类型
    API.getWarningType().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idWarningType] = item;
        });
        this.projectTypeOptions = tmpData;
      }
    });
  },
  methods: {
    checkPerimission,
    // 查看详情
    getDetail(id) {
      const params = {
        idProject: id
      };
      PRJ.curtainDatabase(params).then(res => {
        if (res.data.status === 200) {
          this.prjDetail = res.data.datas.projects.list[0];
        }
      });
    },

    // 流程审批信息列表
    getProcessTable(idApproval) {
      const param = {
        idApproval: idApproval
      };
      APP.getApprovalInfo(param).then(res => {
        if (res.data.status === 200) {
          this.processName = res.data.datas.name;
          this.processTable = res.data.datas.list;
        }
      });
    },

    approval(row) {
      this.getProcessTable(row.idApproval);
      this.approvalVisible = true;
    },

    // 提交审批结果
    onSubmit() {
      this.$refs["approvalForm"].validate(valid => {
        if (valid) {
          const processList = this.processTable[this.processTable.length - 1];
          const params = {
            idApprovalProcessNode: processList.idApprovalProcessNode,
            idApproval: processList.idApproval,
            idApprovalCaseNodeUser: processList.idApprovalCaseNodeUser,
            idCheckResult: this.approvalForm.idCheckResult,
            checkCommon: this.approvalForm.checkCommon
          };
          APP.approvalVerify(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.goback();
            } else {
              this.$message.error(res.data.cause);
            }
          });
        }
      });
    },

    // 查询预警列表
    getTableData(id) {
      const param = {
        idProject: id
      };
      API.getWarningList(param).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list;
        }
      });
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      switch (row.idWarningState) {
        case 1:
          this.cellColorList = "green-row";
          break;
        case 2:
          this.cellColorList = "yellow-row";
          break;
        case 3:
          this.cellColorList = "red-row";
          break;
        case 4:
          this.cellColorList = "orange-row";
          break;
      }
    },
    // 根据不同状态，展示不同颜色
    processColor1(row) {
      switch (row.idApprovalState) {
        case 2:
          this.cellColorList = "red-row";
          break;
        case 3:
          this.cellColorList = "green-row";
          break;
        case 4:
          this.cellColorList = "red-row";
          break;
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 9) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    // 渲染颜色
    cellStyle1({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 5) {
        this.processColor1(row);
        return this.cellColorList;
      }
    },

    formatProjectState(row) {
      return this.projectStateOptions[row.idWarningState] ? this.projectStateOptions[row.idWarningState].name : null;
    },
    formatProjectType(row) {
      return this.projectTypeOptions[row.idWarningType] ? this.projectTypeOptions[row.idWarningType].name : null;
    },

    // 分项预警状态修改
    handleEdit(row) {
      this.editForm.fileList = [];
      this.editForm.modifyRemark = null;
      this.dialogVisible = true;
      this.dialogType = "分项预警状态修改";
      this.idProjectWarning = row.idProjectWarning;
      this.editForm.content = this.projectTypeOptions[row.idWarningType].name;
      this.editForm.checkTime = row.nextCkeckDate;
      this.editForm.completionTime = row.project.curtainCompletion;
      this.editForm.oldWarningState = this.projectStateOptions[row.idWarningState].name;
    },
    onChange(file, fileList) {
      this.editForm.fileList = fileList;
    },
    onRemove(file, fileList) {
      this.editForm.fileList = fileList;
    },
    submitUpload() {
      this.$refs.editForm.validate(valid => {
        if (valid) {
          const fileFormData = new FormData();
          this.editForm.fileList.forEach(element => {
            fileFormData.append("accessoryFiles", element.raw);
          });
          fileFormData.append("idProjectWarning", this.idProjectWarning);
          fileFormData.append("newIdWarningState", this.editForm.newWarningState);
          fileFormData.append("modifyRemark", this.editForm.modifyRemark);
          this.btnLoading = true;
          this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/warning/updateWarning?AccessToken=${getToken()}`, fileFormData).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.getWarningHistroy(this.idProject);
              this.getTableData(this.idProject);
              this.getDetail(this.idProject);
              this.btnLoading = false;
            } else {
              this.$message.error(res.data.cause);
              this.btnLoading = false;
            }
            this.dialogVisible = false;
          });
        }
      });
    },

    // 预警内容修改记录
    getWarningHistroy(id) {
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        idProject: id
      };
      API.getWarningHistroy(params).then(res => {
        if (res.data.datas !== null) {
          if (res.data.status === 200) {
            this.recordTable = res.data.datas.list;
            this.totalPage = res.data.datas.totalRecord;
          }
        }
      });
    },

    // 获取文件信息列表
    getFileList(id) {
      const param = {
        idAccessoryGroup: id
      };
      FILE.getAccessoryByGroup(param).then(res => {
        this.detailForm.annex = [];
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          tmpData.forEach(item => {
            this.detailForm.annex.push(item);
          });
          this.detailVisible = true;
        }
      });
    },
    // 文件下载
    download(id) {
      FILE.downloadFile(id);
    },
    // 文件预览
    preView(path) {
      window.open(process.env.VUE_APP_BASE_API + "/project-api" + path, "_blank");
    },

    // 查看详情
    handleDetail(row) {
      if (row.idAccessoryGroup !== null) {
        this.getFileList(row.idAccessoryGroup);
      } else {
        this.detailVisible = true;
      }
      this.getProcessTable(row.idApproval);
      this.detailForm.content = this.projectTypeOptions[row.idWarningType].name;
      this.detailForm.operator = row.userName;
      this.detailForm.checkTime = row.createTime;
      this.detailForm.modifyRemark = row.modifyRemark;
    },

    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid rgba(46, 79, 123, 0.5);
  border-bottom-width: 0;

  div {
    height: 36px;
    line-height: 36px;
  }

  .left {
    background: rgba(46, 79, 123, 0.1);
    border-right: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }

  .right {
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }

  .borderR {
    border-right: 1px solid rgba(46, 79, 123, 0.5);
  }
}
</style>
