<template>
  <div id="idAccidentCountChart" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts"
import router from "@/router"

export default {
  name: "AccidentCountChart",
  props: {
    chartData: {
      type: Object,
      default: {}
    },
    width: {
      type: String,
      default: "370px"
    },
    height: {
      type: String,
      default: "220px"
    }
  },
  data() {
    return {
      myChart: ""
    }
  },
  watch: {
    chartData: {
      handler(newValue, oldValue) {
        this.chartData = newValue
        this.initChart()
      },
      deep: true
    }
  },
  mounted() {
    this.initChart()
  },
  methods: {
    initChart() {
      this.myChart = echarts.init(
        document.getElementById("idAccidentCountChart")
      )
      this.myChart.on("click", function(item) {
        let routeData = router.resolve({
          path: "/accidentManagement/accidentReport"
        })
        window.open(routeData.href, "_blank")
      })
      this.myChart.setOption({
        tooltip: {
          trigger: "axis",
          formatter: "月份：" + "{b}<br />{a}：{c}"
        },
        grid: {
          left: 0,
          right: "10%",
          top: "20%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            name: "月",
            nameTextStyle: {
              color: "rgba(255,255,255,0.6)"
            },
            boundaryGap: ["3%", "3%"],
            axisLabel: {
              color: "#65C6E7"
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            },
            data: this.chartData.month
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "数量",
            nameTextStyle: {
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              formatter: "{value}",
              textStyle: {
                color: "#65C6E7"
              }
            },
            axisLine: {
              show: false
            },
            axisTick: {
              show: false
            },
            splitLine: {
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            }
          }
        ],
        series: [
          {
            name: "幕墙数量",
            type: "line",
            itemStyle: {
              normal: {
                color: "#04BA19",
                lineStyle: {
                  color: "#04BA19",
                  width: 1
                }
              }
            },
            data: this.chartData.data
          }
        ]
      })
    }
  }
}
</script>
