<template>
  <div class="bmchart align-justify">
    <baidu-map
      :class="showTab===1?'my-bm-view':'my-bim-view-plus'"
      :center="mapCenter"
      :zoom="zoomLevel"
      :ak="apiKey"
      :scroll-wheel-zoom="true"
      :mapStyle="styleJson"
      :min-zoom="9"
      :continuous-zoom="true"
      @ready="handler"
      :mapClick="false"
    >
      <bm-control anchor="BMAP_ANCHOR_TOP_LEFT">
        <div style="margin:10px">
          <div class="highSearch" v-if="showTabS===3">
            <el-select
              class="ml5"
              v-model="district.city"
              placeholder="行政市"
              size="mini"
              style="width: 100px"
              @change="cityChange"
              clearable
            >
              <el-option
                v-for="item in citys"
                :key="item.idDistrict"
                :label="item.name"
                :value="item.idDistrict"
              />
            </el-select>
            <el-select
              class="ml5"
              v-model="district.dis"
              placeholder="行政区"
              size="mini"
              style="width: 100px"
              @change="disChange"
              clearable
            >
              <el-option
                v-for="item in diss"
                :key="item.idDistrict"
                :label="item.name"
                :value="item.idDistrict"
              />
            </el-select>
            <el-select
              class="ml5"
              v-model="district.street"
              placeholder="街道"
              size="mini"
              style="width: 100px"
              clearable
            >
              <el-option
                v-for="item in streets"
                :key="item.idDistrict"
                :label="item.name"
                :value="item.idDistrict"
              />
            </el-select>
            <el-input
              style="width:200px"
              class="ml5"
              size="mini"
              v-model="highSearch.projectName"
              placeholder="项目名称"
              clearable
            ></el-input>
            <el-input
              class="ml5"
              style="width:200px"
              size="mini"
              v-model="highSearch.addressName"
              placeholder="项目地址"
              clearable
            ></el-input>
            <el-select
              class="ml5"
              v-model="highSearch.checkState"
              placeholder="预警状态"
              size="mini"
              style="width: 100px"
              clearable
            >
              <el-option
                v-for="item in warningState"
                :key="item.idWarningState"
                :label="item.name"
                :value="item.idWarningState"
              />
            </el-select>
            <el-input
              class="ml5"
              v-model="highSearch.usedYears"
              placeholder="使用年限"
              size="mini"
              style="width:100px"
              clearable
            />
            <el-input
              class="ml5"
              v-model="highSearch.minHeight"
              style="width:100px"
              placeholder="最小高度"
              size="mini"
              clearable
            />
            <span style="color:white">~</span>
            <el-input
              v-model="highSearch.maxHeight"
              style="width:100px"
              placeholder="最大高度"
              size="mini"
              clearable
            />
            <el-date-picker
              class="ml5"
              v-model="highSearch.startTime"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="竣工开始时间"
              size="mini"
              style="width:150px"
            />
            <span style="color:white">~</span>
            <el-date-picker
              v-model="highSearch.endTime"
              type="date"
              value-format="yyyy-MM-dd"
              placeholder="竣工结束时间"
              size="mini"
              style="width:150px"
            />
            <el-button
              class="darkClass"
              slot="append"
              size="mini"
              icon="el-icon-search"
              :disabled="loading"
              @click="hignSearchClick"
            >查询</el-button>
            <el-tooltip class="item" effect="dark" content="打开高级搜索" placement="top">
              <el-button
                class="darkClass"
                icon="el-icon-d-arrow-left"
                size="mini"
                @click="showTabChange(2)"
              ></el-button>
            </el-tooltip>
          </div>
          <div v-if="showTabS===2">
            <el-input
              style="width:323px"
              size="mini"
              v-model="multiName"
              placeholder="项目名称或项目地址"
              clearable
            ></el-input>
            <el-button
              class="darkClass"
              slot="append"
              size="mini"
              icon="el-icon-search"
              :disabled="loading"
              @click="multiNameClick"
            >查询</el-button>
            <el-tooltip class="item" effect="dark" content="打开高级搜索" placement="top">
              <el-button
                icon="el-icon-d-arrow-right"
                class="darkClass"
                size="mini"
                @click="showTabChange(3)"
              ></el-button>
            </el-tooltip>
          </div>

          <div v-if="showTabS===1" class="filter">
            <el-select
              class="ml10"
              v-model="district.city"
              placeholder="行政市"
              size="mini"
              style="width: 100px"
              @change="cityChange"
              clearable
            >
              <el-option
                v-for="item in citys"
                :key="item.idDistrict"
                :label="item.name"
                :value="item.idDistrict"
              />
            </el-select>
            <el-select
              class="ml10"
              v-model="district.dis"
              placeholder="行政区"
              size="mini"
              style="width: 100px"
              @change="disChange"
              clearable
            >
              <el-option
                v-for="item in diss"
                :key="item.idDistrict"
                :label="item.name"
                :value="item.idDistrict"
              />
            </el-select>
            <el-select
              class="ml10"
              v-model="district.street"
              placeholder="街道"
              size="mini"
              style="width: 100px"
              @change="streetChange"
              clearable
            >
              <el-option
                v-for="item in streets"
                :key="item.idDistrict"
                :label="item.name"
                :value="item.idDistrict"
              />
            </el-select>
            <el-button
              class="darkClass"
              slot="append"
              size="mini"
              icon="el-icon-search"
              :disabled="loading"
              @click="treeUpdate"
            ></el-button>
          </div>
        </div>
      </bm-control>
      <bm-control class="mt50 ml10" anchor="BMAP_ANCHOR_TOP_LEFT">
        <div v-show="showTab!==1" class="projectList">
          <ul class="ul" v-if="pagerData.length!==0">
            <li
              v-for="(val,index) in pagerData"
              :key="index"
              class="li cursor"
              @click="projectClick(val)"
            >
              <div :class="clickNum===index?'actived row align':'cursor row align'">
                <div style="width:300px">
                  <div class="row align">
                    <el-image
                      :src="require('@/icons/marker/location.png')"
                      style="width:20px;height:20px;margin-left:5px"
                    ></el-image>
                    <p class="nameClass" v-text="val.projectName"></p>
                  </div>
                  <p class="addressClass ml30 pb10" v-text="val.addressName"></p>
                </div>
                <div class="mr10">
                  <el-image style="width: 100px;height:80px" :src="val.imageUrl" fit="scale-down"></el-image>
                </div>
              </div>
            </li>
          </ul>

          <el-pagination
            class="pageClass"
            v-if="pagerData.length !== 0"
            :total="page.totalCount"
            :page-size="page.pagesize"
            :current-page.sync="page.pageCurrent"
            small
            layout="prev, pager, next"
            @current-change="getPageData"
          ></el-pagination>

          <div style="height:60px" v-if="pagerData.length===0">
            <p class="noneClass">无数据</p>
          </div>
        </div>
      </bm-control>
      <bm-control anchor="BMAP_ANCHOR_TOP_RIGHT" class="mt10 mr10">
        <el-tooltip class="item" effect="dark" content="初始化" placement="top">
          <i class="el-icon-s-home cursor" @click="jumpInit()" style="font-size:25px;color:white"></i>
        </el-tooltip>
      </bm-control>

      <bm-control anchor="BMAP_ANCHOR_BOTTOM_RIGHT" class="mb10 mr20">
        <span class="tuliDeil">图例：</span>
        <div v-for="item in warningState" :key="item.idWarningState" class="mt5">
          <el-image style="width: 12px; height: 12px" :src="getUrl(item.idWarningState)"></el-image>
          <span class="tuliDeil">{{item.name}}</span>
        </div>
      </bm-control>
      <bm-scale anchor="BMAP_ANCHOR_BOTTOM_RIGHT"></bm-scale>
      <!-- <bm-panorama anchor="BMAP_ANCHOR_TOP_RIGHT"></bm-panorama> -->
      <bml-marker-clusterer :averageCenter="true">
        <bm-marker
          v-for="marker of projects"
          @click="markerClick(marker)"
          :key="marker.idProject"
          :icon="{url:require('@/icons/marker/'+marker.checkState+'.png') , size: {width: 25, height: 25}} "
          :position="{lng: marker.lng, lat: marker.lat}"
        ><bm-label :content="marker.projectName" :labelStyle="{color: 'white',backgroundColor:'rgba(16, 34, 57, 0.01)',border:'0px',textAlign:'center', width: '60px',fontSize : '12px'}" :offset="{width: -20, height: -20}"/></bm-marker>
      </bml-marker-clusterer>
      <bm-boundary
        v-for="(item,index) of dicNames"
        :key="index"
        :name="item.name"
        :strokeWeight="item.size"
        :strokeColor="item.color"
        :fillOpacity="0.1"
      ></bm-boundary>
      <bm-info-window
        :position="{lng: infoWindow.lng, lat: infoWindow.lat}"
        :width="0"
        :height="0"
        :show="show"
        @clickclose="infoWindowClose"
      >
        <p class="projectNameWindows" v-text="infoWindow.projectName"></p>
        <p v-text="'幕墙状态：'+infoWindow.checkStateName"></p>
        <p v-text="'主体工程竣工时间：'+infoWindow.completeTime"></p>
        <p v-text="'地址：'+infoWindow.addressName"></p>
        <p v-text="'维保方联系电话：'+infoWindow.tenancePhone"></p>
        <a @click="turnDetail(infoWindow)" class="deinfoWindows cursor">查看详情>>></a>
      </bm-info-window>
    </baidu-map>
  </div>
</template>

<script>
import {
  BaiduMap,
  BmMarker,
  BmlMarkerClusterer,
  BmInfoWindow,
  BmControl,
  BmView,
  BmBoundary,
  BmScale,
  BmOverviewMap,
  BmPanorama,
  BmLabel
} from "vue-baidu-map"
import * as API from "@/api/cockpit"
import { getToken } from "@/utils/auth"
import * as treeAPI from "@/api/district"
import * as warningAPI from "@/api/warning"

export default {
  data() {
    return {
      apiKey: "FV426NknViD9EiT7wcSKNKbbobuqBXze",
      mapCenter: "广州",
      zoomLevel: 10,
      mapStyle: {
        style: "midnight"
      },
      loading: false,
      warningState: [],
      dicNames: [],
      district: {
        city: null,
        dis: null,
        street: null
      },
      citys: [],
      diss: [],
      streets: [],
      showTabS: this.showTab,
      styleJson: require("@/icons/marker/config.json"),
      local: null,
      selectAddress: "",
      disabled: true,
      clickNum: -1,
      projects: [],
      infoWindow: {},
      show: false,
      map: null,
      pagerData: [],
      page: {
        // 业务需求变更，分页方式改为假分页实现
        //分页大小
        pagesize: 5,
        //总分页数
        pageCount: 1,
        //当前页面
        pageCurrent: 1,
        //总数
        totalCount: 0
      },
      highSearch: {
        projectName: null,
        addressName: null,
        startTime: null,
        endTime: null,
        usedYears: null,
        minHeight: null,
        maxHeight: null,
        checkState: null,
        districts: null
      },
      districts: null,
      multiName: null,
      nameAccessArraySelect: "",
      idAccessArraySelect: null,
      treeData: [],
      localSearch: null,
      defaultProps: {
        children: "children",
        label: "name"
      },
      Tdic: [],
      TdicNames: [],
      userDistrict: {}
    }
  },
  components: {
    BaiduMap,
    BmMarker,
    BmlMarkerClusterer,
    BmInfoWindow,
    BmControl,
    BmView,
    BmBoundary,
    BmScale,
    BmOverviewMap,
    BmPanorama,
    BmLabel
  },
  props: {
    editEnalbe: Boolean,
    showTab: Number,
    marker: Object
  },
  mounted() {
    this.DataInit()
    this.getWarningState()
    this.getDistrictTree()
  },
  methods: {
    getDistrictTree() {
      treeAPI.getDistrictTree().then(res => {
        if (res.data.status === 200) {
          this.treeData = res.data.datas
          this.treeData.forEach(item => {
            if (item.parentId === 0) {
              this.citys.push(item)
            } else if (item.parentId === 1) {
              this.diss.push(item)
            }
          })
          this.district.city = 1
        }
        this.loading = false
      })
    },
    handler({ BMap, map }) {
      this.localSearch = new BMap.LocalSearch(map, {})
      this.map = map
    },
    // 查询地址的经纬度   备用方案
    serachPoint() {
      var markers = []
      var map = this.map
      this.projects.forEach(item => {
        this.localSearch.search("广东省广州市天河区猎德街道安平路15号")
        this.localSearch.setSearchCompleteCallback(function(e) {
          var point = e.getPoi(0).point
          var myIcon = new BMap.Icon(
            require("@/icons/marker/" + item.checkState + ".png"),
            new BMap.Size(25, 25)
          )
          var marker = new BMap.Marker(point, { icon: myIcon }) // 创建标注
          map.addOverlay(marker)
        })
      })
    },
    // 初始化数据
    DataInit() {
      this.loading = true
      this.styleChange(this.district.dis)
      this.selectByUser()
      API.getProjectList({}).then(res => {
        if (res.data.status === 200) {
          this.projects = res.data.datas
          this.planto(this.projects)
          this.getPageData(1)
        }
        this.loading = false
      })
    },
    // 获取用户所属的区域
    selectByUser() {
      treeAPI.selectByUser({}).then(res => {
        if (res.data.status === 200) {
          this.userDistrict = res.data.datas
        }
      })
    },

    // 区域树搜索
    districtsClick() {
      let params = { districts: this.districts }
      this.loading = true
      this.styleChange(this.district.dis)
      API.getProjectList(params).then(res => {
        if (res.data.status === 200) {
          this.projects = res.data.datas
          this.planto(this.projects)
        }
        this.loading = false
      })
    },

    // 获取图片路径
    getUrl(name) {
      return require("@/icons/marker/" + name + ".png")
    },
    // 获取相机位置
    getViewport() {
      return this.map.getViewport()
    },

    plantoView(view) {
      this.show = false
      this.clickNum = -1
      setTimeout(() => {
        this.map.setViewport(view)
      }, 100)
    },

    // 相机定位
    planto(projects) {
      this.show = false

      let points = []
      let districtIds = new Set()
      projects.forEach(element => {
        points.push({ lng: element.lng, lat: element.lat })
        districtIds.add(element.parentId)
      })
      this.reTdic()

      districtIds.forEach(element => {
        let Telement = this.Tdic[element - 2]
        Telement.color = "green"
        Telement.size = 6
        this.TdicNames.push(Telement)
      })
      this.dicNames = this.TdicNames
      // 选则了广州市
      if (this.district.city) {
        // 选择了区域
        if (this.district.dis) {
          let Telement = this.Tdic[this.district.dis - 2]
          this.map.setCenter(Telement.name)
          this.map.setZoom(Telement.level)
        } else {
          this.map.setCenter("广州市")
          this.map.setZoom(9)
        }
      } else {
        if (points && points.length > 0) {
          var view = this.map.getViewport(eval(points))
          this.plantoView(view)
        } else {
          let Telement = this.Tdic[this.userDistrict.idDistrict - 2]
          if (Telement) {
            Telement.color = "green"
            Telement.size = 6
            this.TdicNames.push(Telement)
            this.dicNames = this.TdicNames
            this.map.setCenter(Telement.name)
            this.map.setZoom(Telement.level)
          } else {
            this.map.setCenter("广州市")
            this.map.setZoom(9)
          }
        }
      }
    },

    // 模糊搜索
    multiNameClick() {
      let params = {
        multiName: this.multiName
      }
      this.district = {
        city: null,
        dis: null,
        street: null
      }
      this.styleChange(null)
      this.highSearch = {
        projectName: null,
        addressName: null,
        startTime: null,
        endTime: null,
        usedYears: null,
        minHeight: null,
        maxHeight: null,
        checkState: null,
        districts: null
      }
      this.loading = true
      API.getProjectList(params).then(res => {
        if (res.data.status === 200) {
          this.projects = res.data.datas
          this.planto(this.projects)
          this.page.pageCurrent = 1
          this.getPageData(this.page.pageCurrent)
        }
        this.loading = false
      })
    },
    // 初始化位置
    jumpInit() {
      this.dicNames = [
        {
          id: 1,
          name: "越秀区",
          color: "blue",
          size: 3
        },
        {
          id: 2,
          name: "荔湾区",
          color: "blue",
          size: 3
        },
        {
          id: 3,
          name: "海珠区",
          color: "blue",
          size: 3
        },
        {
          id: 4,
          name: "天河区",
          color: "blue",
          size: 3
        },
        {
          id: 5,
          name: "白云区",
          color: "blue",
          size: 3
        },
        {
          id: 6,
          name: "黄埔区",
          color: "blue",
          size: 3
        },
        {
          id: 7,
          name: "番禺区",
          color: "blue",
          size: 3
        },
        {
          id: 8,
          name: "花都区",
          color: "blue",
          size: 3
        },
        {
          id: 9,
          name: "南沙区",
          color: "blue",
          size: 3
        },
        {
          id: 10,
          name: "增城区",
          color: "blue",
          size: 3
        },
        {
          id: 11,
          name: "从化区",
          color: "blue",
          size: 3
        }
      ]
      this.district = {
        city: null,
        dis: null,
        street: null
      }
      this.multiName = null
      this.highSearch = {
        projectName: null,
        addressName: null,
        startTime: null,
        endTime: null,
        usedYears: null,
        minHeight: null,
        maxHeight: null,
        checkState: null,
        districts: null
      }
      this.map.setCenter("广州市")
      this.map.setZoom(9)
    },

    // 区域选中样式
    styleChange(id) {
      this.TdicNames = [
        {
          id: 1,
          name: "广州市",
          color: "blue",
          size: 1
        }
      ]
      this.reTdic()
      if (id && id > 1) {
        let Telement = this.Tdic[id - 2]
        Telement.color = "green"
        Telement.size = 6
        this.TdicNames.push(Telement)
      }
    },

    // 重置默认样式
    reTdic() {
      this.Tdic = [
        {
          id: 1,
          name: "越秀区",
          color: "blue",
          size: 3,
          level: 14
        },
        {
          id: 2,
          name: "荔湾区",
          color: "blue",
          size: 3,
          level: 13
        },
        {
          id: 3,
          name: "海珠区",
          color: "blue",
          size: 3,
          level: 14
        },
        {
          id: 4,
          name: "天河区",
          color: "blue",
          size: 3,
          level: 13
        },
        {
          id: 5,
          name: "白云区",
          color: "blue",
          size: 3,
          level: 11
        },
        {
          id: 6,
          name: "黄埔区",
          color: "blue",
          size: 3,
          level: 12
        },
        {
          id: 7,
          name: "番禺区",
          color: "blue",
          size: 3,
          level: 12
        },
        {
          id: 8,
          name: "花都区",
          color: "blue",
          size: 3,
          level: 12
        },
        {
          id: 9,
          name: "南沙区",
          color: "blue",
          size: 3,
          level: 12
        },
        {
          id: 10,
          name: "增城区",
          color: "blue",
          size: 3,
          level: 11
        },
        {
          id: 11,
          name: "从化区",
          color: "blue",
          size: 3,
          level: 12
        }
      ]
    },

    // 高级搜索
    hignSearchClick() {
      this.highSearch.districts = this.districts
      let params = this.highSearch
      this.loading = true

      this.styleChange(this.district.dis)

      API.getProjectList(params).then(res => {
        if (res.data.status === 200) {
          this.projects = res.data.datas
          this.planto(this.projects)
          this.page.pageCurrent = 1
          this.getPageData(this.page.pageCurrent)
        }
        this.loading = false
      })
    },
    // 获取分页数据
    getPageData(curpage) {
      this.page.totalCount = this.projects.length
      this.pagerData = []
      let TempData = []
      for (
        var i = this.page.pagesize * (curpage - 1);
        i <
        (this.page.totalCount > this.page.pagesize * curpage
          ? this.page.pagesize * curpage
          : this.page.totalCount);
        i++
      ) {
        let imageUrl = ""
        if (this.projects[i].images) {
          let images = eval("(" + this.projects[i].images + ")")
          const fileId = images[0].fileId
          imageUrl =
            process.env.VUE_APP_BASE_API +
            "/project-api/file/get/" +
            fileId +
            "?AccessToken=" +
            getToken()
        }
        this.projects[i].imageUrl = imageUrl

        TempData.push(this.projects[i])
      }
      this.pagerData = TempData
      this.clickNum = -1
    },

    // 获取预警状态
    getWarningState() {
      warningAPI.getWarningState().then(res => {
        if (res.data.status === 200) {
          const tmpData = {}
          res.data.datas.forEach(item => {
            tmpData[item.idWarningState] = item
          })
          this.warningState = tmpData
        }
      })
    },

    getCity() {
      this.getDistrictData(0, "city")
    },
    getDis(parentId) {
      this.getDistrictData(parentId, "dis")
    },
    getStreet(parentId) {
      this.getDistrictData(parentId, "street")
    },

    cityChange() {
      this.district.dis = null
      this.district.street = null
      this.diss = []
      this.streets = []
      this.getDis(this.district.city)
      this.districts = []
    },

    disChange() {
      this.district.street = null
      this.streets = []
      this.getStreet(this.district.dis)
    },

    streetChange() {
      this.districts = this.district.street
    },

    getDistrictData(parentId, type) {
      let temp = []
      this.treeData.forEach(item => {
        if (item.parentId === parentId) {
          temp.push(item)
        }
      })
      if (type === "city") {
        this.citys = temp
      } else if (type === "dis") {
        this.diss = temp
      } else if (type === "street") {
        this.streets = temp
        let districtIds = []
        this.streets.forEach(item => {
          districtIds.push(item.idDistrict)
        })
        this.districts = districtIds.toString()
      }
    },

    treeUpdate() {
      this.districtsClick()
      this.$emit("dataChange", this.districts)
    },

    turnDetail(row) {
      let routeData = this.$router.resolve({
        path: "/curtainManagement/curtainDetail",
        query: {
          idApproval: row.idApproval,
          idProject: row.idProject,
          canback: true
        }
      })
      window.open(routeData.href, "_blank")
    },
    infoWindowClose() {
      this.show = false
      this.clickNum = -1
    },
    markerClick(marker) {
      if (this.showTab === 1) {
        this.$emit("tabChange", marker)
      } else {
        let index =
          this.projects.map(item => item.idProject).indexOf(marker.idProject) +
          1
        this.page.pageCurrent = Math.ceil(index / this.page.pagesize)
        this.getPageData(this.page.pageCurrent)
        index = this.pagerData
          .map(item => item.idProject)
          .indexOf(marker.idProject)
        this.clickNum = index
        this.infoWindow = marker
        this.show = true
      }
    },
    showTabChange(tab) {
      this.showTabS = tab
    },
    projectClick(marker) {
      if (marker) {
        setTimeout(() => {
          this.mapCenter = { lng: marker.lng, lat: marker.lat }
          this.zoomLevel = 17
          this.markerClick(marker)
        }, 100)
      }
    },
    getDatas() {
      const datas = {
        dicNames: this.dicNames,
        projects: this.projects,
        district: this.district,
        diss: this.diss,
        streets: this.streets,
        districts: this.districts
      }
      return datas
    },
    setDdtas(datas) {
      this.dicNames = datas.dicNames
      this.projects = datas.projects
      this.diss = datas.diss
      this.streets = datas.streets
      this.district = datas.district
      this.districts = datas.districts
      this.multiName = null
      this.highSearch = {
        projectName: null,
        addressName: null,
        startTime: null,
        endTime: null,
        usedYears: null,
        minHeight: null,
        maxHeight: null,
        checkState: null,
        districts: null
      }
      this.getPageData(1)
    }
  }
}
</script>

<style scoped>
.bmchart {
  height: 100%;
  width: 100%;
}

.bmchart >>> .my-bm-view {
  width: 100%;
  height: 580px;
}

.bmchart >>> .my-bim-view-plus {
  width: 100%;
  height: calc(78vh);
}

.bmchart >>> .BMap_cpyCtrl {
  display: none !important;
}
.bmchart >>> .anchorBL {
  display: none !important;
}

.bmchart >>> .projectList {
  background: rgba(16, 34, 57, 0.9);
  border: 1px solid rgba(16, 34, 57, 1);
  width: 400px;
}

.bmchart >>> .projectList .ul {
  max-height: 500px;
  width: 400px;
  padding-left: 10px;
}
.bmchart >>> .projectList .li {
  list-style-type: none;
  height: 90px;
}

.bmchart >>> .nameClass {
  padding-top: 5px;
  margin: 5px;
  font-size: 16px;
  color: aquamarine;
}

.bmchart >>> .noneClass {
  text-align: center;
  font-size: 18px;
  color: white;
}

.bmchart >>> .actived {
  background: rgba(16, 28, 54, 0.9) !important;
  margin-left: -10px;
  margin-right: 1px;
  /* border: 1px solid rgba(7, 72, 116, 1); */
}

.bmchart >>> .addressClass {
  color: white;
}
.bmchart >>> .filter {
  /* background-color: rgb(12, 31, 55) !important; */
  color: white !important;
}
.bmchart >>> .deinfoWindows {
  color: aqua;
}

.bmchart >>> .pageClass {
  text-align: center;
  /* background: rgba(0, 11, 48, 0.8) !important; */
}

.bmchart >>> .el-dialog,
.bmchart >>> .el-pager li {
  background: rgba(16, 34, 57, 0.9) !important;
  color: white;
}

.bmchart >>> .el-pager li.active {
  color: #409eff !important;
}

/* .el-scrollbar__wrap {
    overflow: auto !important;
    height: 100%;
} */

.bmchart >>> .el-pager li.btn-quicknext,
.bmchart >>> .el-pager li.btn-quickprev {
  color: white;
}

.bmchart >>> .el-pagination .btn-next,
.bmchart >>> .el-pagination .btn-prev {
  background: rgba(16, 34, 57, 0.9) !important;
  color: white;
}
.bmchart >>> .projectNameWindows {
  font-size: 16px;
  font-weight: bold;
}

.bmchart >>> .tuliDeil {
  color: white;
  font-size: 12px;
}

.bmchart >>> .BMap_scaleCtrl div.BMap_scaleTxt {
  font-size: 11px;
  font-family: Arial, sans-serif;
  color: white !important;
}

.bmchart >>> .BMap_scaleCtrl {
  margin-right: 30px;
}

.bmchart >>> .el-input--mini .el-input__inner {
  background: rgba(16, 34, 57, 0.9) !important;
  border: 1px solid rgba(7, 72, 116, 1) !important;
  color: white !important;
}

.bmchart >>> .darkClass {
  background: rgba(16, 34, 57, 0.9);
  border: 1px solid rgba(7, 72, 116, 1);
  color: white;
}
</style>

<style>
.el-scrollbar__wrap {
  overflow-x: scroll;
}
</style>
