<template>
  <div id="idTypeChart" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";

export default {
  name: "CurtaintypeChart",
  props: {
    chartData: {
      type: Array,
      required: true
    },
    curtainArea: {
      type: Number,
      default: 0
    },
    width: {
      type: String,
      default: "360px"
    },
    height: {
      type: String,
      default: "210px"
    }
  },
  data() {
    return {
      myChart: ""
    };
  },
  watch: {
    chartData: {
      handler(newValue, oldValue) {
        this.chartData = newValue;
        this.initChart();
      },
      deep: true
    },
    curtainArea: {
      handler(newValue, oldValue) {
        this.curtainArea = newValue;
        this.initChart();
      },
      deep: true
    },
  },
  mounted() {
    this.initChart();
  },
  methods: {
    initChart() {
      this.myChart = echarts.init(document.getElementById("idTypeChart"));
      this.myChart.setOption({
        title: [
          {
            text: "幕墙总面积：" + this.curtainArea + "(m²)",
            // subtext: "幕墙总面积",
            textStyle: {
              fontSize: 14,
              color: "#fff"
            },
            right: 0,
            top: 10
            // subtextStyle: {
            //   fontSize: 12,
            //   color: "#fff"
            // },
            // textAlign: "right",
            // x: "49%",
            // y: "42%"
          }
        ],

        tooltip: {
          trigger: "item",
          formatter: "{b}<br/>{c}({d}%)"
        },

        series: [
          {
            name: "幕墙类型",
            type: "pie",
            center: ["50%", "62%"],
            radius: ["30%", "50%"],
            color: ["#EB6F49", "#FDB628", "#67E0E3", "#E09B6F"],
            clockwise: false,
            avoidLabelOverlap: false,
            minAngle: 10,
            label: {
              normal: {
                formatter: "{b}({d}%)",
                // formatter: "{d}%\n{hr|}\n{b}",
                rich: {
                  hr: {
                    height: 10
                  }
                }
              }
            },
            labelLine: {
              normal: {
                length: 20,
                length2: 20
              }
            },
            data: this.chartData
          }
        ]
      });
    }
  }
};
</script>
