<template>
  <div class="noticeTable">
    <el-table :data="tableData" stripe show-summary max-height="660px">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column :label="roleId == 4 ? '区域' : '街道'" align="left" prop="districtName" show-overflow-tooltip />
      <el-table-column label="数量" width="150" align="left" prop="curtainNum" sortable show-overflow-tooltip />
      <el-table-column label="面积(万m²)" align="left" prop="curtainArea" sortable show-overflow-tooltip />
      <el-table-column label="入库率" width="150" align="left" prop="wareHousingNum" sortable show-overflow-tooltip />
      <el-table-column label="事故数" align="left" prop="accidentTotal" sortable show-overflow-tooltip />
      <el-table-column label="预警数" width="150" align="left" prop="warningNum" sortable show-overflow-tooltip />
      <el-table-column label="抽查率" align="left" prop="inspectionNum" sortable show-overflow-tooltip />
      <el-table-column label="事故处置率" width="150" align="left" prop="accidentNum" sortable show-overflow-tooltip />
      <el-table-column label="维修维护数量" align="left" prop="maintenanceNum" sortable show-overflow-tooltip />
    </el-table>

    <div class="nav_">
      <div>幕墙建筑性质统计</div>
      <div>
        <el-button type="primary" size="mini" @click="exportCNAnalysisData(1)">导出</el-button>
      </div>
    </div>
    <el-table :data="houseUseData"
      stripe
      v-loading="loading_H"
      show-summary
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    >
      <el-table-column fixed align="left" label="序号">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column fixed label="单位" align="left" prop="districtName" show-overflow-tooltip />
      <el-table-column label="建筑数量" align="left" prop="curtainNum" sortable show-overflow-tooltip />
      <el-table-column label="面积(万m²)" align="left" prop="curtainArea" sortable show-overflow-tooltip />
      <el-table-column label="建筑栋数" align="left" prop="buildNum" sortable show-overflow-tooltip />
      <el-table-column label="建筑性质" align="center">
        <el-table-column label="1" align="left" prop="n1" sortable show-overflow-tooltip />
        <el-table-column label="2" align="left" prop="n2" sortable show-overflow-tooltip />
        <el-table-column label="3" align="left" prop="n3" sortable show-overflow-tooltip />
        <el-table-column label="4" align="left" prop="n4" sortable show-overflow-tooltip />
        <el-table-column label="5" align="left" prop="n5" sortable show-overflow-tooltip />
        <el-table-column label="6" align="left" prop="n6" sortable show-overflow-tooltip />
        <el-table-column label="7" align="left" prop="n7" sortable show-overflow-tooltip />
        <el-table-column label="8" align="left" prop="n8" sortable show-overflow-tooltip />
        <el-table-column label="9" align="left" prop="n9" sortable show-overflow-tooltip />
        <el-table-column label="10" align="left" prop="n10" sortable show-overflow-tooltip />
        <el-table-column label="11" align="left" prop="n11" sortable show-overflow-tooltip />
        <el-table-column label="12" align="left" prop="n12" sortable show-overflow-tooltip />
        <el-table-column label="13" align="left" prop="n13" sortable show-overflow-tooltip />
        <el-table-column label="14" align="left" prop="n14" sortable show-overflow-tooltip />
      </el-table-column>
      <el-table-column fixed="right" label="资料不全(完整度<90%)" align="left" prop="progressNum" sortable show-overflow-tooltip />
    </el-table>

    <div class="nav_">
      <div>幕墙面积统计</div>
      <div>
        <el-button type="primary" size="mini" @click="exportCNAnalysisData(2)">导出</el-button>
      </div>
    </div>
    <el-table :data="areaData"
      stripe
      v-loading="loading_A"
      show-summary
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    >
      <el-table-column align="left" label="序号">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="单位" align="left" prop="districtName" show-overflow-tooltip />
      <el-table-column label="建筑数量" align="left" prop="curtainNum" sortable show-overflow-tooltip />
      <el-table-column label="面积(万m²)" align="left" prop="curtainArea" sortable show-overflow-tooltip />
      <el-table-column label="幕墙面积" align="center">
        <el-table-column label="<500" align="left" prop="n1" sortable show-overflow-tooltip />
        <el-table-column label="500<A<5000" align="left" prop="n2" sortable show-overflow-tooltip />
        <el-table-column label="5000<A<10000" align="left" prop="n3" sortable show-overflow-tooltip />
        <el-table-column label="10000<A<15000" align="left" prop="n4" sortable show-overflow-tooltip />
        <el-table-column label="15000<A<20000" align="left" prop="n5" sortable show-overflow-tooltip />
        <el-table-column label=">20000" align="left" prop="n6" show-overflow-tooltip />
      </el-table-column>
    </el-table>

    <div class="nav_">
      <div>幕墙高度统计</div>
      <div>
        <el-button type="primary" size="mini" @click="exportCNAnalysisData(3)">导出</el-button>
      </div>
    </div>
    <el-table :data="curtainHeightData"
      stripe
      v-loading="loading_C"
      show-summary
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    >
      <el-table-column align="left" label="序号">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="单位" align="left" prop="districtName" sortable show-overflow-tooltip />
      <el-table-column label="建筑数量" align="left" prop="curtainNum" sortable show-overflow-tooltip />
      <el-table-column label="幕墙高度" align="center">
        <el-table-column label="24米以下" align="left" prop="n1" sortable show-overflow-tooltip />
        <el-table-column label="高层（24-100）" align="left" prop="n2" sortable show-overflow-tooltip />
        <el-table-column label="超高层（100-200）" align="left" prop="n3" sortable show-overflow-tooltip />
        <el-table-column label="超高层（200-300）" align="left" prop="n4" sortable show-overflow-tooltip />
        <el-table-column label="超高层 >300米" align="left" prop="n5" sortable show-overflow-tooltip />
      </el-table-column>
      
    </el-table>

    <div class="nav_">
      <div>幕墙寿命统计</div>
      <div>
        <el-button type="primary" size="mini" @click="exportCNAnalysisData(4)">导出</el-button>
      </div>
    </div>
    <el-table :data="mainCompletionData"
      stripe
      v-loading="loading_M"
      show-summary
      element-loading-text="拼命加载中"
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)"
    >
      <el-table-column align="left" label="序号">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="单位" align="left" prop="districtName" show-overflow-tooltip />
      <el-table-column label="建筑数量" align="left" prop="curtainNum" sortable show-overflow-tooltip />
      <el-table-column label="使用时间" align="center">
        <el-table-column label="<2年" align="left" prop="n1" sortable show-overflow-tooltip />
        <el-table-column label="2<n<10" align="left" prop="n2" sortable show-overflow-tooltip />
        <el-table-column label="10<n<20" align="left" prop="n3" sortable show-overflow-tooltip />
        <el-table-column label="20<n<25" align="left" prop="n4" sortable show-overflow-tooltip />
        <el-table-column label="n>25" align="left" prop="n5" sortable show-overflow-tooltip />
        <el-table-column label="不详" align="left" prop="n6" sortable show-overflow-tooltip />
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import * as API from "@/api/cockpit"
import { getRole } from "@/utils/auth"
import * as HOME from "@/api/home"

export default {
  props: {
    tableData: {
      type: Array,
      required: true
    },
    houseUseData: {
      type: Array,
      required: true
    },
    areaData: {
      type: Array,
      required: true
    },
    curtainHeightData: {
      type: Array,
      required: true
    },
    mainCompletionData: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      roleId: getRole(),
      loading_H: true,
      loading_A: true,
      loading_C: true,
      loading_M: true
    }
  },
  watch: {
    houseUseData(newV, oldV){
      this.loading_H = newV.length > 0 ? false : true;
    },
    areaData(newV, oldV){
      this.loading_A = newV.length > 0 ? false : true;
    },
    curtainHeightData(newV, oldV){
      this.loading_C = newV.length > 0 ? false : true;
    },
    mainCompletionData(newV, oldV){
      this.loading_M = newV.length > 0 ? false : true;
    }
  },
  methods: {
    exportCNAnalysisData(type) {
      HOME.exportCNAnalysisData(type)
    }
  }
}
</script>

<style lang="scss" scoped>
.noticeTable {
  margin: 5px;
}
.el-table {
  color: #65c6e7;
  background-color: transparent;
}
.nav_ {
  position: relative;
  height: 40px;
  border: 1px solid #074874;
  color: #65c6e7;
  font-size: 16px;
  line-height: 40px;
  text-indent: 1em;
}
.nav_ div {
  width: 50%;
  float: left;
}
/deep/ .el-table thead.is-group th {
  background-color: #112741;
  cursor: pointer;
}
.nav_ div:nth-child(2) {
  text-align: right;
}
/deep/ .el-table tr {
  background-color: #061220;
  cursor: pointer;
}
/deep/ .el-table th {
  padding: 5px 0;
  background-color: #0f2241;
  color: #65c6e7;
}
/deep/ .el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid transparent;
}
/deep/ .el-table th.is-leaf {
  border-bottom: 1px solid transparent;
}
/deep/ .el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: rgb(7,72,116);
}
/deep/ .el-table--striped .el-table__body tr.el-table__row--striped td{
  background-color: rgb(13,31,55);
}
/deep/ .el-table--border::after,
/deep/ .el-table--group::after,
/deep/ .el-table::before {
  background-color: transparent;
}
/deep/ .el-table--border td {
  border-right: 1px solid transparent;
}
/deep/ .el-table__header thead tr th {
  border-right: 1px solid #071424;
  border-bottom: 1px solid #071424;
}
/deep/ .el-table__footer-wrapper tbody td {
  color: #65c6e7;
  border: none;
  border-right: 1px solid #071424;
  background-color: #112741;
}
/deep/ .el-table__fixed-footer-wrapper tbody td {
  color: #65c6e7;
  border: none;
  border-right: 1px solid #071424;
  background-color: #112741;
}
.el-table--border, .el-table--group {
  border: none;
}
.el-button--primary {
    color: #FFF;
    background-color: #074874;
    border: none;
}
</style>
