<template>
  <div class="curtainCount align-justify">
    <el-row :gutter="40" class="mb50">
      <el-col :span="12" class="align-justify column">
        <div class="title mb30">幕墙项目数(个)</div>
        <div class="item align-justify cursor row" @click="handleCurtain()">
          <div class="itemWidth ellipsis align-justify" :title="curtainCount">{{ curtainCount }}</div>
          <!-- <span>个</span> -->
        </div>
      </el-col>
      <el-col :span="12" class="align-justify column">
        <div class="title mb30">幕墙面积(万m²)</div>
        <div class="item align-justify cursor row" @click="handleCurtain()">
          <div class="itemWidth ellipsis" :title="curtainArea">{{ curtainArea }}</div>
          <!-- <span>m²</span> -->
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import * as API from "@/api/cockpit"

export default {
  props: {
    curtainCount: {
      type: Number,
      default: 0
    },
    curtainArea: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {
    // 跳转幕墙数据库
    handleCurtain(row) {
      let routeData = this.$router.resolve({
        path: "/curtainManagement/curtain"
      })
      window.open(routeData.href, "_blank")
    }
  }
}
</script>

<style lang="scss" scoped>
.curtainCount {
  height: 100%;
  .title {
    color: #65c6e7;
    font-size: 14px;
  }
  .item {
    width: 120px;
    height: 74px;
    color: #00ffff;
    font-size: 18px;
    font-weight: 500;
    background: url("../../../assets/images/cockpit/curtainCountBg.png")
      no-repeat center center;
  }
  .itemWidth {
    max-width: 90px;
  }
}
</style>
