<template>
  <div id="idLifeChart" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts"
import router from "@/router"

export default {
  name: "CurtainLifeChart",
  props: {
    chartData: {
      type: Object,
      default: {}
    },
    width: {
      type: String,
      default: "370px"
    },
    height: {
      type: String,
      default: "220px"
    }
  },
  data() {
    return {
      myChart: ""
    }
  },
  watch: {
    chartData: {
      handler(newValue, oldValue) {
        this.chartData = newValue
        this.initChart()
      },
      deep: true
    }
  },
  mounted() {
    this.initChart()
  },

  methods: {
    initChart() {
      this.myChart = echarts.init(document.getElementById("idLifeChart"))
      this.myChart.on("click", function(item) {
        let routeData = router.resolve({
          path: "/curtainManagement/curtain",
          query: { year: parseInt(item.name) }
        })
        window.open(routeData.href, "_blank")
      })
      this.myChart.setOption({
        tooltip: {
          trigger: "axis",
          formatter: "年份：" + "{b}<br />{a}：{c}"
        },
        grid: {
          left: 0,
          right: "8%",
          top: "20%",
          bottom: "3%",
          containLabel: true
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: ["3%", "3%"],
            name: "年",
            nameTextStyle: {
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              color: "#65C6E7"
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            },
            data: this.chartData.year
          }
        ],
        yAxis: [
          {
            type: "value",
            name: "数量",
            nameTextStyle: {
              color: "rgba(255,255,255,0.6)"
            },
            axisLabel: {
              formatter: "{value}",
              textStyle: {
                color: "#65C6E7"
              }
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: "rgba(238,238,238,0.2)"
              }
            },
            axisTick: {
              show: false
            },
            splitLine: {
              show: false
            }
          }
        ],
        series: [
          {
            type: "bar",
            barWidth: 15,
            name: "幕墙数量",
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                  {
                    offset: 0,
                    color: "rgba(127,167,255,0.3)"
                  },
                  {
                    offset: 1,
                    color: "rgba(127,167,255,0.9)"
                  }
                ])
              }
            },
            data: this.chartData.data
          }
        ]
      })
    }
  }
}
</script>
