<template>
  <div id="idMap" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts";
import geoJson from "@/utils/guangzhouGeoJson.json";

export default {
  props: {
    name: {
      type: String,
      required: true
    },
    width: {
      type: String,
      default: "500px"
    },
    height: {
      type: String,
      default: "570px"
    }
  },
  data() {
    return {
      myChart: ""
    };
  },
  mounted() {
    this.myChart = echarts.init(document.getElementById("idMap"));
    this.myChart.showLoading();
    echarts.registerMap("guangzhou", geoJson);
    this.myChart.hideLoading();
    const geoCoordMap = {
      荔湾区: [113.243038, 23.124943],
      海珠区: [113.262008, 23.103131],
      越秀区: [113.280714, 23.125624],
      天河区: [113.335367, 23.13559],
      黄埔区: [113.450761, 23.103239],
      白云区: [113.262831, 23.162281],
      番禺区: [113.364619, 22.938582],
      南沙区: [113.53738, 22.794531],
      从化区: [113.587386, 23.545283],
      花都区: [113.211184, 23.39205],
      增城区: [113.829579, 23.290497]
    };
    const data = [{ name: this.name, value: "", selected: true }];

    // const max = 480,
    //   min = 9; // todo
    // const maxSize4Pin = 100,
    //   minSize4Pin = 20;

    const convertData = function(data) {
      const res = [];
      for (let i = 0; i < data.length; i++) {
        const geoCoord = geoCoordMap[data[i].name];
        if (geoCoord) {
          res.push({
            name: data[i].name,
            value: geoCoord.concat(data[i].value)
          });
        }
      }
      return res;
    };

    this.myChart.setOption({
      tooltip: {
        trigger: "item",
        formatter: function(params) {
          if (typeof params.value[2] == "undefined") {
            return params.name;
          } else {
            return params.name;
          }
          //   if (typeof params.value[2] == "undefined") {
          //   return params.name + " : " + params.value;
          // } else {
          //   return params.name + " : " + params.value[2];
          // }
        }
      },
      // legend: {
      //   orient: "vertical",
      //   y: "bottom",
      //   x: "right",
      //   data: ["credit_pm2.5"],
      //   textStyle: {
      //     color: "#fff"
      //   }
      // },
      // visualMap: {
      //   show: false,
      //   // min: 0,
      //   // max: 500,
      //   // left: "left",
      //   // top: "bottom",
      //   // text: ["高", "低"], // 文本，默认为数值文本
      //   calculable: true,
      //   seriesIndex: [1],
      //   inRange: {
      //     color: ["#4F72EF"] // 黑紫黑
      //   }
      // },
      // geo: {
      //   show: true,
      //   aspectScale: 0.85,
      //   map: "guangzhou",
      //   label: {
      //     normal: {
      //       show: false
      //     },
      //     emphasis: {
      //       show: false
      //     }
      //   },
      //   roam: true,
      //   itemStyle: {
      //     normal: {
      //       areaColor: "#031525",
      //       borderColor: "#0c0bae"
      //     },
      //     emphasis: {
      //       areaColor: "#0DCBFF"
      //     }
      //   }
      // },
      series: [
        // {
        //   name: "",
        //   type: "scatter",
        //   coordinateSystem: "geo",
        //   data: convertData(data),
        //   symbolSize: 5,
        //   label: {
        //     normal: {
        //       formatter: "{b}",
        //       position: "center",
        //       show: true
        //     },
        //     emphasis: {
        //       show: true
        //     }
        //   },
        //   itemStyle: {
        //     normal: {
        //       color: "#fff"
        //     }
        //   }
        // },
        {
          type: "map",
          map: "guangzhou",
          // geoIndex: 0,
          aspectScale: 0.95, //长宽比
          zoom: 1.25,
          showLegendSymbol: false, // 存在legend时显示
          label: {
            normal: {
              show: true,
              color: "#fff",
              fontSize: 12
            },
            emphasis: {
              show: false,
              textStyle: {
                color: "#fff"
              }
            }
          },
          roam: true,
          itemStyle: {
            normal: {
              areaColor: "#4F72EF",
              borderColor: "#0c0bae"
            },
            emphasis: {
              areaColor: "#00ffff"
            }
          },
          animation: false,
          data: data
          // data: this.chartData
        }
        // {
        //   name: "点",
        //   type: "scatter",
        //   coordinateSystem: "geo",
        //   symbol: "pin",
        //   symbolSize: [50, 50],
        //   label: {
        //     normal: {
        //       show: true,
        //       textStyle: {
        //         color: "#fff",
        //         fontSize: 9
        //       },
        //       formatter(value) {
        //         return value.data.value[2];
        //       }
        //     }
        //   },
        //   itemStyle: {
        //     normal: {
        //       color: "#D8BC37" //标志颜色
        //     }
        //   },
        //   zlevel: 6,
        //   data: convertData(data)
        // }
      ]
    });
  },
  methods: {}
};
</script>
