<template>
  <div class="noticeTable">
    <el-table :data="tableData" max-height="218px" @row-click="rowClick">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="内容标题" align="left" prop="title" show-overflow-tooltip />
      <el-table-column label="发布人" width="90" align="left" prop="realName" show-overflow-tooltip />
      <el-table-column
        label="发布日期"
        width="130"
        align="left"
        prop="publishTime"
        show-overflow-tooltip
      />
    </el-table>
  </div>
</template>

<script>
import * as API from "@/api/cockpit"

export default {
  props: {
    tableData: {
      type: Array,
      required: true
    }
  },
  data() {
    return {}
  },
  created() {},
  methods: {
    // 行点击事件
    rowClick(row) {
      // /noticeManagement/addNotice

      let routeData = this.$router.resolve({
        path: "/noticeManagement/noticeDetail",
        query: {
          btn: "detail",
          id: row.idNotice,
          noid: row.idNoticeState,
          canback: true
        }
      })
      window.open(routeData.href, "_blank")
    }
  }
}
</script>

<style lang="scss" scoped>
.noticeTable {
  margin: 5px;
}
.el-table {
  color: #65c6e7;
  background-color: transparent;
}
/deep/ .el-table tr {
  background-color: #061220;
  cursor: pointer;
}
/deep/ .el-table th {
  padding: 5px 0;
  background-color: #0f2241;
  color: #65c6e7;
}

/deep/ .el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid transparent;
}

/deep/ .el-table th.is-leaf {
  border-bottom: 1px solid transparent;
}

/deep/ .el-table--border::after,
/deep/ .el-table--group::after,
/deep/ .el-table::before {
  background-color: transparent;
}
</style>
