<template>
  <div id="idCountChart" :style="{ height: height, width: width }" />
</template>

<script>
import echarts from "echarts"
import router from "@/router"

export default {
  name: "WarningcountChart",
  props: {
    chartData: {
      type: Array,
      required: true
    },
    width: {
      type: String,
      default: "360px"
    },
    height: {
      type: String,
      default: "210px"
    }
  },
  data() {
    return {
      myChart: ""
    }
  },
  watch: {
    chartData: {
      handler(newValue, oldValue) {
        this.chartData = newValue
        this.initChart()
      },
      deep: true
    }
  },
  mounted() {
    this.initChart()
  },
  methods: {
    initChart() {
      this.myChart = echarts.init(document.getElementById("idCountChart"))
      this.myChart.on("click", function(item) {
        let routeData = router.resolve({
          path: "/curtainWarning/warningList",
          query: { idw: item.data.idWarningState }
        })
        window.open(routeData.href, "_blank")
      })
      this.myChart.setOption({
        tooltip: {
          trigger: "item",
          formatter: "{b}<br/>{c}({d}%)"
        },
        series: [
          {
            name: "报警统计",
            type: "pie",
            center: ["50%", "50%"],
            radius: ["50%", "70%"],
            color: ["#06C7CF", "#3E7EFB", "#987EE2", "#CD5C70", "#E09B6F"],
            clockwise: false,
            avoidLabelOverlap: true,
            minAngle: 10,
            label: {
              normal: {
                show: true,
                formatter: "{d}%\n{b}",
                rich: {
                  hr: {
                    height: 10
                  }
                }
              }
            },
            labelLine: {
              normal: {
                length: 20,
                length2: 20
              }
            },
            data: this.chartData
          }
        ]
      })
    }
  }
}
</script>
