<template>
  <div class="app-container scrollbar">
    <div class="space-between mb10 align">
      <div class="f16 mb10 mt10">事故详细信息</div>
      <div class="mr10">
        状态：
        <span class="color-red" v-if="this.idAccidentState === 1">{{ accdientState }}</span>
        <span class="color-green" v-if="this.idAccidentState === 2">{{ accdientState }}</span>
      </div>
      <div>
        <el-button size="mini" type="info" @click="goback()">返回</el-button>
      </div>
    </div>
    <el-form ref="detailform" :model="form" label-width="120px" label-position="left" size="mini" :disabled="isDisabled">
      <el-form-item label="事故标题">
        <el-input v-model="detailform.title" />
      </el-form-item>
      <el-form-item label="事故状态">
        <el-select v-model="detailform.idAccidentState" placeholder="请选择">
          <el-option v-for="item in accdientStatusOptions" :key="item.idAccidentState" :label="item.name" :value="item.idAccidentState" />
        </el-select>
      </el-form-item>
      <el-form-item label="事故类型">
        <el-select v-model="detailform.idAccidentType" placeholder="请选择">
          <el-option v-for="item in accidentTypeOptions" :key="item.idAccidentType" :label="item.name" :value="item.idAccidentType" />
        </el-select>
      </el-form-item>
      <el-form-item label="信息来源" v-if="roleId === '2'">
        <el-select v-model="detailform.idInformation" placeholder="请选择">
          <el-option v-for="item in accdientInformation" :key="item.idInformation" :label="item.name" :value="item.idInformation" />
        </el-select>
      </el-form-item>
      <el-form-item label="事故时间" prop="accidentDate">
        <el-date-picker
          v-model="detailform.accidentDate"
          type="datetime"
          placeholder="选择日期时间"
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item label="有无人员伤亡" prop="casualtieState">
        <el-radio v-model="detailform.casualtieState" label="1">有</el-radio>
        <el-radio v-model="detailform.casualtieState" label="2">无</el-radio>
      </el-form-item>
      <el-form-item label="有无第三方财产损失" prop="propertyLosiState">
        <el-radio v-model="detailform.propertyLosiState" label="1">有</el-radio>
        <el-radio v-model="detailform.propertyLosiState" label="2">无</el-radio>
      </el-form-item>
      <el-form-item label="事故描述">
        <el-input v-model="detailform.description" type="textarea" :autosize="{ minRows: 3, maxRows: 10 }" />
      </el-form-item>
      <el-form-item label="处理结果">
        <el-input v-model="detailform.accidentResult" type="textarea" :autosize="{ minRows: 3, maxRows: 6 }" />
      </el-form-item>
      <el-form-item label="关联入库项目">{{ projectName }}</el-form-item>
      <el-form-item label="项目所属区域">{{ districtName }}</el-form-item>
      <el-form-item v-if="annexList.length > 0" label="附件资料">
        <el-table :data="annexList" border fit highlight-current-row :stripe="true">
          <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
          <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
          <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
          <el-table-column align="center" label="操作" width="120">
            <template slot-scope="scope">
              <i class="el-icon-download ml10 cursor f20 label-default" @click="download(scope.row.idAccessory)" title="下载" />
              <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(scope.row.filePath)" title="预览" />
            </template>
          </el-table-column>
        </el-table>
        <!-- <div class="column ml20">
          <div v-for="(item, index) in annexList" :key="index" class="wrap">
            {{ item.fileName + "." + item.ext }}
            <i class="el-icon-download ml10 cursor f20 label-default" @click="download(item.idAccessory)" title="下载" />
            <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(item.filePath)" title="预览" />
          </div>
        </div> -->
      </el-form-item>
    </el-form>

    <!-- <div v-show="showApprovalForm">
      <el-form ref="approvalForm" :rules="rules" :model="approvalForm" label-width="80px" size="mini">
        <el-col class="mb10 f20 mt30">事故处理</el-col>
        <el-form-item label="处理结果">
          <el-radio-group v-model="approvalForm.idCheckResult">
            <el-radio :label="1">通过</el-radio>
            <el-radio :label="2">不通过</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="处理意见" prop="checkCommon">
          <el-input v-model="approvalForm.checkCommon" type="textarea" :autosize="{ minRows: 2, maxRows: 4 }" />
        </el-form-item>
        <el-form-item label="">
          <el-button size="mini" type="primary" @click="onSubmit()">提 交</el-button>
        </el-form-item>
      </el-form>
    </div>

    <el-row class="mt30">
      <el-col class="space-between mb10">
        <div class="ml10">流程审批信息</div>
        <div class="mr10">流程名称：{{ processName }}</div>
      </el-col>
      <el-table :data="processTable" border fit highlight-current-row :stripe="true" class="tableClass">
        <el-table-column label="流程步骤" align="center" prop="caseName" show-overflow-tooltip />
        <el-table-column label="环节操作人" align="center" prop="caseUserName" />
        <el-table-column label="操作结果" align="center" prop="checkCommon" show-overflow-tooltip />
        <el-table-column label="操作时间" align="center" prop="createTime" show-overflow-tooltip />
        <el-table-column label="下一环节" align="center" prop="nextCaseUserName" show-overflow-tooltip />
        <el-table-column label="下一环节操作人" align="center" prop="nextCaseName" show-overflow-tooltip />
      </el-table>
    </el-row>-->
  </div>
</template>

<script>
import * as APP from "@/api/approval";
import * as FILE from "@/api/files";
import * as API from "@/api/accident";
import { getRole } from "@/utils/auth";

export default {
  data() {
    return {
      list: null,
      districtName: null,
      accdientState: null,
      listLoading: true,
      showApprovalForm: false,
      isDisabled: true,
      isEdit: true,
      processTable: [],
      projectName: null,
      annexList: [],
      fileList: [],
      processName: null,
      dialogVisible: false,
      detailform: {
        accidentFiles: "",
        idAccidentType: "",
        idAccidentState: "",
        title: "",
        description: "",
        accidentResult: "",
        accidentDate: "",
        casualtieState: "",
        propertyLosiState: "",
        idInformation: ""
      },
      rules: {
        checkCommon: [{ required: true, message: "请输入处理意见", trigger: "blur" }],
        reason: [{ required: true, message: "请输入修改原因", trigger: "blur" }]
      },
      approvalForm: {
        idCheckResult: 2,
        checkCommon: null
      },
      accdientStatusOptions: {},
      accidentTypeOptions: {},
      form: {
        name: "",
        region: "",
        desc: ""
      },
      roleId: getRole(),
      idAccident: null,
      idAccessoryGroup: null,
      idApproval: null,
      idAccidentState: null,
      accdientInformation: {}
    };
  },
  mounted() {
    this.getAccidentState();
    this.getAccidentType();
    this.getAccidentInformation();
    this.idAccident = this.$route.query.id;
    this.getDetail(this.idAccident);
  },

  methods: {
    // 获取信息来源
    getAccidentInformation() {
      API.getAccidentInformation().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idInformation] = item;
          });
          this.accdientInformation = tmpData;
        }
      });
    },
    // 获取事故状态
    getAccidentState() {
      API.getAccidentState().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idAccidentState] = item;
          });
          this.accdientStatusOptions = tmpData;
        }
      });
    },
    getAccidentType() {
      // 获取事故类型
      API.getAccidentType().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idAccidentType] = item;
          });
          this.accidentTypeOptions = tmpData;
        }
      });
    },
    // 查看详情
    getDetail(id) {
      const params = {
        idAccident: id
      };
      API.getAccidentList(params).then(res => {
        if (res.data.status === 200) {
          const tmp = res.data.datas.list[0];
          this.projectName = tmp.projectName;
          this.districtName = tmp.districtName;
          this.detailform.title = tmp.title;
          this.detailform.idAccidentType = tmp.idAccidentType;
          this.detailform.idAccidentState = tmp.idAccidentState;
          this.detailform.description = tmp.description;
          this.detailform.accidentResult = tmp.result;
          this.detailform.accidentDate = tmp.accidentDate;
          this.detailform.casualtieState = tmp.casualtieState + "";
          this.detailform.propertyLosiState = tmp.propertyLosiState + "";
          this.detailform.idInformation = tmp.idInformation

          this.idAccessoryGroup = tmp.idAccessoryGroup;
          this.idApproval = tmp.idApproval;
          this.idAccidentState = tmp.idAccidentState;
          this.accdientState = this.accdientStatusOptions[tmp.idAccidentState].name;
          this.getReportFileList(this.idAccessoryGroup);
          this.getProcessTable(this.idApproval);
          if (this.idAccidentState === 1 || this.idAccidentState === 4) {
            this.isDisabled = false;
          }
          if (this.idAccidentState === 2) {
            if (this.roleId !== "1") {
              this.showApprovalForm = true;
            } else {
              this.showApprovalForm = false;
            }
          }
        }
      });
    },

    // 流程审批信息列表
    getProcessTable(idApproval) {
      const param = {
        idApproval: idApproval
      };
      APP.getApprovalInfo(param).then(res => {
        if (res.data.status === 200) {
          this.processName = res.data.datas.name;
          this.processTable = res.data.datas.list;
        }
      });
    },
    // 获取事故上报的文件信息列表
    getReportFileList(id) {
      const param = {
        idAccessoryGroup: id
      };
      FILE.getAccessoryByGroup(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          tmpData.forEach(item => {
            this.annexList.push(item);
          });
        }
      });
    },
    onChange(file, fileList) {
      this.fileList = fileList;
    },
    onRemove(file, fileList) {
      this.fileList = fileList;
    },
    submitUpload(formName, type) {
      let idAccidentState = null;
      type === "submit" ? (idAccidentState = 2) : (idAccidentState = 1);
      const fileFormData = new FormData();
      this.fileList.forEach(element => {
        fileFormData.append("accidentFiles", element.raw);
      });
      fileFormData.append("idAccidentType", this.form.idAccidentType);
      fileFormData.append("idAccidentState", idAccidentState);
      fileFormData.append("title", this.form.title);
      fileFormData.append("description", this.form.description);
      this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/accident/insertAccident?AccessToken=${getToken()}`, fileFormData).then(res => {
        if (res.data.status === 200) {
          this.$message.success(res.data.cause);
          this.goback();
        } else {
          this.$message.error(res.data.cause);
        }
      });
    },

    // 提交
    onSubmit() {
      this.$refs["approvalForm"].validate(valid => {
        if (valid) {
          const processList = this.processTable[this.processTable.length - 1];
          const params = {
            idApprovalProcessNode: processList.idApprovalProcessNode,
            idApproval: processList.idApproval,
            idApprovalCaseNodeUser: processList.idApprovalCaseNodeUser,
            idCheckResult: this.approvalForm.idCheckResult,
            checkCommon: this.approvalForm.checkCommon
          };
          APP.approvalVerify(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.goback();
            } else {
              this.$message.error(res.data.cause);
            }
          });
        }
      });
    },

    // 文件下载
    download(id) {
      FILE.downloadFile(id);
    },
    // 文件预览
    preView(path) {
      window.open(process.env.VUE_APP_BASE_API + "/project-api" + path, "_blank");
    },
    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid #e9ecf4;
  border-bottom-width: 0;
  div {
    height: 36px;
    line-height: 36px;
  }
  .left {
    background: #fbfcff;
    color: rgba(46, 79, 123, 0.8);
    border-right: 1px solid #e9ecf4;
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
  .right {
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
}
</style>
