<template>
  <div class="app-container">
    <div class="mb10">
      <el-input v-model="searchForm.accidentCode" placeholder="事故编号" size="mini" style="width: 130px;" />
      <el-input v-model="searchForm.accidentTitle" placeholder="事故标题" size="mini" style="width: 130px;" />
      <el-input v-model="searchForm.reporter" placeholder="上报人" size="mini" style="width: 130px;" />
      <el-select v-model="searchForm.idAccidentType" placeholder="事故类型" size="mini" style="width: 120px">
        <el-option v-for="item in accdientTypeOptions" :key="item.idAccidentType" :label="item.name" :value="item.idAccidentType" />
      </el-select>
      <span>
        <el-date-picker v-model="searchForm.startTime" type="date" value-format="yyyy-MM-dd" placeholder="提交开始时间" size="mini" style="width:135px" />
        <span>至</span>
        <el-date-picker v-model="searchForm.endTime" type="date" value-format="yyyy-MM-dd" placeholder="提交结束时间" size="mini" style="width:135px" />
      </span>
      <el-select v-model="searchForm.idAccidentState" placeholder="事故状态" size="mini" style="width: 100px">
        <el-option v-for="item in accdientStatusOptions" :key="item.idAccidentState" :label="item.name" :value="item.idAccidentState" />
      </el-select>
      <el-select v-model="nameAccessArraySelect" filterable placeholder="所属区域" size="mini" clearable :collapse-tags="true">
        <el-option style="height:200px;" label="nameAccessArraySelect" value="idAccessArraySelect" key="idAccessArraySelect">
          <el-tree
            ref="tree"
            :show-checkbox="true"
            :data="treeData"
            :props="defaultProps"
            node-key="idDistrict"
            :default-expand-all="true"
            :expand-on-click-node="false"
            @check-change="checkGroupNode"
          />
        </el-option>
      </el-select>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
      <!-- <el-button v-if="checkPerimission('accidentListNew')" type="primary" size="mini" @click="handleAdd()">新增</el-button> -->
    </div>
    <el-table
      v-loading="listLoading"
      :data="tableData"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      :stripe="true"
      class="tableClass"
      :cell-class-name="cellStyle"
    >
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="事故编号" align="left" prop="code" show-overflow-tooltip />
      <el-table-column label="事故标题" align="left" min-width="100" show-overflow-tooltip>
        <template slot-scope="scope">
          <div @click="handleClick('detail', scope.row)">{{scope.row.title}}</div>
        </template>
      </el-table-column>
      <el-table-column label="上报人" align="left" prop="userName" show-overflow-tooltip />
      <el-table-column label="事故类型" align="left" prop="idAccidentType" :formatter="formatAccidentType" show-overflow-tooltip />
      <el-table-column label="提交时间" width="180" align="left" prop="createTime" show-overflow-tooltip />
      <el-table-column label="状态" width="110" align="center" prop="idAccidentState" :formatter="formatAccidentState" />
      <el-table-column label="事故发生时间" width="180" align="center" prop="accidentDate" />
      <el-table-column label="信息来源" width="110" align="center" v-if="roleId === '2'">
        <template slot-scope="scope">
            <div v-if="scope.row.idInformation === 1">责任主体自报</div>
            <div v-if="scope.row.idInformation === 2">媒体</div>
            <div v-if="scope.row.idInformation === 3">电话</div>
            <div v-if="scope.row.idInformation === 4">其他</div>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="120">
        <template slot-scope="scope">
          <template v-if="scope.row.idAccidentState === 2">
            <el-button size="mini" type="text" @click="handleClick('detail', scope.row)">查看详情</el-button>
          </template>
          <template v-if="scope.row.idAccidentState === 1">
            <el-button v-if="checkPerimission('accidentListEdit')" size="mini" type="text" @click="handleClick('edit', scope.row)">编辑</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/>
  </div>
</template>

<script>
import * as API from "@/api/accident";
import * as PRJ from "@/api/project";
import * as treeAPI from "@/api/district";
import Pagination from "@/components/Pagination";
import { checkPerimission, getRole } from "@/utils/auth";

export default {
  components: { Pagination },
  data() {
    return {
      roleId: getRole(),
      tableData: [],
      listLoading: true,
      treeData: [],
      nodeArray: [],
      defaultProps: {
        children: "children",
        label: "name"
      },
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      searchForm: {
        accidentCode: null,
        accidentTitle: null,
        reporter: null,
        accidentTitle: null,
        idAccidentType: null,
        idAccidentState: null,
        startTime: null,
        endTime: null,
        aprovalUserName: null,
        districts: null
      },
      statusOptions: [],
      accdientTypeOptions: {},
      accdientStatusOptions: {},
      nameAccessArraySelect: "",
      idAccessArraySelect: null
    };
  },
  created() {
    this.getTableData();
    this.getTreeData();
  },
  mounted() {
    // 获取事故状态
    API.getAccidentState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idAccidentState] = item;
        });
        this.accdientStatusOptions = tmpData;
      }
    });

    // 获取事故类型
    API.getAccidentType().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idAccidentType] = item;
        });
        this.accdientTypeOptions = tmpData;
      }
    });
  },
  methods: {
    checkPerimission,

    checkGroupNode(a, b) {
      const nodeArray = this.$refs.tree.getCheckedNodes();
      const halfNodeArray = this.$refs.tree.getHalfCheckedNodes(); // 获取半选状态的
      const idAccessArray = [];
      const nameAccessArray = [];
      for (const k in nodeArray) {
        if (nodeArray[k].level === 3) {
          idAccessArray.push(nodeArray[k].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      for (const j in halfNodeArray) {
        if (halfNodeArray[j].level === 3) {
          idAccessArray.push(halfNodeArray[j].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      this.searchForm.districts = idAccessArray.toString();
      this.idAccessArraySelect = idAccessArray.toString();
      this.nameAccessArraySelect = nameAccessArray.toString();
    },

    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        code: this.searchForm.accidentCode,
        title: this.searchForm.accidentTitle,
        userName: this.searchForm.reporter,
        idAccidentType: this.searchForm.idAccidentType,
        idAccidentState: this.searchForm.idAccidentState,
        startTime: this.searchForm.startTime,
        endTime: this.searchForm.endTime ? this.searchForm.endTime + " 23:59:59" : this.searchForm.endTime,
        aprovalUserName: this.searchForm.aprovalUserName,
        districts: this.searchForm.districts
      };
      API.getAccidentList(params).then(res => {
        this.tableData = res.data.datas.list;
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },
    // 重置
    reset() {
      this.searchForm = {};
      this.idAccessArraySelect = null;
      this.nameAccessArraySelect = "";
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      if (row.idAccidentState === 1) {
        this.cellColorList = "red-row";
      } else{
        this.cellColorList = "green-row";
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 6) {
        this.processColor(row);
        return this.cellColorList;
      }
    },

    formatAccidentState(row) {
      return this.accdientStatusOptions[row.idAccidentState] ? this.accdientStatusOptions[row.idAccidentState].name : null;
    },

    formatAccidentType(row) {
      return this.accdientTypeOptions[row.idAccidentType] ? this.accdientTypeOptions[row.idAccidentType].name : null;
    },

    handleFilter(e) {
      this.pageNum = e;
      this.getTableData();
    },
    handleAdd(btnType) {
      PRJ.getProjectInfoByuser().then(res => {
        const tmpData = res.data.datas;
        if (tmpData !== null && tmpData.idProjectState === 3) {
          this.$router.push({
            path: "/accidentManagement/addAccident",
            query: { btnType: btnType }
          });
        } else {
          this.$message.warning("请先完成项目信息注册！");
        }
      });
    },
    // 编辑 or 详情
    handleClick(btn, row) {
      if (row.idAccidentState === 1 || row.idAccidentState === 4) {
        this.$router.push({
          path: "/accidentManagement/addAccident",
          query: { id: row.idAccident }
        });
      } else {
        this.$router.push({
          path: "/accidentManagement/accidentDetail",
          query: { id: row.idAccident }
        });
      }
    },

    data2treeDG(datas, dataArray) {
      for (let j = 0; j < dataArray.length; j++) {
        const dataArrayIndex = dataArray[j];
        const childrenArray = [];
        const Id = dataArrayIndex.idDistrict;
        for (let i = 0; i < datas.length; i++) {
          const data = datas[i];
          const parentId = data.parentId;
          if (parentId === Id) {
            // 判断是否为儿子节点
            const objTemp = {
              idDistrict: data.idDistrict,
              name: data.name,
              parenId: data.parenId,
              level: data.level
            };
            childrenArray.push(objTemp);
          }
        }
        dataArrayIndex.children = childrenArray;
        if (childrenArray.length > 0) {
          // 有儿子节点则递归
          this.data2treeDG(datas, childrenArray);
        }
      }
      this.treeData = dataArray;
      return dataArray;
    },
    getTreeData() {
      const dataArray = [];
      treeAPI.getDistrictTree().then(res => {
        if (res.data.status === 200) {
          const treeDataT = res.data.datas;
          treeDataT.forEach(item => {
            const parentId = item.parentId;
            if (parentId === 0) {
              const objTemp = {
                idDistrict: item.idDistrict,
                name: item.name,
                parenId: item.parenId,
                level: item.level
              };
              dataArray.push(objTemp);
            }
          });
          this.data2treeDG(treeDataT, dataArray);
        }
      });
    }
  }
};
</script>
