<template>
  <div class="app-container scrollbar">
    <div class="space-between mb10 align">
      <div class="f20 mb10 mt10">事故上报</div>
      <div class="mr10">
        状态：
        <span class="color-red">{{ accdientState }}</span>
      </div>
    </div>
    <el-form ref="form" :model="form" :rules="rules" :disabled="isOpen" label-width="120px" label-position="left" size="mini" class="ml20">
      <el-form-item label="事故标题" prop="title">
        <el-input v-model="form.title" :disabled="isDisabled" />
      </el-form-item>
      <el-form-item label="可选项目" prop="idProject" v-show="showProjectList">
        <el-select v-model="form.idProject" placeholder="请选择" :disabled="isDisabled">
          <el-option v-for="item in tableData" :key="item.idProject" :label="item.projectName" :value="item.idProject"/>
        </el-select>
      </el-form-item>
      <el-form-item label="事故状态" prop="idAccidentState">
        <el-select v-model="form.idAccidentState" placeholder="请选择" @change="handleChange(form.idAccidentState)">
          <el-option v-for="item in accdientStatusOptions" :key="item.idAccidentState" :label="item.name" :value="item.idAccidentState" />
        </el-select>
      </el-form-item>
      <el-form-item label="事故类型" prop="idAccidentType">
        <el-select v-model="form.idAccidentType" placeholder="请选择" :disabled="isDisabled">
          <el-option v-for="item in accidentTypeOptions" :key="item.idAccidentType" :label="item.name" :value="item.idAccidentType" />
        </el-select>
      </el-form-item>
      <el-form-item label="信息来源" prop="idInformation" v-if="roleId === '2'">
        <el-select v-model="form.idInformation" placeholder="请选择" :disabled="isDisabled">
          <el-option v-for="item in accdientInformation" :key="item.idInformation" :label="item.name" :value="item.idInformation" />
        </el-select>
      </el-form-item>
      <el-form-item label="事故发生时间" prop="accidentDate">
        <el-date-picker
          v-model="form.accidentDate"
          type="datetime"
          placeholder="选择日期时间"
          :disabled="isDisabled"
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item label="有无人员伤亡" prop="casualtieState">
        <el-radio v-model="form.casualtieState" label="1" :disabled="isDisabled">有</el-radio>
        <el-radio v-model="form.casualtieState" label="2" :disabled="isDisabled">无</el-radio>
      </el-form-item>
      <el-form-item label="有无重大第三方财产损失" prop="propertyLosiState">
        <el-radio v-model="form.propertyLosiState" label="1" :disabled="isDisabled">有</el-radio>
        <el-radio v-model="form.propertyLosiState" label="2" :disabled="isDisabled">无</el-radio>
      </el-form-item>
      <el-form-item label="事故描述" prop="description">
        <el-input v-model="form.description" type="textarea" :disabled="isDisabled" :autosize="{ minRows: 3, maxRows: 10 }" />
      </el-form-item>
      <el-form-item label="处理结果" prop="accidentResult" v-if="showResultContent">
        <el-input v-model="form.accidentResult" type="textarea" :autosize="{ minRows: 3, maxRows: 6 }" />
      </el-form-item>
      <el-form-item label="附件资料" prop="fileList">
        <el-upload
          action="doUpload"
          multiple
          list-type="text"
          :auto-upload="false"
          accept=".jpg, .jpeg, .png, .gif, .bmp, .pdf, .JPG, .JPEG, .PBG, .GIF, .BMP, .PDF"
          :file-list="form.fileList"
          :on-change="onChange"
          :on-remove="onRemove"
        >
          <el-button slot="trigger" size="mini" type="primary">上传文件</el-button>
        </el-upload>
      </el-form-item>

      <el-form-item v-if="annexList.length > 0" label="附件资料">
        <!-- <el-button size="mini" type="primary" plain @click="handleAnnex()">浏览</el-button> -->
        <!-- 附件列表 -->
        <!-- <el-dialog :visible.sync="annexVisible" title="附件列表" width="780px"> -->
        <el-table :data="annexList" border fit highlight-current-row :stripe="true">
          <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
          <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
          <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
          <el-table-column align="center" label="操作" width="120">
            <template slot-scope="scope">
              <i class="el-icon-download ml10 cursor f20 label-default" @click="download(scope.row.idAccessory)" title="下载" />
              <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(scope.row.filePath)" title="预览" />
            </template>
          </el-table-column>
        </el-table>
        <!-- <div slot="footer" class="dialog-footer" />
        </el-dialog> -->
        <!-- <div class="column ml20">
          <div v-for="(item, index) in annexList" :key="index" class="wrap">
            {{ item.fileName + "." + item.ext }}
            <i class="el-icon-download ml10 cursor f20 label-default" @click="download(item.idAccessory)" title="下载" />
            <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(item.filePath)" title="预览" />
          </div>
        </div> -->
      </el-form-item>
      <el-form-item class="mt20 justify-end">
        <el-button type="info" size="mini" @click="goback()">返 回</el-button>
        <el-button :loading="btnLoading" type="primary" size="mini" @click="submitUpload()">提 交</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import * as API from "@/api/accident";
import * as APP from "@/api/approval";
import * as PRJ from "@/api/project";
import Pagination from "@/components/Pagination";
import { getToken, getRole } from "@/utils/auth";
import * as FILE from "@/api/files";
import { log } from "util";


export default {
  data() {
    return {
      roleId: getRole(),
      btnLoading: false,
      showResultContent: false,
      annexTable: [],
      processTable: [],
      processName: null,
      accdientState: null,
      idAccident: null,
      idAccessoryGroup: null,
      isDisabled: false,
      idApproval: null,
      annexList: [],
      rules: {
        title: [{ required: true, trigger: "blur", message: "请输入标题" }],
        idAccidentState: [{ required: true, trigger: "blur", message: "请选择状态" }],
        idProject: [{ required: true, trigger: "blur", message: "请选择上报项目" }],
        idAccidentType: [{ required: true, trigger: "blur", message: "请选择类型" }],
        idInformation: [{ required: true, trigger: "blur", message: "请选择类型" }],
        accidentDate: [{ required: true, trigger: "blur", message: "请选择时间" }],
        description: [{ required: true, message: "请输入事故描述", trigger: "blur" }],
        accidentResult: [{ required: true, message: "请输入处理结果", trigger: "blur" }],
        fileList: [{ required: true, message: "请选择附件", trigger: "blur" }],
        casualtieState: [{ required: true, trigger: "blur", message: "请选择状态" }],
        propertyLosiState: [{ required: true, trigger: "blur", message: "请选择状态" }]
      },
      form: {
        accidentFiles: "",
        idAccidentType: "",
        idAccidentState: "",
        accidentDate: "",
        title: "",
        description: "",
        accidentResult: "",
        fileList: [],
        casualtieState: '2',
        propertyLosiState: '2',
        idInformation: null,
        idProject: null
      },
      accidentTypeOptions: {},
      accdientStatusOptions: {},
      accdientInformation: {},
      isOpen: false,

      showProjectList: false,
      tableData: []
    };
  },
  components: {
    Pagination
  },
  mounted() {
    if (this.roleId !== '2') { // 项目用户
      PRJ.getProjectInfoByuser().then(res => {
        const tmpData = res.data.datas;
        if (tmpData == null || tmpData.idProjectState !== 3) {
          this.isOpen = true
          this.$message.warning("请先完成项目信息注册！");
        }
      })
    } else { // 街道监管 获取项目列表
      this.getTableData()
    }
    
    this.getAccidentState();
    this.getAccidentType();
    this.getAccidentInformation();
    this.idAccident = this.$route.query.id;
    if (this.idAccident) {
      this.isDisabled = true;
      this.getDetail(this.idAccident);
    }
  },
  methods: {
    // 查询项目列表
    getTableData() {
      PRJ.curtainDatabase().then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.projects.list;
          this.showProjectList = true;
        }
      });
    },
    // 查看详情
    getDetail(id) {
      const params = {
        idAccident: id
      };
      API.getAccidentList(params).then(res => {
        if (res.data.status === 200) {
          const tmp = res.data.datas.list[0];
          this.accdientState = this.accdientStatusOptions[tmp.idAccidentState].name;
          this.idApproval = tmp.idApproval;
          this.idAccessoryGroup = tmp.idAccessoryGroup;
          this.form.idAccidentType = tmp.idAccidentType;
          this.form.idAccidentState = tmp.idAccidentState;
          this.form.title = tmp.title;
          this.form.description = tmp.description;
          this.form.accidentDate = tmp.accidentDate;
          this.form.casualtieState = tmp.casualtieState + "";
          this.form.propertyLosiState = tmp.propertyLosiState + "";
          this.form.idInformation = tmp.idInformation;
          this.form.idProject = tmp.idProject;
          this.getReportFileList(this.idAccessoryGroup);
          // if (this.idApproval !== null) {
          //   this.getProcessTable(this.idApproval)
          // }
        }
      });
    },
    // 获取信息来源
    getAccidentInformation() {
      API.getAccidentInformation().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idInformation] = item;
          });
          this.accdientInformation = tmpData;
        }
      });
    },
    // 获取事故状态
    getAccidentState() {
      API.getAccidentState().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idAccidentState] = item;
          });
          this.accdientStatusOptions = tmpData;
        }
      });
    },
    getAccidentType() {
      // 获取事故类型
      API.getAccidentType().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idAccidentType] = item;
          });
          this.accidentTypeOptions = tmpData;
        }
      });
    },
    // 事故状态改变事件
    handleChange(idAccidentState) {
      idAccidentState === 2 ? (this.showResultContent = true) : (this.showResultContent = false);
    },
    onChange(file, fileList) {
      this.form.fileList = fileList;
    },
    onRemove(file, fileList) {
      this.form.fileList = fileList;
    },
    submitUpload() {
      if (this.roleId !== '2') {
        this.form.idProject = -1
      }
      this.$refs.form.validate(valid => {
        if (valid) {
          this.btnLoading = true;
          const fileFormData = new FormData();
          if (this.idAccident) {
            if (this.form.fileList.length <= 0) {
              this.$message.warning("请上传附件资料");
              this.btnLoading = false;
              return false;
            }
            fileFormData.append("idAccident", this.idAccident);
          }
          this.form.fileList.forEach(element => {
            fileFormData.append("accidentFiles", element.raw);
          });

          fileFormData.append("idAccidentType", this.form.idAccidentType);
          fileFormData.append("idAccidentState", this.form.idAccidentState);

          fileFormData.append("casualtieState", this.form.casualtieState); 
          fileFormData.append("propertyLosiState", this.form.propertyLosiState);
          fileFormData.append("accidentDate", this.form.accidentDate); 

          fileFormData.append("title", this.form.title);
          fileFormData.append("description", this.form.description);
          fileFormData.append("result", this.form.accidentResult);
          this.form.idInformation = this.form.idInformation == null ? 0 : this.form.idInformation
          fileFormData.append("idInformation", this.form.idInformation);
          fileFormData.append("idProject", this.form.idProject);
          if (this.idAccessoryGroup) {
            fileFormData.append("idAccessoryGroup", this.idAccessoryGroup);
          }
          this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/accident/insertAccident?AccessToken=${getToken()}`, fileFormData).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.btnLoading = false;
              this.goback();
            } else {
              this.$message.error(res.data.cause);
              this.btnLoading = false;
            }
          });
        }
      });
    },
    // 流程审批信息列表
    getProcessTable(idApproval) {
      const param = {
        idApproval: idApproval
      };
      APP.getApprovalInfo(param).then(res => {
        if (res.data.status === 200) {
          this.processName = res.data.datas.name;
          this.processTable = res.data.datas.list;
        }
      });
    },
    // 获取事故上报的文件信息列表
    getReportFileList(id) {
      const param = {
        idAccessoryGroup: id
      };
      FILE.getAccessoryByGroup(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          tmpData.forEach(item => {
            this.annexList.push(item);
          });
        }
      });
    },
    // 文件下载
    download(id) {
      FILE.downloadFile(id);
    },
    // 文件预览
    preView(path) {
      window.open(process.env.VUE_APP_BASE_API + "/project-api" + path, "_blank");
    },
    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid #e9ecf4;
  border-bottom-width: 0;
  div {
    height: 36px;
    line-height: 36px;
  }
  .left {
    background: #fbfcff;
    color: rgba(46, 79, 123, 0.8);
    border-right: 1px solid #e9ecf4;
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
  .right {
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
}
</style>
