<template>
  <div class="app-container">
    <div class="mb10">
      <el-input v-model="searchForm.addressIP" placeholder="IP地址" size="mini" style="width: 130px;" />
      <el-input v-model="searchForm.userName" placeholder="姓名" size="mini" style="width: 130px;" />
      <el-input v-model="searchForm.timeTaken" placeholder="停留时长" size="mini" style="width: 130px;" />
      
      <span>
        <el-date-picker v-model="searchForm.startTime" type="date" value-format="yyyy-MM-dd" placeholder="登录时间" size="mini" style="width:135px" />
      </span>
      <el-select v-model="nameAccessArraySelect" filterable placeholder="所属区域" size="mini" clearable :collapse-tags="true">
        <el-option class="option-scroll" label="nameAccessArraySelect" value="idAccessArraySelect" key="idAccessArraySelect">
          <el-tree
            ref="tree"
            :show-checkbox="true"
            :data="treeData"
            :props="defaultProps"
            node-key="idDistrict"
            :default-expand-all="true"
            :expand-on-click-node="false"
            @check-change="checkGroupNode"
          />
        </el-option>
      </el-select>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
    </div>

    <el-table
      v-loading="listLoading"
      :data="tableData"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      :stripe="true"
      class="tableClass"
      :cell-class-name="cellStyle"
    >
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="IP" align="left" prop="addressIP" min-width="12" show-overflow-tooltip />
      <el-table-column label="姓名" align="left" prop="userName" min-width="15" show-overflow-tooltip />
      <el-table-column label="所属区域" align="left" prop="districtName" min-width="10" show-overflow-tooltip />
      <el-table-column label="手机号" align="left" prop="phone" min-width="10" show-overflow-tooltip />
      <el-table-column label="登录时间" width="170" align="left" prop="loginTime" :formatter="formatDateLoginTime" show-overflow-tooltip />
      <el-table-column label="离开时间" width="170" align="left" prop="leaveTime" :formatter="formatDateLeaveTime" show-overflow-tooltip />
      <el-table-column label="停留时长" width="150" align="center" prop="useTime" />
      <el-table-column label="行为记录" width="220" align="center">
        <template slot-scope="scope">
          切离窗口：{{scope.row.cutOffNum}}次
          切回窗口：{{scope.row.cutBackNum}}次
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="120">
        <template slot-scope="scope">
          <el-button size="mini" type="text" @click="handleClick('detail', scope.row)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" />
  </div>
</template>

<script>
import * as API from "@/api/systemaction";
import * as treeAPI from "@/api/district";
import Pagination from "@/components/Pagination";
import { formatDate } from "@/utils/validate";
import { checkPerimission } from "@/utils/auth";

export default {
  components: { 
    Pagination
  },
  data() {
    return {
      tableData: [],
      listLoading: false,
      treeData: [],
      nodeArray: [],
      defaultProps: {
        children: "children",
        label: "name"
      },
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      searchForm: {
        addressIP: null,
        loginTime: null,
        userName: null,
        timeTaken: null,
        districtId: null,
        startTime: null
      },
      nameAccessArraySelect: "",
      idAccessArraySelect: null
    };
  },
  created() {
    this.getTableData();
    this.getTreeData();
  },
  mounted() {
  },
  methods: {
    checkPerimission,

    checkGroupNode(a, b) {
      const nodeArray = this.$refs.tree.getCheckedNodes();
      const halfNodeArray = this.$refs.tree.getHalfCheckedNodes(); // 获取半选状态的
      const idAccessArray = [];
      const nameAccessArray = [];
      for (const k in nodeArray) {
        if (nodeArray[k].level === 3) {
          idAccessArray.push(nodeArray[k].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      for (const j in halfNodeArray) {
        if (halfNodeArray[j].level === 3) {
          idAccessArray.push(halfNodeArray[j].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      this.searchForm.districtId = idAccessArray.toString();
      this.idAccessArraySelect = idAccessArray.toString();
      this.nameAccessArraySelect = nameAccessArray.toString();
    },

    formatDateLoginTime(row) {
      return formatDate(row.loginTime)
    },
    formatDateLeaveTime(row) {
      return formatDate(row.leaveTime)
    },

    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        addressIP: this.searchForm.addressIP,
        startTime: this.searchForm.startTime,
        userName: this.searchForm.userName,
        timeTaken: this.searchForm.timeTaken,
        districtId: this.searchForm.districtId
      };

      API.getSystemActionList(params).then(res => {
        this.tableData = res.data.datas.list;
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },
    // 重置
    reset() {
      this.searchForm.addressIP = null;
      this.searchForm.userName = null;
      this.searchForm.timeTaken = null;
      this.searchForm.districtId = null;
      this.searchForm.startTime = null;
      this.idAccessArraySelect = null;
      this.nameAccessArraySelect = "";
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      if (row.idAccidentState === 1) {
        this.cellColorList = "red-row";
      } else{
        this.cellColorList = "green-row";
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 6) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    handleFilter(e) {
      this.pageNum = e;
      this.getTableData();
    },
    handleAdd(btnType) {
      PRJ.getProjectInfoByuser().then(res => {
        const tmpData = res.data.datas;
        if (tmpData !== null && tmpData.idProjectState === 3) {
          this.$router.push({
            path: "/accidentManagement/addAccident",
            query: { btnType: btnType }
          });
        } else {
          this.$message.warning("请先完成项目信息注册！");
        }
      });
    },
    // 编辑 or 详情
    handleClick(btn, row) {
      this.$router.push({
        path: "/systemMonitoring/systemActionDetail",
        query: { 
          id: row.id, 
          userId: row.userId 
        }
      });
    },

    data2treeDG(datas, dataArray) {
      for (let j = 0; j < dataArray.length; j++) {
        const dataArrayIndex = dataArray[j];
        const childrenArray = [];
        const Id = dataArrayIndex.idDistrict;
        for (let i = 0; i < datas.length; i++) {
          const data = datas[i];
          const parentId = data.parentId;
          if (parentId === Id) {
            // 判断是否为儿子节点
            const objTemp = {
              idDistrict: data.idDistrict,
              name: data.name,
              parenId: data.parenId,
              level: data.level
            };
            childrenArray.push(objTemp);
          }
        }
        dataArrayIndex.children = childrenArray;
        if (childrenArray.length > 0) {
          // 有儿子节点则递归
          this.data2treeDG(datas, childrenArray);
        }
      }
      this.treeData = dataArray;
      return dataArray;
    },
    getTreeData() {
      const dataArray = [];
      treeAPI.getDistrictTree().then(res => {
        if (res.data.status === 200) {
          const treeDataT = res.data.datas;
          treeDataT.forEach(item => {
            const parentId = item.parentId;
            if (parentId === 0) {
              const objTemp = {
                idDistrict: item.idDistrict,
                name: item.name,
                parenId: item.parenId,
                level: item.level
              };
              dataArray.push(objTemp);
            }
          });
          this.data2treeDG(treeDataT, dataArray);
        }
      });
    }
  }
};
</script>

<style scoped>
.option-scroll {
  height: 200px;
  overflow-y: scroll;
}
.option-scroll::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.option-scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #547286;
  background: #cdcecf;
  opacity: 0.6;
}
.option-scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(212, 212, 212, 0.808);
  border-radius: 5px;
  background: #f6f6f6;
}
</style>
