<template>
  <div class="app-container scrollbar">
    <div class="space-between mb10 align">
      <div class="f16 mb10 mt10">用户行为详细分析</div>
      <div>
        <el-button size="mini" type="info" @click="goback()">返回</el-button>
      </div>
    </div>
    <el-form ref="detailform" label-width="120px" label-position="left" size="mini" :disabled="isDisabled">
      <el-form-item label="姓名">
        <el-input v-model="systemAction.userName" />
      </el-form-item>
      <el-form-item label="IP地址">
        <el-input v-model="systemAction.addressIP" type="textarea" :autosize="{ minRows: 3, maxRows: 10 }" />
      </el-form-item>
      <el-form-item label="用户所属区域">
        <el-input v-model="systemAction.districtName" type="textarea" :autosize="{ minRows: 3, maxRows: 6 }" />
      </el-form-item>
      <el-form-item label="登录时间">{{ systemAction.loginTime }}</el-form-item>
      <el-form-item label="离开时间">{{ systemAction.leaveTime }}</el-form-item>
      <el-form-item label="停留时长">{{ systemAction.useTime }}</el-form-item>
      <el-form-item label="登录次数">{{ systemAction.loginCount }}（次）</el-form-item>
      <el-form-item label="行为记录">
        <el-table
          :data="systemAction.actionList"
          element-loading-text="Loading"
          border
          fit
          highlight-current-row
          :stripe="true"
          class="tableClass option-scroll"
        >
          <el-table-column align="center" label="序号" width="60">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column label="行为动作" align="left">
            <template>
              切离窗口 - 切回窗口
            </template>
          </el-table-column>
          <el-table-column label="开始时间" align="left" prop="cutOffTime" show-overflow-tooltip />
          <el-table-column label="结束时间" align="left" prop="cutBackTime" show-overflow-tooltip />
          <el-table-column label="用时" align="left" prop="useTime" show-overflow-tooltip />
          <!-- <el-table-column label="登录时间" width="170" align="left" prop="loginTime" :formatter="formatDateLoginTime" show-overflow-tooltip />
          <el-table-column label="离开时间" width="170" align="left" prop="leaveTime" :formatter="formatDateLeaveTime" show-overflow-tooltip />
          <el-table-column label="停留时长" width="150" align="center" prop="useTime" /> -->
        </el-table>
      </el-form-item>
    </el-form>

  </div>
</template>

<script>
import * as API from "@/api/systemaction";
import { formatDate } from "@/utils/validate";
import index from '../../components/BaiduMapDialog/index.vue';

export default {
  components: { index },
  data() {
    return {
      listLoading: true,
      isDisabled: true,
      systemAction: {
        userName: "",
        districtName: "",
        addressIP: "",
        loginTime: "",
        leaveTime: "",
        useTime: "",
        actionList: [],
        loginCount: null
      },
      idSystemAction: null
    };
  },
  mounted() {
    this.idSystemAction = this.$route.query.id;
    this.userId = this.$route.query.userId;
    this.getDetail(this.idSystemAction, this.userId);
  },

  methods: {
    // 查看详情
    getDetail(id, userId) {
      const params = {
        id: id,
        userId: userId
      };
      API.getSystemActionById(params).then(res => {
        if (res.data.status === 200) {
          const tmp = res.data.datas;
          this.systemAction.userName = tmp.userName;
          this.systemAction.districtName = tmp.districtName;
          this.systemAction.addressIP = tmp.addressIP;
          this.systemAction.loginTime = formatDate(tmp.loginTime);
          this.systemAction.leaveTime = formatDate(tmp.leaveTime);
          this.systemAction.useTime = tmp.useTime;
          this.systemAction.actionList = tmp.mapList;
          this.systemAction.loginCount = tmp.loginCount;
        }
      });
    },
    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid #e9ecf4;
  border-bottom-width: 0;
  div {
    height: 36px;
    line-height: 36px;
  }
  .left {
    background: #fbfcff;
    color: rgba(46, 79, 123, 0.8);
    border-right: 1px solid #e9ecf4;
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
  .right {
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
}
.el-form {
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ebeef5;
}
</style>

<style scoped>
.option-scroll {
  height: 200px;
  overflow-y: scroll;
}
.option-scroll::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.option-scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #547286;
  background: #cdcecf;
  opacity: 0.6;
}
.option-scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(212, 212, 212, 0.808);
  border-radius: 5px;
  background: #f6f6f6;
}
</style>
