<template>
  <div class="app-container scrollbar">
    <el-form
      ref="form"
      :rules="rules"
      :model="form"
      label-width="120px"
      label-position="left"
      :disabled="isdisabled"
      size="mini"
    >
      <div class="mb10 mt10">
        <span class="mr30 f16">本年度管理信息</span>
        <!-- <el-form-item prop="[].value"> -->
        <el-date-picker
          v-model="form[24].value"
          type="year"
          value-format="yyyy"
          placeholder="选择上报年份"
          size="mini"
          style="width:150px"
        />
        <!-- </el-form-item> -->
      </div>
      <div class="tableList">
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[0]">{{ fieldName[0] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[0].value">
              <el-select v-model="form[0].value" placeholder="是" size="mini" style="width:100%">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12" class="right" />
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[1]">{{ fieldName[1] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[1].value">
              <el-select v-model="form[1].value" placeholder="否" size="mini" style="width:100%">
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12" class="right" />
        </div>
        <div class="align">
          <el-col :span="24" class="right" />
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[2]">{{ fieldName[2] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[2].value">
              <el-select
                v-model="form[2].value"
                placeholder="已检查"
                size="mini"
                style="width:100%"
                @change="handleChange(form[2].value, 3)"
              >
                <el-option label="已检查" value="1" />
                <el-option label="未到期" value="2" />
                <el-option label="已到期但未检查" value="3" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[4]">{{ fieldName[4] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[4].value">
              <el-input v-model="form[4].value" size="mini" :disabled="isDisabled4" />
            </el-form-item>
          </el-col>
        </div>

        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[3]">{{ fieldName[3] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[3].value">
              <el-input v-model="form[3].value" size="mini" :disabled="isDisabled4" />
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[5]">{{ fieldName[5] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[5].value">
              <el-input
                v-model="form[5].value"
                size="mini"
                min="1"
                type="number"
                :disabled="isDisabled4"
              />
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="24" class="right" style="color:red;font-size:12px;">
            [提示：前面选项为“否”，后面选项则无需填写。]
          </el-col>
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[6]">{{ fieldName[6] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[6].value">
              <el-select
                v-model="form[6].value"
                placeholder="是"
                size="mini"
                style="width:100%"
                @change="handleChange(form[6].value, 7)"
              >
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[7]">{{ fieldName[7] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[7].value">
              <el-select
                v-model="form[7].value"
                placeholder="请选择"
                size="mini"
                style="width:100%"
                :disabled="isDisabled1"
              >
                <el-option label="已鉴定" value="1" />
                <el-option label="需要鉴定但未鉴定" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[9]">{{ fieldName[9] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[9].value">
              <el-input v-model="form[9].value" size="mini" :disabled="isDisabled1" />
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[8]">{{ fieldName[8] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[8].value">
              <el-input v-model="form[8].value" size="mini" :disabled="isDisabled1" />
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[10]">{{ fieldName[10] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[10].value">
              <el-input
                v-model="form[10].value"
                size="mini"
                min="1"
                type="number"
                :disabled="isDisabled1"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12" class="right" />
        </div>

        <div class="align">
          <el-col :span="24" class="right" />
        </div>

        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[11]">{{ fieldName[11] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[11].value">
              <el-select
                v-model="form[11].value"
                placeholder="是"
                size="mini"
                style="width:100%"
                @change="handleChange(form[11].value, 12)"
              >
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[12]">{{ fieldName[12] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[12].value">
              <el-input
                v-model="form[12].value"
                size="mini"
                min="1"
                type="number"
                :disabled="isDisabled2"
              />
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[13]">{{ fieldName[13] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[13].value">
              <el-input v-model="form[13].value" size="mini" :disabled="isDisabled2" />
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[14]">{{ fieldName[14] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[14].value">
              <el-input
                v-model="form[14].value"
                size="mini"
                min="1"
                type="number"
                :disabled="isDisabled2"
              />
            </el-form-item>
          </el-col>
        </div>

        <div class="align">
          <el-col :span="24" class="right" />
        </div>

        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[15]">{{ fieldName[15] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[15].value">
              <el-select
                v-model="form[15].value"
                placeholder="是"
                size="mini"
                style="width:100%"
                @change="handleChange(form[15].value, 16)"
              >
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[16]">{{ fieldName[16] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[16].value">
              <el-select
                :disabled="isDisabled3"
                v-model="form[16].value"
                placeholder="请选择"
                size="mini"
                style="width:100%" 
              >
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[17]">{{ fieldName[17] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[17].value">
              <el-input
                v-model="form[17].value"
                size="mini"
                min="1"
                type="number"
                :disabled="isDisabled3"
              />
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[19]">{{ fieldName[19] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[19].value">
              <el-select
                :disabled="isDisabled3"
                v-model="form[19].value"
                placeholder="请选择"
                size="mini"
                style="width:100%"
              >
                <el-option label="是" value="1" />
                <el-option label="否" value="2" />
              </el-select>
            </el-form-item>
          </el-col>
        </div>

        <div class="align">
          <el-col :span="24" class="right" />
        </div>

        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[20]">{{ fieldName[20] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[20].value">
              <el-input v-model="form[20].value" size="mini" />
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[21]">{{ fieldName[21] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[21].value">
              <el-input v-model="form[21].value" size="mini" />
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[22]">{{ fieldName[22] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[22].value">
              <el-input v-model="form[22].value" size="mini" />
            </el-form-item>
          </el-col>

          <el-col :span="6" class="left ellipsis" :title="fieldName[23]">{{ fieldName[23] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[23].value">
              <el-date-picker
                v-model="form[23].value"
                type="date"
                placeholder="请选择日期"
                size="mini"
                style="width:100%"
              />
            </el-form-item>
          </el-col>
        </div>

        <div class="align">
          <el-col :span="24" class="right" />
        </div>

        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[18]">{{ fieldName[18] }}</el-col>
          <el-col :span="4" class="right">
            <el-upload
              action="doUpload"
              multiple
              list-type="text"
              :auto-upload="false"
              accept=".jpg, .jpeg, .png, .gif, .bmp, .pdf, .JPG, .JPEG, .PBG, .GIF, .BMP, .PDF"
              :file-list="fileList"
              :on-change="onChange"
              :on-remove="onRemove"
            >
              <el-button slot="trigger" size="mini" type="primary">上传附件</el-button>
            </el-upload>
          </el-col>
          <el-col :span="14" class="right" />
        </div>
      </div>
    </el-form>
    <div v-if="annexList.length > 0" class="mt20 mb20 column">
      <div class="label-default f16 mr30 mb10">附件资料</div>
      <el-table :data="annexList" border fit highlight-current-row :stripe="true">
        <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
        <el-table-column
          label="上传人"
          align="left"
          width="120"
          prop="userName"
          show-overflow-tooltip
        />
        <el-table-column
          label="上传时间"
          align="left"
          width="180"
          prop="createTime"
          show-overflow-tooltip
        />
        <el-table-column align="center" label="操作" width="120">
          <template slot-scope="scope">
            <i
              class="el-icon-download ml10 cursor f20 label-default"
              @click="download(scope.row.idAccessory)"
              title="下载"
            />
            <i
              class="el-icon-view ml10 cursor f20 label-default"
              @click="preView(scope.row.filePath)"
              title="预览"
            />
          </template>
        </el-table-column>
      </el-table>
      <!-- <div class="column ml20">
        <div v-for="(item, index) in annexList" :key="index" class="wrap">
          {{ item.fileName + "." + item.ext }}
          <i class="el-icon-download ml10 cursor f20 label-default" @click="download(item.idAccessory)" title="下载" />
          <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(item.filePath)" title="预览" />
        </div>
      </div>-->
    </div>
    <div class="justify-end mt20">
      <el-button type="info" size="mini" @click="goback()">返回</el-button>
      <el-button
        v-show="showBtn"
        :loading="btnLoading1"
        type="warning"
        size="mini"
        @click="handleSave()"
      >保存</el-button>
      <el-button
        v-show="showBtn"
        :loading="btnLoading2"
        type="primary"
        size="mini"
        @click="handleSubmit()"
      >提交</el-button>
    </div>
  </div>
</template>

<script>
import * as API from "@/api/report"
import * as FILE from "@/api/files"
import { getToken } from "@/utils/auth"
export default {
  data() {
    return {
      btnLoading1: false,
      btnLoading2: false,
      isDisabled1: false,
      isDisabled2: false,
      isDisabled3: false,
      isDisabled4: false,
      accept: ".jpg, .jpeg, .png, .gif, .bmp, .pdf, .JPG, .JPEG, .PBG, .GIF, .BMP, .PDF",
      form: [
        {
          value: "1",
          idReprotField: "1"
        },
        {
          value: "1",
          idReprotField: "2"
        },
        {
          value: "1",
          idReprotField: "3"
        },
        {
          value: "",
          idReprotField: "4"
        },
        {
          value: "",
          idReprotField: "5"
        },
        {
          value: "",
          idReprotField: "6"
        },
        {
          value: "1",
          idReprotField: "7"
        },
        {
          value: "",
          idReprotField: "8"
        },
        {
          value: "",
          idReprotField: "9"
        },
        {
          value: "",
          idReprotField: "10"
        },
        {
          value: "",
          idReprotField: "11"
        },
        {
          value: "1",
          idReprotField: "12"
        },
        {
          value: "",
          idReprotField: "13"
        },
        {
          value: "",
          idReprotField: "14"
        },
        {
          value: "",
          idReprotField: "15"
        },
        {
          value: "",
          idReprotField: "16"
        },
        {
          value: "1",
          idReprotField: "17"
        },
        {
          value: "",
          idReprotField: "18"
        },
        {
          value: "1",
          idReprotField: "19"
        },
        {
          value: "",
          idReprotField: "20"
        },
        {
          value: "",
          idReprotField: "21"
        },
        {
          value: "",
          idReprotField: "22"
        },
        {
          value: "",
          idReprotField: "23"
        },
        {
          value: "",
          idReprotField: "24"
        },
        {
          value: "",
          idReprotField: "25"
        }
      ],
      rules: {
        "[0].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[1].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[2].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[6].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[11].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[15].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[18].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[20].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[21].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[22].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[23].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[24].value": [{ required: true, message: "必填", trigger: "blur" }]
      },
      isdisabled: false,
      showBtn: true,
      fieldName: [],
      reportData: [],
      fileName: [],
      fileList: [],
      annexList: [],
      idAccessoryGroup: null,
      idReport: null
    }
  },
  mounted() {
    if (this.$route.path === "/annualReportMangement/addAnnualReport") {
      if (this.$route.query.btn === "detail") {
        this.isdisabled = true
        this.showBtn = false
      } else {
        this.showBtn = true
      }

      this.idReport = this.$route.query.ID
      this.idAccessoryGroup = this.$route.query.idG
      this.getReportDetail(this.idReport)
      if (this.idAccessoryGroup !== null) {
        this.getFileList(this.idAccessoryGroup)
      }
    }
  },
  created() {
    this.getReportField()
  },
  methods: {
    // 下拉框改变事件
    handleChange(val, type) {
      if (val === "1") {
        if (type === 7) {
          this.isDisabled1 = false
        } else if (type === 12) {
          this.isDisabled2 = false
        } else if (type === 16) {
          this.isDisabled3 = false
        } else if (type === 3) {
          this.isDisabled4 = false
        }
      } else {
        if (type === 7) {
          this.isDisabled1 = true
          this.form[7].value = "";
          this.form[8].value = "";
          this.form[9].value = "";
          this.form[10].value = "";
        } else if (type === 12) {
          this.isDisabled2 = true
          this.form[12].value = "";
          this.form[13].value = "";
          this.form[14].value = "";
        } else if (type === 16) {
          this.isDisabled3 = true
          this.form[16].value = "";
          this.form[17].value = "";
          this.form[19].value = "";
        } else if (type === 3) {
          this.isDisabled4 = true
          this.form[3].value = "";
          this.form[4].value = "";
          this.form[5].value = "";
        }
      }
    },
    onChange(file, fileList) {
      this.fileList = fileList
    },
    onRemove(file, fileList) {
      this.fileList = fileList
    },
    // 获取报表详情
    getReportDetail(id) {
      const param = {
        idReport: id
      }
      API.getReportDetail(param).then(res => {
        if (res.data.status === 200) {
          this.form = res.data.datas.reportFieldValues
          this.form.forEach(element => {
            if (
              element.idReprotField === 3 ||
              element.idReprotField === 7 ||
              element.idReprotField === 12 || 
              element.idReprotField === 16
            ) {
              this.handleChange(element.value, element.idReprotField)
            }
          })
        }
      })
    },
    // 获取文件信息列表
    getFileList(id) {
      const param = {
        idAccessoryGroup: id
      }
      FILE.getAccessoryByGroup(param).then(res => {
        this.annexList = []
        if (res.data.status === 200) {
          const tmpData = res.data.datas
          tmpData.forEach(item => {
            this.annexList.push(item)
          })
        }
      })
    },
    // 文件下载
    download(id) {
      FILE.downloadFile(id)
    },
    // 文件预览
    preView(path) {
      window.open(
        process.env.VUE_APP_BASE_API + "/project-api" + path,
        "_blank"
      )
    },
    // 年度上报信息数据结构
    getReportField() {
      API.getReportField().then(res => {
        if (res.data.status === 200) {
          res.data.datas.forEach(item => {
            this.fieldName.push(item.name)
          })
        }
      })
    },
    // 保存
    handleSave() {
      this.btnLoading1 = true
      if (this.form[24].value !== "") {
        const fileFormData = new FormData()
        for (const i in this.fileList) {
          fileFormData.append("files", this.fileList[i].raw)
        }
        const idReportState = 1 // 保存为草稿
        const idReport = this.$route.query.ID
        fileFormData.append("idReportState", idReportState)
        if (idReport) {
          fileFormData.append("idReport", idReport)
        }
        fileFormData.append("reportFieldValueString", JSON.stringify(this.form))
        this.axios
          .post(
            process.env.VUE_APP_BASE_API +
              `/project-api/report/insertReport?AccessToken=${getToken()}`,
            fileFormData
          )
          .then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause)
              this.btnLoading1 = false
              this.goback()
            } else {
              this.$message.error(res.data.cause)
              this.btnLoading1 = false
            }
          })
      } else {
        this.$message.error("请选择上报年份！")
      }
    },
    // 提交
    handleSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.btnLoading2 = true
          if (this.form[24].value !== "") {
            const fileFormData = new FormData()
            for (const i in this.fileList) {
              fileFormData.append("files", this.fileList[i].raw)
            }
            const idReportState = 2
            const idReport = this.$route.query.ID
            fileFormData.append("idReportState", idReportState)
            if (idReport) {
              fileFormData.append("idReport", idReport)
            }
            fileFormData.append(
              "reportFieldValueString",
              JSON.stringify(this.form)
            )
            this.axios
              .post(
                process.env.VUE_APP_BASE_API +
                  `/project-api/report/insertReport?AccessToken=${getToken()}`,
                fileFormData
              ).then(res => {
                if (res.data.status === 200) {
                  this.$message.success(res.data.cause)
                  this.btnLoading2 = false
                  this.goback()
                } else {
                  this.$message.error(res.data.cause)
                  this.btnLoading2 = false
                }
              })
          } else {
            this.$message.error("请选择上报年份！")
          }
        }
      })
    },
    // 返回
    goback() {
      this.$router.go(-1)
    }
  }
}
</script>
<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid rgba(46, 79, 123, 0.5);
  border-bottom-width: 0;
  div {
    height: 36px;
    line-height: 36px;
  }
  .left {
    background: rgba(46, 79, 123, 0.1);
    border-right: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }
  .right {
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }
  .borderR {
    border-right: 1px solid rgba(46, 79, 123, 0.5);
  }
  /deep/ .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 0px;
  }
  /deep/ .el-form-item__content {
    margin-left: 0 !important;
  }
  /deep/ .el-form-item__error {
    top: 30%;
    left: 20px;
  }
}
</style>
