<template>
  <div class="app-container">
    <div class="mb10">
      <el-input v-model="reporter" placeholder="上报人" size="mini" style="width: 130px;" clearable />
      <span>
        <el-date-picker v-model="startYear" type="year" value-format="yyyy" placeholder="上报开始年份" size="mini" style="width:135px" />
        <span>至</span>
        <el-date-picker v-model="endYear" type="year" value-format="yyyy" placeholder="上报结束年份" size="mini" style="width:135px" />
      </span>
      <el-select v-model="idReportState" placeholder="上报状态" size="mini" style="width: 100px">
        <el-option v-for="item in reportStatusOptions" :key="item.idReportState" :label="item.name" :value="item.idReportState" />
      </el-select>
      <el-select v-model="nameAccessArraySelect" filterable placeholder="所属区域" size="mini" clearable :collapse-tags="true">
        <el-option style="height:200px;" label="nameAccessArraySelect" value="idAccessArraySelect" key="idAccessArraySelect">
          <el-tree
            ref="tree"
            :show-checkbox="true"
            :data="treeData"
            :props="defaultProps"
            node-key="idDistrict"
            :default-expand-all="true"
            :expand-on-click-node="false"
            @check-change="checkGroupNode"
          />
        </el-option>
      </el-select>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
      <el-button type="primary" v-if="checkPerimission('reportInfoNew')" size="mini" @click="handleAdd('add')">新增</el-button>
    </div>
    <el-table
      v-loading="listLoading"
      :data="tableData"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      :stripe="true"
      class="tableClass"
      :cell-class-name="cellStyle"
    >
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="上报年份" align="left" prop="year" width="100" />
      <el-table-column label="所属区域、街道" align="left" min-width="180" prop="addressName" show-overflow-tooltip />
      <el-table-column label="上报人" align="left" show-overflow-tooltip prop="people" />
      <el-table-column label="状态" width="110" align="left" prop="idReportState" :formatter="formatReportState" />
      <el-table-column label="创建日期" min-width="150" align="left" prop="createTime" />
      <el-table-column align="center" label="操作" width="120">
        <template slot-scope="scope">
          <template v-if="scope.row.idReportState === 2">
            <el-button size="mini" type="text" @click="handleDetail(scope.row, 'detail')">查看详情</el-button>
          </template>
          <template v-if="scope.row.idReportState === 1">
            <el-button v-if="checkPerimission('reportInfoEdit')" size="mini" type="text" @click="handleDetail(scope.row, 'edit')">编辑</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper" />
  </div>
</template>

<script>
import * as API from "@/api/report";
import * as treeAPI from "@/api/district";
import * as PRJ from "@/api/project";
import Pagination from "@/components/Pagination";
import { checkPerimission } from "@/utils/auth";

export default {
  components: { Pagination },
  data() {
    return {
      tableData: null,
      listLoading: true,
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      title: "",
      projectStatus: "",
      reportStatus: "",
      idReportState: null,
      reporter: null,
      startYear: null,
      endYear: null,
      idDistrict: null,
      statusOptions: [],
      reportStatusOptions: {},
      districtOptions: {},
      treeData: [],
      nodeArray: [],
      defaultProps: {
        children: "children",
        label: "name"
      },
      districts: null,
      nameAccessArraySelect: "",
      idAccessArraySelect: null
    };
  },

  created() {
    this.getTableData();
    this.getTreeData();
  },
  mounted() {
    // 获取上报状态
    API.getReportState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idReportState] = item;
        });
        this.reportStatusOptions = tmpData;
      }
    });
  },
  methods: {
    checkPerimission,
    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        idReportState: this.idReportState,
        people: this.reporter,
        startYear: this.startYear,
        endYear: this.endYear,
        idDistrict: this.districts,
        pageNum: this.pageNum,
        pageSize: this.pageSize
      };
      API.getReportList(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list;
          this.totalPage = res.data.datas.totalRecord;
          this.listLoading = false;
        }
      });
    },

    // 重置
    reset() {
      this.reporter = null;
      this.startYear = null;
      this.endYear = null;
      this.idReportState = null;
      this.districts = null;
      this.idAccessArraySelect = null;
      this.nameAccessArraySelect = "";
    },

    // 根据不同状态，展示不同颜色
    processColor(row) {
      if (row.idReportState === 1) {
        this.cellColorList = "red-row";
      } else if (row.idReportState === 2) {
        this.cellColorList = "green-row";
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 4) {
        this.processColor(row);
        return this.cellColorList;
      }
    },

    formatDistrict(row) {
      return this.districtOptions[row.idDistrict] ? this.districtOptions[row.idDistrict].name : null;
    },

    formatReportState(row) {
      return this.reportStatusOptions[row.idReportState] ? this.reportStatusOptions[row.idReportState].name : null;
    },

    // 分页
    handleCurrentChange(e) {
      this.pageNum = e;
      this.getTableData();
    },
    // 新增
    handleAdd(btn) {
      // PRJ.getProjectInfoByuser().then(res => {
      //   const tmpData = res.data.datas;
      //   if (tmpData !== null && tmpData.idProjectState === 3) {
      //     this.$router.push({
      //       path: "/annualReportMangement/addAnnualReport",
      //       query: { btn: btn }
      //     });
      //   } else {
      //     this.$message.warning("请先完成项目信息注册！");
      //   }
      // });
      this.$router.push({
        path: "/annualReportMangement/addAnnualReport",
        query: { btn: btn }
      });
    },
    handleDetail(row, title) {
      this.$router.push({
        path: "/annualReportMangement/addAnnualReport",
        query: { ID: row.idReport, btn: title, idG: row.idAccessoryGroup }
      });
    },
    checkGroupNode(a, b) {
      const nodeArray = this.$refs.tree.getCheckedNodes();
      const halfNodeArray = this.$refs.tree.getHalfCheckedNodes(); // 获取半选状态的
      const idAccessArray = [];
      const nameAccessArray = [];
      for (const k in nodeArray) {
        if (nodeArray[k].level === 3) {
          idAccessArray.push(nodeArray[k].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      for (const j in halfNodeArray) {
        if (halfNodeArray[j].level === 3) {
          idAccessArray.push(halfNodeArray[j].idDistrict);
          nameAccessArray.push(nodeArray[k].name);
        }
      }
      this.districts = idAccessArray.toString();
      this.idAccessArraySelect = idAccessArray.toString();
      this.nameAccessArraySelect = nameAccessArray.toString();
    },
    data2treeDG(datas, dataArray) {
      for (let j = 0; j < dataArray.length; j++) {
        const dataArrayIndex = dataArray[j];
        const childrenArray = [];
        const Id = dataArrayIndex.idDistrict;
        for (let i = 0; i < datas.length; i++) {
          const data = datas[i];
          const parentId = data.parentId;
          if (parentId === Id) {
            // 判断是否为儿子节点
            const objTemp = {
              idDistrict: data.idDistrict,
              name: data.name,
              parenId: data.parenId,
              level: data.level
            };
            childrenArray.push(objTemp);
          }
        }
        dataArrayIndex.children = childrenArray;
        if (childrenArray.length > 0) {
          // 有儿子节点则递归
          this.data2treeDG(datas, childrenArray);
        }
      }
      this.treeData = dataArray;
      return dataArray;
    },
    getTreeData() {
      const dataArray = [];
      treeAPI.getDistrictTree().then(res => {
        if (res.data.status === 200) {
          const treeDataT = res.data.datas;
          treeDataT.forEach(item => {
            const parentId = item.parentId;
            if (parentId === 0) {
              const objTemp = {
                idDistrict: item.idDistrict,
                name: item.name,
                parenId: item.parenId,
                level: item.level
              };
              dataArray.push(objTemp);
            }
          });
          this.data2treeDG(treeDataT, dataArray);
        }
      });
    }
  }
};
</script>
