<template>
  <div class="app-container scrollbar my-collapse">
    <el-collapse v-model="activeNames">
      <el-collapse-item title="项目基本信息" name="collapse_info">
        <el-form
          ref="form"
          :model="form"
          label-width="120px"
          label-position="left"
          size="mini"
          disabled
          class="mb30"
        >
          <div class="tableList scope required">
            <div class="title">
              必填信息
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[0]">{{ fieldName[0] }}</el-col>
              <el-col :span="8" class="right borderR">
                <el-form-item prop="_0" class="is_error">
                  <el-input v-model="form['_0'].value" size="mini" style="width:100%" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[54]">{{ fieldName[54] }}</el-col>
              <el-col :span="8" class="right">
                <el-form-item prop="_54">
                  <el-input v-model="trivialName" size="mini" />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[1]">{{ fieldName[1] }}</el-col>
              <el-col :span="20" class="right">
                <el-form-item prop="_1">
                  <el-select v-model="form['_1'].value" placeholder="用地性质" size="mini" style="width: 17%">
                    <el-option
                      v-for="item in natureLands"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>

              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[2]">{{ fieldName[2] }}</el-col>
              <el-col :span="12" class="right row align">
                <el-form-item prop="_3">
                  <el-select
                    v-model="form['_3'].value"
                    placeholder="区"
                    size="mini"
                    style="width: 100%"
                    @change="clearStreet()"
                  >
                    <el-option
                      v-for="item in districtOptions"
                      :key="'l1' + item.idDistrict"
                      :label="item.name"
                      :value="item.idDistrict"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item prop="_4">
                  <el-select
                    v-model="form['_4'].value"
                    placeholder="街道"
                    size="mini"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in streetSelects"
                      :key="'l2' + item.idDistrict"
                      :label="item.name"
                      :value="item.idDistrict"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item prop="_5">
                  <el-input v-model="form['_5'].value" size="mini" placeholder="门牌号" />
                </el-form-item>
              </el-col>
              <el-col :span="8" class="right">
                <a @click="viewBaiduMap">
                  <i class="el-icon-location map-button"></i> 查看
                </a>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[6]">{{ fieldName[6] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_6">
                  <el-input v-model="form['_6'].value" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[7]">{{ fieldName[7] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_7">
                  <el-input v-model="form['_7'].value" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[8]">{{ fieldName[8] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_8">
                  <el-input v-model="form['_8'].value" size="mini" />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[9]">{{ fieldName[9] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_9">
                  <el-input v-model.number="form['_9'].value" size="mini" type="number" min="1" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[10]">{{ fieldName[10] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_10">
                  <el-input v-model="form['_10'].value" size="mini" type="number" min="1" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[11]">{{ fieldName[11] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_11">
                  <el-input v-model="form['_11'].value" size="mini" type="number" min="1" />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[12]">{{ fieldName[12] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_12">
                  <el-date-picker
                    v-model="form['_12'].value"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="请选择日期"
                    size="mini"
                    style="width:100%"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[13]">{{ fieldName[13] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_13">
                  <el-date-picker
                    v-model="form['_13'].value"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="请选择日期"
                    size="mini"
                    style="width:100%"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[14]">{{ fieldName[14] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_14">
                  <el-input v-model="form['_14'].value" size="mini" type="number" min="1" />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[15]">{{ fieldName[15] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_15">
                  <el-input v-model="form['_15'].value" min="1" size="mini" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[55]">{{ fieldName[55] }}</el-col>
              <el-col :span="12" class="right">
                <el-form-item prop="_55">
                  <el-input
                    v-model="curtainHeight"
                    min="1"
                    size="mini"
                    type="number"
                    style="width:30%" 
                  />
                </el-form-item>
              </el-col>
            </div>
            <div v-for="i in houseNumberValue" :key="i" class="align">
              <el-col :span="4" class="left">第{{ `${i}` + fieldName[16] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item>
                  <el-input v-model="houseHigh[i - 1]" size="mini" type="number" min="1" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left">第{{ `${i}` + fieldName[17] }}</el-col>
              <el-col :span="12" class="right">
                <el-form-item>
                  <el-input
                    v-model="houseNumber[i - 1]"
                    size="mini"
                    type="number"
                    min="1"
                    style="width:30%"
                  />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[18]">{{ fieldName[18] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_18">
                  <el-select v-model="form['_18'].value" size="mini" style="width: 100%">
                    <el-option label="单一业主" value="1" />
                    <el-option label="2户<业主<50户" value="2" />
                    <el-option label="51户<业主<100户" value="3" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[51]">{{ fieldName[51] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_51">
                  <el-input v-model="form['_51'].value" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[52]">{{ fieldName[52] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_52">
                  <el-input v-model="ownershipPeople" size="mini" />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[19]">{{ fieldName[19] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_19">
                  <el-input v-model="form['_19'].value" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[20]">{{ fieldName[20] }}</el-col>
              <el-col :span="12" class="right">
                <el-form-item prop="_20">
                  <el-input v-model="form['_20'].value" size="mini" />
                </el-form-item>
              </el-col>
              <!-- <el-col :span="4" class="left ellipsis" :title="fieldName[21]">{{ fieldName[21] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item>
                  <el-input v-model="form['_21'].value" size="mini" />
                </el-form-item>
              </el-col> -->
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[22]">{{ fieldName[22] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_22">
                  <el-input v-model="form['_22'].value" size="mini" placeholder />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[53]">{{ fieldName[53] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_53">
                  <el-input v-model="serviceUnitPeople" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="8" class="right" />
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[23]">{{ fieldName[23] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_23">
                  <el-input v-model="form['_23'].value" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[24]">{{ fieldName[24] }}</el-col>
              <el-col :span="12" class="right">
                <el-form-item prop="_24">
                  <el-input v-model="form['_24'].value" size="mini" />
                </el-form-item>
              </el-col>
              <!-- <el-col :span="4" class="left ellipsis" :title="fieldName[25]">{{ fieldName[25] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item>
                  <el-input v-model="form['_25'].value" size="mini" />
                </el-form-item>
              </el-col> -->
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[34]">{{ fieldName[34] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_34">
                  <el-select
                    v-model="form['_34'].value"
                    placeholder="是"
                    size="mini"
                    style="width:100%"
                  >
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[35]">{{ fieldName[35] }}</el-col>
              <el-col :span="12" class="right">
                <el-form-item prop="_35">
                  <el-select
                    v-model="form['_35'].value"
                    placeholder="是"
                    size="mini"
                    style="width:100%"
                  >
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[43]">{{ fieldName[43] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_43">
                  <el-input v-model="form['_43'].value" size="mini" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[47]">{{ fieldName[47] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_47">
                  <el-select v-model="form['_47'].value" size="mini" style="width: 100%">
                    <el-option
                      v-for="item in tectonicTypeOptions"
                      :key="item.idProjectType"
                      :label="item.name"
                      :value="item.idProjectType"
                    />
                    <el-option label="无" :value="0" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" class="right" />
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[44]">{{ fieldName[44] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_44">
                  <el-input v-model="form['_44'].value" size="mini" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[48]">{{ fieldName[48] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_48">
                  <el-select v-model="form['_48'].value" size="mini" style="width: 100%">
                    <el-option
                      v-for="item in tectonicTypeOptions"
                      :key="item.idProjectType"
                      :label="item.name"
                      :value="item.idProjectType"
                    />
                    <el-option label="无" :value="0" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" class="right" />
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[45]">{{ fieldName[45] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_45">
                  <el-input v-model="form['_45'].value" size="mini" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[49]">{{ fieldName[49] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_49">
                  <el-select v-model="form['_49'].value" size="mini" style="width: 100%">
                    <el-option
                      v-for="item in tectonicTypeOptions"
                      :key="item.idProjectType"
                      :label="item.name"
                      :value="item.idProjectType"
                    />
                    <el-option label="无" :value="0" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" class="right" />
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[46]">{{ fieldName[46] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_46">
                  <el-input v-model="form['_46'].value" size="mini" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[50]">{{ fieldName[50] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item prop="_50">
                  <el-select v-model="form['_50'].value" size="mini" style="width: 100%">
                    <el-option
                      v-for="item in tectonicTypeOptions"
                      :key="item.idProjectType"
                      :label="item.name"
                      :value="item.idProjectType"
                    />
                    <el-option label="无" :value="0" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="8" class="right" />
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[36]">{{ fieldName[36] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_36">
                  <el-select
                    v-model="form['_36'].value"
                    placeholder="是"
                    size="mini"
                    style="width:100%"
                  >
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[37]">{{ fieldName[37] }}</el-col>
              <el-col :span="12" class="right">
                <el-form-item prop="_37">
                  <el-select
                    v-model="form['_37'].value"
                    placeholder="是"
                    size="mini"
                    style="width:27.5%"
                  >
                    <el-option label="是" value="1" />
                    <el-option label="否" value="2" />
                  </el-select>
                </el-form-item>
              </el-col>
            </div>
            <div class="align facade-images">
              <el-col :span="4" class="left ellipsis" :title="fieldName[42]">{{ fieldName[42] }}</el-col>
              <el-col :span="20" class="right">
                <el-tag
                  class="cursor"
                  v-for="(file, index) in fileList"
                  :key="file.fileId"
                  size="mini"
                  @click="onClickFile(fileList, 42, index)"
                >{{ file.fileName }}</el-tag>
              </el-col>
            </div>
            <div class="align facade-images">
              <el-col :span="4" class="left">{{ fieldName[56] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-tag
                  class="cursor"
                  v-for="(file, index) in filefileIdCA"
                  :key="file.fileId"
                  size="mini"
                  @click="onClickFile(filefileIdCA, 56, index)"
                >{{ file.fileName }}</el-tag>
              </el-col>

              <el-col :span="4" class="left">{{ fieldName[57] }}</el-col>
              <el-col :span="12" class="right">
                <el-tag
                  class="cursor"
                  v-for="(file, index) in filefileIdSE"
                  :key="file.fileId"
                  size="mini"
                  @click="onClickFile(filefileIdSE, 57, index)"
                >{{ file.fileName }}</el-tag>
              </el-col>
            </div>
          </div>
          <div class="tableList scope required">
            <div class="title">
              详细信息
              <span class="color-red">（注意:如果您填写详细信息的任一项,需要您完全填写详细信息全部项目）</span>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[26]">{{ fieldName[26] }}</el-col>
              <el-col :span="20" class="right">
                <el-form-item prop="_26">
                  <el-input v-model="form['_26'].value" size="mini" placeholder />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[27]">{{ fieldName[27] }}</el-col>
              <el-col :span="20" class="right">
                <el-form-item prop="_27">
                  <el-input v-model="form['_27'].value" size="mini" placeholder />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[28]">{{ fieldName[28] }}</el-col>
              <el-col :span="20" class="right">
                <el-form-item prop="_28">
                  <el-input v-model="form['_28'].value" size="mini" placeholder />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[29]">{{ fieldName[29] }}</el-col>
              <el-col :span="20" class="right">
                <el-form-item prop="_29">
                  <el-input v-model="form['_29'].value" size="mini" placeholder />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[30]">{{ fieldName[30] }}</el-col>
              <el-col :span="20" class="right">
                <el-form-item prop="_30">
                  <el-input v-model="form['_30'].value" size="mini" placeholder />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[31]">{{ fieldName[31] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_31">
                  <el-input v-model="form['_31'].value" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[32]">{{ fieldName[32] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_32">
                  <el-input v-model="form['_32'].value" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[33]">{{ fieldName[33] }}</el-col>
              <el-col :span="4" class="right">
                <el-form-item>
                  <el-input v-model="form['_33'].value" size="mini" />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[38]">{{ fieldName[38] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item prop="_38">
                  <el-input v-model="form['_38'].value" size="mini" type="number" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[39]">{{ fieldName[39] }}</el-col>
              <el-col :span="12" class="right">
                <el-form-item prop="_39">
                  <el-input v-model="form['_39'].value" size="mini" type="number" />
                </el-form-item>
              </el-col>
            </div>
            <div class="align">
              <el-col :span="4" class="left ellipsis" :title="fieldName[40]">{{ fieldName[40] }}</el-col>
              <el-col :span="4" class="right borderR">
                <el-form-item>
                  <el-input v-model="form['_40'].value" size="mini" />
                </el-form-item>
              </el-col>
              <el-col :span="4" class="left ellipsis" :title="fieldName[41]">{{ fieldName[41] }}</el-col>
              <el-col :span="12" class="right">
                <el-form-item>
                  <el-input v-model="form['_41'].value" size="mini" />
                </el-form-item>
              </el-col>
            </div>
            
          </div>
        </el-form>
        <div class="f16 mb10 mt10">变更记录</div>
        <el-table :data="changeDetailTable" border fit highlight-current-row :stripe="true">
          <el-table-column align="center" label="序号" width="60">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column
            label="变更字段"
            min-width="180"
            align="left"
            prop="projectFieldName"
            show-overflow-tooltip
          />
          <el-table-column
            label="变更前"
            min-width="130"
            align="left"
            prop="oldValue"
            show-overflow-tooltip
          >
            <template slot-scope="scope">
              <el-input
                v-if="scope.row.idProjectField !== 45 && scope.row.idProjectField !== 59 && scope.row.idProjectField !== 60"
                v-model="scope.row.oldValue"
                :disabled="true"
              />
              <el-tag
                v-if="scope.row.idProjectField === 45"
                class="cursor"
                v-for="(item, index) in fileList"
                :key="item.fileId"
                size="mini"
                @click="onClickFile(fileList, 42, index)"
              >{{ item.fileName }}</el-tag>

              <el-tag
                v-if="scope.row.idProjectField === 59"
                class="cursor"
                v-for="(item, index) in filefileIdCA"
                :key="item.fileId"
                size="mini"
                @click="onClickFile(filefileIdCA, 56, index)"
              >{{ item.fileName }}</el-tag>

              <el-tag
                v-if="scope.row.idProjectField === 60"
                class="cursor"
                v-for="(item, index) in filefileIdSE"
                :key="item.fileId"
                size="mini"
                @click="onClickFile(filefileIdSE, 57, index)"
              >{{ item.fileName }}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="变更后" align="center" prop="newValue" show-overflow-tooltip>
            <template slot-scope="scope">
              <el-input
                v-if="scope.row.idProjectField !== 45 && scope.row.idProjectField !== 59 && scope.row.idProjectField !== 60"
                v-model="scope.row.newValue"
                :disabled="true"
              />
              <el-tag
                v-if="scope.row.idProjectField === 45"
                class="cursor"
                v-for="(item, index) in newfileList"
                :key="item.fileId"
                size="mini"
                @click="onClickFile(newfileList, 42, index)"
              >{{ item.fileName }}</el-tag>

              <el-tag
                v-if="scope.row.idProjectField === 59"
                class="cursor"
                v-for="(item, index) in newfileListCA"
                :key="item.fileId"
                size="mini"
                @click="onClickFile(newfileListCA, 56, index)"
              >{{ item.fileName }}</el-tag>

              <el-tag
                v-if="scope.row.idProjectField === 60"
                class="cursor"
                v-for="(item, index) in newfileListSE"
                :key="item.fileId"
                size="mini"
                @click="onClickFile(newfileListSE, 57, index)"
              >{{ item.fileName }}</el-tag>
            </template>
          </el-table-column>
        </el-table>
      </el-collapse-item>
      <el-collapse-item title="处理意见" name="collapse_check">
        <el-form
          ref="approvalForm"
          :rules="rules"
          :model="approvalForm"
          label-width="80px"
          size="mini"
        >
          <el-form-item label="处理结果">
            <el-radio-group v-model="approvalForm.idCheckResult">
              <el-radio :label="1">通过</el-radio>
              <el-radio :label="2">不通过</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="处理意见" prop="checkCommon">
            <el-input
              v-model="approvalForm.checkCommon"
              type="textarea"
              :autosize="{ minRows: 2, maxRows: 4 }"/>
          </el-form-item>
        </el-form>
      </el-collapse-item>
      <el-collapse-item title="流程审批信息" name="collapse_approvals">
        <div class="mr10 justify-end mb10">流程名称：{{ processName }}</div>
        <el-table
          :data="processTable"
          border
          fit
          highlight-current-row
          :stripe="true"
          class="tableClass"
        >
          <el-table-column label="流程步骤" align="left" prop="caseName" show-overflow-tooltip />
          <el-table-column label="环节操作人" align="left" prop="caseUserName" />
          <el-table-column
            label="操作结果"
            min-width="200"
            align="left"
            prop="checkCommon"
            show-overflow-tooltip
          />
          <el-table-column label="操作时间" align="left" prop="createTime" show-overflow-tooltip />
          <el-table-column label="下一环节" align="left" prop="nextCaseUserName" show-overflow-tooltip />
          <el-table-column label="下一环节操作人" align="left" prop="nextCaseName" show-overflow-tooltip />
        </el-table>
      </el-collapse-item>
    </el-collapse>
    <el-col class="mt20 justify-end">
      <el-button size="mini" type="info" @click="goback()">返回</el-button>
      <el-button size="mini" type="primary" @click="onSubmit()">提 交</el-button>
    </el-col>
    <PreviewImage ref="previewImage" />
    <BaiduMapDialog
      :visible.sync="mapVisible"
      :search-key="projectAddress"
      :edit-enalbe="false"
      :zoom-level="13"
      api-key="FV426NknViD9EiT7wcSKNKbbobuqBXze"
      map-center="广州"
      @ok="selectedOk"
    />
  </div>
</template>

<script>
import * as API from "@/api/project"
import * as treeAPI from "@/api/district"
import * as APP from "@/api/approval"
import * as natureAPI from "@/api/natureland"
import PreviewImage from "../../components/PreviewImage"
import BaiduMapDialog from "@/components/BaiduMapDialog"
import * as FILE from '@/api/files'

const getValueById = (id, source) => {
  for (let i = 0; i < source.length; i += 1) {
    if (source[i].idDistrict === id) {
      return source[i].name
    }
  }
  return null
}
export default {
  components: { PreviewImage, BaiduMapDialog },
  data() {
    return {
      activeNames: [
        "collapse_info",
        "collapse_content",
        "collapse_check",
        "collapse_approvals"
      ],
      listLoading: true,
      processTable: [],
      changeDetailTable: [],
      processName: null,
      approvalForm: {
        idCheckResult: 2,
        checkCommon: null
      },
      mapVisible: false,
      projectAddress: "火车站",
      form: {
        _0: { value: null, idProjectField: 1 },
        _1: { value: null, idProjectField: 2 },
        _2: { value: null, idProjectField: 3 },
        _3: { value: 2, idProjectField: 4 },
        _4: { value: 15, idProjectField: 5 },
        _5: { value: null, idProjectField: 6 },
        _6: { value: null, idProjectField: 7 },
        _7: { value: null, idProjectField: 8 },
        _8: { value: null, idProjectField: 9 },
        _9: { value: null, idProjectField: 10 },
        _10: { value: null, idProjectField: 11 },
        _11: { value: null, idProjectField: 12 },
        _12: { value: null, idProjectField: 13 },
        _13: { value: null, idProjectField: 14 },
        _14: { value: null, idProjectField: 15 },
        _15: { value: 1, idProjectField: 16 },
        _16: { value: null, idProjectField: 17 },
        _17: { value: null, idProjectField: 18 },
        _18: { value: "1", idProjectField: 19 },
        _19: { value: null, idProjectField: 20 },
        _20: { value: null, idProjectField: 21 },
        _21: { value: null, idProjectField: 22 },
        _22: { value: null, idProjectField: 23 },
        _23: { value: null, idProjectField: 24 },
        _24: { value: null, idProjectField: 25 },
        _25: { value: null, idProjectField: 26 },
        _26: { value: null, idProjectField: 27 },
        _27: { value: null, idProjectField: 28 },
        _28: { value: null, idProjectField: 29 },
        _29: { value: null, idProjectField: 30 },
        _30: { value: null, idProjectField: 31 },
        _31: { value: null, idProjectField: 32 },
        _32: { value: null, idProjectField: 33 },
        _33: { value: null, idProjectField: 34 },
        _34: { value: "1", idProjectField: 37 },
        _35: { value: "1", idProjectField: 38 },
        _36: { value: "1", idProjectField: 39 },
        _37: { value: "1", idProjectField: 40 },
        _38: { value: null, idProjectField: 41 },
        _39: { value: null, idProjectField: 42 },
        _40: { value: null, idProjectField: 43 },
        _41: { value: null, idProjectField: 44 },
        _42: { value: null, idProjectField: 45 },
        _43: { value: null, idProjectField: 46 },
        _44: { value: null, idProjectField: 47 },
        _45: { value: null, idProjectField: 48 },
        _46: { value: null, idProjectField: 49 },
        _47: { value: null, idProjectField: 50 },
        _48: { value: null, idProjectField: 51 },
        _49: { value: null, idProjectField: 52 },
        _50: { value: null, idProjectField: 53 },
        _51: { value: null, idProjectField: 54 },
        _52: { value: null, idProjectField: 55 },
        _53: { value: null, idProjectField: 56 },
        _54: { value: null, idProjectField: 57 },
        _55: { value: null, idProjectField: 58 },
        _56: { value: null, idProjectField: 59 },
        _57: { value: null, idProjectField: 60 }
      },
      isShowRegist: false,
      registerState: null,
      showBtn: true,
      fieldName: [],
      fileList: [],
      filefileIdCA: [],
      filefileIdSE: [],
      newfileList: [],
      newfileListCA: [],
      newfileListSE: [],
      projectData: [],
      buildingNumber: 1,
      tectonicTypeOptions: {},
      districtOptions: [],
      streetOptions: [],
      idApproval: null,
      projectStates: {},
      rules: {
        checkCommon: [
          { required: true, message: "请输入处理意见", trigger: "blur" }
        ]
      },
      houseNumber: [],
      houseHigh: [],
      houseNumberValue: 0,
      projectNum: '',
      natureLands: {},

      curtainHeight: '',
      trivialName: '',
      ownershipPeople: '',
      serviceUnitPeople: ''
    }
  },
  computed: {
    // 级联
    streetSelects() {
      return Object.values(this.streetOptions).filter(
        item => item.parentId === this.form["_3"].value
      )
    }
  },
  mounted() {
    this.selectNatureType()
    this.getProjectInfoByuser()
    this.getProjectTypeState()
    this.getDistrictTree()
  },
  created() {
    this.getProjectField()
  },
  methods: {
    // 获取用地性质分类列表
    selectNatureType() {
      natureAPI.selectNatureType().then(res => {
        if (res.data.status === 200) {
          const tmpData = {}
          res.data.datas.forEach(item => {
            tmpData[item.id] = item
          })
          this.natureLands = tmpData
        }
      })
    },
    // 查看地图
    viewBaiduMap() {
      this.mapVisible = !this.mapVisible
      if (this.mapVisible) {
        const districeName = getValueById(
          this.form._3.value,
          this.districtOptions
        )
        const streetName = getValueById(this.form._4.value, this.streetOptions)
        const doorNo = this.form._5.value || ""
        this.projectAddress = districeName + streetName + doorNo || "火车站"
      }
    },
    selectedOk(result) {
      this.form._5.value = result
    },
    onClickFile(file, num, index) {
      if (num !== 42) {
        const params = {
          id: file[index].fileId,
          fileName: file[index].fileName
        }
        FILE.readPDF(params)
      } else {
        this.$refs.previewImage.show(file, index)
      }
    },
    // 流程审批信息列表
    getProcessTable(idApproval) {
      const param = {
        idApproval: idApproval
      }
      APP.getApprovalInfo(param).then(res => {
        if (res.data.status === 200) {
          this.processTable = res.data.datas.list
          this.processName = res.data.datas.name
        }
      })
    },
    // 获取变更记录
    getChangeRecord(idApproval) {
      const param = {
        idApproval: idApproval
      }
      API.getUpdateByApproval(param).then(res => {
        if (res.data.status === 200) {
          this.changeDetailTable = res.data.datas
          this.changeDetailTable.forEach(item => {
            if (item.idProjectField === 45) {
              this.newfileList = JSON.parse(item.newValue)
            }
            if (item.idProjectField === 59) {
              this.newfileListCA = JSON.parse(item.newValue)
            }
            if (item.idProjectField === 60) {
              this.newfileListSE = JSON.parse(item.newValue)
            }
          })
        }
      })
    },

    clearStreet() {
      this.form[4].value = null
    },
    // 获取区及街道信息
    getDistrictTree() {
      treeAPI.getDistrictTree({ isNeedFilter: false }).then(res => {
        if (res.data.status === 200) {
          const tmpTreeData = res.data.datas
          for (let i = 0; i < tmpTreeData.length; i += 1) {
            if (tmpTreeData[i].level === 2) {
              this.districtOptions.push(tmpTreeData[i])
            } else if (tmpTreeData[i].level === 3) {
              this.streetOptions.push(tmpTreeData[i])
            }
          }
        }
      })
    },
    // 获取玻璃幕墙构造类型
    getProjectTypeState() {
      API.getProjectTypeState().then(res => {
        if (res.data.status === 200) {
          const tmpData = {}
          res.data.datas.forEach(item => {
            tmpData[item.idProjectType] = item
          })
          this.tectonicTypeOptions = tmpData
        }
      })
    },

    // 查询个人项目信息
    getProjectInfoByuser() {
      if (this.$route.path === "/register/approvalDetail") {
        const param = {
          prjId: this.$route.query.idProject
        }
        API.getProjectList(param).then(res => {
          const tmpData = res.data.datas
          if (tmpData !== null) {
            const form = {}
            tmpData.projectFieldValuesList.forEach((_, idx) => {
              form["_" + idx] = _
            })
            this.form = form
            this.currentUserId = tmpData.currentUserId
            this.projectUserId = tmpData.idUser
            this.projectNum = tmpData.userName
            this.form["_1"].value = parseInt(this.form["_1"].value)
            this.form["_3"].value = parseInt(this.form["_3"].value)
            this.form["_4"].value = parseInt(this.form["_4"].value)
            this.form["_47"].value = parseInt(this.form["_47"].value)
            this.form["_48"].value = parseInt(this.form["_48"].value)
            this.form["_49"].value = parseInt(this.form["_49"].value)
            this.form["_50"].value = parseInt(this.form["_50"].value)
            this.trivialName = this.form['_54'] != undefined ? this.form['_54'].value : ''
            this.curtainHeight = this.form['_55'] != undefined ? this.form['_55'].value : ''
            this.ownershipPeople = this.form['_52'] != undefined ? this.form['_52'].value : ''
            this.serviceUnitPeople = this.form['_53'] != undefined ? this.form['_53'].value : ''
            try {
              if (!Object.isEmpty(this.form["_42"])) {
                this.fileList = JSON.parse(this.form["_42"].value)
              }
              if (!Object.isEmpty(this.form["_56"])) {
                this.filefileIdCA = JSON.parse(this.form["_56"].value)
              }
              if (!Object.isEmpty(this.form["_57"])) {
                this.filefileIdSE = JSON.parse(this.form["_57"].value)
              }
            } catch (e) {}
            this.houseNumberValue = parseInt(this.form["_15"].value)
            this.houseHigh = this.form["_16"].value.split(",")
            this.houseNumber = this.form["_17"].value.split(",")
          }
        })
        this.getProcessTable(this.$route.query.idApproval)
        this.getChangeRecord(this.$route.query.idApproval)
      }
    },

    // 幕墙数据库结构信息
    getProjectField() {
      API.getProjectField().then(res => {
        if (res.data.status === 200) {
          const tmpData = {}
          res.data.datas.forEach(item => {
            this.fieldName.push(item.name)
          })
        }
      })
    },

    // 提交
    onSubmit() {
      this.$refs["approvalForm"].validate(valid => {
        if (valid) {
          const processList = this.processTable[this.processTable.length - 1]
          const params = {
            idApprovalProcessNode: processList.idApprovalProcessNode,
            idApproval: processList.idApproval,
            idApprovalCaseNodeUser: processList.idApprovalCaseNodeUser,
            idCheckResult: this.approvalForm.idCheckResult,
            checkCommon: this.approvalForm.checkCommon
          }
          APP.approvalVerify(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause)
              this.goback()
            } else {
              this.$message.error(res.data.cause)
            }
          })
        }
      })
    },

    // 返回
    goback() {
      this.$router.go(-1)
    }
  }
}
</script>
<style lang="scss" scoped>
.el-collapse-item {
  .tableList {
    color: #2e4f7b;
    border: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom-width: 0;

    .title {
      font-size: 16px;
      width: 100%;
      font-weight: 600;
      text-align: center;
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    }

    .align {
      &.facade-images {
        .upload-facade-images {
          display: inline-block;
        }

        /deep/ .el-tag {
          margin-right: 10px;
        }
      }
    }

    div {
      height: 36px;
      line-height: 36px;
    }

    .left {
      background: rgba(46, 79, 123, 0.1);
      border-right: 1px solid rgba(46, 79, 123, 0.5);
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
      padding: 0 20px;
    }

    .right {
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
      padding: 0 20px;
    }

    .borderR {
      border-right: 1px solid rgba(46, 79, 123, 0.5);
    }

    /deep/ .el-form-item--mini.el-form-item,
    .el-form-item--small.el-form-item {
      margin-bottom: 0px;
    }

    /deep/ .el-form-item__content {
      margin-left: 0 !important;
    }

    /deep/ .el-form-item__error {
      top: 30%;
      left: 20px;
    }
  }
}
</style>
