<template>
  <div class="app-container">
    <div class="mb10">
      <el-input v-model="searchForm.projectName" placeholder="项目名称" size="mini" style="width: 130px;" clearable />
      <el-input v-model="searchForm.projectAddress" placeholder="项目地址" size="mini" style="width: 130px;" clearable />
      <el-input v-model="searchForm.applicant" placeholder="申请人" size="mini" style="width: 90px;" clearable />
      <!-- <el-select v-model="searchForm.projectType" placeholder="幕墙类型" size="mini" style="width: 120px" filterable clearable>
        <el-option v-for="item in projectTypeOptions" :key="item.idProjectType" :label="item.name" :value="item.idProjectType" />
      </el-select> -->
      <el-select v-model="searchForm.approvalType" placeholder="审批类型" size="mini" style="width: 110px" filterable @change="getTableData()">
        <el-option label="注册审批" :value="1" />
        <el-option label="变更审批" :value="2" />
      </el-select>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
    </div>
    <el-table :data="tableData" border highlight-current-row :stripe="true" class="tableClass">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="项目名称" align="left" prop="projectName" show-overflow-tooltip />
      <el-table-column label="项目地址" align="left" prop="addressName" show-overflow-tooltip />
      <el-table-column label="申请人" align="left" prop="userName" width="110" show-overflow-tooltip />
      <!-- <el-table-column label="幕墙类型" align="left" show-overflow-tooltip :formatter="formatProjectType" prop="projectType" /> -->
      <el-table-column label="审批类型" align="left" prop="approvalType" width="110">
        <template slot-scope="scope">
          <span v-if="scope.row.approvalType===1">注册审批</span>
          <span v-if="scope.row.approvalType===2">变更审批</span>
        </template>
      </el-table-column>
      <el-table-column label="创建时间" align="left" prop="createTime" show-overflow-tooltip />
      <el-table-column label="状态" width="110" align="center" prop="idProjectState">
        <template slot-scope="scope">
          <span class="color-red">待审核</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="操作" width="180">
        <template slot-scope="scope">
          <el-button size="mini" type="text" @click="handleDetail(scope.row)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/>
  </div>
</template>

<script>
import * as API from '@/api/project';
import Pagination from '@/components/Pagination';

export default {
  components: { Pagination },

  data() {
    return {
      tableData: [],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true,
      projectTypeOptions: {},
      searchForm: {
        projectName: null,
        projectAddress: null,
        applicant: null,
        projectType: null,
        approvalType: 1
      }
    };
  },
  created() {
    this.getTableData();
  },
  mounted() {
    this.getProjectTypeState();
  },
  methods: {
    // 获取幕墙类型
    getProjectTypeState() {
      API.getProjectTypeState().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idProjectType] = item;
          });
          this.projectTypeOptions = tmpData;
        }
      });
    },
    formatProjectType(row) {
      return this.projectTypeOptions[row.projectType] ? this.projectTypeOptions[row.projectType].name : null;
    },
    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        projectName: this.searchForm.projectName,
        addressName: this.searchForm.projectAddress,
        userName: this.searchForm.applicant,
        projectType: this.searchForm.projectType,
        approvalType: this.searchForm.approvalType
      };
      API.getProjectApproval(params).then(res => {
        this.tableData = res.data.datas.list;
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },

    // 重置
    reset() {
      this.searchForm = {};
      this.getTableData();
    },

    // 查看详情
    handleDetail(row) {
      this.$router.push({
        path: '/register/approvalDetail',
        query: { idApproval: row.idApproval, idProject: row.idProject }
      });
    }
  }
};
</script>
