<template>
  <div class="app-container scrollbar my-collapse">
    <el-collapse v-model="activeNames">
      <el-collapse-item title="备案基本信息" name="collapse_info">
        <el-form
          ref="form"
          label-width="120px"
          label-position="left"
          size="mini"
          disabled
          class="mb30"
        >
          <div class="tableList scope required">
            <div class="title">备案信息</div>
            <div class="align">
              <el-col :span="6" class="left ellipsis" :title="fieldName">{{ fieldName }}</el-col>
              <el-col :span="18" class="right">
                <el-tag
                  class="cursor"
                  v-for="(file, index) in fileList"
                  :key="file.fileId"
                  size="mini"
                  :closable="false"
                  @click="onClickFile(file)"
                  @close="onRemoveFile(index)">
                  {{ file.fileName }}
                </el-tag>
              </el-col>
            </div>
          </div>
        </el-form>
        <div class="f16 mb10 mt10">变更记录</div>
        <el-table :data="changeDetailTable" border fit highlight-current-row :stripe="true">
          <el-table-column align="center" label="序号" width="60">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column
            label="变更字段"
            min-width="180"
            align="left"
            prop="emergencyField"
            show-overflow-tooltip
          />
          <el-table-column label="变更前" min-width="130" align="left" prop="oldValue" show-overflow-tooltip>
            <template slot-scope="scope">
              <el-tag
                style="cursor:pointer;"
                v-for="file in fileList"
                :key="file.fileId"
                size="mini"
                @click="onClickFile(file)"
              >{{ file.fileName }}</el-tag>
            </template>
          </el-table-column>
          <el-table-column label="变更后" align="left" prop="newValue" show-overflow-tooltip>
            <template slot-scope="scope">
              <el-tag
                style="cursor:pointer;"
                v-for="file in newfileList"
                :key="file.fileId"
                size="mini"
                @click="onClickFile(file)"
              >{{ file.fileName }}</el-tag>
            </template>
          </el-table-column>
        </el-table>
      </el-collapse-item>
      <el-collapse-item title="处理意见" name="collapse_check">
        <el-form
          ref="approvalForm"
          :rules="rules"
          :model="approvalForm"
          label-width="80px"
          size="mini"
        >
          <el-form-item label="处理结果">
            <el-radio-group v-model="approvalForm.idCheckResult">
              <el-radio :label="1">通过</el-radio>
              <el-radio :label="2">不通过</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="处理意见" prop="checkCommon">
            <el-input
              v-model="approvalForm.checkCommon"
              type="textarea"
              :autosize="{ minRows: 2, maxRows: 4 }"
            />
          </el-form-item>
        </el-form>
      </el-collapse-item>
    </el-collapse>
    <el-col class="mt20 justify-end">
      <el-button size="mini" type="info" @click="goback()">返回</el-button>
      <el-button size="mini" type="primary" @click="onSubmit()">提 交</el-button>
    </el-col>
    <PreviewImage ref="previewImage" />
  </div>
</template>

<script>
import * as API from "@/api/emergency"
import * as FILE from "@/api/files"
import PreviewImage from "../../components/PreviewImage"

export default {
  components: { PreviewImage },
  data() {
    return {
      activeNames: [
        "collapse_info",
        "collapse_content",
        "collapse_check",
        "collapse_approvals"
      ],
      processTable: [],
      changeDetailTable: [],
      approvalForm: {
        idCheckResult: 2,
        checkCommon: null
      },
      isShowRegist: false,
      registerState: null,
      showBtn: true,
      fieldName: '维护说明书',
      fileList: [],
      newfileList: [],
      rules: {
        checkCommon: [
          { required: true, message: "请输入处理意见", trigger: "blur" }
        ]
      },

      emergencyId: null,
      guid: null
    }
  },
  mounted() {
    if (this.$route.query.approvalType == 1) { // 备案审批
      this.getRecordDetail()
    } else { // 变更审批
      this.getPendingApproval()
    }
    
  },
  methods: {
    onClickFile(file) {
      const params = {
        id: file.fileId,
        fileName: file.fileName
      }
      FILE.readPDF(params)
      // this.$refs.previewImage.show(file.fileId)
    },
    getRecordDetail() {
      API.getRecordDetail({
        record: this.$route.query.record
      }).then(res => {
        if (res.data.status == 200) {
          const tmpData = res.data.datas
          this.fileList = JSON.parse(tmpData.filePath)
          this.emergencyId = tmpData.emergencyId
        }
      })
    },
    getEmergencyDetail(guid) {
      API.getEmergencyDetail({
        idEmergency: guid
      }).then(res => {
        if (res.data.status == 200) {
          const tmpData = res.data.datas
          this.fileList = JSON.parse(tmpData.filePath)
          this.newfileList = JSON.parse(tmpData.emergencyUpdateGroup.newValue)
          this.guid = tmpData.guid
          if (tmpData.emergencyUpdateGroup != null) {
            let obj = {
              emergencyField: this.fieldName,
              fileList: this.fileList,
              newfileList: this.newfileList
            }
            this.changeDetailTable.push(obj)
          }
        }
      })
    },
    // 查看备案文件列表
    getPendingApproval() {
      API.selectPendingApproval({
        idEmergency: this.$route.query.record
      }).then(res => {
        this.emergencyId = res.data.datas.idEmergency
        this.getEmergencyDetail(res.data.datas.guid)
      })
    },
    // 提交
    onSubmit() {
      this.$refs["approvalForm"].validate(valid => {
        if (valid) {
          const params = {
            emergencyId: this.emergencyId,
            guid: this.guid,
            idEmergencyState: this.approvalForm.idCheckResult,
            checkCommon: this.approvalForm.checkCommon,
            approvalType: this.$route.query.approvalType,
            filePath: JSON.stringify(this.newfileList)
          }
          API.filingApproval(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause)
              this.goback()
            } else {
              this.$message.error(res.data.cause)
            }
          })
        }
      })
    },
    // 返回
    goback() {
      this.$router.go(-1)
    }
  }
}
</script>
<style lang="scss" scoped>
.el-collapse-item {
  .tableList {
    color: #2e4f7b;
    border: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom-width: 0;

    .title {
      font-size: 16px;
      width: 100%;
      font-weight: 600;
      text-align: center;
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    }

    .align {
      &.facade-images {
        .upload-facade-images {
          display: inline-block;
        }

        /deep/ .el-tag {
          margin-right: 10px;
        }
      }
    }

    div {
      height: 36px;
      line-height: 36px;
    }

    .left {
      background: rgba(46, 79, 123, 0.1);
      border-right: 1px solid rgba(46, 79, 123, 0.5);
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
      padding: 0 20px;
    }

    .right {
      border-bottom: 1px solid rgba(46, 79, 123, 0.5);
      padding: 0 20px;
    }

    .borderR {
      border-right: 1px solid rgba(46, 79, 123, 0.5);
    }

    /deep/ .el-form-item--mini.el-form-item,
    .el-form-item--small.el-form-item {
      margin-bottom: 0px;
    }

    /deep/ .el-form-item__content {
      margin-left: 0 !important;
    }

    /deep/ .el-form-item__error {
      top: 30%;
      left: 20px;
    }
  }
}
</style>
