<template>
  <div class="app-container">
    <el-button v-show="isShowContent" size="mini" type="primary" class="mb20" icon="el-icon-circle-plus-outline" @click="gotoNewPage">新的变更</el-button>
    <el-table v-if="tableData.length>0" :cell-class-name="cellStyle" :data="tableData" border fit highlight-current-row :stripe="true" class="tableClass1">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="变更单号" align="left" prop="guid" show-overflow-tooltip />
      <el-table-column label="变更申请人" width="120" align="left" prop="userName" show-overflow-tooltip />
      <el-table-column label="变更内容" min-width="180" align="left" prop="projectFieldNames" show-overflow-tooltip>
        <template slot-scope="scope">
          <span>{{ scope.row.projectFieldNames.toString() }}</span>
        </template>
      </el-table-column>
      <el-table-column label="状态" :formatter="formatState" width="110" align="center" prop="idProjectState" />
      <el-table-column label="创建时间" width="170" align="left" prop="createTime" />
      <el-table-column align="center" label="操作" width="90">
        <template slot-scope="scope">
          <template v-if="scope.row.idProjectState===1 || scope.row.idProjectState===4">
            <el-button size="mini" type="text" @click="handleDetail('edit',scope.row)">编辑</el-button>
          </template>
          <template v-else>
            <el-button size="mini" type="text" @click="handleDetail('detail',scope.row)">查看详情</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/>
  </div>
</template>

<script>
import * as API from '@/api/project';
import Pagination from '@/components/Pagination';

export default {
  components: { Pagination },

  data() {
    return {
      tableData: [],
      reviewRecord: [],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true,
      isShowContent: true,
      projectStates: {}
    };
  },
  created() {
    this.getTableData();
  },
  mounted() {
    this.getProjectState();
    this.getProjectInfoByuser();
  },
  methods: {
    // 获取幕墙状态
    getProjectState() {
      API.getProjectState().then(res => {
        if (res.data.status === 200) {
          const tmpData = {};
          res.data.datas.forEach(item => {
            tmpData[item.idProjectState] = item;
          });
          this.projectStates = tmpData;
        }
      });
    },
    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize
      };
      API.getProjectUpdateRecord(params).then(res => {
        this.tableData = res.data.datas.list;
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },

    // 查询个人项目信息
    getProjectInfoByuser() {
      API.getProjectInfoByuser().then(res => {
        const tmpData = res.data.datas;
        if (tmpData !== null && tmpData.idProjectState === 3) {
          this.isShowContent = true;
        } else {
          this.isShowContent = false;
          this.$message.warning('请先完成项目信息注册！');
        }
      });
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      if (row.idReportState === 3) {
        this.cellColorList = 'green-row';
      } else {
        this.cellColorList = 'red-row';
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 4) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    formatState(row) {
      return this.projectStates[row.idProjectState] ? this.projectStates[row.idProjectState].name : null;
    },
    // 新增变更
    gotoNewPage() {
      this.tableData.forEach(item => {
        // 判断变更列表中是否有草稿/待审核/退回（idProjectState=1/2/4）状态的记录
        if (item.idProjectState === 1 || item.idProjectState === 2 || item.idProjectState === 4) {
          this.reviewRecord.push(item);
        }
      });
      if (this.reviewRecord.length > 0) {
        this.$message.warning('当前存在待处理的变更记录，无法添加新的变更');
      } else {
        this.$router.push({ name: 'ChangeEidt' });
      }
    },
    // 编辑 or 查看详情
    handleDetail(btnType, row) {
      this.$router.push({
        name: 'ChangeEidt',
        query: { btn: btnType, id: row.idProjectUpdateLog, idp: row.idApproval }
      });
    }
  }
};
</script>

