<template>
  <div class="app-container">
    <!-- <el-tabs :value="activeName" @tab-click="handleClick">
      <el-tab-pane label="基本信息" name="ProjectInfo" />
    </el-tabs> -->
    <router-view />
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
  computed: {
    activeName: {
      get() {
        return this.$route.name
      },
      set(val) {
        this.$route.name = val
      }
    }
  },
  methods: {
    handleClick(tab, event) {
      this.$router.push({ name: tab.name })
    }
  }
}
</script>
