<template>
  <div class="app-container scrollbar my-collapse">
    <div class="mb10 mt10 space-between">
      <span class="f16">幕墙数据库基本信息</span>
      <el-button v-if="canback()" type="info" size="mini" @click="goback()">返回</el-button>
      <el-button
        v-if="this.$route.path === '/noticeManagement/addInspection'"
        type="info"
        size="mini"
        @click="gobackInspection()">返回</el-button>
    </div>

    <el-tabs v-model="tabActiveIndex">
      <el-tab-pane :label="item" :name="index + ''" v-for="(item , index) in tabData" :key="index">
        <el-form ref="form" :model="form" :rules="rules" size="mini" disabled class="mb30">
          <!-- 必填信息 -->
          <div v-if="index == 0">
            <div class="tableList scope required">
              <div class="title">
                <el-col :span="6" style="text-align: left; text-indent: 1em;">
                </el-col>
                <el-col :span="12">既有幕墙基本情况档案</el-col>
                <el-col :span="6"></el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[19]">{{ fieldName[19] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_19" class="is_error">
                    <el-input v-model="form['_19'].value" size="mini" style="width:100%" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[0]">{{ fieldName[0] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_0" class="is_error">
                    <el-input v-model="form['_0'].value" size="mini" style="width:100%" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[20]">{{ fieldName[20] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_20" class="is_error">
                    <el-date-picker
                      v-model="form['_20'].value"
                      type="date"
                      value-format="yyyy-MM-dd"
                      placeholder="请选择日期"
                      size="mini"
                      style="width:100%"
                    />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[1]">{{ fieldName[1] }}</el-col>
                <el-col :span="16" class="right row align">
                  <el-form-item prop="_2">
                    <el-select
                      v-model="form['_2'].value"
                      placeholder="区"
                      size="mini"
                      style="width: 100%"
                      :disabled="true"
                      @change="clearStreet()"
                    >
                      <el-option
                        v-for="item in districtOptions"
                        :key="'l1' + item.idDistrict"
                        :label="item.name"
                        :value="item.idDistrict"
                      />
                    </el-select>
                  </el-form-item>
                  <el-form-item prop="_3">
                    <el-select
                      v-model="form['_3'].value"
                      placeholder="街道"
                      size="mini"
                      style="width: 100%"
                    >
                      <el-option
                        v-for="item in streetSelects"
                        :key="'l2' + item.idDistrict"
                        :label="item.name"
                        :value="item.idDistrict"
                      />
                    </el-select>
                  </el-form-item>
                  <el-form-item prop="_4">
                    <el-input v-model="form['_4'].value" size="mini" placeholder="门牌号" style="width:600px;" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="right">
                  <a @click="viewBaiduMap">
                    <i class="el-icon-location map-button"></i> 查看
                  </a>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[6]">{{ fieldName[6] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_6">
                    <el-select v-model="form['_6'].value" placeholder="建筑使用性质" size="mini">
                      <el-option
                        v-for="item in natureLands"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[5]">{{ fieldName[5] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_5">
                    <el-input v-model="form['_5'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[7]">{{ fieldName[7] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_7">
                    <el-input v-model="form['_7'].value" size="mini" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[22]">{{ fieldName[22] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_22">
                    <el-input v-model="form['_22'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[8]">{{ fieldName[8] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_8">
                    <el-input v-model="form['_8'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[9]">{{ fieldName[9] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_9">
                    <el-date-picker
                      v-model="form['_9'].value"
                      type="date"
                      value-format="yyyy-MM-dd"
                      placeholder="请选择日期"
                      size="mini"
                    />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[17]">{{ fieldName[17] }}</el-col>
                <el-col :span="20" class="right">
                  <el-form-item prop="_17">
                    <el-radio-group v-model="form['_17'].value">
                      <el-radio :label="item.type" v-for="(item, index) in curtainTypes" :key="index">{{item.name}}</el-radio>
                    </el-radio-group>
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="6" class="left ellipsis" :title="fieldName[15]">{{ fieldName[15] }}</el-col>
                <el-col :span="6" class="right borderR">
                  <el-form-item prop="_15">
                    <el-select v-model="form['_15'].value" placeholder="请选择" size="mini">
                      <el-option label="是" value="1"/>
                      <el-option label="否" value="2"/>
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="6" class="left ellipsis" :title="fieldName[16]">{{ fieldName[16] }}</el-col>
                <el-col :span="6" class="right">
                  <el-form-item prop="_16">
                    <el-select v-model="form['_16'].value" placeholder="请选择" size="mini">
                      <el-option label="是" value="1"/>
                      <el-option label="否" value="2"/>
                    </el-select>
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="6" class="left ellipsis" :title="fieldName[11]">{{ fieldName[11] }}</el-col>
                <el-col :span="6" class="right borderR">
                  <el-form-item prop="_11">
                    <el-input v-model="form['_11'].value" size="mini" min="1" />
                  </el-form-item>
                </el-col>
                <el-col :span="6" class="left ellipsis" :title="fieldName[12]">{{ fieldName[12] }}</el-col>
                <el-col :span="6" class="right">
                  <el-form-item prop="_12">
                    <el-input v-model="form['_12'].value" size="mini" min="1" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="6" class="left ellipsis" :title="fieldName[13]">{{ fieldName[13] }}</el-col>
                <el-col :span="6" class="right borderR">
                  <el-form-item prop="_13">
                    <el-input v-model="form['_13'].value" size="mini" min="1" />
                  </el-form-item>
                </el-col>
                <el-col :span="6" class="left ellipsis" :title="fieldName[14]">{{ fieldName[14] }}</el-col>
                <el-col :span="6" class="right">
                  <el-form-item prop="_14">
                    <el-input v-model="form['_14'].value" size="mini" min="1" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="6" class="left ellipsis" :title="fieldName[10]">{{ fieldName[10] }}</el-col>
                <el-col :span="18" class="right">
                  <el-form-item prop="_10">
                    <el-input v-model="form['_10'].value" size="mini" min="1" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align facade-images">
                <el-col :span="6" class="left">{{ fieldName[23] }}</el-col>
                <el-col :span="18" class="right">
                  <el-tag
                    class="cursor"
                    v-for="(file, index) in fileListShot"
                    :key="file.fileId"
                    size="mini"
                    @click="onClickFile(fileListShot, index)"
                    @close="onRemoveFile(index, 23)"
                  >{{ file.fileName }}</el-tag>
                </el-col>
              </div>
              <div class="align facade-images">
                <el-col :span="6" class="left">{{ fieldName[18] }}</el-col>
                <el-col :span="18" class="right">
                  <el-tag
                    class="cursor"
                    v-for="(file, index) in fileList"
                    :key="file.fileId"
                    size="mini"
                    @click="onClickFile(fileList, index)"
                    @close="onRemoveFile(index, 18)"
                  >{{ file.fileName }}</el-tag>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="6" class="left ellipsis" :title="fieldName[21]">{{ fieldName[21] }}</el-col>
                <el-col :span="18" class="right">
                  <el-form-item prop="_21">
                    <el-input v-model="form['_21'].value" size="mini" min="1" />
                  </el-form-item>
                </el-col>
              </div>
            </div>
          </div>

        </el-form>
      </el-tab-pane>
    </el-tabs>

    <PreviewImage ref="previewImage" />

    <BaiduMapDialog
      :visible.sync="mapVisible"
      :search-key="projectAddress"
      :edit-enalbe="false"
      :zoom-level="13"
      api-key="FV426NknViD9EiT7wcSKNKbbobuqBXze"
      map-center="广州"
      @ok="selectedOk"
    />
  </div>
</template>

<script>
import * as FILE from "@/api/files"
import * as API from "@/api/project"
import * as CPROJECT from "@/api/cProject"
import * as treeAPI from "@/api/district"
import * as natureAPI from "@/api/natureland"
import PreviewImage from "@/components/PreviewImage"
import BaiduMapDialog from "@/components/BaiduMapDialog"
import Pagination from "@/components/Pagination"

const getValueById = (id, source) => {
  for (let i = 0; i < source.length; i += 1) {
    if (source[i].idDistrict === id) {
      return source[i].name
    }
  }
  return null
}

export default {
  components: { 
    PreviewImage, 
    BaiduMapDialog, 
    Pagination 
  },
  data() {
    let validateValues = (rule, val, callback) => {
      if (Object.isEmpty(val.value) 
      || val.value === '/' 
      || val.value === '000000' 
      || val.value === '无' 
      || val.value === NaN) {
        val.value = ''
        callback(new Error('未填写字段信息'));
      }
    }
    return {
      unWrite: true,
      mapVisible: false,
      projectAddress: "火车站",
      form: {
        _0: { value: null, idProjectField: 1 },
        _1: { value: null, idProjectField: 2 },
        _2: { value: null, idProjectField: 3 },
        _3: { value: null, idProjectField: 4 },
        _4: { value: null, idProjectField: 5 },
        _5: { value: null, idProjectField: 6 },
        _6: { value: null, idProjectField: 7 },
        _7: { value: null, idProjectField: 8 },
        _8: { value: null, idProjectField: 9 },
        _9: { value: null, idProjectField: 10 },
        _10: { value: null, idProjectField: 11 },
        _11: { value: null, idProjectField: 12 },
        _12: { value: null, idProjectField: 13 },
        _13: { value: null, idProjectField: 14 },
        _14: { value: null, idProjectField: 15 },
        _15: { value: null, idProjectField: 16 },
        _16: { value: null, idProjectField: 17 },
        _17: { value: null, idProjectField: 18 },
        _18: { value: null, idProjectField: 19 },
        _19: { value: null, idProjectField: 20 },
        _20: { value: null, idProjectField: 21 },
        _21: { value: null, idProjectField: 22 },
        _22: { value: null, idProjectField: 23 },
        _23: { value: null, idProjectField: 24 }
      },
      fileList: [],
      fileListShot: [],
      isShowRegist: false,
      registerState: null,
      showBtn: true,
      fieldName: [],
      projectData: [],
      buildingNumber: 1,
      tectonicTypeOptions: {},
      districtOptions: [],
      streetOptions: [],
      idProject: null,
      projectStates: {},
      houseNumber: [],
      houseHigh: [],
      houseNumberValue: 0,
      processTable: [],
      processName: null,
      projectNum: '',
      natureLands: {},
      progressNum: 0,
      rules: {
        _0: [{ validator: validateValues }],
        _1: [{ validator: validateValues }],
        _2: [{ validator: validateValues }],
        _3: [{ validator: validateValues }],
        _4: [{ validator: validateValues }],
        _5: [{ validator: validateValues }],
        _6: [{ validator: validateValues }],
        _7: [{ validator: validateValues }],
        _8: [{ validator: validateValues }],
        _9: [{ validator: validateValues }],
        _10: [{ validator: validateValues }],
        _11: [{ validator: validateValues }],
        _12: [{ validator: validateValues }],
        _13: [{ validator: validateValues }],
        _14: [{ validator: validateValues }],
        _15: [{ validator: validateValues }],
        _16: [{ validator: validateValues }],
        _17: [{ validator: validateValues }],
        _18: [{ validator: validateValues }],
        _19: [{ validator: validateValues }],
        _20: [{ validator: validateValues }],
        _21: [{ validator: validateValues }],
        _22: [{ validator: validateValues }],
        _23: [{ validator: validateValues }]
      },
      activeNames: [
        "accident_content",
        "maintenance_content",
        "project_warning_content",
        "inspection_content",
        "report_content",
        "login_count_content"
      ],

      pageNum: 1,
      pageSize: 10,
      totalPage: 0,
      listLoading: false,
      accidentData: [],
      nrAccidentData: [],
      maintenanceData: [],
      nrMaintenanceData: [],
      warningData: [],
      inspectionData: [],
      needInspectionData: [],
      reportData: [],
      loginCountData: [],
      projectDataInfo: [],
      warningList: [],
      noticeData: [],
      accdientTypeOptions: {},
      accdientStatusOptions: {},
      projectStateOptions: {},
      reportStatusOptions: {},
      reportTypeOption: [],
      projectTypeOptions: {},
      activeIndex: 0,
      isShowStepDetail: false,

      tabData: ['必填信息'],
      tabActiveIndex: 0,
      detailTabActive: 0,

      eFieldName: '幕墙应急预案',
      eFileList: [],
      curtainTypes: []
    }
  },
  computed: {
    // 级联
    streetSelects() {
      return Object.values(this.streetOptions).filter(
        item => item.parentId === this.form["_2"].value
      )
    }
  },
  mounted() {
    this.progressNum = this.$route.query.progressNum
    this.getProjectInfoByuser()
    this.getProjectTypeState()
    this.getDistrictTree()
    this.selectNatureType()
  },
  created() {
    this.getProjectField()
    this.getCurtainType()
  },
  methods: {
    onRemoveFile(index, type) {
      if (type === 18) { // 典型立面
        this.fileList.splice(index, 1)
        if (Object.isEmpty(this.form._18)) {
          this.$set(this.form, "_18", {
            value: JSON.stringify(this.fileList),
            idProjectField: 19
          })
          return
        }

        if (this.fileList.length === 0) {
          this.form._18.value = null
        } else {
          this.form._18.value = JSON.stringify(this.fileList)
        }
      } else { // 定位截图
        this.fileListShot.splice(index, 1)

        if (Object.isEmpty(this.form._23)) {
          this.$set(this.form, "_23", {
            value: JSON.stringify(this.fileListShot),
            idProjectField: 24
          })
          return
        }

        if (this.fileListShot.length === 0) {
          this.form._23.value = null
        } else {
          this.form._23.value = JSON.stringify(this.fileListShot)
        }
      }
    },
    // 获取幕墙类型
    getCurtainType() {
      CPROJECT.getCurtainType()
      .then(res => {
        if (res.status === 200) {
          this.curtainTypes = res.data.datas
        }
      })
    },
    // 查询个人项目信息
    getProjectInfoByuser() {
      CPROJECT.getProjectList().then(res => {
        const tmpData = res.data.datas
        if (tmpData !== null) {
          tmpData.forEach((_, idx) => {
            this.form["_" + idx] = _
          })
          this.currentUserId = tmpData.currentUserId
          this.projectUserId = tmpData.idUser
          this.projectNum = tmpData.code
          this.form["_2"].value = parseInt(this.form["_2"].value)
          this.form["_3"].value = parseInt(this.form["_3"].value)
          this.form["_6"].value = parseInt(this.form["_6"].value)
          // console.log('form', this.form)
          try {
            if (!Object.isEmpty(this.form["_18"])) {
              this.fileList = JSON.parse(this.form["_18"].value)
            }
            if (!Object.isEmpty(this.form["_23"])) {
              this.fileListShot = JSON.parse(this.form["_23"].value)
            }
          } catch (e) {
            // throw err
          }
        }
      })
    },
    setEmptyFieldVal(index) {
      if (Object.isEmpty(this.form[index].value)) {
        this.form[index].value = '/'
      }
    },
    getRowClass({ row, column, rowIndex, columnIndex }) {
      return "background:#D9E5F9;"
    },
    tableRowClassName({row, rowIndex}) {
      if (rowIndex === 0) {
        return 'warning-row';
      } else if (rowIndex === 3) {
        return 'success-row';
      }
      return '';
    },
    clikStep(index) {
      this.activeIndex = index
      this.isShowStepDetail = true
    },
    // 获取用地性质分类列表
    selectNatureType() {
      natureAPI.selectNatureType().then(res => {
        if (res.data.status === 200) {
          const tmpData = {}
          res.data.datas.forEach(item => {
            tmpData[item.id] = item
          })
          this.natureLands = tmpData
        }
      })
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      switch (row.checkState) {
        case 1:
          this.cellColorList = "green-row";
          break;
        case 2:
          this.cellColorList = "yellow-row";
          break;
        case 3:
          this.cellColorList = "red-row";
          break;
        case 4:
          this.cellColorList = "orange-row";
          break;
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 7) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    // 查看地图
    viewBaiduMap() {
      this.mapVisible = !this.mapVisible
      if (this.mapVisible) {
        const districeName = getValueById(
          this.form._3.value,
          this.districtOptions
        )
        const streetName = getValueById(this.form._3.value, this.streetOptions)
        const doorNo = this.form._4.value || ""
        this.projectAddress = districeName + streetName + doorNo || "火车站"
      }
    },
    selectedOk(result) {
      this.form._5.value = result
    },
    onClickFile(fileList, index) {
      this.$refs.previewImage.show(fileList, index)
    },
    clearStreet() {
      this.form["_4"].value = null
    },
    // 获取区及街道信息
    getDistrictTree() {
      treeAPI.getDistrictTree({ isNeedFilter: false }).then(res => {
        if (res.data.status === 200) {
          const tmpTreeData = res.data.datas
          for (let i = 0; i < tmpTreeData.length; i += 1) {
            if (tmpTreeData[i].level === 2) {
              this.districtOptions.push(tmpTreeData[i])
            } else if (tmpTreeData[i].level === 3) {
              this.streetOptions.push(tmpTreeData[i])
            }
          }
        }
      })
    },
    // 获取玻璃幕墙构造类型
    getProjectTypeState() {
      API.getProjectTypeState().then(res => {
        if (res.data.status === 200) {
          const tmpData = {}
          res.data.datas.forEach(item => {
            tmpData[item.idProjectType] = item
          })
          this.tectonicTypeOptions = tmpData
        }
      })
    },
    // 幕墙数据库结构信息
    getProjectField() {
      CPROJECT.getProjectField().then(res => {
        if (res.data.status === 200) {
          res.data.datas.forEach(item => {
            this.fieldName.push(item.name)
          })
        }
      })
    },
    // 返回
    goback() {
      this.$router.go(-1)
    },
    canback() {
      if (this.$route.query && this.$route.query.canback) {
        return false
      } else {
        return true
      }
    },
    // 返回抽查检查列表
    gobackInspection() {
      this.$router.push({
        path: "/noticeManagement/inspection"
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid rgba(46, 79, 123, 0.5);
  border-bottom-width: 0;
  margin-bottom: 20px;
  div {
    height: 36px;
    line-height: 36px;
  }

  .title {
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
  }

  .align {
    &.facade-images {
      .upload-facade-images {
        display: inline-block;
      }

      /deep/ .el-tag {
        margin-right: 10px;
      }
    }
  }

  .left {
    background: rgba(46, 79, 123, 0.1);
    border-right: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }

  .right {
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }

  .borderR {
    border-right: 1px solid rgba(46, 79, 123, 0.5);
  }

  /deep/ .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 0px;
  }

  /deep/ .el-form-item__content {
    margin-left: 0 !important;
  }

  /deep/ .el-form-item__error {
    top: 30%;
    left: 20px;
  }
}
.f17 {
  width: 100%;
  display: inline-block;
  margin: 0 0 10px 0;
  div {
    float: left;
    width: 200px;
  }
}
.un_write {
  border: 1px solid red;
  border-radius:5px;
  line-height:35px;height:35px;
}
.rle-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #2e4f7b;
}
.step-row {
  min-width:500px;
  margin-bottom:12px;
  margin-top:12px;
}
.processing_content{
  background-color: #D9E5F9;
  color: #4d4d4d;
  padding: 10px;
}
.el-table .warning-row {
  background: oldlace;
}
.el-table .success-row {
  background: #f0f9eb;
}
.box-align-cr {
  text-align: center;
}
.el-pagination button,
.el-pager li {
  background-color: #D9E5F9;
}
.login_count {
  margin-bottom: 10px;
  color: #4d4d4d;
}
</style>
