<template>
  <div class="app-container scrollbar">
    <el-form
      ref="form"
      :rules="rules"
      :model="form"
      label-width="120px"
      label-position="left"
      :disabled="isdisabled"
      size="mini"
    >
      <div class="mb10 mt10">
        <span class="mr30 f16">巡查维护上报信息</span>
      </div>
      <div class="tableList">
        <div class="title">
          既有建筑幕墙日常巡查统计信息表
        </div>
        <div class="align">
          <el-col :span="6" class="left ellipsis" :title="fieldName[35]">{{ fieldName[35] }}</el-col>
          <el-col :span="6" class="right borderR">
            <el-form-item prop="[35].value">
              <el-input v-model="form[35].value" size="mini" :disabled="true"/>
            </el-form-item>
          </el-col>
          <el-col :span="6" class="left ellipsis" :title="fieldName[36]">{{ fieldName[36] }}</el-col>
          <el-col :span="6" class="right">
            <el-form-item prop="[36].value">
              <el-date-picker
                v-model="form[36].value"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择日期"
                size="mini"
                style="width:150px"
              />
            </el-form-item>
          </el-col>
        </div>

        <div class="title alignR">
          {{ fieldName[0] }}
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[8]">{{ fieldName[8] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[8].value">
              <el-radio-group v-model="form[8].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[9]">{{ fieldName[9] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[9].value">
              <el-radio-group v-model="form[9].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[10]">{{ fieldName[10] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[10].value">
              <el-radio-group v-model="form[10].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[11]">{{ fieldName[11] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[11].value">
              <el-radio-group v-model="form[11].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[12]">{{ fieldName[12] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[12].value">
              <el-radio-group v-model="form[12].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[13]">{{ fieldName[13] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[13].value">
              <el-radio-group v-model="form[13].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>

        <div class="title alignR">
          {{ fieldName[1] }}
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[14]">{{ fieldName[14] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[14].value">
              <el-radio-group v-model="form[14].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[15]">{{ fieldName[15] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[15].value">
              <el-radio-group v-model="form[15].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[16]">{{ fieldName[16] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[16].value">
              <el-radio-group v-model="form[16].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[17]">{{ fieldName[17] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[17].value">
              <el-radio-group v-model="form[17].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>

        <div class="title alignR">
          {{ fieldName[2] }}
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[18]">{{ fieldName[18] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[18].value">
              <el-radio-group v-model="form[18].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[19]">{{ fieldName[19] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[19].value">
              <el-radio-group v-model="form[19].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[20]">{{ fieldName[20] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[20].value">
              <el-radio-group v-model="form[20].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>

        <div class="title alignR">
          {{ fieldName[3] }}
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[21]">{{ fieldName[21] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[21].value">
              <el-radio-group v-model="form[21].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[22]">{{ fieldName[22] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[22].value">
              <el-radio-group v-model="form[22].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[23]">{{ fieldName[23] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[23].value">
              <el-radio-group v-model="form[23].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[24]">{{ fieldName[24] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[24].value">
              <el-radio-group v-model="form[24].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[25]">{{ fieldName[25] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[25].value">
              <el-radio-group v-model="form[25].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>

        <div class="title alignR">
          {{ fieldName[4] }}
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[26]">{{ fieldName[26] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[26].value">
              <el-radio-group v-model="form[26].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[27]">{{ fieldName[27] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[27].value">
              <el-radio-group v-model="form[27].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[28]">{{ fieldName[28] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[28].value">
              <el-radio-group v-model="form[28].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>

        <div class="title alignR">
          {{ fieldName[5] }}
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[29]">{{ fieldName[29] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[29].value">
              <el-radio-group v-model="form[29].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[30]">{{ fieldName[30] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[30].value">
              <el-radio-group v-model="form[30].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>

        <div class="title alignR">
          {{ fieldName[6] }}
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[31]">{{ fieldName[31] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[31].value">
              <el-radio-group v-model="form[31].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[32]">{{ fieldName[32] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[32].value">
              <el-radio-group v-model="form[32].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
        <div class="align">
          <el-col :span="10" class="left ellipsis" :title="fieldName[33]">{{ fieldName[33] }}</el-col>
          <el-col :span="14" class="right">
            <el-form-item prop="[33].value">
              <el-radio-group v-model="form[33].value">
                <el-radio label="1">有</el-radio>
                <el-radio label="2">无</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
        </div>
      </div>
      <!-- <div class="footer">
        填报人：{{$route.query.author}}&nbsp;&nbsp;提交时间：{{$route.query.updateTime}}
      </div> -->
    </el-form>
    <!-- <div v-if="annexList.length > 0" class="mt20 mb20 column">
      <div class="label-default f16 mr30 mb10">附件资料</div>
      <el-table :data="annexList" border fit highlight-current-row :stripe="true">
        <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
        <el-table-column
          label="上传人"
          align="left"
          width="120"
          prop="userName"
          show-overflow-tooltip
        />
        <el-table-column
          label="上传时间"
          align="left"
          width="180"
          prop="createTime"
          show-overflow-tooltip
        />
        <el-table-column align="center" label="操作" width="120">
          <template slot-scope="scope">
            <i
              class="el-icon-download ml10 cursor f20 label-default"
              @click="download(scope.row.idAccessory)"
              title="下载"
            />
            <i
              class="el-icon-view ml10 cursor f20 label-default"
              @click="preView(scope.row.filePath)"
              title="预览"
            />
          </template>
        </el-table-column>
      </el-table>
      <div class="column ml20">
        <div v-for="(item, index) in annexList" :key="index" class="wrap">
          {{ item.fileName + "." + item.ext }}
          <i class="el-icon-download ml10 cursor f20 label-default" @click="download(item.idAccessory)" title="下载" />
          <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(item.filePath)" title="预览" />
        </div>
      </div>
    </div> -->
    <div class="justify-end mt20">
      <el-button type="info" size="mini" @click="goback()">返回</el-button>
      <el-button
        v-show="showBtn"
        :loading="btnLoading1"
        type="warning"
        size="mini"
        @click="handleSave()"
      >保存</el-button>
      <el-button
        v-show="showBtn"
        :loading="btnLoading2"
        type="primary"
        size="mini"
        @click="handleSubmit()"
      >提交</el-button>
    </div>
  </div>
</template>

<script>
import * as API from "@/api/maintenance"
import * as FILE from "@/api/files"
import { getToken } from "@/utils/auth"
export default {
  data() {
    return {
      btnLoading1: false,
      btnLoading2: false,
      isDisabled1: false,
      isDisabled2: false,
      isDisabled3: false,
      isDisabled4: false,
      accept: ".jpg, .jpeg, .png, .gif, .bmp, .pdf, .JPG, .JPEG, .PBG, .GIF, .BMP, .PDF",
      form: [
        {
          value: "2",
          idMaintenanceReportField: "1"
        },
        {
          value: "2",
          idMaintenanceReportField: "2"
        },
        {
          value: "2",
          idMaintenanceReportField: "3"
        },
        {
          value: "2",
          idMaintenanceReportField: "4"
        },
        {
          value: "2",
          idMaintenanceReportField: "5"
        },
        {
          value: "2",
          idMaintenanceReportField: "6"
        },
        {
          value: "2",
          idMaintenanceReportField: "7"
        },
        {
          value: "2",
          idMaintenanceReportField: "8"
        },
        {
          value: "2",
          idMaintenanceReportField: "9"
        },
        {
          value: "2",
          idMaintenanceReportField: "10"
        },
        {
          value: "2",
          idMaintenanceReportField: "11"
        },
        {
          value: "2",
          idMaintenanceReportField: "12"
        },
        {
          value: "2",
          idMaintenanceReportField: "13"
        },
        {
          value: "2",
          idMaintenanceReportField: "14"
        },
        {
          value: "2",
          idMaintenanceReportField: "15"
        },
        {
          value: "2",
          idMaintenanceReportField: "16"
        },
        {
          value: "2",
          idMaintenanceReportField: "17"
        },
        {
          value: "2",
          idMaintenanceReportField: "18"
        },
        {
          value: "2",
          idMaintenanceReportField: "19"
        },
        {
          value: "2",
          idMaintenanceReportField: "20"
        },
        {
          value: "2",
          idMaintenanceReportField: "21"
        },
        {
          value: "2",
          idMaintenanceReportField: "22"
        },
        {
          value: "2",
          idMaintenanceReportField: "23"
        },
        {
          value: "2",
          idMaintenanceReportField: "24"
        },
        {
          value: "2",
          idMaintenanceReportField: "25"
        },
        {
          value: "2",
          idMaintenanceReportField: "26"
        },
        {
          value: "",
          idMaintenanceReportField: "27"
        },
        {
          value: "",
          idMaintenanceReportField: "28"
        },
        {
          value: "",
          idMaintenanceReportField: "29"
        },
        {
          value: "",
          idMaintenanceReportField: "30"
        },
        {
          value: "",
          idMaintenanceReportField: "31"
        },
        {
          value: "",
          idMaintenanceReportField: "32"
        },
        {
          value: "",
          idMaintenanceReportField: "33"
        },
        {
          value: "",
          idMaintenanceReportField: "35"
        },
        {
          value: "",
          idMaintenanceReportField: "36"
        }
      ],
      rules: {
        "[8].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[9].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[10].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[11].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[12].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[13].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[14].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[15].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[16].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[17].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[18].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[19].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[20].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[21].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[22].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[23].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[24].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[25].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[26].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[27].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[28].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[29].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[30].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[31].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[32].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[33].value": [{ required: true, message: "必填", trigger: "blur" }],
        "[36].value": [{ required: true, message: "必填", trigger: "blur" }]
      },
      isdisabled: false,
      showBtn: true,
      fieldName: [],
      reportData: [],
      fileName: [],
      fileList: [],
      annexList: [],
      idAccessoryGroup: null,
      idPatrolMaintenance: null,
      projectName: null
    }
  },
  created() {
    this.getReportType()
    this.getReportField()
  },
  mounted() {
    if (this.$route.path === "/patrolMaintenance/addMaintenanceReport") {
      if (this.$route.query.btn === "detail") {
        this.isdisabled = true
        this.showBtn = false
      } else {
        this.showBtn = true
      }

      const query = this.$route.query
      this.idPatrolMaintenance = query.id
      this.projectName = query.projectName
      // this.idAccessoryGroup = query.idG
      this.getReportDetail(this.idPatrolMaintenance)
      // if (this.idAccessoryGroup !== null) {
      //   this.getFileList(this.idAccessoryGroup)
      // }
    }
  },
  methods: {
    // 获取报告类型
    getReportType() {
      API.getReportType()
      .then(res => {
        this.reportData = res.data.datas
      })
    },
    // 获取报告详情
    getReportDetail(id) {
      const param = {
        idPatrolMaintenance: id
      }
      API.getReportDetail(param).then(res => {
        console.log('getReportDetail', res.data.datas)
        if (res.data.status === 200) {
          this.form = res.data.datas.reportFieldValues
          this.form[35].value = this.projectName
        }
      })
    },
    // 获取文件信息列表
    getFileList(id) {
      const param = {
        idAccessoryGroup: id
      }
      FILE.getAccessoryByGroup(param).then(res => {
        this.annexList = []
        if (res.data.status === 200) {
          const tmpData = res.data.datas
          tmpData.forEach(item => {
            this.annexList.push(item)
          })
        }
      })
    },
    // 文件下载
    download(id) {
      FILE.downloadFile(id)
    },
    // 文件预览
    preView(path) {
      window.open(
        process.env.VUE_APP_BASE_API + "/project-api" + path,
        "_blank"
      )
    },

    // 日常巡查字典表数据结构
    getReportField() {
      API.getReportField().then(res => {
        if (res.data.status === 200) {
          res.data.datas.forEach(item => {
            this.fieldName.push(item.name)
            // let childData = []
            // item.maintenanceVoList.forEach(itemChind => {
            //   childData.push(itemChind.maintenanceReportField.name)
            // })
            // let params = {
            //   name: item.maintenanceReportField.name,
            //   childList: childData
            // }
            // this.fieldName.push(params)
          })
        }
      })
    },

    // 保存
    handleSave() {
      this.btnLoading1 = true
      const fileFormData = new FormData()
      fileFormData.append("idReportState", 1) // 保存为草稿
      if (this.idPatrolMaintenance) {
        fileFormData.append("idPatrolMaintenance", this.idPatrolMaintenance)
      }
      fileFormData.append(
        "reportFieldValueString",
        JSON.stringify(this.form)
      )
      this.axios
        .post(
          process.env.VUE_APP_BASE_API +
            `/project-api/patrolMaintenance/insertReportMaintenance?AccessToken=${getToken()}`,
          fileFormData
        )
        .then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.cause)
            this.btnLoading1 = false
            this.goback()
          } else {
            this.$message.error(res.data.cause)
            this.btnLoading1 = false
          }
        })
    },

    // 提交
    handleSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.btnLoading2 = true
          const fileFormData = new FormData()
          fileFormData.append("idReportState", 2)
          if (this.idPatrolMaintenance) {
            fileFormData.append("idPatrolMaintenance", this.idPatrolMaintenance)
          }
          fileFormData.append(
            "reportFieldValueString",
            JSON.stringify(this.form)
          )
          this.axios
            .post(
              process.env.VUE_APP_BASE_API +
                `/project-api/patrolMaintenance/insertReportMaintenance?AccessToken=${getToken()}`,
              fileFormData
            )
            .then(res => {
              if (res.data.status === 200) {
                this.$message.success(res.data.cause)
                this.btnLoading2 = false
                this.goback()
              } else {
                this.$message.error(res.data.cause)
                this.btnLoading2 = false
              }
            })
        }
      })
    },
    // 返回
    goback() {
      this.$router.go(-1)
    }
  }
}
</script>
<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid rgba(46, 79, 123, 0.5);
  border-bottom-width: 0;
  .title {
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
  }
  .alignR {
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
  }
  div {
    height: 36px;
    line-height: 36px;
  }
  .left {
    background: rgba(46, 79, 123, 0.1);
    border-right: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }
  .right {
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }
  .borderR {
    border-right: 1px solid rgba(46, 79, 123, 0.5);
  }
  .boxHeight {
    height: 100px;
  }
  /deep/ .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 0px;
  }
  /deep/ .el-form-item__content {
    margin-left: 0 !important;
  }
  /deep/ .el-form-item__error {
    top: 30%;
    left: 20px;
  }
}
.footer {
  font-size: 12px;
  color: #4d4d4d;
  padding: 5px 0;
}
</style>
