<template>
  <div class="app-container scrollbar">

    <el-form :model="form" ref="form" :rules="rules" label-width="120px" label-position="left" size="mini" class="mt20" 
    :disabled="isDisabled">
      <el-form-item label="选择项目">
        <el-input :value="projectName" style="width: 30%;" :disabled="true"/>
      </el-form-item>
      <el-form-item label="文件日期" prop="fileDate">
        <el-date-picker
          v-model="form.fileDate"
          type="date"
          placeholder="选择日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="报告类型" prop="idMaintenanceType">
        <el-button type="primary" :class="form.idMaintenanceType == item.idMaintenanceType ? 'add-btn-class' : ''" v-for="(item, index) in reportData" :key="index" plain 
        @click="form.idMaintenanceType = item.idMaintenanceType">{{item.name}}</el-button>
      </el-form-item>
      <el-form-item label="检查结论" prop="checkConclusion" v-if="form.idMaintenanceType == 2 || form.idMaintenanceType == 3">
        <div class="editor-container">
          <textarea class="option-scroll" v-model="form.checkConclusion" style="width:100%; height:150px;"/>
        </div>
      </el-form-item>
      <el-form-item label="相关建议" prop="proposal" v-if="form.idMaintenanceType == 2 || form.idMaintenanceType == 3">
        <div class="editor-container">
          <textarea class="option-scroll" v-model="form.proposal" style="width:100%; height:100px;"/>
        </div>
      </el-form-item>
      <el-form-item label="添加文件" prop="fileList">
        <!-- <el-tag
          class="cursor"
          v-for="(file, index) in fileList"
          :key="file.fileId"
          size="mini"
          :closable="canEditFacadeImages"
          @click="onClickFile(file)"
          @close="onRemoveFile(index)">
          {{ file.fileName }}
        </el-tag>
        <el-upload
          class="upload-facade-images"
          :auto-upload="false"
          :file-list="fileList"
          :show-file-list="false"
          :on-success="onUploadSuccess"
          :on-error="onUploadError"
          accept="image/png, image/jpeg">
          <el-button size="mini" type="primary">点击上传</el-button>
        </el-upload> -->

        <el-upload
          action="doUpload"
          multiple
          list-type="text"
          :auto-upload="false"
          :file-list="fileList"
          :on-change="onChange"
          :on-remove="onRemove"
        >
          <el-button slot="trigger" size="mini" type="primary">上传附件</el-button>
        </el-upload>
        
      </el-form-item>
      <el-form-item label="检查单位" prop="checkCompany" v-if="form.idMaintenanceType == 2 || form.idMaintenanceType == 3">
        <el-input v-model="form.checkCompany" style="width:30%;"/>
      </el-form-item>
      <el-form-item label="检查人" prop="checkUser" v-if="form.idMaintenanceType == 2 || form.idMaintenanceType == 3">
        <el-input v-model="form.checkUser" style="width:30%;"/>
      </el-form-item>
    </el-form>

    <div class="justify-end mt20">
      <el-button type="info" size="mini" @click="goback()">返 回</el-button>
      <el-button :loading="btnLoading" :disabled="isDisabled" type="primary" size="mini" @click="createData('form')">提交</el-button>
    </div>

    <PreviewImage ref="previewImage" />

  </div>
</template>

<script>
import * as API from "@/api/maintenance";
import { getName } from "@/utils/auth";
import Tinymce from "@/components/Tinymce";
import { getToken } from "@/utils/auth";
import * as FILE from "@/api/files";
import PreviewImage from "@/components/PreviewImage";

export default {
  components: { 
    Tinymce,
    PreviewImage 
  },
  data() {
    return {
      btnLoading: false,
      reportData: [],
      fileList: [],
      projectName: '',
      activeName: '',
      form: {
        createTime: null,
        idMaintenanceType: 1,
        idAccessoryGroup: null,
        fileList: null,
        checkConclusion: '',
        proposal: '',
        checkReport: '',
        checkCompany: '',
        checkUser: '',
        fileDate: ''
      },
      rules: {
        fileDate: [{ required: true, trigger: "blur", message: "请选择日期" }],
        idMaintenanceType: [{ required: true, trigger: "blur", message: "请选择报告类型" }],
        checkConclusion: [{ required: true, message: "请输入检查结论", trigger: "blur" }],
        proposal: [{ required: true, message: "请输入相关建议", trigger: "blur" }],
        checkCompany: [{ required: true, message: "请输入检查单位", trigger: "blur" }],
        checkUser: [{ required: true, message: "请输入检查人", trigger: "blur" }]
      },
      isDisabled: false,
      btnType: null
    };
  },
  mounted() {
    const query = this.$route.query
    this.btnType = query.type
    if (query.type == 'edit') {
      this.getDetail(query.id)
    }
    this.getReportType()
    this.getProjectName()
  },
  methods: {
    // 查看详情
    getDetail(id) {
      const params = {
        idPatrolMaintenance: id
      }
      API.getMaintenanceById(params).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas
          this.form = tmpData
          this.fileList = JSON.parse(tmpData.filePath)
        }
      });
    },
    // 获取项目名称
    getProjectName() {
      API.getProjectName()
      .then(res => {
        if (res.data.status === 500) {
          this.isDisabled = true
          this.$message.warning(res.data.datas)
        } else {
          this.projectName = res.data.datas
        }
      })
    },
    // 获取报告类型
    getReportType() {
      API.getReportType()
      .then(res => {
        this.reportData = res.data.datas
      })
    },

    onChange(file, fileList) {
      this.form.fileList = fileList;
    },
    onRemove(file, fileList) {
      this.form.fileList = fileList;
    },

    // 发布维修维护报告
    createData(form) {
      this.$refs.form.validate((valid) => {
        if (valid) {

          this.btnLoading = true;
          const fileFormData = new FormData();
          for (const i in this.form.fileList) {
            if (this.form.fileList[i].raw) {
              fileFormData.append("files", this.form.fileList[i].raw)
            }
          }
          fileFormData.append("idMaintenanceType", this.form.idMaintenanceType);
          fileFormData.append("checkConclusion", this.form.checkConclusion); 
          fileFormData.append("proposal", this.form.proposal);
          fileFormData.append("checkReport", this.form.checkReport); 
          fileFormData.append("checkCompany", this.form.checkCompany);
          fileFormData.append("checkUser", this.form.checkUser);
          fileFormData.append("fileDate", this.form.fileDate);

          if (this.btnType == 'edit') { // 编辑
            fileFormData.append("idPatrolMaintenance", this.form.idPatrolMaintenance);
            this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/patrolMaintenance/updateMaintenanceInfo?AccessToken=${getToken()}`, fileFormData).then(res => {
              if (res.data.status === 200) {
                this.$message.success('更新报告成功');
                this.btnLoading = false;
                this.goback();
              } else {
                this.$message.error(res.data.cause);
                this.btnLoading = false;
              }
            })
          } else { // 新增
            this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/patrolMaintenance/insertReportMaintenance?AccessToken=${getToken()}`, fileFormData).then(res => {
              if (res.data.status === 200) {
                this.$message.success('上传报告成功');
                this.btnLoading = false;
                this.goback();
              } else {
                this.$message.error(res.data.cause);
                this.btnLoading = false;
              }
            })
          }

        }
      })
    },
    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss" scoped>
.editor-container {
  margin-bottom: 10px;
}

.permissionList {
  .itemTitle {
    color: #000;
    font-size: 16px;
  }
}

.add-btn-class {
  background-color: #409EFF;
  color: #ffffff;
}
textarea {
  width: 100%;
  height: 100px;
  background-color: #fff;
  border-color: #DCDFE6;
  font-size: 12px;
}
.option-scroll {
  height: 100px;
  overflow-y: scroll;
  text-indent: 0.5em;
}
.option-scroll::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.option-scroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px #547286;
  background: #686d74;
  opacity: 0.6;
}
.option-scroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #f6f6f6;
}
.upload-facade-images {
  display: inline-block;
}
</style>
