<template>
  <div class="app-container scrollbar my-collapse">
    <div class="space-between mb10 align">
      <div class="f16 mb10 mt10">报告详细信息</div>
      <div>
        <el-button size="mini" type="info" @click="goback()">返回</el-button>
      </div>
    </div>
    <div class="mt-state" v-if="!isShowBtn && detailform.idMaintenanceType != 1">
      <div v-if="detailform.status == 1">状态：审核通过</div>
      <div v-else-if="detailform.status == 2">状态：待审核</div>
      <div class="error" v-else>
        <span>状态：退回</span>
        <span align="right" v-if="detailform.checkCommon != null">退回原因： {{detailform.checkCommon}}</span>
      </div>
    </div>

    <el-collapse v-model="activeNames">
      <el-collapse-item title="项目维修报告" name="collapse_info">
        <el-form ref="detailform" :model="form" label-width="120px" label-position="left" size="mini" :disabled="isDisabled">
          <el-form-item label="关联入库项目">
            <el-input v-model="detailform.projectName" style="width:30%" />
          </el-form-item>
          <el-form-item label="报告类型">
              <el-input v-model="idMaintenanceTypeName" style="width:30%" />
          </el-form-item>
          <el-form-item label="检查结论">
            <el-input type="textarea" v-model="detailform.checkConclusion"></el-input>
          </el-form-item>
          <el-form-item label="相关建议">
            <el-input type="textarea" v-model="detailform.proposal"></el-input>
          </el-form-item>
          <el-form-item label="检查单位">
            <el-input v-model="detailform.checkCompany" style="width:30%" />
          </el-form-item>
          <el-form-item label="检查人">
            <el-input v-model="detailform.checkUser" style="width:30%" />
          </el-form-item>
          
          <el-form-item label="文件时间" prop="accidentDate">
            <el-date-picker
              v-model="detailform.fileDate"
              type="datetime"
              placeholder="选择日期时间"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="附件资料">

            <el-table :data="annexList" border fit highlight-current-row :stripe="true">
              <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
              <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
              <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
              <el-table-column align="center" label="操作" width="120">
                <template slot-scope="scope">
                  <i class="el-icon-download ml10 cursor f20 label-default" @click="download(scope.row.idAccessory)" title="下载" />
                  <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(scope.row.filePath)" title="预览" />
                </template>
              </el-table-column>
            </el-table>

          </el-form-item>
        </el-form>
      </el-collapse-item>
      <el-collapse-item title="处理意见" name="collapse_check" v-if="roleId == 2">
        <el-form ref="approvalForm" :rules="rules" :model="approvalForm" label-width="80px" size="mini">
          <el-form-item label="处理结果">
            <el-radio-group v-model="approvalForm.idCheckResult">
              <el-radio :label="1">通过</el-radio>
              <el-radio :label="2">不通过</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="处理意见" prop="checkCommon">
            <el-input
              v-model="approvalForm.checkCommon"
              type="textarea"
              :autosize="{ minRows: 2, maxRows: 4 }"
            />
          </el-form-item>
        </el-form>
      </el-collapse-item>
    </el-collapse>

    <el-col class="mt20 justify-end" v-if="isShowBtn">
      <el-button size="mini" type="info" @click="goback()">返回</el-button>
      <el-button size="mini" type="primary" @click="onSubmit()">提 交</el-button>
    </el-col>
  </div>
</template>

<script>
import * as APP from "@/api/approval";
import * as FILE from "@/api/files";
import * as API from "@/api/maintenance";
import { getRole } from "@/utils/auth";

export default {
  data() {
    return {
      list: null,
      districtName: null,
      accdientState: null,
      listLoading: true,
      showApprovalForm: false,
      isDisabled: true,
      isEdit: true,
      processTable: [],
      projectName: null,
      annexList: [],
      fileList: [],
      processName: null,
      dialogVisible: false,
      detailform: {
        projectName: null,
        idMaintenanceType: null,
        checkConclusion: null,
        proposal: null,
        checkCompany: null,
        checkUser: null,
        fileDate: null
      },
      rules: {
        checkCommon: [{ required: true, message: "请输入处理意见", trigger: "blur" }]
      },
      approvalForm: {
        idCheckResult: 2,
        checkCommon: null
      },
      accdientStatusOptions: {},
      accidentTypeOptions: {},
      form: {
        name: "",
        region: "",
        desc: ""
      },
      roleId: getRole(),
      idAccident: null,
      idAccessoryGroup: null,
      idApproval: null,
      idAccidentState: null,

      idPatrolMaintenance: null,
      idMaintenanceTypeName: null,
      reportData: [],
      activeNames: [
        "collapse_info",
        "collapse_check"
      ],
      isShowBtn: true,
      btnType: null
    };
  },
  mounted() {
    const query = this.$route.query
    this.btnType = query.type
    this.idPatrolMaintenance = query.id

    if (this.btnType == 'view') {
      this.isShowBtn = false
    }
    this.getReportType()
    this.getDetail(this.idPatrolMaintenance)
  },
  methods: {
      // 获取报告上传文件信息
    getAccessoryByGroup(id) {
        FILE.getAccessoryByGroup({
            idAccessoryGroup: id
        }).then(res => {
            if (res.data.status === 200) {
                const tmpData = res.data.datas
                tmpData.forEach(item => {
                    this.annexList.push(item)
                })
            }
        })
    },
      // 获取报告类型
    getReportType() {
      API.getReportType()
      .then(res => {
        this.reportData = res.data.datas
      })
    },
    // 查看详情
    getDetail(id) {
      const params = {
        idPatrolMaintenance: id
      }
      API.getMaintenanceById(params).then(res => {
        if (res.data.status === 200) {
          this.detailform = res.data.datas
          if (!Object.isEmpty(this.detailform.filePath)) {
            this.fileList = JSON.parse(this.detailform.filePath)
          }
          this.idMaintenanceTypeName = this.reportData[this.detailform.idMaintenanceType - 1].name
          this.getAccessoryByGroup(this.detailform.idAccessoryGroup)
          this.getProcessTable(this.detailform.idApproval)
        }
      });
    },
    // 流程审批信息列表
    getProcessTable(idApproval) {
      const param = {
        idApproval: idApproval
      }
      APP.getApprovalInfo(param).then(res => {
        if (res.data.status === 200) {
          this.processTable = res.data.datas.list
          this.processName = res.data.datas.name
        }
      })
    },
    onChange(file, fileList) {
      this.fileList = fileList;
    },
    onRemove(file, fileList) {
      this.fileList = fileList;
    },
    submitUpload(formName, type) {
      let idAccidentState = null;
      type === "submit" ? (idAccidentState = 2) : (idAccidentState = 1);
      const fileFormData = new FormData();
      this.fileList.forEach(element => {
        fileFormData.append("accidentFiles", element.raw);
      });
      fileFormData.append("idAccidentType", this.form.idAccidentType);
      fileFormData.append("idAccidentState", idAccidentState);
      fileFormData.append("title", this.form.title);
      fileFormData.append("description", this.form.description);
      this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/accident/insertAccident?AccessToken=${getToken()}`, fileFormData).then(res => {
        if (res.data.status === 200) {
          this.$message.success(res.data.cause);
          this.goback();
        } else {
          this.$message.error(res.data.cause);
        }
      });
    },
    // 提交
    onSubmit() {
      this.$refs["approvalForm"].validate(valid => {
        if (valid) {
          const processList = this.processTable[this.processTable.length - 1];
          const params = {
            idApprovalProcessNode: processList.idApprovalProcessNode,
            idApproval: processList.idApproval,
            idApprovalCaseNodeUser: processList.idApprovalCaseNodeUser,
            idCheckResult: this.approvalForm.idCheckResult,
            checkCommon: this.approvalForm.checkCommon
          };
          APP.verifyMaintenance(params).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.goback();
            } else {
              this.$message.error(res.data.cause);
            }
          });
        }
      })
    },
    // 文件下载
    download(id) {
      FILE.downloadFile(id);
    },
    // 文件预览
    preView(path) {
      window.open(process.env.VUE_APP_BASE_API + "/project-api" + path, "_blank");
    },
    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid #e9ecf4;
  border-bottom-width: 0;
  div {
    height: 36px;
    line-height: 36px;
  }
  .left {
    background: #fbfcff;
    color: rgba(46, 79, 123, 0.8);
    border-right: 1px solid #e9ecf4;
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
  .right {
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
}
.mt-state {
  color: #4992e7;;
}
.error {
  color: red;
  span {
    display: inline-block;
    width: 49%;
  }
}
</style>
