<template>
  <div class="app-container">
    <div class="mb10">
      <el-input v-model="searchForm.projectName" placeholder="项目名称" size="mini" style="width: 130px;" clearable />
      <el-select v-model="searchForm.idReportState" placeholder="状态" size="mini" @change="getTableData">
        <el-option label="未上报" value="1"></el-option>
        <el-option label="已上报" value="2"></el-option>
      </el-select>
      <el-input v-model="searchForm.year" placeholder="上报年份" size="mini" style="width: 130px;" clearable />
      <el-input v-model="searchForm.month" placeholder="上报月份" size="mini" style="width: 130px;" clearable />
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
    </div>
    <el-table v-loading="listLoading" :data="tableData" element-loading-text="Loading" border highlight-current-row :stripe="true" class="tableClass" :cell-class-name="cellStyle">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="上报年份" min-width="100" align="left" prop="year" show-overflow-tooltip />
      <el-table-column label="上报月份" min-width="100" align="left" prop="month" show-overflow-tooltip />
      <el-table-column label="项目名称" min-width="150" align="left" show-overflow-tooltip prop="projectName" />
      <el-table-column label="上报人" width="180" prop="userName"/>
      <el-table-column label="状态" min-width="150" align="left">
         <template slot-scope="scope">
          <div v-if="scope.row.idReportState === 1" class="rt_state un">未上报</div>
          <div v-else class="rt_state en">已上报</div>
        </template>
      </el-table-column>
      <el-table-column label="创建日期" min-width="150" align="left" prop="createTime" show-overflow-tooltip />
      <el-table-column align="center" label="操作" width="120">
        <template slot-scope="scope">
          <template v-if="
            (scope.row.year !== year && scope.row.idReportState == 1) || 
            (scope.row.month !== month && scope.row.idReportState == 1)">
            <div class="rt_state overdue">已逾期不可上报</div>
          </template>
          <template v-else-if="scope.row.idReportState === 2">
            <el-button size="mini" type="text" @click="handleDetail(scope.row)">查看详情</el-button>
          </template>
          <template v-else-if="scope.row.idReportState === 1">
            <el-button size="mini" type="text" v-if="checkPerimission('reportMaintenanceNew')" @click="routerLinkToEdit(scope.row)">编辑</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" />
  </div>
</template>

<script>
import * as API from "@/api/maintenance";
import Pagination from "@/components/Pagination";
import { checkPerimission, getRole } from "@/utils/auth";

export default {
  components: { Pagination },

  data() {
    return {
      tableData: null,
      listLoading: true,
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      idNoticeState: null,
      searchForm: {
        year: null,
        month: null,
        projectName: null,
        idReportState: null,
        idMaintenanceType: null
      },
      roleId: getRole()
    };
  },
  computed: {
    year() {
      return new Date().getFullYear()
    },
    month() {
      return new Date().getMonth() + 1
    }
  },
  created() {
    this.getTableData();
  },
  mounted() {
  },
  methods: {
    // 根据不同状态，展示不同颜色
    processColor(row) {
      switch (row.checkState) {
        case 1:
          this.cellColorList = "green-row";
          break;
        case 2:
          this.cellColorList = "yellow-row";
          break;
        case 3:
          this.cellColorList = "red-row";
          break;
        case 4:
          this.cellColorList = "orange-row";
          break;
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 7) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    routerLinkToEdit(row) {
      this.$router.push({
        path: "/patrolMaintenance/addMaintenanceReport",
        query: {
          id: row.idPatrolMaintenance,
          projectName: row.projectName,
          type: 'edit'
        }
      })
    },
    checkPerimission,
    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        year: this.searchForm.year,
        month: this.searchForm.month,
        projectName: this.searchForm.projectName,
        idReportState: this.searchForm.idReportState
      }
      API.getMaintenanceList(params)
      .then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list;
          this.totalPage = res.data.datas.totalRecord;
          this.listLoading = false;
        }
      })
    },
    // 查看详情
    handleDetail(row) {
      this.$router.push({
        path: "/patrolMaintenance/addMaintenanceReport",
        query: {
          btn: 'detail',
          id: row.idPatrolMaintenance,
          projectName: row.projectName,
          author: row.userName,
          updateTime: row.updateTime
        }
      })
    },

    // 重置
    reset() {
      this.searchForm = {
        projectName: '',
        idMaintenanceType: null,
        startTime: null,
        endTime: null
      }
      
      this.getTableData();
    }
  }
};
</script>

<style scoped>
.rt_state {
  font-weight: bold;
}
.un {
  color: red; 
}
.en {
  color: #8bc24c; 
}
.overdue {
  color: orange;
}
</style>
