<template>
  <div class="app-container">
    <div class="mb10">
      <el-input v-model="searchForm.name" placeholder="抽查标题" size="mini" style="width: 130px;" clearable @keyup.enter.native="getTableData()" />
      <el-input v-model="searchForm.createUserName" placeholder="创建人" size="mini" style="width: 90px;" clearable @keyup.enter.native="getTableData()" />
      <el-select v-model="searchForm.checkState" placeholder="预警状态" size="mini" style="width: 100px" @change="getTableData">
        <el-option v-for="item in projectStateOptions" :key="item.idWarningState" :label="item.name" :value="item.idWarningState" />
      </el-select>
      <span>
        <el-date-picker v-model="searchForm.startTime" type="date" value-format="yyyy-MM-dd" placeholder="计划开始时间" size="mini" style="width:135px" />
        <span>至</span>
        <el-date-picker v-model="searchForm.endTime" type="date" value-format="yyyy-MM-dd" placeholder="计划结束时间" size="mini" style="width:135px" />
      </span>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
    </div>
    <el-table v-loading="listLoading" :cell-class-name="cellStyle" :data="tableData" element-loading-text="Loading" border highlight-current-row :stripe="true" class="tableClass">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="标题" align="left" prop="name" show-overflow-tooltip />
      <el-table-column label="参加人员" prop="joinUser" align="left" show-overflow-tooltip />
      <el-table-column label="创建人" width="130" align="left" prop="createUserName" />
      <el-table-column label="计划检查时间" width="180" prop="planTime" align="left" />
      <el-table-column label="预警状态" width="110" align="left" prop="checkState" :formatter="formatProjectState" />
      <el-table-column label="预警变更审核状态" width="200" align="left" prop="warningUpdateApproval" />
      <el-table-column align="center" label="操作" width="120">
        <template slot-scope="scope">
          <el-button size="mini" type="text" @click="handleDetail(scope.row)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" />
  </div>
</template>

<script>
import Pagination from "@/components/Pagination";
import * as API from "@/api/inspection";
import * as warningAPI from "@/api/warning";

export default {
  components: {
    Pagination 
  },
  data() {
    return {
      tableData: [],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true,
      searchForm: {
        name: null,
        createUserName: null,
        checkState: null,
        startTime: null,
        endTime: null
      },
      projectTypeOptions: {},
      projectStateOptions: {}
    };
  },
  created() {
    this.getTableData();
  },
  mounted() {
    // 获取预警状态
    warningAPI.getWarningState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idWarningState] = item;
        });
        this.projectStateOptions = tmpData;
      }
    });
  },
  methods: {
    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        name: this.searchForm.name,
        createUserName: this.searchForm.createUserName,
        checkState: this.searchForm.checkState,
        startTime: this.searchForm.startTime,
        endTime: this.searchForm.endTime,
        type: 'inspectionWarning'
      };
      API.getInspectionList(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list;
          this.totalPage = res.data.datas.totalRecord;
          this.listLoading = false;
        }
      });
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      switch (row.checkState) {
        case 1:
          this.cellColorList = "green-row";
          break;
        case 2:
          this.cellColorList = "yellow-row";
          break;
        case 3:
          this.cellColorList = "red-row";
          break;
        case 4:
          this.cellColorList = "orange-row";
          break;
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 5) {
        this.processColor(row);
        return this.cellColorList;
      }
    },

    formatProjectState(row) {
      return this.projectStateOptions[row.checkState] ? this.projectStateOptions[row.checkState].name : null;
    },
    formatProjectType(row) {
      return this.projectTypeOptions[row.projectType] ? this.projectTypeOptions[row.projectType].name : null;
    },
    // 重置
    reset() {
      this.searchForm = {};
      if (this.$route.query.idw) {
        this.$route.query.idw = null;
      }
      this.getTableData();
    },
    handleDetail(row) {
      this.$router.push({
        path: "/noticeManagement/addInspection",
        query: { BTN: 'detail', id: row.idInspectionGroup, type: 'warning' }
      });
    },
    onClickWarningNotification(row) {
      this.$refs.notification.show(row.id);
    },
    onClickWarningDealDatum(row) {
      this.$refs.dealDatum.show(row.id);
    }
  }
};
</script>
