<template>
  <div class="app-container scrollbar">
    <div class="space-between mb10 align">
      <div class="ml10 f16 mt10 mb10">抽查检查信息</div>
      <div size="mini" type="info" v-if="isShowState">
        <span>状态：</span>
        <span v-if="addForm.checkState === 1" class="color-green">正常</span>
        <span v-if="addForm.checkState === 2" class="color-yellow">黄色预警</span>
        <span v-if="addForm.checkState === 3" class="color-red">红色预警</span>
        <span v-if="addForm.checkState === 4" class="color-orange">橙色预警</span>
      </div>
      <div>
        <el-button size="mini" type="info" @click="goback()">返回</el-button>
        <el-button v-show="btnShow" :loading="btnLoading" size="mini" type="primary" @click="createData()">提 交</el-button>
      </div>
    </div>
    <el-form ref="addForm" :rules="rules" :model="addForm" label-width="120px" label-position="left" size="mini" :disabled="isDisabled">
      <el-form-item label="标题" prop="name">
        <el-input v-model="addForm.name" placeholder="请输入标题" />
      </el-form-item>
      <el-form-item label="参加人员" prop="joinUser">
        <el-input v-model="addForm.joinUser" placeholder="请输入参加人员(如：张三，李四)" />
      </el-form-item>
      <el-form-item label="抽查检查内容" prop="content">
        <el-input v-model="addForm.content" type="textarea" :autosize="{ minRows: 3, maxRows: 10 }" placeholder="请输入抽查检查内容" />
      </el-form-item>
      <div class="space-between align mt30">
        <div class="ml10 f16" v-show="showProjectList">可选项目</div>
        <div class="mr10">
          <el-form-item label="计划检查时间：" prop="planTime">
            <el-date-picker v-model="addForm.planTime" value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="请选择日期" size="mini" />
          </el-form-item>
        </div>
      </div>
    </el-form>
    <el-row v-show="showProjectList">
      <div class="mb10">
        <el-input v-model="searchForm.projectName" placeholder="项目名称" size="mini" style="width: 150px;" clearable @keyup.enter.native="getTableData()" />
        <el-input v-model="searchForm.addressName" placeholder="项目地址" size="mini" style="width: 150px;" clearable @keyup.enter.native="getTableData()" />
        <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      </div>
      <el-table
        ref="multipleTable"
        :cell-class-name="cellStyle"
        :data="tableData"
        :row-key="getRowId"
        border
        fit
        highlight-current-row
        :stripe="true"
        max-height="400px"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" align="center" width="40" :reserve-selection="true"/>
        <el-table-column align="center" label="序号" width="60">
          <template slot-scope="scope">{{ scope.$index + 1 }}</template>
        </el-table-column>
        <el-table-column label="项目名称" min-width="120" align="left" show-overflow-tooltip prop="projectName" />
        <el-table-column label="项目地址" min-width="120" align="left" show-overflow-tooltip prop="addressName" />
        <el-table-column label="所属区域" width="130" align="left" show-overflow-tooltip prop="districtName" />
        <el-table-column label="负责人" width="120" align="left" prop="userName" show-overflow-tooltip />
        <!-- <el-table-column label="幕墙类型" width="120" align="left" prop="projectTypeName" show-overflow-tooltip /> -->
        <el-table-column label="竣工时间" width="120" align="left" prop="curtainCompletion" show-overflow-tooltip />
        <el-table-column label="预警状态" width="110" align="center" prop="checkState" :formatter="formatProjectState" />
      </el-table>
      <!-- <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/> -->
    </el-row>

    <el-row v-show="resultShow" class="mt30">
      <div class="mb10 ml10 space-between">
        <span class="f16">抽查检查结果</span>
        <el-button v-if="checkPerimission('inspectionInfoEdit') && isOwner" v-show="submitShow" :loading="btnLoading1" 
        size="mini" type="primary" @click="submitUpload()"
          >提 交</el-button
        >
      </div>
      <el-table :data="checkResultTable" border fit highlight-current-row :stripe="true" max-height="400px">
        <el-table-column align="center" label="序号" width="60">
          <template slot-scope="scope">{{ scope.$index + 1 }}</template>
        </el-table-column>
        <el-table-column label="项目名称" prop="project.projectName" min-width="120" align="left" show-overflow-tooltip />
        <el-table-column label="项目地址" prop="project.addressName" min-width="120" align="left" show-overflow-tooltip />
        <el-table-column label="所属区域" prop="project.districtName" min-width="120" align="left" show-overflow-tooltip />
        <el-table-column label="项目负责人" align="left" prop="project.userName" />
        <!-- <el-table-column label="幕墙类型" align="left" prop="project.projectTypeName" show-overflow-tooltip /> -->
        <el-table-column label="实际检查日期" align="left" width="160">
          <template slot-scope="scope">
            <template v-if="handleState === 2">
              <el-date-picker v-model="scope.row.inspectPlanExecuteTime" type="datetime" format="yyyy-MM-dd HH:mm:ss" placeholder="请选择日期" size="mini" style="width:100%;" />
            </template>
            <template v-else>
              <el-date-picker
                v-model="scope.row.inspectPlanExecuteTime"
                :disabled="true"
                type="datetime"
                format="yyyy-MM-dd HH:mm:ss"
                placeholder="请选择日期"
                size="mini"
                style="width:100%;"
              />
            </template>
          </template>
        </el-table-column>
        <el-table-column label="整改截止日期" align="left" width="160">
          <template slot-scope="scope">
            <template v-if="handleState === 2">
              <el-date-picker v-model="scope.row.endTime" type="datetime" format="yyyy-MM-dd HH:mm:ss" placeholder="请选择日期" size="mini" style="width:100%;" />
            </template>
            <template v-else>
              <el-date-picker
                v-model="scope.row.endTime"
                :disabled="true"
                type="date"
                format="yyyy-MM-dd HH:mm:ss"
                placeholder="请选择日期"
                size="mini"
                style="width:100%;"
              />
            </template>
          </template>
        </el-table-column>
        <el-table-column label="抽查结果" align="left" width="110">
          <template slot-scope="scope">
            <template v-if="handleState === 2">
              <el-select v-model="scope.row.idInspectionState" placeholder="请选择" size="mini">
                <el-option v-for="item in spectionStateOptions" :key="item.idInspectionState" :label="item.name" :value="item.idInspectionState" />
              </el-select>
            </template>
            <template v-else>
              <el-select v-model="scope.row.idInspectionState" placeholder="请选择" size="mini" :disabled="true">
                <el-option v-for="item in spectionStateOptions" :key="item.idInspectionState" :label="item.name" :value="item.idInspectionState" />
              </el-select>
            </template>
          </template>
        </el-table-column>
        <el-table-column label="备注" align="left" width="150">
          <template slot-scope="scope">
            <template v-if="handleState === 2">
              <el-input v-model="scope.row.inspectRemarks" placeholder="请输入备注" size="mini" />
            </template>
            <template v-else>
              <el-input v-model="scope.row.inspectRemarks" placeholder="请输入备注" size="mini" :disabled="true" />
            </template>
          </template>
        </el-table-column>
        <el-table-column align="center" label="操作" width="90">
          <template slot-scope="scope">
            <el-button v-if="scope.row.idInspectionState === 3 && (handleState === 2 || handleState === 4) && (isRole != 3 && isRole != 2)" size="mini" type="text" @click="handleEdit(scope.row)">整改回复</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-upload
        v-if="checkPerimission('inspectionInfoEdit') && isOwner"
        v-show="submitShow"
        class="mt10"
        action="doUpload"
        multiple
        accept=".jpg, .jpeg, .png, .gif, .bmp, .pdf, .JPG, .JPEG, .PBG, .GIF, .BMP, .PDF"
        list-type="text"
        :auto-upload="false"
        :file-list="fileList"
        :on-change="onChange"
        :on-remove="onRemove"
      >
        <el-button slot="trigger" size="mini" type="primary">上传附件</el-button>
      </el-upload>
      <div v-if="annexList.length > 0" class="mt20 mb20 column">
        <div class="label-default f16 mr30 mb10">附件资料</div>
        <el-table :data="annexList" border fit highlight-current-row :stripe="true">
          <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
          <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
          <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
          <el-table-column align="center" label="操作" width="120">
            <template slot-scope="scope">
              <i class="el-icon-download ml10 cursor f20 label-default" @click="download(scope.row.idAccessory)" title="下载" />
              <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(scope.row.filePath)" title="预览" />
            </template>
          </el-table-column>
        </el-table>
        <!-- <div class="column ml20">
          <div v-for="(item, index) in annexList" :key="index" class="wrap">
            {{ item.fileName + "." + item.ext }}
            <i class="el-icon-download ml10 cursor f20 label-default" @click="download(item.idAccessory)" title="下载" />
            <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(item.filePath)" title="预览" />
          </div>
        </div>-->
      </div>
    </el-row>

    <!-- 整改状态修改 -->
    <el-dialog :visible.sync="editVisible" title="整改备案" width="600px">
      <el-form ref="editForm" :rules="rules" :model="editForm" label-width="120px" label-position="left" size="mini">
        <el-form-item label="项目名称">{{ editForm.prjName }}</el-form-item>
        <!-- <el-form-item label="实际检查日期">
          <el-date-picker v-model="editForm.createTime" value-format="yyyy-MM-dd HH:mm:ss" type="datetime" placeholder="请选择日期" size="mini" />
        </el-form-item> -->
        <el-form-item label="整改前状态">{{ editForm.oldIdInspectionName }}</el-form-item>
        <!-- <el-form-item label="整改后状态">
          <el-select v-model="editForm.newIdInspectionState" placeholder="请选择">
            <el-option v-for="item in spectionStateOptions" :key="item.idInspectionState" :label="item.name" :value="item.idInspectionState" />
          </el-select>
        </el-form-item> -->
        <!-- <el-form-item label="整改回复" prop="content">
          <el-input v-model="editForm.content" :autosize="{ minRows: 2, maxRows: 4 }" type="textarea" placeholder="请输入" />
        </el-form-item> -->
        <el-form-item label="附件资料" prop="annex">
          <el-upload
            action="doUpload"
            multiple
            accept=".jpg, .jpeg, .png, .gif, .bmp, .pdf, .JPG, .JPEG, .PBG, .GIF, .BMP, .PDF"
            list-type="text"
            :file-list="changeFileList"
            :auto-upload="false"
            :on-change="onChange1"
            :on-remove="onRemove1"
          >
            <el-button slot="trigger" size="mini" type="primary">上传文件</el-button>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="editVisible = false">取消</el-button>
        <el-button type="primary" size="mini" @click="submitChangeResult('editForm')">确认</el-button>
      </div>
    </el-dialog>

    <!-- 查看整改详细 -->
    <el-dialog :visible.sync="detailVisible" title="查看详情" width="60%">
      <el-form ref="detailForm" :model="detailForm" label-width="120px" label-position="left" size="mini">
        <el-form-item label="项目名称">{{ detailForm.prjName }}</el-form-item>
        <el-form-item label="操作人">{{ detailForm.operator }}</el-form-item>
        <el-form-item label="备案时间">{{ detailForm.checkTime }}</el-form-item>
        <!-- <el-form-item label="整改回复">{{ detailForm.modifyRemark }}</el-form-item> -->
        <el-form-item label="附件资料">
          <el-table :data="detailForm.annex" border highlight-current-row :stripe="true">
            <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
            <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
            <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
            <el-table-column align="center" label="操作" width="120">
              <template slot-scope="scope">
                <i class="el-icon-download ml10 cursor f20 label-default" @click="download(scope.row.idAccessory)" title="下载" />
                <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(scope.row.filePath)" title="预览" />
              </template>
            </el-table-column>
          </el-table>
          <!-- <div v-for="(item, index) in detailForm.annex" :key="index">
            {{ item.fileName + "." + item.ext }}
            <i class="el-icon-download ml10 cursor f20 label-default" @click="download(item.idAccessory)" />
            <i class="el-icon-search ml10 cursor f20 label-default" @click="preView(item.filePath)" />
          </div>-->
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="detailVisible = false">关闭</el-button>
      </div>
    </el-dialog>

    <el-row v-show="resultShow" class="mt30">
      <el-col class="mb10 ml10 f16">抽查检查整改记录</el-col>
      <el-table :data="recordTable" border fit highlight-current-row :stripe="true" max-height="400px">
        <el-table-column align="center" label="序号" width="60">
          <template slot-scope="scope">{{ scope.$index + 1 }}</template>
        </el-table-column>
        <el-table-column label="项目名称" align="left" min-width="120" prop="inspection.project.projectName" show-overflow-tooltip />
        <!-- <el-table-column label="整改回复" align="left" min-width="120" prop="content" show-overflow-tooltip /> -->
        <el-table-column label="操作人" align="left" prop="userName" />
        <!-- <el-table-column label="幕墙类型" align="left" prop="inspection.project.projectTypeName" show-overflow-tooltip /> -->
        <el-table-column label="备案时间" min-width="120" align="left" prop="createTime" show-overflow-tooltip />
        <el-table-column align="center" label="操作" width="90">
          <template slot-scope="scope">
            <el-button size="mini" type="text" @click="handleChangeDetail(scope.row)">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-row>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination";
import * as API from "@/api/project";
import * as checkAPI from "@/api/inspection";
import * as FILE from "@/api/files";
import * as warningAPI from "@/api/warning";
import { formatDate } from "@/utils/validate";
import { checkPerimission, getUserId, getRole, getToken } from "@/utils/auth";
export default {
  components: { Pagination },
  data() {
    return {
      status: "",
      tableData: [],
      // tmpTableData:[],
      isRole: null,
      isOwner: true,
      showProjectList: true,
      checkResultTable: [],
      recordTable: [],
      spectionStateOptions: {},
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      resultShow: false,
      btnShow: true,
      submitShow: true,
      isDisabled: false,
      editVisible: false,
      dialogVisible: false,
      detailVisible: false,
      btnLoading: false,
      btnLoading1: false,
      dialogType: "整改状态修改",
      editForm: {
        idInspectionUpdate: null,
        prjName: null,
        completionTime: null,
        idInspection: null,
        oldIdInspectionName: null,
        oldIdInspectionState: null,
        newIdInspectionState: 1,
        content: null
      },
      detailForm: {
        prjName: null,
        operator: null,
        checkTime: null,
        modifyRemark: null,
        annex: []
      },
      addForm: {
        name: "",
        joinUser: "",
        content: "",
        planTime: "",
        checkState: null
      },
      annexList: [],
      fileList: [],
      changeFileList: [],
      rules: {
        name: [{ required: true, message: "请输入标题", trigger: "blur" }],
        joinUser: [{ required: true, message: "请输入参加人员", trigger: "blur" }],
        content: [{ required: true, message: "请输入抽查检查内容", trigger: "blur" }],
        planTime: [{ required: true, message: "请选择计划检查时间", trigger: "blur" }]
      },
      multipleSelection: [],
      inspections: [],
      handleState: null,
      idInspectionGroup: null,
      idAccessoryGroup: null,
      projectStateOptions: {},
      searchForm: {
        projectName: '',
        addressName: '',
      },
      isShowState: false
    };
  },
  created() {
    this.getTableData();
  },
  mounted() {
    const btnType = this.$route.query.BTN;
    const type = this.$route.query.type;
    this.idInspectionGroup = this.$route.query.id;
    this.getResultData(this.idInspectionGroup);
    this.getRecordData(this.idInspectionGroup);

    // 查看详情
    if (btnType == "detail") {
      this.showProjectList = false;
      this.btnShow = false;
      this.isDisabled = true;
      this.resultShow = true;
      this.getDetail(this.idInspectionGroup);
      this.checkInspection()
    }

    if (type == 'warning') {
      this.isShowState = true
    }

    // 获取事故类型
    checkAPI.getInspectionState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idInspectionState] = item;
        });
        this.spectionStateOptions = tmpData;
      }
    });
    // 获取预警状态
    warningAPI.getWarningState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idWarningState] = item;
        });
        this.projectStateOptions = tmpData;
      }
    });
  },
  methods: {
    // 确认检查通知已阅
    checkInspection() {
      const params = {
        idInspectionGroup: this.idInspectionGroup,
        idUser: getUserId(),
        isDone: true
      };
      checkAPI.checkInspectionRecipient(params).then(res => {
        if (res.data.status === 200) {
          this.isRead = true;
        }
      });
    },
    checkPerimission,
    // 查询列表
    getDetail(id) {
      const params = {
        idInspectionGroup: id,
        type: 'inspection'
      };
      checkAPI.getInspectionList(params).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas.list[0];
          this.idAccessoryGroup = tmpData.idAccessoryGroup;
          this.handleState = tmpData.handleState;
          this.addForm.checkState = tmpData.checkState
          this.addForm.name = tmpData.name;
          this.addForm.planTime = tmpData.planTime;
          this.addForm.joinUser = tmpData.joinUser;
          this.addForm.content = tmpData.content;
          const idRole = parseInt(getRole());
          this.isRole = idRole;
          if (idRole != 2) {
            this.isOwner = false;
          }
          if (this.idAccessoryGroup !== null) {
            this.getResultFileList(this.idAccessoryGroup);
          }
          if (tmpData.idInspectionState !== null) { // this.handleState === 1
            this.submitShow = false;
          }
        }
      });
    },
    // 查询项目列表
    getTableData() {
      const params = {
        // pageNum: this.pageNum,
        // pageSize: this.pageSize,
        projectName: this.searchForm.projectName,
        addressName: this.searchForm.addressName
      };
      API.curtainDatabase(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.projects.list;
          this.totalPage = res.data.datas.projects.totalRecord;
          // this.tableData.forEach(row => {
          //   this.tmpTableData[row.idProject]=row
          // })
        }
      });
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      switch (row.checkState) {
        case 1:
          this.cellColorList = "green-row";
          break;
        case 2:
          this.cellColorList = "yellow-row";
          break;
        case 3:
          this.cellColorList = "red-row";
          break;
        case 4:
          this.cellColorList = "orange-row";
          break;
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 7) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    formatProjectState(row) {
      return this.projectStateOptions[row.checkState] ? this.projectStateOptions[row.checkState].name : null;
    },
    // 自动选择
    toggleSelection(rows) {
      if (rows) {
        rows.forEach(row => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    getRowId(row) {
      return row.idProject;
    },
    // 多行选择
    handleSelectionChange(val) {
      const multipleSelection = val;
      let tmpChecked = [];
      let title = '';
      multipleSelection.forEach(item => {
        tmpChecked.push({ idProject: item.idProject });
        title += item.projectName + ';'
      });
      this.multipleSelection = tmpChecked;
      this.addForm.name = title;
    },
    // 提交
    createData() {
      this.$refs["addForm"].validate(valid => {
        if (valid) {
          this.btnLoading = true;
          if (this.multipleSelection.length === 0) {
            this.$message.warning("请选择抽查检查项目");
          } else {
            const params = {
              name: this.addForm.name,
              planTime: this.addForm.planTime,
              joinUser: this.addForm.joinUser,
              content: this.addForm.content,
              inspections: this.multipleSelection
            };
            checkAPI.insertInspection(params).then(res => {
              if (res.data.status === 200) {
                this.$message.success(res.data.cause);
                this.btnLoading = false;
                this.goback();
              } else {
                this.$message.error(res.data.cause);
                this.btnLoading = false;
              }
            });
          }
        }
      });
    },
    // 查询抽查检查结果列表
    getResultData(idInspectionGroup) {
      const params = {
        idInspectionGroup: idInspectionGroup
      };
      checkAPI.selectInfoById(params).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas.inspections;
          this.checkResultTable = tmpData;
          const tmpArray = [];
          // const tmpproject = []
          tmpData.forEach(item => {
            tmpArray.push({
              idInspection: item.idInspection,
              idInspectionGroup: item.idInspectionGroup,
              inspectPlanExecuteTime: item.inspectPlanExecuteTime,
              idInspectionState: item.idInspectionState,
              inspectRemarks: item.inspectRemarks
            });
            // tmpproject.push(this.tmpTableData[item.project.idProject])
          });
          this.inspections = tmpArray;
          // this.toggleSelection(tmpproject)
        }
      });
    },
    onChange(file, fileList) {
      this.fileList = fileList;
    },
    onRemove(file, fileList) {
      this.fileList = fileList;
    },
    // 提交抽查检查结果
    submitUpload() {
      this.btnLoading1 = true;
      let count = 0;
      this.checkResultTable.forEach(item => {
        if (item.inspectPlanExecuteTime !== null && item.idInspectionState !== null) {
        } else {
          count++;
        }
      });
      if (count === 0) {
        this.checkResultTable.forEach(item => {
          const fileFormData = new FormData();
          this.fileList.forEach(item => {
            fileFormData.append("files", item.raw);
          });
          for (const i in this.checkResultTable) {
            if (this.checkResultTable[i].endTime) {
              this.inspections[i].endTime = formatDate(this.checkResultTable[i].endTime);
            } else {
              this.inspections[i].endTime = '';
            }
            this.inspections[i].inspectPlanExecuteTime = formatDate(this.checkResultTable[i].inspectPlanExecuteTime);
            this.inspections[i].idInspectionState = this.checkResultTable[i].idInspectionState;
            this.inspections[i].inspectRemarks = this.checkResultTable[i].inspectRemarks;
          }
          fileFormData.append("inspections", JSON.stringify(this.inspections));
          this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/inspectionGroup/changeInspectionResult?AccessToken=${getToken()}`, fileFormData).then(res => {
            if (res.data.status === 200) {
              this.$message.success(res.data.cause);
              this.btnLoading1 = false;
              this.$router.push("/noticeManagement/inspection")
            } else {
              this.$message.error(res.data.cause);
              this.btnLoading1 = false;
            }
          });
        });
      } else {
        this.$message.warning("请选择实际检查日期或抽查结果");
        this.btnLoading1 = false;
      }
    },
    onChange1(file, fileList) {
      this.changeFileList = fileList;
    },
    onRemove1(file, fileList) {
      this.changeFileList = fileList;
    },
    // 提交整改结果
    submitChangeResult() {
      const fileFormData = new FormData();
      this.changeFileList.forEach(item => {
        fileFormData.append("files", item.raw);
      });
      fileFormData.append("idInspection", this.editForm.idInspection);
      // fileFormData.append("createTime", this.editForm.createTime);
      fileFormData.append("oldIdInspectionState", this.editForm.oldIdInspectionState);
      // fileFormData.append("newIdInspectionState", this.editForm.newIdInspectionState);
      // fileFormData.append("content", this.editForm.content);
      this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/inspectionGroup/AddReformRecord?AccessToken=${getToken()}`, fileFormData).then(res => {
        if (res.data.status === 200) {
          this.$message.success(res.data.cause);
          this.goback();
        } else {
          this.$message.error(res.data.cause);
        }
        this.editVisible = false;
      });
    },
    // 查询是否已存在整改报告上传记录
    getInspectionUpdateById(idInspection) {
      checkAPI.getInspectionUpdateById({
        idInspection: idInspection
      }).then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas;
          if (tmpData != null) {
            this.editForm.idInspectionUpdate = tmpData.idInspectionUpdate;
          }
        }
      })
    },
    // 整改备案
    handleEdit(row) {
      this.getInspectionUpdateById(row.idInspection);
      this.editVisible = true;
      this.changeFileList = [];
      this.editForm.prjName = row.project.projectName;
      this.editForm.completionTime = row.inspectPlanExecuteTime;
      this.editForm.idInspection = row.idInspection;
      this.editForm.oldIdInspectionState = row.idInspectionState;
      this.editForm.oldIdInspectionName = this.spectionStateOptions[row.idInspectionState].name;
    },
    // 获取抽查检查整改记录
    getRecordData(idInspectionGroup) {
      const params = {
        idInspectionGroup: idInspectionGroup
      };
      checkAPI.selectInfoById(params).then(res => {
        if (res.data.status === 200) {
          this.recordTable = res.data.datas.inspectionUpdates;
        }
      });
    },
    // 获取抽查检查结果的文件信息列表
    getResultFileList(id) {
      const param = {
        idAccessoryGroup: id
      };
      FILE.getAccessoryByGroup(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          tmpData.forEach(item => {
            this.annexList.push(item);
          });
        }
      });
    },
    // 获取整改记录详情的文件信息列表
    getFileList(id) {
      const param = {
        idAccessoryGroup: id
      };
      FILE.getAccessoryByGroup(param).then(res => {
        this.detailForm.annex = [];
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          tmpData.forEach(item => {
            this.detailForm.annex.push(item);
          });
          this.detailVisible = true;
        }
      });
    },
    // 文件下载
    download(id) {
      FILE.downloadFile(id);
    },
    // 文件预览
    preView(path) {
      window.open(process.env.VUE_APP_BASE_API + "/project-api" + path, "_blank");
    },
    // 查看整改记录详情
    handleChangeDetail(row) {
      if (row.idAccessoryGroup !== null) {
        this.getFileList(row.idAccessoryGroup);
      } else {
        this.detailVisible = true;
      }
      this.detailForm.prjName = row.inspection.project.projectName;
      this.detailForm.operator = row.inspection.project.userName;
      this.detailForm.checkTime = row.createTime;
      this.detailForm.modifyRemark = row.content;
    },
    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid #e9ecf4;
  border-bottom-width: 0;
  div {
    height: 36px;
    line-height: 36px;
  }
  .left {
    background: #fbfcff;
    color: rgba(46, 79, 123, 0.8);
    border-right: 1px solid #e9ecf4;
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
  .right {
    border-bottom: 1px solid #e9ecf4;
    padding-left: 30px;
  }
}
</style>
