<template>
  <div class="app-container scrollbar">
    <el-form :model="noticeForm" label-width="120px" label-position="left" size="mini" class="mt20">
      <el-form-item label="内容标题">
        <el-input v-model="noticeForm.title" />
      </el-form-item>
      <el-form-item label="操作人">
        <el-input v-model="noticeForm.operator" :disabled="true" />
      </el-form-item>
      <el-form-item label="收件人">
        <el-button type="primary" size="mini" @click="selectRecipient()">选择收件人</el-button>
        <el-dialog :visible.sync="dialogVisible" :close-on-click-modal="false" width="400px" title="选择收件人">
          <div class="permissionList">
            <el-tree
              ref="tree"
              :show-checkbox="true"
              :data="treeData"
              :props="defaultProps"
              node-key="idDistrict"
              :default-expanded-keys="idArr"
              :expand-on-click-node="false"
              @check-change="checkGroupNode"
            />
          </div>
          <div slot="footer" class="dialog-footer">
            <el-button type="info" size="mini" @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" size="mini" @click="dialogVisible = false">确 认</el-button>
          </div>
        </el-dialog>
      </el-form-item>
      <el-form-item label="附件">
        <el-upload action="doUpload" multiple list-type="text" :auto-upload="false" :file-list="noticeForm.fileList" :on-change="onChange" :on-remove="onRemove">
          <el-button slot="trigger" size="mini" type="primary">添加附件</el-button>
        </el-upload>
      </el-form-item>
      <el-form-item label="公告内容">
        <div class="editor-container">
          <tinymce v-model="noticeForm.content" menubar="false" :height="360" />
        </div>
      </el-form-item>
      <el-form-item label="附件资料" v-if="annexList.length > 0">
        <el-table :data="annexList" border fit highlight-current-row :stripe="true">
          <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
          <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
          <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
          <el-table-column align="center" label="操作" width="120">
            <template slot-scope="scope">
              <i class="el-icon-download ml10 cursor f20 label-default" @click="download(scope.row.idAccessory)" title="下载" />
              <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(scope.row.filePath)" title="预览" />
            </template>
          </el-table-column>
        </el-table>
      </el-form-item>
    </el-form>

    <div class="justify-end mt20">
      <el-button type="info" size="mini" @click="goback()">返 回</el-button>
      <el-button :loading="btnLoading1" type="warning" size="mini" @click="createData('save')">保存</el-button>
      <el-button :loading="btnLoading2" type="primary" size="mini" @click="createData('submit')">提交</el-button>
    </div>

  </div>
</template>

<script>
import * as API from "@/api/notice";
import * as treeAPI from "@/api/district";
import { getName } from "@/utils/auth";
import Tinymce from "@/components/Tinymce";
import { getToken } from "@/utils/auth";
import * as FILE from "@/api/files";

export default {
  components: { Tinymce },
  data() {
    return {
      btnLoading1: false,
      btnLoading2: false,
      idNotice: null,
      dialogVisible: false,
      idArr: [1],
      treeData: [],
      nodeArray: [],
      annexTable: [],
      annexList: [],
      noticeForm: {
        idNoticeState: "",
        idAccessoryGroup: null,
        operator: getName(),
        userIds: 5,
        title: "",
        content: "",
        summary: "",
        fileList: []
      },

      noticeId: null,
      defaultProps: {
        children: "children",
        label: "name"
      }
    };
  },
  mounted() {
    if (this.$route.path === "/noticeManagement/addNotice") {
      this.noticeId = this.$route.query.id;
      this.getNoticeDetail(this.noticeId);
    }
    this.getDistrictUserTree();
  },
  methods: {
    checkGroupNode(a, b) {
      const nodeArray = this.$refs.tree.getCheckedNodes();
      const halfNodeArray = this.$refs.tree.getHalfCheckedNodes(); // 获取半选状态的
      // console.log(halfNodeArray);

      const idAccessArray = [];
      for (const k in nodeArray) {
        if (nodeArray[k].level === 4) {
          idAccessArray.push(nodeArray[k].idDistrict);
        }
      }
      for (const j in halfNodeArray) {
        if (halfNodeArray[j].level === 4) {
          idAccessArray.push(halfNodeArray[j].idDistrict);
        }
      }
      this.nodeArray = idAccessArray;
    },

    data2treeDG(datas, dataArray) {
      for (let j = 0; j < dataArray.length; j++) {
        const dataArrayIndex = dataArray[j];
        const childrenArray = [];
        const Id = dataArrayIndex.idDistrict;
        const levelP = dataArrayIndex.level;
        for (let i = 0; i < datas.length; i++) {
          const data = datas[i];
          const parentId = data.parentId;
          if (parentId === Id) {
            // 判断是否为子节点
            const objTemp = {
              idDistrict: data.idDistrict,
              name: data.name,
              parenId: data.parenId,
              level: data.level
            };
            if (levelP != 4) {
              childrenArray.push(objTemp);
            }
          }
        }
        dataArrayIndex.children = childrenArray;
        if (childrenArray.length > 0) {
          // 有子节点则递归
          this.data2treeDG(datas, childrenArray);
        }
      }
      this.treeData = dataArray;
      return dataArray;
    },

    // 获取收件人结构树
    getDistrictUserTree() {
      const dataArray = [];
      treeAPI.getDistrictUserTree().then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          tmpData.forEach(item => {
            const parentId = item.parentId;
            if (parentId === 0) {
              const objTemp = {
                idDistrict: item.idDistrict,
                name: item.name,
                parenId: item.parenId,
                level: item.level
              };
              dataArray.push(objTemp);
            }
          });
          this.data2treeDG(tmpData, dataArray);
        }
      });
    },

    // 选择收件人
    selectRecipient() {
      this.dialogVisible = true;
      treeAPI.getDistrictUserTree().then(res => {
        if (res.data.status === 200) {
          const tmpData = [];
          res.data.datas.forEach(item => {
            if (item.level === 4) {
              tmpData.push(item);
            }
          });
          this.$refs.tree.setCheckedNodes(tmpData);
        }
      });
    },

    onChange(file, fileList) {
      this.noticeForm.fileList = fileList;
    },
    onRemove(file, fileList) {
      this.noticeForm.fileList = fileList;
    },

    // 发布公告
    createData(btnType) {
      btnType === "submit" ? (this.btnLoading2 = true) : (this.btnLoading1 = true);

      let idNoticeState = null; // (2：已发布，1：草稿)
      btnType === "submit" ? (idNoticeState = 2) : (idNoticeState = 1);
      if (this.nodeArray.length === 0 && btnType === "submit") {
        this.$message.warning("请选择收件人！");
        this.btnLoading2 = false;
      } else {
        const userIdLists = this.nodeArray.toString();
        const fileFormData = new FormData();
        this.noticeForm.fileList.forEach(element => {
          fileFormData.append("noticeFiles", element.raw);
        });
        fileFormData.append("idNoticeState", idNoticeState);
        if (this.noticeId) {
          fileFormData.append("idNotice", this.noticeId);
        }
        if (this.noticeForm.idAccessoryGroup) {
          fileFormData.append("idAccessoryGroup", this.noticeForm.idAccessoryGroup);
        }
        fileFormData.append("userIds", userIdLists);
        fileFormData.append("title", this.noticeForm.title);
        fileFormData.append("content", this.noticeForm.content);
        this.btnLoading = true;
        this.axios.post(process.env.VUE_APP_BASE_API + `/project-api/notice/insertNotice?AccessToken=${getToken()}`, fileFormData).then(res => {
          if (res.data.status === 200) {
            this.$message.success(res.data.cause);
            this.btnLoading1 = false;
            this.btnLoading2 = false;
            this.goback();
          } else {
            this.$message.error(res.data.cause);
            this.btnLoading1 = false;
            this.btnLoading2 = false;
          }
        });
      }
    },

    // 根据公告id查看详情
    getNoticeDetail(id) {
      const param = {
        idNotice: id
      };
      API.getNoticeDetail(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          this.noticeForm.title = tmpData.title;
          this.noticeForm.operator = tmpData.userName;
          this.noticeForm.content = tmpData.content;
          this.noticeForm.idAccessoryGroup = tmpData.idAccessoryGroup;
          this.getNoticeFileList(this.noticeForm.idAccessoryGroup);
        }
      });
    },
    // 获取公告文件信息列表
    getNoticeFileList(id) {
      const param = {
        idAccessoryGroup: id
      };
      FILE.getAccessoryByGroup(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          tmpData.forEach(item => {
            this.annexList.push(item);
          });
        }
      });
    },
    // 文件下载
    download(id) {
      FILE.downloadFile(id);
    },
    // 文件预览
    preView(path) {
      window.open(process.env.VUE_APP_BASE_API + "/project-api" + path, "_blank");
    },

    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss" scoped>
.editor-container {
  margin-bottom: 10px;
}

.permissionList {
  .itemTitle {
    color: #000;
    font-size: 16px;
  }
}

</style>
