<template>
  <div class="app-container">
    <el-button v-if="checkPerimission('inspectionInfoNew')" type="primary" size="mini" @click="handleClick('add', 'row')">新增</el-button>
    <el-table v-loading="listLoading" :data="tableData" element-loading-text="Loading" border fit highlight-current-row :stripe="true" class="tableClass mt10">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="标题" align="left" prop="name" show-overflow-tooltip />
      <el-table-column label="参加人员" prop="joinUser" align="left" show-overflow-tooltip />
      <el-table-column label="创建人" width="130" align="left" prop="createUserName" />
      <el-table-column label="创建日期" width="180" prop="createTime" align="left" />
      <el-table-column label="计划检查时间" width="180" prop="planTime" align="left" />
      <el-table-column label="状态" width="90" align="center" prop="handleState">
        <template slot-scope="scope">
          <template v-if="scope.row.handleState === 1">
            <span class="color-green">已处理</span>
          </template>
          <template v-else-if="scope.row.handleState === 2">
            <span class="color-red">待处理</span>
          </template>
          <template v-else-if="scope.row.handleState === 3">
            <span class="color-orange">审核中</span>
          </template>
          <template v-else>
            <span class="color-red">审核不通过</span>
          </template>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="操作" width="120">
        <template slot-scope="scope">
          <el-button size="mini" type="text" @click="handleClick('detail', scope.row)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination";
import * as API from "@/api/inspection";
import { checkPerimission } from "@/utils/auth";

export default {
  components: { Pagination },
  data() {
    return {
      tableKey: 0,
      tableData: [],
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true,
      dialogVisible: false,
      dialogType: "新增",
      addForm: {
        name: "名称",
        description: "描述"
      }
    };
  },
  created() {
    this.getTableData();
  },
  methods: {
    checkPerimission,
    // 查询列表
    getTableData() {
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        type: 'inspection'
      };
      API.getInspectionList(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list;
          this.totalPage = res.data.datas.totalRecord;
          this.listLoading = false;
        }
      });
    },
    handleClick(btn, row) {
      if (btn === "add") {
        this.$router.push({
          path: "/noticeManagement/addInspection",
          query: { BTN: btn }
        });
      } else {
        this.$router.push({
          path: "/noticeManagement/addInspection",
          query: { BTN: btn, id: row.idInspectionGroup }
        });
      }
    }
  }
};
</script>
