<template>
    <div class="app-container">
    <el-table v-loading="listLoading" :data="tableData" element-loading-text="Loading" border fit highlight-current-row :stripe="true" class="tableClass mt10">
      <el-table-column align="center" label="序号">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="标题" align="left" prop="title" show-overflow-tooltip />
      <el-table-column label="申请人" align="left" prop="userName" />
      <el-table-column label="计划检查时间" prop="planTime" align="left" />
      <el-table-column label="创建日期" prop="createTime" align="left" />
      <el-table-column label="状态" align="center" prop="oldIdInspectionState">
        <template slot-scope="scope">
          <template v-if="scope.row.oldIdInspectionState === 3">
            <span class="color-green">需整改</span>
          </template>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="操作">
        <template slot-scope="scope">
          <el-button size="mini" type="text" @click="handleClick(scope.row)">审批</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog :visible.sync="dialogFile" width="700px" title="抽查整改审批">
      <el-form label-width="120px" label-position="left" size="mini">
        <el-form-item label="整改回复报告">
          <el-table :data="FileData" border highlight-current-row :stripe="true">
            <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
            <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
            <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
            <el-table-column align="center" label="操作" width="120">
                <template slot-scope="scope">
                <i class="el-icon-download ml10 cursor f20 label-default" @click="handleDownLoad(scope.row)" title="下载" />
                <i class="el-icon-view ml10 cursor f20 label-default" @click="getPdfCode(scope.row)" title="预览" />
                </template>
            </el-table-column>
          </el-table>
        </el-form-item>
      </el-form>
      <h4>审批意见：</h4>
      <el-form
        ref="approvalForm"
        :rules="rules"
        :model="approvalForm"
        label-width="80px"
        size="mini">
        <el-form-item label="处理结果">
          <el-radio-group v-model="approvalForm.idCheckResult">
            <el-radio :label="1">通过</el-radio>
            <el-radio :label="2">不通过</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="处理意见" prop="checkCommon">
          <el-input
            v-model="approvalForm.checkCommon"
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4 }"/>
        </el-form-item>
        </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="dialogFile = false">取 消</el-button>
        <el-button type="primary" size="mini" @click="approval()">确 认</el-button>
      </div>
    </el-dialog>
    <Pagination 
    v-show="totalPage > 0" 
    :total="totalPage" 
    :page.sync="pageNum" 
    :limit.sync="pageSize" 
    @pagination="getTableData" 
    :page-sizes="[10, 15, 20,30]"
    layout="total, sizes, prev, pager, next, jumper"/>
  </div>
</template>

<script>
import Pagination from "@/components/Pagination";
import * as API from "@/api/inspection";
import * as APPROVAL from "@/api/approval";
import * as FILE from "@/api/files";
import * as PROJECT from "@/api/project"

export default {
  components: { Pagination },
  data() {
    return {
      listLoading: true,
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      inspection: {
        title: '',
        planTime: ''
      },
      tableData: [],
      dialogFile: false,
      FileData: [],
      approvalForm: {
        idApproval: null,
        idCheckResult: null,
        checkCommon: null
      },
      rules: {
        checkCommon: [
          { required: true, message: "请输入处理意见", trigger: "blur" }
        ]
      },
      processTable: [],
      processName: null
    }
  },
  created() {
    this.getTableData()
  },
  methods: {
    // 提交审批
    approval() {
      this.$refs["approvalForm"].validate(valid => {
        if (valid) {
          const processList = this.processTable[this.processTable.length - 1];
          const param = {
            idApprovalProcessNode: processList.idApprovalProcessNode,
            idApproval: this.approvalForm.idApproval,
            idApprovalCaseNodeUser: processList.idApprovalCaseNodeUser,
            idCheckResult: this.approvalForm.idCheckResult,
            checkCommon: this.approvalForm.checkCommon
          }
          APPROVAL.approvalInspection(param)
          .then(res => {
            if (res.data.status === 200) {
              this.$message.success('审批成功');
              this.dialogFile = false;
              this.getTableData();
            } else {
              this.$message.error('审批失败');
            }
          })
        }
      })
    },
    // 在线预览pdf
    getPdfCode(row) {
      PROJECT.readPDF(row.idAccessory)
    },
    // 下载文件
    handleDownLoad(row) {
      FILE.downloadFile(row.idAccessory)
    },
    // 打开审批操作窗口
    handleClick(row) {
      this.dialogFile = true;
      this.approvalForm.idApproval = row.idApproval;
      this.getAccessoryByGroup(row.idAccessoryGroup);
      this.getProcessTable(row.idApproval);
    },
    // 流程审批信息列表
    getProcessTable(idApproval) {
      const param = {
        idApproval: idApproval
      }
      APPROVAL.getApprovalInfo(param).then(res => {
        if (res.data.status === 200) {
          this.processTable = res.data.datas.list
          this.processName = res.data.datas.name
        }
      })
    },
    // 查看文件
    getAccessoryByGroup(idAccessoryGroup) {
      const param = {
        idAccessoryGroup: idAccessoryGroup
      }
      FILE.getAccessoryByGroup(param).then(res => {
        if (res.data.status === 200) {
          this.FileData = res.data.datas;
        }
      })
    },
    // 获取待审核抽查整改列表
    getTableData() {
      let param = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        title: this.inspection.title,
        planTime: this.inspection.planTime
      }
      API.getInspectionUpdateList(param)
      .then(res => {
        if (res.data.status === 200) {
          this.listLoading = false;
          this.tableData = res.data.datas.list;
          this.totalPage = res.data.datas.totalRecord;
        }
      })
    }
  }
}
</script>