<template>
  <div class="app-container">
    <div class="mb10">
      <el-input v-model="noticeTitle" placeholder="标题" size="mini" style="width: 130px;" clearable />
      <el-input v-model="operator" placeholder="操作人" size="mini" style="width: 130px;" clearable />
      <el-select v-model="idNoticeState" placeholder="状态" size="mini" style="width: 100px" clearable>
        <el-option v-for="item in stateOptions" :key="item.idNoticeState" :label="item.name" :value="item.idNoticeState" />
      </el-select>
      <span>
        <el-date-picker v-model="startTime" type="date" value-format="yyyy-MM-dd" placeholder="创建开始时间" size="mini" style="width:135px" clearable />
        <span>至</span>
        <el-date-picker v-model="endTime" type="date" value-format="yyyy-MM-dd" placeholder="创建结束时间" size="mini" style="width:135px" clearable />
      </span>
      <el-button type="primary" size="mini" icon="el-icon-search" @click="getTableData()" />
      <el-button type="info" size="mini" @click="reset()">重置</el-button>
      <el-button v-if="checkPerimission('noticeInfoNew')" type="primary" size="mini" @click="handleClick('add')">新增</el-button>
    </div>
    <el-table v-loading="listLoading" :data="tableData" element-loading-text="Loading" border highlight-current-row :stripe="true" class="tableClass" :cell-class-name="cellStyle">
      <el-table-column align="center" label="序号" width="60">
        <template slot-scope="scope">{{ scope.$index + 1 }}</template>
      </el-table-column>
      <el-table-column label="内容标题" min-width="180" align="left" show-overflow-tooltip prop="title" />
      <el-table-column label="操作人" min-width="130" align="left" prop="userName" show-overflow-tooltip />
      <el-table-column label="状态" width="110" align="center" prop="idNoticeState" :formatter="formatReportState" />
      <el-table-column label="创建日期" min-width="150" align="left" prop="createTime" show-overflow-tooltip />
      <el-table-column label="发布日期" min-width="150" align="left" prop="publishTime" show-overflow-tooltip />
      <el-table-column align="center" label="操作" width="120">
        <template slot-scope="scope">
          <template v-if="scope.row.idNoticeState === 2">
            <el-button size="mini" type="text" @click="handleDetail(scope.row)">查看详情</el-button>
            <el-button v-if="checkPerimission('noticeInfoNew') && userId === scope.row.idUser" size="mini" type="text" @click="handleRecall(scope.row)">撤回</el-button>
          </template>
          <template v-if="scope.row.idNoticeState === 1 || scope.row.idNoticeState == 3">
            <el-button v-if="checkPerimission('noticeInfoNew')" size="mini" type="text" @click="handleClick('edit', scope.row)">编辑</el-button>
          </template>
        </template>
      </el-table-column>
    </el-table>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" @pagination="getTableData" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/>
  </div>
</template>

<script>
import * as API from "@/api/notice";
import Pagination from "@/components/Pagination";
import { checkPerimission, getUserId } from "@/utils/auth";

export default {
  components: { Pagination },

  data() {
    return {
      tableData: null,
      listLoading: true,
      userId: parseInt(getUserId()),
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      idNotice: null,
      idNoticeState: null,
      operator: null,
      noticeTitle: null,
      startTime: null,
      endTime: null,
      stateOptions: {}
    };
  },
  created() {
    this.getTableData();
  },
  mounted() {
    // 获取状态
    API.getNoticeState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idNoticeState] = item;
        });
        this.stateOptions = tmpData;
      }
    });
  },
  methods: {
    checkPerimission,
    // 查询列表
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        title: this.noticeTitle,
        userName: this.operator,
        idNoticeState: this.idNoticeState,
        startTime: this.startTime,
        endTime: this.endTime ? this.endTime + " 23:59:59" : this.endTime
      };
      API.getNoticeList(params).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas.list;
          this.totalPage = res.data.datas.totalRecord;
          this.listLoading = false;
        }
      });
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      if (row.idNoticeState === 1) {
        this.cellColorList = "red-row";
      } else if (row.idNoticeState === 2) {
        this.cellColorList = "green-row";
      } else {
        this.cellColorList = "orange-row";
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 3) {
        this.processColor(row);
        return this.cellColorList;
      }
    },

    formatReportState(row) {
      return this.stateOptions[row.idNoticeState] ? this.stateOptions[row.idNoticeState].name : null;
    },

    // 新增 or 编辑
    handleClick(btn, row) {
      if (btn === "add") {
        this.$router.push({
          path: "/noticeManagement/addNotice",
          query: { btn: btn }
        });
      } else {
        this.$router.push({
          path: "/noticeManagement/addNotice",
          query: { btn: btn, id: row.idNotice, noid: row.idNoticeState }
        });
      }
    },
    // 查看详情
    handleDetail(row) {
      this.$router.push({
        path: "/noticeManagement/noticeDetail",
        query: { id: row.idNotice, reid: row.isRead }
      });
    },

    handleRecall(row) {
      const params = {
        idNotice: row.idNotice
      };
      this.$confirm("确定撤回公告吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        API.reNoticeById(params).then(res => {
          if (res.data.status === 200) {
            this.$message.success("撤回公告成功");
            this.getTableData();
          } else {
            this.$message.error(res.data.cause);
          }
        });
      });
    },

    // 重置
    reset() {
      this.noticeTitle = null;
      this.operator = null;
      this.idNoticeState = null;
      this.startTime = null;
      this.endTime = null;
      this.getTableData();
    }
  }
};
</script>
