<template>
  <div class="app-container scrollbar">
    <div class="justify-end mt20">
      <el-button type="primary" plain size="mini" class="mr10" @click="checkStatuteFile()" v-if="isRead === false || showBtn === false">已 阅</el-button>
      <el-button type="info" size="mini" @click="goback()">返 回</el-button>
    </div>
    <!-- 文件详情 -->
    <div class="detailForm mt10">
      <div class="header">
        <div class="titleHeader">{{ detailForm.title }}</div>
        <div class="row align itemBox">
          <div class="title justify-end">发布人：</div>
          <div class="">{{ detailForm.operator }}</div>
        </div>
        <div class="row align itemBox">
          <div class="title justify-end">收件人：</div>
          <div class="ellipsis recipient" :title="detailForm.userList">{{ detailForm.userList }}</div>
        </div>
      </div>
      <div class="content scrollbar">
        <p v-html="detailForm.content" />
      </div>
      <div v-if="annexList.length > 0" class="mt10">
        <div class="mb10">附件</div>
        <el-table :data="annexList" border fit highlight-current-row :stripe="true">
          <el-table-column label="文件名" align="left" prop="fileName" show-overflow-tooltip />
          <el-table-column label="上传人" align="left" width="120" prop="userName" show-overflow-tooltip />
          <el-table-column label="上传时间" align="left" width="180" prop="createTime" show-overflow-tooltip />
          <el-table-column align="center" label="操作" width="120">
            <template slot-scope="scope">
              <i class="el-icon-download ml10 cursor f20 label-default" @click="download(scope.row.idAccessory)" title="下载" />
              <i class="el-icon-view ml10 cursor f20 label-default" @click="preView(scope.row.filePath)" title="预览" />
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>

<script>
import * as API from "@/api/statuteFile";
import * as FILE from "@/api/files";

export default {
  data() {
    return {
      idNotice: null,
      isRead: false,
      showBtn: true,
      detailForm: {
        title: "",
        operator: "",
        content: "",
        userList: "",
        idAccessoryGroup: null
      },
      annexTable: [],
      annexList: [],
      idStatuteFile: null
    };
  },
  mounted() {
    if (this.$route.path === "/noticeManagement/statuteFileDetail") {
      this.idStatuteFile = this.$route.query.id;
      this.getStatuteFileDetail(this.idStatuteFile);
    }
  },
  methods: {
    // 确认文件已阅
    checkStatuteFile() {
      const params = {
        idStatuteFile: this.idStatuteFile
      };
      API.checkStatuteFile(params).then(res => {
        if (res.data.status === 200) {
          this.$message.success("公告已阅！");
          this.isRead = true;
        }
      });
    },

    // 根据文件id查看详情
    getStatuteFileDetail(id) {
      const param = {
        idStatuteFile: id
      };
      API.getStatuteFileDetail(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          this.detailForm.title = tmpData.title;
          this.detailForm.operator = tmpData.userName;
          this.detailForm.userList = tmpData.receiveUserList.toString();
          this.detailForm.content = tmpData.content;
          this.detailForm.idAccessoryGroup = tmpData.idAccessoryGroup;
          this.isRead = tmpData.isRead;
          this.getStatuteFileList(this.detailForm.idAccessoryGroup);
        }
      });
    },
    // 获取公告文件信息列表
    getStatuteFileList(id) {
      const param = {
        idAccessoryGroup: id
      };
      FILE.getAccessoryByGroup(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          tmpData.forEach(item => {
            this.annexList.push(item);
          });
        }
      });
    },
    // 文件下载
    download(id) {
      FILE.downloadFile(id);
    },
    // 文件预览
    preView(path) {
      window.open(process.env.VUE_APP_BASE_API + "/project-api" + path, "_blank");
    },

    // 返回
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss" scoped>
.editor-container {
  margin-bottom: 10px;
}

.permissionList {
  .itemTitle {
    color: #000;
    font-size: 16px;
  }
}

.detailForm {
  .header {
    background: #eff5fb;
    border: 1px dotted #ccc;
    padding: 15px 0;
    border-radius: 10px;
  }

  .itemBox {
    height: 30px;
  }
  .titleHeader {
    font-size: 22px;
    margin: 0 0 15px 30px;
    font-weight: 600;
  }
  .title {
    width: 95px;
    margin-right: 10px;
    color: #798699;
  }
  .recipient {
    width: 90%;
    cursor: text;
    color: #798699;
  }
  .content {
    width: 100%;
    margin: 30px auto;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 400px;
    height: auto;
  }
}
</style>
