<template>
  <div class="cockpitContainer scrollbar my-collapse">
    
    <div class="mainer">
      <el-row :gutter="20" class="mt20">
        <el-col :span="6" >
          <div class="gridBox">
            <div class="header">预警统计（周报）</div>
            <div class="align-justify">
              <ReadNoticeCountChart v-if="weekData.length > 0" :chart-data="weekData" :color-data="colorData" />
            </div>
          </div>
        </el-col>
        <el-col :span="6" >
          <div class="gridBox">
            <div class="header">预警统计（月报）</div>
            <div class="align-justify">
              <ReadCurriculumCountChart v-if="monthData.length > 0" :chart-data="monthData" :color-data="colorData" />
            </div>
          </div>
        </el-col>
      </el-row>

      <el-dialog title="导出报表" :visible.sync="dialogFormVisible" width="30%">
        <el-form>
          <el-form-item label="文件名称">
            <el-input v-model="sheetName" auto-complete="off" maxlength="150"></el-input>
            <p class="propmt">* 非必填（若该项为空，系统将自动为您填补设定默认值）</p>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="exportReport">确 定</el-button>
        </div>
      </el-dialog>
    </div>

    <el-collapse v-model="activeNames">
      <el-collapse-item title="近一周幕墙预警" name="collapse_content">
        <el-table
          :data="weekProjectDetail"
          :cell-class-name="cellStyle"
          border
          fit
          highlight-current-row
          :stripe="true"
        >
          <el-table-column align="center" label="序号" width="60">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column label="项目名称" align="left" show-overflow-tooltip prop="projectName" />
          <el-table-column label="项目地址" align="left" show-overflow-tooltip prop="addressName" />
          <el-table-column label="所属区域" align="left" show-overflow-tooltip prop="districtName" />
          <el-table-column label="负责人" width="130" align="left" prop="userName" />
          <el-table-column label="竣工时间" width="130" align="left" prop="curtainCompletion" show-overflow-tooltip />
          <el-table-column label="预警状态" width="110" align="left" prop="checkState" :formatter="formatProjectState" />
          <el-table-column label="预警变更审核状态" width="200" align="left" prop="warningUpdateApproval" />
          <el-table-column align="center" label="操作" width="120">
            <template slot-scope="scope">
              <el-button size="mini" type="text" @click="handleDetail(scope.row)">查看详情</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-collapse-item>
    </el-collapse>
    
    <el-collapse v-model="activeNames">
      <el-collapse-item title="近一月幕墙预警" name="curriculum_content">
        <el-table
          :data="monthProjectDetail"
          :cell-class-name="cellStyle"
          border
          fit
          highlight-current-row
          :stripe="true"
        >
          <el-table-column align="center" label="序号" width="60">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column label="项目名称" align="left" show-overflow-tooltip prop="projectName" />
          <el-table-column label="项目地址" align="left" show-overflow-tooltip prop="addressName" />
          <el-table-column label="所属区域" align="left" show-overflow-tooltip prop="districtName" />
          <el-table-column label="负责人" width="130" align="left" prop="userName" />
          <el-table-column label="竣工时间" width="130" align="left" prop="curtainCompletion" show-overflow-tooltip />
          <el-table-column label="预警状态" width="110" align="left" prop="checkState" :formatter="formatProjectState" />
          <el-table-column label="预警变更审核状态" width="200" align="left" prop="warningUpdateApproval" />
          <el-table-column align="center" label="操作" width="120">
            <template slot-scope="scope">
              <el-button size="mini" type="text" @click="handleDetail(scope.row)">查看详情</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-collapse-item>
    </el-collapse>

    <!-- <div class="export-btn">
      <button @click="dialogFormVisible = true">导出</button>
    </div> -->

  </div>
</template>

<script>
import * as API from "@/api/project";
import { getRole } from "@/utils/auth";
import * as warningAPI from "@/api/warning";

import ReadNoticeCountChart from "./components/ReadNoticeCountChart.vue";
import ReadCurriculumCountChart from "./components/ReadCurriculumCountChart.vue";

export default {
  name: "Cockpit",
  components: { 
    ReadNoticeCountChart,
    ReadCurriculumCountChart
  },
  data() {
    return {
      roleId: getRole(),
      sheetName: '',
      dialogFormVisible: false,

      activeNames: [
        "collapse_content",
        "curriculum_content"
      ],

      weekData: [{
          value: 0,
          name: "正常"
        },{
          value: 0,
          name: "黄色预警"
        },{
          value: 0,
          name: "红色预警"
        },{
          value: 0,
          name: "橙色预警"
        }],
      monthData: [{
          value: 0,
          name: "正常"
        },{
          value: 0,
          name: "黄色预警"
        },{
          value: 0,
          name: "红色预警"
        },{
          value: 0,
          name: "橙色预警"
        }],
      weekProjectDetail: [],
      monthProjectDetail: [],
      weekTotalPage: 0,
      monthTotalPage: 0,
      projectStateOptions: [],
      colorData: ["#06C7CF", "#3E7EFB", "#987EE2", "#CD5C70", "#E09B6F"] // ["##f6d04d", "#f29c2b", "#de4307", "#8bc24c"]
    };
  },
  created() {
    this.getTableData()
  },
  mounted() {
    // 获取预警状态
    warningAPI.getWarningState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idWarningState] = item;
        });
        this.projectStateOptions = tmpData;
      }
    });
  },
  methods: {
    // 根据不同状态，展示不同颜色
    processColor(row) {
      switch (row.checkState) {
        case 1:
          this.cellColorList = "green-row";
          break;
        case 2:
          this.cellColorList = "yellow-row";
          break;
        case 3:
          this.cellColorList = "red-row";
          break;
        case 4:
          this.cellColorList = "orange-row";
          break;
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 6) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    formatProjectState(row) {
      return this.projectStateOptions[row.checkState] ? this.projectStateOptions[row.checkState].name : null;
    },
    handleDetail(row) {
      this.$router.push({
        path: "/curtainWarning/warningDetail",
        query: { id: row.idProject }
      });
    },
    // 获取幕墙预警定期报告
    getTableData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        day: 7
      };
      API.curtainDatabase(params).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas
          // 近一周预警数据统计
          const weekArray = [];
          tmpData.weekData.forEach(item => {
            switch(item.checkState) {
              case 1:
                this.weekData[item.checkState - 1].value = item.num
                break;
              case 2:
                this.weekData[item.checkState - 1].value = item.num
                break;
              case 3:
                this.weekData[item.checkState - 1].value = item.num
                break;
              case 4:
                this.weekData[item.checkState - 1].value = item.num
                break;
            }
          })
          // this.weekData = weekArray;

          // 近一月预警数据统计
          tmpData.monthDate.forEach(item => {
            switch(item.checkState) {
              case 1:
                this.monthData[item.checkState - 1].value = item.num
                break;
              case 2:
                this.monthData[item.checkState - 1].value = item.num
                break;
              case 3:
                this.monthData[item.checkState - 1].value = item.num
                break;
              case 4:
                this.monthData[item.checkState - 1].value = item.num
                break;
            }
          })

          this.weekProjectDetail = tmpData.weekProjectDetail.list;
          this.monthProjectDetail = tmpData.monthProjectDetail.list;

          this.weekTotalPage = tmpData.weekProjectDetail.totalRecord;
          this.monthTotalPage = tmpData.monthProjectDetail.totalRecord;
          this.listLoading = false;
        }
      });
    },
    // 导出报表
    exportReport() {
      this.dialogFormVisible = false
      API.exportExcel(this.sheetName)
      this.sheetName = ''
    }
  }
};
</script>

<style lang="scss" scoped>
.cockpitContainer {
  width: 100%;
  height: 100%;
  padding: 20px 10px 20px 20px;
  .mainer {
    width: 100%;
    height: 300px;
    .map {
      height: 580px;
    }
    .gridBox {
      // height: 400px;
      // border: 1px solid #074874;
      border-radius: 10px;
      background-color: #fff;
      .header {
        height: 50px;
        padding-left: 20px;
        background: #fff;
        border-bottom: 1px solid #f7f7f7;
        color: #4d4d4d;
        font-size: 16px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
      }
    }
  }
}
.export-btn {
  width: 95%;
  position: absolute;
  margin-top: -40px;
  button {
    width: 90px;
    height: 30px;
    float: right;
    background-color: #1EA4B3;
    border: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px #08274D;

    // position: fixed;
    // z-index: 999;
    // bottom: 50px;
  }
}
.propmt {
  color: #999;
  font-size: 12px;
  line-height: 0px;
}
.el-collapse-item {
  margin-bottom: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.my-collapse .el-collapse-item__wrap {
    padding: 10px 20px;
}
.el-col-6 {
  width: inherit;
}
</style>
