<template>
  <div class="cockpitContainer scrollbar my-collapse">
    <!-- <el-dialog title="导出报表" :visible.sync="dialogFormVisible" width="30%">
      <el-form>
        <el-form-item label="文件名称">
          <el-input v-model="sheetName" auto-complete="off" maxlength="150"></el-input>
          <p class="propmt">* 非必填（若该项为空，系统将自动为您填补设定默认值）</p>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="exportReport">确 定</el-button>
      </div>
    </el-dialog> -->
    <el-carousel :interval="4000" :autoplay="false" type="card" height="400px" @change="changeReport">
      <el-carousel-item v-for="item in 4" :key="item">
        <div class="add-padding" v-if="item == 1">阅读公告人数统计</div>
        <div class="add-padding" v-if="item == 2">阅读抽查人数统计</div>
        <div class="add-padding" v-if="item == 3">阅读资料人数统计</div>
        <div class="add-padding" v-if="item == 4">平台数据统计</div>
        <div v-if="item == 1" class="align-justify">
          <ReadNoticeCountChart v-if="readNoticeData.length > 0" :chart-data="readNoticeData" :color-data="colorData"/>
        </div>
        <div v-if="item == 2" class="align-justify">
          <ReadInspectionCountChart v-if="readInspectionData.inspectionArray.length > 0" :chart-data="readInspectionData" />
        </div>
        <div v-if="item == 3" class="align-justify">
          <ReadCurriculumCountChart v-if="readCurriculumData.length > 0" :chart-data="readCurriculumData" :color-data="colorData" />
        </div>
        <div v-if="item == 4">
          <div class="align-justify">
            <ReportStatisticsChart v-if="reportStatisData.districtArray.length > 0" :chart-data="reportStatisData" />
          </div>
          <div class="card-content">
            <h1 class="cd-ct-title">数据分析</h1>
            <ul>
              <li>
                <span>项目草稿数量</span>
                <span class="cd-ct-num">{{unSubmitTotal}}</span>
              </li>
              <li>
                <span>已提交审核数量</span>
                <span class="cd-ct-num">{{submitTotal}}</span>
              </li>
              <li>
                <span>小程序注册数量</span>
                <span class="cd-ct-num">{{registerTotal}}</span>
              </li>
              <li>
                <span>登录平台次数</span>
                <span class="cd-ct-num">{{loginSystemTotal}}</span>
              </li>
            </ul>
          </div>
        </div>
      </el-carousel-item>
    </el-carousel>
    <div class="date_option">
      <el-select v-model="type" size="mini" placeholder="请选择" @change="getData">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <el-collapse v-model="activeNames" v-if="activeIndex === 0">
      <el-collapse-item title="公告通知详细" name="collapse_content">
        <el-table
          :data="noticeRecipientList"
          border
          fit
          highlight-current-row
          :stripe="true"
        >
          <el-table-column align="center" label="序号" width="180">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column label="标题" min-width="180" align="left" prop="title" show-overflow-tooltip />
          <el-table-column label="阅读人" min-width="180" align="left" prop="userName" show-overflow-tooltip />
          <el-table-column label="日期" min-width="180" align="left" prop="readTime" show-overflow-tooltip />
        </el-table>
      </el-collapse-item>
    </el-collapse>
    <el-collapse v-model="activeNames" v-if="activeIndex === 1">
      <el-collapse-item title="抽查检查详细" name="inspection_content">
        <el-table
          :data="readInspectionData.inspectionDetailList"
          border
          fit
          highlight-current-row
          :stripe="true"
        >
          <el-table-column align="center" label="序号" width="180">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column label="标题" min-width="180" align="left" prop="name" show-overflow-tooltip />
          <el-table-column label="阅读人" min-width="180" align="left" prop="userName" show-overflow-tooltip />
          <el-table-column label="日期" min-width="180" align="left" prop="readTime" show-overflow-tooltip />
        </el-table>
      </el-collapse-item>
    </el-collapse>
    <el-collapse v-model="activeNames" v-if="activeIndex === 2">
      <el-collapse-item title="学习资料详细" name="curriculum_content">
        <el-table
          :data="curriculumRecipientList"
          border
          fit
          highlight-current-row
          :stripe="true"
        >
          <el-table-column align="center" label="序号" width="180">
            <template slot-scope="scope">{{ scope.$index + 1 }}</template>
          </el-table-column>
          <el-table-column label="标题" min-width="180" align="left" prop="curriculumName" show-overflow-tooltip />
          <el-table-column label="阅读人" min-width="180" align="left" prop="userName" show-overflow-tooltip />
          <el-table-column label="日期" min-width="180" align="left" prop="readTime" show-overflow-tooltip />
        </el-table>
      </el-collapse-item>
    </el-collapse>
    <!-- <div class="export-btn">
      <button @click="dialogFormVisible = true">导出</button>
    </div> -->

  </div>
</template>

<script>
import * as API from "@/api/project";
import * as NOTICE from '@/api/notice';
import * as CURRICULUM from '@/api/curriculum';
import * as INSPECTION from '@/api/inspection';
import { getRole } from "@/utils/auth";

import ReadNoticeCountChart from "./components/ReadNoticeCountChart.vue";
import ReportStatisticsChart from "./components/ReportStatisticsChart.vue";
import ReadInspectionCountChart from "./components/ReadInspectionCountChart.vue";
import ReadCurriculumCountChart from "./components/ReadCurriculumCountChart.vue";

export default {
  name: "Cockpit",
  components: { 
    ReadNoticeCountChart,
    ReportStatisticsChart,
    ReadInspectionCountChart,
    ReadCurriculumCountChart
  },
  data() {
    return {
      roleId: getRole(),
      tableData: [],
      countArea: 0,
      curtainTypeData: [],
      warningCountData: [],
      userRegionName: "",
      curtainCount: 0,
      curtainTotalArea: 0,
      reportStatisData: {
        districtArray: [],
        loginCountArray: [],
        draftCountArray: [],
        submitCountArray: [],
        wxRegisterArray: []
      },
      readNoticeData: [],
      readCurriculumData: [],
      readInspectionData: {
        inspectionArray: [],
        inspectionDetailList: []
      },
      noticeRecipientList: [],
      curriculumRecipientList: [],
      inspectionRecipientList: [],
      sheetName: '',
      formLabelWidth: '120px',
      dialogFormVisible: false,

      activeNames: [
        "collapse_content",
        "inspection_content",
        "curriculum_content"
      ],
      type: '1',
      options: [{
        value: '1',
        label: '最近一周'
      }, {
        value: '2',
        label: '最近一月'
      }, {
        value: '3',
        label: '最近一年'
      }],

      activeIndex: 0,
      unSubmitTotal: 0,
			submitTotal: 0,
			loginSystemTotal: 0,
      registerTotal: 0,
      colorData: ["#06C7CF", "#3E7EFB", "#987EE2", "#CD5C70", "#E09B6F"]
    };
  },
  created() {
    this.getData()
  },
  methods: {
    changeReport(event) {
      this.activeIndex = event
    },
    getData() {
      this.getReadNoticeNum()
      this.getWeeklyReportStatistics()
      this.getReadInspectionNum()
      this.getReadCurriculumNum()
    },
    // 获取学习资料阅读统计
    getReadCurriculumNum() {
      CURRICULUM.getReadCurriculumNum({
        type: this.dateTime
      }).then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas
          const tmpArray = [];
          tmpData.mapList.forEach(item => {
            const tmpObj = {
                value: 0,
                name: ""
              };
              tmpObj.value = item.num;
              tmpObj.name = item.name;
              tmpArray.push(tmpObj);
          })
          this.readCurriculumData = tmpArray
          this.curriculumRecipientList = tmpData.curriculumRecipientList
        }
      })
    },
    // 获取抽查检查阅读统计
    getReadInspectionNum() {
      INSPECTION.getReadInspectionNum({
        type: this.type
      }).then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas;
          this.readInspectionData = tmpData;
          this.readInspectionData.inspectionRecipientList = tmpData.inspectionDetailList;
        }
      })
    },
    // 获取公告阅读统计
    getReadNoticeNum() {
      NOTICE.selectReadNoticeNum({
        type: parseInt(this.type)
      }).then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas
          const tmpArray = [];
          tmpData.mapList.forEach(item => {
            const tmpObj = {
                value: 0,
                name: ""
              };
              tmpObj.value = item.num;
              tmpObj.name = item.name;
              tmpArray.push(tmpObj);
          })
          this.readNoticeData = tmpArray
          this.noticeRecipientList = tmpData.noticeRecipientList
        }
      })
    },
    // 导出报表
    exportReport() {
      this.dialogFormVisible = false
      const params = {
        sheetName: this.sheetName,
        type: this.dateTime
      }
      API.exportExcel(params)
      this.sheetName = ''
    },
    // 获取平台及小程序报表统计
    getWeeklyReportStatistics(id) {
      API.getWeeklyReportStatistics({
        type: this.dateTime
      }).then(res => {
        if (res.data.status === 200) {
          const districtArray = [];
          const loginCountArray = [];
          const draftCountArray = [];
          const submitCountArray = [];
          const wxRegisterArray = [];
          let i = 0;
          res.data.datas.forEach(item => {
            if (i < res.data.datas.length - 1) {
              districtArray.push(item.districtName);
              loginCountArray.push(item.loginCount == null ? 0 : item.loginCount);
              draftCountArray.push(item.draftCount == null ? 0 : item.draftCount);
              submitCountArray.push(item.submitCount == null ? 0 : item.submitCount);
              wxRegisterArray.push(item.wxRegisterCount == null ? 0 : item.wxRegisterCount);
              i++;
            }
          });
          const tmpData = res.data.datas
          this.submitTotal = tmpData[tmpData.length - 1].submitCount;
          this.registerTotal = tmpData[tmpData.length - 1].wxRegisterCount;
          this.unSubmitTotal = tmpData[tmpData.length - 1].draftCount;
          this.loginSystemTotal = tmpData[tmpData.length - 1].loginCount;

          this.reportStatisData.districtArray = districtArray;
          this.reportStatisData.loginCountArray = loginCountArray;
          this.reportStatisData.draftCountArray = draftCountArray;
          this.reportStatisData.submitCountArray = submitCountArray;
          this.reportStatisData.wxRegisterArray = wxRegisterArray;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.cockpitContainer {
  width: 100%;
  height: 100%;
  padding: 20px 10px 20px 20px;
  .mainer {
    width: 100%;
    height: 300px;
    .map {
      height: 580px;
    }
    .gridBox {
      // height: 400px;
      // border: 1px solid #074874;
      border-radius: 10px;
      background-color: #fff;
      .header {
        height: 50px;
        padding-left: 20px;
        background: #fff;
        border-bottom: 1px solid #f7f7f7;
        color: #4d4d4d;
        font-size: 16px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
      }
    }
  }
}
.export-btn {
  width: 95%;
  position: absolute;
  margin-top: -40px;
  button {
    width: 90px;
    height: 30px;
    float: right;
    background-color: #1EA4B3;
    border: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px #08274D;

    // position: fixed;
    // z-index: 999;
    // bottom: 50px;
  }
}
.propmt {
  color: #999;
  font-size: 12px;
  line-height: 0px;
}
.el-collapse-item {
  margin-bottom: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.my-collapse .el-collapse-item__wrap {
    padding: 10px 20px;
}
.el-carousel__item h3 {
  color: #d6d6d6;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}
.el-carousel__item:nth-child(2n) {
  background-color: #fff;
}
.el-carousel__item:nth-child(2n+1) {
  background-color: #fff;
}
.el-carousel__item--card.is-active {
  background-color: #5e89d147;
  box-shadow: 0px 5px 10px #dfe2e6;
}
.card-content {
  padding: 10px;
  color: #4d4d4d;
  h1 {
    font-size: 16px;
  }
  ul {
    li {
      float: left;
      list-style: none;
      font-size: 12px;
      padding: 30px;
      span {
        display: block;
      }
      .cd-ct-num {
        // color: #ccc;
        text-align: center;
      }
    }
  }
}
.add-padding {
  padding: 10px;
  color: #4d4d4d;
  font-weight: 600;
}
</style>
