<template>
  <div class="cockpitContainer scrollbar">
    <el-tabs type="card" v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="统计汇总" name="tab1">
        <div class="mainer">
          <el-row :gutter="10">
            <el-col :span="6">
              <div class="gridBox analysis left">
                <div class="header _left_hd">项目统计</div>
                <div class="_left_content">
                    <div class="_cell">
                        <p>项目数</p>
                        <h5>{{projectInfo.projectNum}}</h5>
                    </div>
                    <div class="_cell">
                        <p>总栋数</p>
                        <h5>{{projectInfo.buildingNum}}</h5>
                    </div>
                    <div class="_cell">
                        <p>总面积（万㎡）</p>
                        <h5>{{projectInfo.areaNum}}</h5>
                    </div>
                </div>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="gridBox analysis right">
                <div class="header _left_hd">安全检查统计</div>
                <div class="_left_content">
                    <div class="_cell">
                        <p>上周</p>
                        <h5>{{projectInfo.lastWeekInspectionNum}}</h5>
                    </div>
                    <div class="_cell">
                        <p>本周</p>
                        <h5>{{projectInfo.inspectionNum}}</h5>
                    </div>
                    <div class="_cell">
                        <p>累计总数</p>
                        <h5>{{projectInfo.inspectionTotal}}</h5>
                    </div>
                </div>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="gridBox system_analysis">
                <div class="title">系统数据分析</div>
                <div class="align-justify">
                  <div class="_box">
                    <p>登入平台次数</p>
                    <h5>{{systemAnalysisData.loginCount.addNum}}</h5>
                    <p class="remark">上周：{{systemAnalysisData.loginCount.lastWeek}}</p>
                    <p class="remark">本周：{{systemAnalysisData.loginCount.week}}</p>
                  </div>
                  <div class="_box">
                    <p>应急预案备案</p>
                    <h5>{{systemAnalysisData.emergencyCommitCount.addNum}}</h5>
                    <p class="remark">上周：{{systemAnalysisData.emergencyCommitCount.lastWeek}}</p>
                    <p class="remark">本周：{{systemAnalysisData.emergencyCommitCount.week}}</p>
                  </div>
                  <div class="_box">
                    <p>月度巡查报告提交</p>
                    <h5>{{systemAnalysisData.maintenanceCommitCount.lastWeek}}</h5>
                    <p class="remark">上周：{{systemAnalysisData.maintenanceCommitCount.lastWeek}}</p>
                    <p class="remark">本周：{{systemAnalysisData.maintenanceCommitCount.week}}</p>
                  </div>
                  <div class="_box">
                    <p>年度信息上传</p>
                    <h5>{{systemAnalysisData.reportCommitCount.lastWeek}}</h5>
                    <p class="remark">上周：{{systemAnalysisData.reportCommitCount.lastWeek}}</p>
                    <p class="remark">本周：{{systemAnalysisData.reportCommitCount.week}}</p>
                  </div>
                </div>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="gridBox">
                <div class="header">安全管理等级分类</div>
                <div class="align-justify">
                  <CurtainTypeChart v-if="curtainTypeData.length > 0" :chart-data="curtainTypeData" :color-data="colorData1"/>
                </div>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="gridBox">
                <div class="header">建筑性质分类</div>
                <div class="align-justify">
                  <HouseUseChart
                    v-if="houseUseData.length > 0"
                    :chart-data="houseUseData"
                    :color-data="colorData2"
                  />
                </div>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="gridBox">
                <div class="align-justify">
                  <CurtainTotalAreaChart v-if="curtainTotalAreaData.xValue.length > 0" :chart-data="curtainTotalAreaData" />
                </div>
                <div class="header _chart_img">幕墙面积</div>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20" class="mt20">
            <el-col :span="12">
              <div class="gridBox">
                <div class="align-justify">
                  <CurtainMainCompetionChart
                    v-if="mainCompetionData.xValue.length > 0"
                    :chart-data="mainCompetionData"
                  />
                </div>
                <div class="header _chart_img">竣工使用时间分类</div>
              </div>
            </el-col>
            <el-col :span="12">
              <div class="gridBox">
                <div class="align-justify">
                  <CurtainHeightChart v-if="curtainHeightData.xValue.length > 0" :chart-data="curtainHeightData" />
                </div>
                <div class="header _chart_img">幕墙高度</div>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import * as ANALYSIS from "@/api/dataAnalysis";
import CurtainTypeChart from "./components/CurtainTypeChart.vue"
import HouseUseChart from "./components/HouseUseChart.vue"
import CurtainTotalAreaChart from "./components/CurtainTotalAreaChart.vue"
import CurtainHeightChart from "./components/CurtainHeightChart.vue"
import CurtainMainCompetionChart from "./components/CurtainMainCompetionChart.vue"

export default {
  name: "WeekDataAnalysis",
  components: {
    CurtainTypeChart,
    HouseUseChart,
    CurtainTotalAreaChart,
    CurtainHeightChart,
    CurtainMainCompetionChart
  },
  data() {
    return {
      activeName: "tab1",
      projectInfo: {
        projectNum: 0,
        buildingNum: 0,
        areaNum: 0,
        lastWeekInspectionNum: 0,
        inspectionNum: 0,
        inspectionTotal: 0
      },
      curtainTypeData: [],
      houseUseData: [],
      curtainTotalAreaData: {
        xValue: [],
        yValue: []
      },
      curtainHeightData: {
        xValue: [],
        yValue: []
      },
      systemAnalysisData: {
        emergencyCommitCount: {},
        loginCount: {},
        maintenanceCommitCount: {},
        reportCommitCount: {}
      },
      mainCompetionData: {
        xValue: [],
        yValue: []
      },
      colorData1: ["#d0e3fe", "#4f6efa", "#199d95"],
      colorData2: ["#d0e3fe", "#4f6efa", "#69c0fe", "#ffac2e", "#199d95", "#CD5C70"]
    }
  },
  created() {
    this.getChartData()
  },
  methods: {
    // 获取图表数据
    getChartData() {
      this.getDataInfo();
      this.getCurtainDataAnalysis();
      this.getCurtainTypeNum();
      this.getHouseUseNum();
      this.getCurtainTotalAreaNum();
      this.getCurtainHeightNum();
      this.getMainCompletionNum();
    },
    // 获取幕墙竣工使用时间统计
    getMainCompletionNum() {
      ANALYSIS.getMainCompletionNum()
      .then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas;
          let xValue = [];
          let yValue = [];
          tmpData.forEach(item => {
            xValue.push(item.name);
            yValue.push(item.num);
          })
          this.mainCompetionData.xValue = xValue;
          this.mainCompetionData.yValue = yValue;
          console.log(this.mainCompetionData)
        }
      })
    },
    // 获取幕墙高度分类统计
    getCurtainHeightNum() {
      ANALYSIS.getCurtainHeightNum()
      .then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas;
          let xValue = [];
          let yValue = [];
          tmpData.forEach(item => {
            xValue.push(item.name);
            yValue.push(item.num);
          })
          this.curtainHeightData.xValue = xValue;
          this.curtainHeightData.yValue = yValue;
        }
      })
    },
    // 获取幕墙面积分类统计
    getCurtainTotalAreaNum() {
      ANALYSIS.getCurtainTotalAreaNum()
      .then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas;
          let xValue = [];
          let yValue = [];
          tmpData.forEach(item => {
            xValue.push(item.name);
            yValue.push(item.num);
          })
          this.curtainTotalAreaData.xValue = xValue;
          this.curtainTotalAreaData.yValue = yValue;
        }
      })
    },
    // 获取建筑使用性质分类统计
    getHouseUseNum() {
      ANALYSIS.getHouseUseNum()
      .then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas;
          const tmpArray = [];
          tmpData.forEach(item => {
            const tmpObj = {
              name: "",
              value: 0
            }
            tmpObj.name = item.name;
            tmpObj.value = item.num;
            tmpArray.push(tmpObj);
          })
          this.houseUseData = tmpArray;
        }
      })
    },
    // 获取安全管理分类统计
    getCurtainTypeNum() {
      ANALYSIS.getCurtainTypeNum()
      .then(res => {
        if (res.data.status === 200) {
          let tmpData = res.data.datas;
          const tmpArray = [];
          tmpData.forEach(item => {
            const tmpObj = {
              name: "",
              value: 0
            }
            tmpObj.name = item.name;
            tmpObj.value = item.num;
            tmpArray.push(tmpObj);
          })
          this.curtainTypeData = tmpArray
        }
      })
    },
    // 获取平台数据分析
    getCurtainDataAnalysis() {
      ANALYSIS.getCurtainDataAnalysis()
      .then(res => {
        if (res.data.status === 200) {
          this.systemAnalysisData = res.data.datas;
        }
      })
    },
    // 获取项目基础信息统计
    getDataInfo() {
      ANALYSIS.getDataInfo()
      .then(res => {
        if (res.data.status === 200) {
          this.projectInfo = res.data.datas;
        }
      })
    },
    handleClick(tab, event) {
      this.getChartData();
    }
  }
}
</script>

<style lang="scss" scoped>
.cockpitContainer {
  width: 100%;
  height: 100%;
  padding: 20px 10px 20px 20px;
  background: #0d2036;
  .mainer {
    width: 100%;
    height: 100%;
    .map {
      height: 580px;
    }
    .gridBox {
       margin: 5px 0;
       min-height: 200px;
       background-color: #061220;
      .header {
        height: 50px;
        padding-left: 20px;
        border-bottom: 1px solid #074874;
        color: #fff;
        font-size: 16px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
      }
      ._chart_img {
        color: #6d7a91;
        font-size: 12px;
        display: inherit;
        text-align: center;
        padding-top: 10px;
      }
    }
    .left {
      background: url("../../assets/images/report_bg_left.png") center no-repeat;
    }
    .right {
      background: url("../../assets/images/report_bg_right.png") center no-repeat;
    }
    .analysis,.left,.right {
        width:100%;
        background-size: 100%;
        border-radius: 5px;
        padding: 0 10px;
        ._left_hd {
          font-size: 14px;
          background: none;
          border-bottom: none;
        }
        ._left_content {
          margin: 0 auto;
          margin-top: 10px;
          ._cell {
            width: 30%;
            color: #fff;
            display: inline-block;
            text-align: center;
            p,h5 {
              font-size: 10px;
              padding: 0px;
              margin: 15px 0;
            }
            h5 {
              font-size: 20px;
            }
          }
        }
    }
    .system_analysis {
      color: #fff;
      padding: 0 10px;
      padding-top: 70px;
      background-color: #061220;
      .title {
        width: 100%;
        position: absolute;
        margin-top: -50px;
      }
      ._box {
        width: 30%;
        height: 120px;
        margin: 0 5px;
        color: #6d7a91;
        font-size: 10px;
        background-color: #1f2b4b;
        border-radius: 4px;
        padding: 10px;
        line-height: 20px;
        h5 {
          font-size: 20px;
          color: #ffac2e;
          margin: 0px;
        }
        .remark {
          width: 100%;
          color: #ffac2e;
          font-size: 10px;
          margin: 0px;
        }
      }
    }
  }
}
</style>

<style>
.el-tabs--card > .el-tabs__header {
  border-bottom: 1px solid #074874;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: 1px solid #074874;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: #074874;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: 1px solid #074874;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  color: white;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  color: #074874;
}
.header > div{
  width: 50%;
}
.header div:nth-child(2) {
  padding-right: 20px;
}
.header > div > button {
  background-color: #074874;
  border: 1px solid #0d1f37;
  color: #fff;
}
</style>
