<template>
  <div class="navbar space-between">
    <div class="align-justify">
      <!-- <img src="@/assets/images/logo.svg" /> -->
      <span class="logoTitle">广州市既有幕墙基础信息管理系统</span>
    </div>
    <div class="right-menu" >
      <div class="avatar-wrapper mr30 align">
        <span class="color-white mr20">{{ userName }}</span>
        <i class="el-icon-user-solid cursor mr20" title="个人中心" @click="setVisible = true"/>
        <img src="@/assets/images/logout.png" class="cursor" title="退出" @click="logout()" width="30" height="30" />
      </div>
    </div>

    <!-- 修改密码 -->
    <el-dialog :visible.sync="setVisible" title="修改密码" width="600px">
      <el-form ref="editForm" :rules="rules" :model="editForm" label-width="90px" label-position="left" size="mini">
        <el-form-item label="旧密码" prop="oldPassword">
          <el-input v-model="editForm.oldPassword" placeholder="请输入旧密码" type="password" />
        </el-form-item>
        <el-form-item label="新密码" prop="newPassword">
          <el-input v-model="editForm.newPassword" placeholder="请输入新密码" type="password" />
        </el-form-item>
        <el-form-item label="确认密码" prop="rePassword">
          <el-input v-model="editForm.rePassword" placeholder="请再次输入密码" type="password" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="info" size="mini" @click="setVisible = false">取消</el-button>
        <el-button type="primary" size="mini" @click="updateData()">确认</el-button>
      </div>
    </el-dialog>

    <div class="edit-pwd" v-if="visible">
      <el-popover
        placement="bottom"
        title="提示"
        width="200"
        v-model="visible">
        <p>当前密码过于简单，是否立刻去修改？</p>
        <div style="text-align: right; margin: 0">
          <el-button size="mini" type="text" @click="visible = false">取消</el-button>
          <el-button type="primary" size="mini" @click="openDialog()">确定</el-button>
        </div>
      </el-popover>
    </div>
    
  </div>
</template>

<script>
import { getName, getClientIpInfo, getDisStatus, setDisStatus, removeDisStatus } from "@/utils/auth";
import * as API from "@/api/user";

export default {
  data() {
    const validateNewPassword = (rule, value, callback) => {
      if(!/^(?=.*[a-z])(?=.*[A-Z])\w{8,10}$/.test(value)) {
        callback(new Error("密码长度须8-10位，必须包含大小写字母+数字组合，可以使用特殊字符下划线_。"));
      } else {
        callback();
      }
    };
    const validateRePassword = (rule, value, callback) => {
      const password = this.editForm.newPassword;
      if (value !== password) {
        callback(new Error("新密码两次输入不一致，请重新输入！"));
      } else {
        callback();
      }
    };
    return {
      userName: getName(),
      setVisible: false,
      editForm: {
        oldPassword: null,
        newPassword: null,
        rePassword: null
      },
      rules: {
        oldPassword: [{ required: true, message: "请输入旧密码", trigger: "blur" }],
        newPassword: [{ required: true, trigger: "blur", validator: validateNewPassword }],
        rePassword: [{ required: true, trigger: "blur", validator: validateRePassword }]
      },
      visible: false
    };
  },
  mounted() {
    if (getDisStatus() != 'ok') {
      this.valiUserPwdComplicated()
    }
  },
  methods: {
    valiUserPwdComplicated() {
      let pwd = this.$store.getters.password
      if(!/^(?=.*[a-z])(?=.*[A-Z])\w{8,10}$/.test(pwd)) {
        this.visible = true
      } else {
        setDisStatus('ok')
      }
    },
    // 退出登录
    logout() {
      this.$confirm("确定退出系统吗？", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        // let clientInfo = getClientIpInfo()
        // API.changeTabLeaveTime(clientInfo.id)

        this.$store.dispatch("logout").then(res => {
          if (res.data.status === 200) {
            removeDisStatus();
            this.$router.push("/login");
          }
        });
      });
    },
    openDialog() {
      this.visible = false
      this.setVisible = true
    },
    // 修改密码
    updateData() {
      this.$refs.editForm.validate(valid => {
        if (valid) {
          const params = {
            oldPassword: this.editForm.oldPassword,
            newPassword: this.editForm.newPassword
          };
          API.updateUserPassword(params).then(res => {
            if (res.data.status === 200) {
              setDisStatus('ok');
              this.$message.success("密码修改成功！请重新登录");
              this.$router.push("/login");
            } else {
              this.$message.error("密码修改失败！");
            }
            this.setVisible = false;
          });
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.navbar {
  height: 50px;
  background: #0a1d37;
  overflow: hidden;
  border-bottom: 1px solid #074874;

  .hamburger-container {
    line-height: 46px;
    height: 100%;
    float: left;
    cursor: pointer;
    transition: background 0.3s;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }

  .logoTitle {
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
  }

  .right-menu {
    float: right;
    height: 100%;
    line-height: 50px;
  }
}

.avatar-wrapper {
  margin-top: 3px;
  position: relative;
}

.edit-pwd {
  position: absolute;
  top: 50px;
  right: 250px;
  z-index: 99999;
}
</style>
