<template>
  <div>
    <div class="scrollbar-menu">
      <el-scrollbar wrap-class="scrollbar-wrapper">
        <el-menu default-active="1" router background-color="#0A1D37" text-color="rgba(255,255,255,0.6)" active-text-color="#37B9B4" :default-openeds="openeds">
          <el-menu-item index="/home" class="mt30 ml10">
            <span slot="title">首页</span>
          </el-menu-item>
          <!-- <el-menu-item index="/cockpit" class="ml10">
            <span slot="title">驾驶舱</span>
          </el-menu-item> -->
          <div v-for="(item, index) in dataArray" :key="index">
            <el-menu-item v-if="item.children.length <= 0" :index="item.routerPath" class="ml10">{{ item.name }}</el-menu-item>
            <el-submenu :index="item.routerPath" v-if="item.children.length > 0">
              <template slot="title">
                <span class="ml10" v-if="item.children.length > 0">{{ item.name }}</span>
              </template>
              <el-menu-item-group v-if="item.children.length > 0">
                <div v-for="(value, index2) in item.children" :key="index2">
                  <el-menu-item :index="value.routerPath">{{ value.name }}</el-menu-item>
                </div>
              </el-menu-item-group>
            </el-submenu>
          </div>
        </el-menu>
      </el-scrollbar>
    </div>
    <div class="weatherInfo">
      <div class="f34">{{ weatherInfo.temperature }}</div>
      <div class="row mt20 mb20">
        <span class="mr30">{{ weatherInfo.type }}</span>
        <span class="row"><i class="el-icon-location-information mr5" />{{ weatherInfo.location }}</span>
      </div>
      <div class="row">
        <i class="el-icon-date mr5" />
        <el-date-picker v-model="weatherInfo.datetime" type="datetime" :readonly="true" format="yyyy-MM-dd HH:mm:ss" />
      </div>
    </div>
  </div>
</template>

<script>
import variables from "@/styles/variables.scss";
import * as API from "@/api/role";
import * as AUTH from "@/utils/auth";
import * as WEATHER_API from "@/api/weather";

export default {
  data() {
    return {
      openeds: [],
      dataArray: [],
      weatherInfo: {
        temperature: "22",
        type: "多云",
        location: "广州市",
        datetime: new Date()
      },
      roleId: null
    };
  },
  computed: {
    variables() {
      return variables;
    }
  },
  created() {
    this.roleId = AUTH.getRole();
    this.getAuthByRole();
    this.getWeatherInfo();
  },
  mounted() {
    // 刷新当前时间
    setInterval(() => {
      this.getDateTime();
    }, 1000);
  },
  methods: {
    // 获取当前时间
    getDateTime() {
      this.weatherInfo.datetime = new Date()
    },
    // 获取天气情况
    getWeatherInfo() {
      WEATHER_API.getWeatherInfo().then(res => {
        if (res.data.status === 200) {
          const tmp = res.data.datas;
          this.weatherInfo.temperature = tmp.data.wendu + "℃";
          this.weatherInfo.type = tmp.data.forecast[0].type;
          this.weatherInfo.location = tmp.cityInfo.city;
        }
      });
    },
    // 根据角色获取角色下的权限
    getAuthByRole() {
      const dataArray = [];
      const dataChildrenArray = [];
      const param = {
        idRole: this.roleId
      };
      API.getAuthByRole(param).then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas;
          AUTH.setPerimission(tmpData);
          tmpData.forEach(item => {
            // 创建一个新对象，并添加children属性
            const objTemp = {
              idAccessApi: item.idAccessApi,
              name: item.name,
              parenId: item.parenId,
              level: item.level,
              routerPath: item.routerPath,
              children: []
            };
            if (item.level === 1) {
              dataArray.push(objTemp);
            } else if (item.level === 2) {
              dataChildrenArray.push(item);
            }
          });
          for (const k in dataArray) {
            for (const j in dataChildrenArray) {
              if (dataChildrenArray[j].parentId === dataArray[k].idAccessApi) {
                dataArray[k].children.push(dataChildrenArray[j]);
              }
            }
          }
          this.dataArray = dataArray;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.scrollbar-menu {
  height: calc(100% - 180px);
}
.weatherInfo {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  color: #7f8daa;
  padding: 0 20px;
  font-size: 14px;
  /deep/ .el-input__inner {
    background-color: transparent;
    border: 1px solid transparent;
    color: #7f8daa;
    font-size: inherit;
    height: 16px;
    line-height: 16px;
  }
  /deep/ .el-input--prefix .el-input__inner {
    padding-left: 0;
  }
  /deep/ .el-input--suffix .el-input__inner {
    padding-right: 0;
  }
  /deep/ .el-icon-time:before {
    display: none;
  }
}
</style>
