<template>
  <div class="home-container scrollbar">
    <el-row class="mt50">
      <el-col :span="8" class="modelBox align column" v-if="checkPerimission('noticeInfoView')"
      >
        <div class="noticeBox align-justify">
          <div class="cursor imgBox align-justify" @click="handleDetail('notice')">
            <img src="@/assets/images/home/news.png" alt />
          </div>
        </div>
        <div class="titleBox">
          <div class="title">公告通知</div>
          <div
            class="tips"
            :style="{'color': noticeNum>0 ? 'red' : '#c7c9d2'}"
          >待办数量（{{ noticeNum }}）</div>
        </div>
      </el-col>
      <el-col :span="8" class="modelBox align column" v-if="checkPerimission('warningInfoView')">
        <div class="warningBox align-justify">
          <div class="cursor imgBox align-justify" @click="handleDetail('warning')">
            <img src="@/assets/images/home/warning.png" alt />
          </div>
        </div>
        <div class="titleBox">
          <div class="title">安全检查预警</div>
          <div
            class="tips"
            :style="{'color': warningNum>0 ? 'red' : '#c7c9d2'}"
          >待办数量（{{ warningNum }}）</div>
        </div>
      </el-col>
      <el-col :span="8" class="modelBox align column" v-if="checkPerimission('inspectionInfoView')">
        <div class="checkBox align-justify">
          <div class="cursor imgBox align-justify" @click="handleDetail('check')">
            <img src="@/assets/images/home/check.png" alt />
          </div>
        </div>
        <div class="titleBox">
          <div class="title">监督抽查</div>
          <div class="tips" :style="{'color': checkNum>0 ? 'red' : '#c7c9d2'}">待办数量（{{ checkNum }}）</div>
        </div>
      </el-col>
    </el-row>
    <el-row class="mt100">
      <el-col :span="8" class="modelBox align column" v-if="checkPerimission('spotCheckInfoView') && (roleId != 2 && roleId != 3)">
        <div class="checkBox align-justify">
          <div class="cursor imgBox align-justify" @click="handleDetail('inspectionWarning')">
            <!-- <img src="@/assets/images/home/check.png" alt /> -->
            <img src="@/assets/images/home/inspectionWarning.png" alt  style="width:60px;margin-left:8px;"/>
          </div>
        </div>
        <div class="titleBox">
          <div class="title">监督抽查整改预警</div>
          <div class="tips" :style="{'color': checkNum>0 ? 'red' : '#c7c9d2'}">待办数量（{{ checkNum }}）</div>
        </div>
      </el-col>
      <!-- <el-col :span="8" class="modelBox align column" v-if="checkPerimission('projectInfoView') || checkPerimission('registVerifyEdit')">
        <div class="registerBox align-justify">
          <div class="cursor imgBox align-justify" @click="handleDetail('maintenance')">
            <img src="@/assets/images/home/register.png" alt />
          </div>
        </div>
        <div class="titleBox">
          <div class="title">巡查维护维修</div>
          <div
            class="tips"
            :style="{'color': maintenanceNum > 0 ? 'red' : '#c7c9d2'}"
          >待办数量（{{ maintenanceNum }}）</div>
        </div>
      </el-col> 
      <el-col :span="8" class="modelBox align column" v-if="checkPerimission('projectInfoView') || checkPerimission('registVerifyEdit')">
        <div class="accidentBox align-justify">
          <div class="cursor imgBox align-justify" @click="handleDetail('report')">
            <img src="@/assets/images/home/report.png" alt />
          </div>
        </div>
        <div class="titleBox">
          <div class="title">事故处置</div>
          <div
            class="tips"
            :style="{'color': reportNum > 0 ? 'red' : '#c7c9d2'}"
          >待办数量（{{ reportNum }}）</div>
        </div>
      </el-col> -->
      <el-col :span="8" v-show="roleId == 2" class="modelBox align column" v-if="checkPerimission('projectInfoView') || checkPerimission('registVerifyEdit')">
        <div class="curtainWarningBox align-justify">
          <div class="cursor imgBox align-justify" @click="handleDetail('curtainWarning')">
            <img src="@/assets/images/home/report.png" alt />
          </div>
        </div>
        <div class="titleBox">
          <div class="title">定期报告</div>
          <!-- <div
            class="tips"
            :style="{'color': reportNum > 0 ? 'red' : '#c7c9d2'}"
          >待办数量（{{ reportNum }}）</div> -->
        </div>
      </el-col>
      <!-- <el-col v-if="roleId!=='1' && roleId!=='6' && roleId!=='7'" v-show="isShow" :span="8">
        <div class="dataInfo">
          <div class="f20 space-between" style="margin-bottom:20px;">
            <span>{{ title }}幕墙信息统计</span>
            <i class="el-icon-close cursor" @click="close()" />
          </div>
          <div>现有玻璃幕墙建筑 {{ buildingNumber }}幢</div>
          <div>现有玻璃幕墙面积 {{ curtainTotalArea }} 平方米</div>
          <div>竣工一年 {{ completed1Years }} 幢</div>
          <div>竣工五年 {{ completed5Years }} 幢</div>
          <div>超过设计年限继续使用的 {{ overDesignLife }} 幢</div>
          <div>拉索拉杆结构幕墙 {{ hasStructure }} 幢</div>
          <div>使用硅酮结构胶的玻璃幕墙 {{ hasSealant }} 幢</div>
          <div>玻璃幕墙定期检查完成率 {{ regularCheckPc }}</div>
          <div>玻璃幕墙安全检查完成率 {{ securityCheckPc }}</div>
        </div>
      </el-col> -->
    </el-row>
  </div>
</template>

<script>
import * as API from "@/api/home"
import { getRole, getClientIpInfo } from "@/utils/auth"
import { checkPerimission } from '@/utils/auth';
export default {
  name: "Home",
  data() {
    return {
      roleId: getRole(),
      isShow: true,
      title: null,
      noticeNum: null,
      warningNum: null,
      checkNum: null,
      reportNum: null,
      maintenanceNum: null,
      buildingNumber: null,
      curtainTotalArea: null,
      completed1Years: null,
      completed5Years: null,
      overDesignLife: null,
      hasStructure: null,
      hasSealant: null,
      regularCheckPc: null,
      securityCheckPc: null,
      showContent: true,
      showUpdatePwd: false
    }
  },
  mounted() {
    this.getPendingInfo()
    this.getDataInfo()
  },
  methods: {
    checkPerimission,
    // 获取待办信息
    getPendingInfo() {
      API.getPendingNum().then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas
          this.noticeNum = tmpData.noticeCount
          this.warningNum = tmpData.warningCount
          this.checkNum = tmpData.inspectionCount
        }
      })
    },
    // 获取统计信息
    getDataInfo() {
      API.getDataInfo().then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas
          if (tmpData) {
            this.title = tmpData.addressName
            this.buildingNumber = tmpData.buildingNumber
            this.curtainTotalArea = tmpData.curtainTotalArea
            this.completed1Years = tmpData.completed1Years
            this.completed5Years = tmpData.completed5Years
            this.overDesignLife = tmpData.overDesignLife
            this.hasStructure = tmpData.hasStructure
            this.hasSealant = tmpData.hasSealant
            this.regularCheckPc = tmpData.regularCheckPc
            this.securityCheckPc = tmpData.securityCheckPc
          }
        }
      })
    },
    close() {
      this.isShow = false
    },
    handleDetail(btn) {
      if (btn === "notice") {
        this.$router.push("/noticeManagement/notice")
      } else if (btn === "warning") {
        this.$router.push("/curtainWarning/warningList")
      } else if (btn === "check") {
        this.$router.push("/noticeManagement/inspection")
      } else if (btn === "register") {
        if (this.roleId === "1" || this.roleId === "6" || this.roleId === "7") {
          this.$router.push("/register/project/projectInfo")
        } else {
          this.$router.push("/register/infoApproval")
        }
      } else if (btn === "report") {
        this.$router.push("/accidentManagement/accidentReport")
      } else if (btn === "maintenance") {
        this.$router.push("/patrolMaintenance/reportMaintenanceInfo")
      } else if (btn === 'curtainWarning') {
        this.$router.push("/reportManager/reportRegularView")
      } else if (btn === "inspectionWarning") {
        this.$router.push("/curtainWarning/inspection")
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.home-container {
  margin: 10px 60px 20px;
  .title {
    color: #4992e7;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 10px 30px;
  }
  .tips {
    color: #c7c9d2;
    font-size: 14px;
    margin-left: 30px;
  }
  .modelBox {
    height: 230px;
  }
  .titleBox {
    width: 60%;
    height: 80px;
    border: 1px solid #ccc;
  }
  .imgBox {
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .noticeBox,
  .warningBox,
  .checkBox,
  .registerBox,
  .reportBox,
  .accidentBox,
  .curtainWarningBox {
    height: 150px;
    width: 60%;
  }
  .noticeBox {
    background: #60ba61;
  }
  .warningBox {
    background: #4992e7;
  }
  .checkBox {
    background: #ec8c44;
  }
  .registerBox {
    background: #e74c4c;
  }
  .reportBox {
    background: #58c7cd;
  }
  .accidentBox {
    background: #58c7cd;
  }
  .curtainWarningBox {
    background: palevioletred;
  }
  .dataInfo {
    padding: 20px 10px 20px 30px;
    min-height: 200px;
    font-size: 14px;
    width: 80%;
    border: 1px solid #ccc;
    div {
      margin-bottom: 8px;
    }
  }
}
/deep/ .el-popover {
  position: fixed;
  top: 100px;
  right: 10px;
}
</style>
