<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import * as AUTH from "@/utils/auth";
import { changeTabLeaveTime } from "@/api/user";
import * as API from "@/api/systemaction";

export default {
  name: 'App',
  data() {
    return {
      clientInfo: {},

      evtname: '', // 监听tab切换的事件名称，为了兼容性
      isFullscreenChange: false, // 记录当前tab切换是否是全屏引起的，如果是全屏引起的则不执行tab的监听事件
      visibilitychangeTimer: null
    }
  },
  mounted() {
    // 判断是否已登陆
    if (AUTH.getUserId()) {
      // 监听浏览器窗口离开事件
      window.addEventListener( 'beforeunload', e => this.watchWindowLeave() );

      let visProp = this.getHiddenProp()
      if (visProp) {
        this.evtname = visProp.replace(/[H|h]idden/, '') + 'visibilitychange'
        document.addEventListener(this.evtname, this.visibilitychange, false)
      }
    }
    
  },
  methods: {
    getHiddenProp () {
      var prefixes = ['webkit', 'moz', 'ms', 'o']
      // if 'hidden' is natively supported just return it
      if ('hidden' in document) return 'hidden'
      // otherwise loop over all the known prefixes until we find one
      for (var i = 0; i < prefixes.length; i++) {
        if ((prefixes[i] + 'Hidden') in document) return prefixes[i] + 'Hidden'
      }
      // otherwise it's not supported
      return null
    },
    // 监听用户是否切换了当前document
    visibilitychange (event) {
      // console.log('visibilitychangeTimer before', this.visibilitychangeTimer)
      clearTimeout(this.visibilitychangeTimer)
      // console.log('visibilitychangeTimer after', this.visibilitychangeTimer)
      this.visibilitychangeTimer = setTimeout(() => {
        if (!this.isFullscreenChange) {
          if (document.visibilityState === 'hidden') { // 状态判断
            // 监听切换窗口
            this.clientInfo = AUTH.getClientIpInfo()
            changeTabLeaveTime(this.clientInfo.id)

            API.insertUserAction({
              state: 0,
              systemTrafficId: this.clientInfo.id
            }).then(res => {
              // console.log('cut off')
            })

          } else {
            // 切回窗口
            API.insertUserAction({
              state: 1,
              systemTrafficId: this.clientInfo.id
            }).then(res => {
              // console.log('cut back')
            })
          }
        }
      }, 300)
    },
    // 监听浏览器离开窗口事件
    watchWindowLeave() {
      this.clientInfo = AUTH.getClientIpInfo()
      changeTabLeaveTime(this.clientInfo.id)
    }
  }
};
</script>
