<template>
  <div class="login-container">
    <div class="login-form align-justify">
      <el-form
        ref="loginForm"
        :model="loginForm"
        :rules="loginRules"
        auto-complete="on"
        label-position="left"
      >
        <div class="title-container">
          <h3 class="title">广州市既有幕墙基础信息管理系统</h3>
        </div>
        <el-form-item prop="user">
          <span class="svg-container">
            <svg-icon icon-class="user" />
          </span>
          <el-input
            ref="user"
            v-model="loginForm.user"
            placeholder="请输入登录账号"
            name="user"
            type="text"
            tabindex="1"
            auto-complete="on"
          />
        </el-form-item>

        <el-form-item prop="password">
          <span class="svg-container">
            <svg-icon icon-class="password" />
          </span>
          <el-input
            :key="passwordType"
            ref="password"
            v-model="loginForm.password"
            :type="passwordType"
            placeholder="请输入密码"
            name="password"
            tabindex="2"
            auto-complete="on"
            @keyup.enter.native="handleLogin"
          />
          <span class="show-pwd" @click="showPwd">
            <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
          </span>
        </el-form-item>

        <!-- Todo: 因业务需求，暂时去掉手机验证 -->
        <!-- <el-form-item prop="phone">
          <span class="svg-container">
            <svg-icon icon-class="phone" />
          </span>
          <el-input
            ref="phone"
            v-model="loginForm.phone"
            placeholder="请输入手机号"
            name="phone"
            type="text"
            tabindex="3"
            auto-complete="on"
          />
        </el-form-item>

        <el-form-item prop="checkCode">
          <el-input
            v-model="loginForm.checkCode"
            class="input"
            maxlength="6"
            placeholder="请输入手机验证码"
          />
          <el-button type="button" class="sendCode" v-if="isShowCode" @click="getCode">发送验证码</el-button>
          <el-button type="button" class="sendCode" disabled v-else>{{codeCount + '秒获取'}}</el-button>
        </el-form-item> -->

        <el-form-item prop="tryCode">
          <el-input
            v-model="loginForm.tryCode"
            class="input"
            maxlength="8"
            placeholder="请输入验证码"
            @keyup.enter.native="handleLogin"
          />
          <div class="divIdentifyingCode" @click="getIdentifyImgCode(true)">
            <img
              id="imgCode"
              style="height:40px; width: 100px; cursor: pointer;"
              alt="点击更换"
              title="点击更换"
            />
          </div>
        </el-form-item>
        <el-button
          :loading="loading"
          type="primary"
          style="width:100%;margin-bottom:30px;"
          @click.native.prevent="handleLogin"
        >登 录</el-button>
        <!-- <div class="mt20 cursor align-justify color-white" @click="register()">沒有账号去注册 ！</div> -->
        <div class="cursor justify-end color-red">建议使用谷歌浏览器进行访问！</div>
      </el-form>
    </div>

    <div class="footer-txt">提示：请妥善保管您的账号和密码，如遇问题可拨打客服电话 020-87448666 或 18933910462 （郑先生）</div>
  </div>
</template>

<script>
import { validUsername } from "@/utils/validate"
import * as API from "@/api/user"
import { getRole } from "@/utils/auth"

export default {
  name: "Login",
  data() {
    // const validateUsername = (rule, value, callback) => {
    //   if (!validUsername(value)) {
    //     callback(new Error("请输入正确的手机号"));
    //   } else {
    //     callback();
    //   }
    // };
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error("密码不能小于6位"))
      } else {
        callback()
      }
    }
    const validatePhone = (rule, value, callback) => {
      if (!/^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/.test(value)) {
        callback(new Error("请输入正确的手机号"))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        user: "",
        password: "",
        phone: "",
        checkCode: "",
        tryCode: null,
        jpgKey: null
      },
      loginRules: {
        user: [
          { required: true, trigger: "blur", message: "请输入派发的登录账号！" }
        ],
        password: [
          { required: true, trigger: "blur", validator: validatePassword }
        ],
        // phone: [
        //   { required: true, trigger: "blur", validator: validatePhone }
        // ],
        // checkCode: [
        //   { required: true, trigger: "blur", message: "请输入手机校验码" }
        // ],
        tryCode: [{ required: false, trigger: "blur", message: "请输入验证码" }]
      },
      loading: false,
      passwordType: "password",
      redirect: undefined,
      isShowCode: true,
      codeCount: 60
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },
  mounted() {
    this.getIdentifyImgCode()
  },
  methods: {
    isEmptyString(val) {
      if (val === '' || val === null) {
        return true
      }
    },
    getCode() {
      if (this.isEmptyString(this.loginForm.phone)) {
        this.$message.warning("请填写手机号")
        return false
      }
      let re = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
      if (!re.test(this.loginForm.phone)) {
        this.$message.error("请输入正确的手机号")
        return false
      }
      // this.getSmsCode()
    },
    getSmsCode() {
      /* 【发送完短信验证码】后调整为【倒计时状态】 */
      this.isShowCode = false
      this.timer = setInterval(() => {
        if (this.codeCount > 0 && this.codeCount <= 60) {
          this.codeCount--
        } else {
          /* 【倒计时结束】后调整为【可点击状态】 */
          clearInterval(this.timer)
          this.timer = null
          this.codeCount = 60
          this.isShowCode = true
        }
      }, 1000)

      API.getSmsCode({
        telephone: this.loginForm.phone
      }).then(res => {
        if (res.datas.status !== 200) {
          this.$message.error(res.data.datas)
        }
      })
    },
    showPwd() {
      if (this.passwordType === "password") {
        this.passwordType = ""
      } else {
        this.passwordType = "password"
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    // 获取图片验证码
    getIdentifyImgCode() {
      const img = document.getElementById("imgCode")
      API.getCode().then(res => {
        if (res.data.status === 200) {
          img.src = res.data.datas.jpg_base64
          this.loginForm.jpgKey = res.data.datas.jpgKey
        } else {
          this.$message.error(res.data.cause)
        }
      })
    },
    // 登录
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store
            .dispatch("LoginByUsername", this.loginForm)
            .then(res => {
              if (res.data.status === 200) {
                this.$store.state.user.password = this.loginForm.password
                this.$router.push({ path: "/home" })
                this.dialogVisible = true
              } else {
                this.$message.error(res.data.cause)
                this.loading = false
                this.getIdentifyImgCode()
              }
            })
            .catch(() => {
              this.loading = false
            })
        } else {
          return false
        }
      })
    },

    // 注册
    register() {
      this.$router.push({ path: "/registerAccount" })
    }
  }
}
</script>

<style lang="scss">
$bg: #2d3a4b;
$light_gray: #fff;
$cursor: #fff;
@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
    .el-form-item__content {
      line-height: 32px;
    }
  }
}
</style>

<style lang="scss" scoped>
$bg: #0a1e39;
$bgb: #061220;
$border: #074874;
$dark_gray: #889aa4;
$light_gray: #eee;

.login-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../../assets/images/loginBg.png") no-repeat center center
    fixed;
  .login-form {
    position: absolute;
    right: 10%;
    top: 6%;
    width: 545px;
    height: calc(100% - 120px);
    padding: 30px;
    margin: 0 auto;
    overflow: hidden;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;
    .title {
      background: linear-gradient(
        -90deg,
        rgba(56, 189, 180, 1) 0%,
        rgba(42, 101, 190, 1) 100%
      );
      font-size: 32px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0px auto 40px auto;
      text-align: center;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  .footer-txt {
    width: 100%;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 10px;
    font-size: 12px;
  }
}
.sendCode {
  color: #fff;
  border: none;
  background: none;
  float: right;
  position: absolute;
  right: 0px;
  border: none;
  margin-top: 5px;
  opacity: 0.7;
}
</style>
