<template>
  <div class="login-container">
    <div class="login-content align-justify">
      <div class="login-form align-justify">
        <el-form ref="registerForm" :model="registerForm" :rules="rules" class="login-form" auto-complete="on" label-position="left">
          <div class="title-container">
            <h3 class="title">注 册 账 号</h3>
          </div>
          <el-form-item prop="phone">
            <span class="svg-container">
              <svg-icon icon-class="user" />
            </span>
            <el-input ref="phone" v-model="registerForm.phone" placeholder="注册/登录账号" name="phone" type="text" tabindex="1" />
          </el-form-item>
          <el-form-item prop="realName">
            <span class="svg-container">
              <svg-icon icon-class="user" />
            </span>
            <el-input ref="realName" v-model="registerForm.realName" placeholder="输入真实姓名" name="realName" type="text" tabindex="2" />
          </el-form-item>
          <el-form-item prop="password">
            <span class="svg-container">
              <svg-icon icon-class="password" />
            </span>
            <el-input :key="passwordType" ref="password" v-model="registerForm.password" :type="passwordType" placeholder="输入密码" name="password" tabindex="3" />
            <span class="show-pwd" @click="showPwd">
              <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
            </span>
          </el-form-item>
          <el-form-item prop="rePassword">
            <span class="svg-container">
              <svg-icon icon-class="password" />
            </span>
            <el-input :key="passwordType" ref="rePassword" v-model="registerForm.rePassword" :type="passwordType" placeholder="再次输入密码" name="rePassword" tabindex="4" />
          </el-form-item>
          <el-form-item prop="tryCode">
            <el-input v-model="registerForm.tryCode" class="input" maxlength="8" placeholder="请输入验证码" @keyup.enter.native="handleRegister('registerForm')" />
            <div class="divIdentifyingCode" @click="getIdentifyImgCode(true)">
              <img id="imgCode" style="height:40px; width: 100px; cursor: pointer;" alt="点击更换" title="点击更换">
            </div>
          </el-form-item>

          <el-button :loading="loading" type="primary" class="mb30" style="width:100%" @click="handleRegister('registerForm')">立即注册</el-button>
          <div class="mt20 cursor align-justify color-white" @click="goback()">返回登录页面</div>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import { validPhone } from '@/utils/validate';
import * as API from '@/api/user';

export default {
  name: 'Register',
  data() {
    const validateRePassword = (rule, value, callback) => {
      const password = this.registerForm.password;
      if (value !== password) {
        callback(new Error('两次输入的密码不一致'));
      } else {
        callback();
      }
    };
    const validatePhone = (rule, value, callback) => {
      if (!validPhone(value)) {
        callback(new Error('手机号码格式错误，请重新输入'));
      } else {
        callback();
      }
    };
    return {
      registerForm: {
        phone: '',
        realName: '',
        password: '',
        rePassword: '',
        tryCode: null,
        jpgKey: null
      },
      rules: {
        phone: [
          { required: true, trigger: 'blur', validator: validatePhone }
        ],
        realName: [
          { required: true, message: '请输入真实姓名', trigger: 'blur' }
        ],
        password: [
          {
            required: true,
            min: 6,
            max: 16,
            message: '长度在 6 到 16 个位',
            trigger: 'blur'
          }
        ],
        rePassword: [
          { required: true, trigger: 'blur', validator: validateRePassword }
        ],
        tryCode: [{ required: true, trigger: 'blur', message: '请输入验证码' }]
      },
      loading: false,
      passwordType: 'password',
      redirect: undefined
    };
  },
  mounted() {
    this.getIdentifyImgCode();
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = '';
      } else {
        this.passwordType = 'password';
      }
      this.$nextTick(() => {
        this.$refs.password.focus();
      });
    },
    // 获取图片验证码
    getIdentifyImgCode() {
      const img = document.getElementById('imgCode');
      API.getCode().then(res => {
        if (res.data.status === 200) {
          img.src = res.data.datas.jpg_base64;
          this.registerForm.jpgKey = res.data.datas.jpgKey;
        } else {
          this.$message.error(res.data.cause);
        }
      });
    },

    // 注册
    handleRegister(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.loading = true;
          API.register(this.registerForm).then(res => {
            if (res.data.status === 200) {
              this.$message.success('注册成功');
              this.$router.go(-1);
            } else {
              this.$message.error(res.data.cause);
              this.getIdentifyImgCode();
              this.loading = false;
            }
          });
        } else {
          return false;
        }
      });
    },
    goback() {
      this.$router.go(-1);
    }
  }
};
</script>
<style lang="scss" scoped>
$bg: #0a1e39;
$bgb: #061220;
$border: #074874;
$dark_gray: #889aa4;
$light_gray: #eee;
.login-container {
  width: 100%;
  height: 100%;
  background-color: $bg;
  background: linear-gradient(0deg, rgba(6, 18, 32, 1), rgba(10, 30, 57, 1));
  overflow: hidden;
  .login-content {
    width: calc(100% - 120px);
    height: calc(100% - 80px);
    border: 1px solid $border;
    background: rgba(10, 30, 57, 1);
    margin: 0 auto;
    margin-top: 40px;
  }
  .login-form {
    position: absolute;
    width: 520px;
    height: calc(100% - 120px);
    margin: 0 auto;
    overflow: hidden;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;
    .title {
      background: linear-gradient(
        -90deg,
        rgba(56, 189, 180, 1) 0%,
        rgba(42, 101, 190, 1) 100%
      );
      font-size: 32px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0px auto 40px auto;
      text-align: center;
    }
  }
}
</style>
