<template>
  <div>
    <div class="app-container">
      <el-button type="primary" size="mini" class="mb20" @click="handleAddRole">新增</el-button>
      <el-table v-loading="listLoading" :data="list" element-loading-text="Loading" border fit highlight-current-row :stripe="true" class="tableClass">
        <el-table-column align="center" label="序号" width="60">
          <template slot-scope="scope">{{ scope.$index + 1 }}</template>
        </el-table-column>
        <el-table-column label="用户名" align="center">
          <template slot-scope="scope">{{ scope.row.title }}</template>
        </el-table-column>
        <el-table-column label="项目名称" align="center" show-overflow-tooltip>
          <template slot-scope="scope">
            <span>{{ scope.row.district }}</span>
          </template>
        </el-table-column>
        <el-table-column label="姓名" width="130" align="center">
          <template slot-scope="scope">{{ scope.row.name }}</template>
        </el-table-column>
        <el-table-column label="手机号码" width="120" align="center">
          <template slot-scope="scope">{{ scope.row.phone }}</template>
        </el-table-column>
        <el-table-column label="排序号" width="90" align="center">
          <template slot-scope="scope">
            <span>{{ scope.row.name }}</span>
          </template>
        </el-table-column>
        <el-table-column class-name="status-col" label="状态" width="110" align="center">
          <template slot-scope="scope">
            <el-tag :type="scope.row.status | statusFilter">{{ scope.row.status }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column align="center" prop="created_at" label="操作" width="240">
          <template slot-scope="scope">
            <el-button size="mini" type="text">编辑</el-button>
            <span style="display:none">{{ scope.row.display_time }}</span>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <Pagination v-show="totalPage > 0" :total="totalPage" :page.sync="pageNum" :limit.sync="pageSize" :page-sizes="[10, 15, 20,30]"
      layout="total, sizes, prev, pager, next, jumper"/>
  </div>
</template>

<script>
import Pagination from '@/components/Pagination';

export default {
  components: { Pagination },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'gray',
        deleted: 'danger'
      };
      return statusMap[status];
    }
  },
  data() {
    return {
      tableKey: 0,
      list: null,
      totalPage: 0,
      pageNum: 1,
      pageSize: 10,
      listLoading: true
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize
      };
    }
  }
};
</script>
