<template>
  <div class="app-container scrollbar my-collapse">
    <div class="mb10 mt10 space-between">
      <span class="f16">幕墙数据库基本信息</span>
      <el-button v-if="canback()" type="info" size="mini" @click="goback()">返回</el-button>
      <el-button
        v-if="this.$route.path === '/noticeManagement/addInspection'"
        type="info"
        size="mini"
        @click="gobackInspection()">返回</el-button>
    </div>
    <span class="f17">
      <div style="width: 100px;">资料完整度：</div>
      <div><el-progress :text-inside="true" :stroke-width="18" :percentage="progressNum"></el-progress></div>
    </span>

    <el-tabs v-model="tabActiveIndex">
      <el-tab-pane :label="item" :name="index + ''" v-for="(item , index) in tabData" :key="index">
        <el-form ref="form" :model="form" :rules="rules" size="mini" disabled class="mb30">
          <!-- 必填信息 -->
          <div v-if="index == 0">
            <div class="tableList scope required">
              <div class="title">
                <el-col :span="6" style="text-align: left; text-indent: 1em;">
                  项目编号：{{projectNum}}
                </el-col>
                <el-col :span="12">必填信息</el-col>
                <el-col :span="6"></el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[0]">{{ fieldName[0] }}</el-col>
                <el-col :span="8" class="right borderR">
                  <el-form-item prop="_0" class="is_error">
                    <el-input v-model="form['_0'].value" size="mini" style="width:100%;"/>
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[54]">{{ fieldName[54] }}</el-col>
                <el-col :span="8" class="right">
                  <el-form-item prop="_54">
                    <el-input v-model="form['_54'].value" size="mini"/>
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[1]">{{ fieldName[1] }}</el-col>
                <el-col :span="20" class="right">
                  <el-form-item prop="_1">
                    <el-select v-model="form['_1'].value" placeholder="用地性质" size="mini" style="width: 17%">
                      <el-option
                        v-for="item in natureLands"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[2]">{{ fieldName[2] }}</el-col>
                <el-col :span="12" class="right row align">
                  <el-form-item prop="_3">
                    <el-select
                      v-model="form['_3'].value"
                      placeholder="区"
                      size="mini"
                      style="width: 100%"
                      @change="clearStreet()"
                    >
                      <el-option
                        v-for="item in districtOptions"
                        :key="item.idDistrict"
                        :label="item.name"
                        :value="item.idDistrict"
                      />
                    </el-select>
                  </el-form-item>
                  <el-form-item prop="_4">
                    <el-select
                      v-model="form['_4'].value"
                      placeholder="街道"
                      size="mini"
                      style="width: 100%"
                    >
                      <el-option
                        v-for="item in streetSelects"
                        :key="item.idDistrict"
                        :label="item.name"
                        :value="item.idDistrict"
                      />
                    </el-select>
                  </el-form-item>
                  <el-form-item prop="_5">
                    <el-input v-model="form['_5'].value" size="mini" placeholder="门牌号" />
                  </el-form-item>
                </el-col>
                <el-col :span="8" class="right">
                  <a @click="viewBaiduMap">
                    <i class="el-icon-location map-button"></i> 查看
                  </a>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[6]">{{ fieldName[6] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_6">
                    <el-input v-model="form['_6'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[7]">{{ fieldName[7] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_7">
                    <el-input v-model="form['_7'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[8]">{{ fieldName[8] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_8">
                    <el-input v-model="form['_8'].value" size="mini" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[9]">{{ fieldName[9] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_9">
                    <el-input v-model.number="form['_9'].value" size="mini" type="number" min="1" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[10]">{{ fieldName[10] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_10">
                    <el-input v-model="form['_10'].value" size="mini" type="number" min="1" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[11]">{{ fieldName[11] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_11">
                    <el-input v-model="form['_11'].value" size="mini" type="number" min="1" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[12]">{{ fieldName[12] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_12">
                    <el-date-picker
                      v-model="form['_12'].value"
                      type="date"
                      value-format="yyyy-MM-dd"
                      placeholder="请选择日期"
                      size="mini"
                      style="width:100%"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[13]">{{ fieldName[13] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_13">
                    <el-date-picker
                      v-model="form['_13'].value"
                      type="date"
                      value-format="yyyy-MM-dd"
                      placeholder="请选择日期"
                      size="mini"
                      style="width:100%"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[14]">{{ fieldName[14] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_14">
                    <el-input v-model="form['_14'].value" size="mini" type="number" min="1" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[15]">{{ fieldName[15] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_15">
                    <el-input v-model="form['_15'].value" min="1" size="mini" type="number" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[55]">{{ fieldName[55] }}</el-col>
                <el-col :span="12" class="right">
                  <el-form-item prop="_55">
                    <el-input
                      v-model="form['_55'].value"
                      min="1"
                      size="mini"
                      type="number"
                      style="width:30%"
                    />
                  </el-form-item>
                </el-col>
                <!-- <el-col :span="16" class="right" /> -->
              </div>

              <div v-for="i in houseNumberValue" :key="i" class="align">
                <el-col :span="4" class="left">第{{ `${i}` + fieldName[16] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item>
                    <el-input v-model="houseHigh[i - 1]" size="mini" type="number" min="1" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left">第{{ `${i}` + fieldName[17] }}</el-col>
                <el-col :span="12" class="right borderR">
                  <el-form-item>
                    <el-input
                      v-model="houseNumber[i - 1]"
                      size="mini"
                      type="number"
                      min="1"
                      style="width:30%"
                    />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[18]">{{ fieldName[18] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_18">
                    <el-select v-model="form['_18'].value" size="mini" style="width: 100%">
                      <el-option label="单一业主" value="1" />
                      <el-option label="2户<业主<50户" value="2" />
                      <el-option label="51户<业主<100户" value="3" />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[51]">{{ fieldName[51] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_51">
                    <el-input v-model="form['_51'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[52]">{{ fieldName[52] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_52">
                    <el-input v-model="form['_52'].value" size="mini" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[19]">{{ fieldName[19] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_19">
                    <el-input v-model="form['_19'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[20]">{{ fieldName[20] }}</el-col>
                <el-col :span="12" class="right">
                  <el-form-item prop="_20">
                    <el-input v-model="form['_20'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <!-- <el-col :span="4" class="left ellipsis" :title="fieldName[21]">{{ fieldName[21] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item>
                    <el-input v-model="form['_21'].value" size="mini" />
                  </el-form-item>
                </el-col> -->
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[22]">{{ fieldName[22] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_22">
                    <el-input v-model="form['_22'].value" size="mini" placeholder />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[53]">{{ fieldName[53] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_53">
                    <el-input v-model="form['_53'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="8" class="right" />
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[23]">{{ fieldName[23] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_23">
                    <el-input v-model="form['_23'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[24]">{{ fieldName[24] }}</el-col>
                <el-col :span="12" class="right">
                  <el-form-item prop="_24">
                    <el-input v-model="form['_24'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <!-- <el-col :span="4" class="left ellipsis" :title="fieldName[25]">{{ fieldName[25] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item>
                    <el-input v-model="form['_25'].value" size="mini" />
                  </el-form-item>
                </el-col> -->
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[34]">{{ fieldName[34] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_34">
                    <el-select v-model="form['_34'].value" placeholder="是" size="mini" style="width:100%">
                      <el-option label="是" value="1" />
                      <el-option label="否" value="2" />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[35]">{{ fieldName[35] }}</el-col>
                <el-col :span="12" class="right">
                  <el-form-item prop="_35">
                    <el-select v-model="form['_35'].value" placeholder="是" size="mini" style="width:100%">
                      <el-option label="是" value="1" />
                      <el-option label="否" value="2" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[43]">{{ fieldName[43] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_43">
                    <el-input v-model="form['_43'].value" size="mini" type="number" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[47]">{{ fieldName[47] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_47">
                    <el-select v-model="form['_47'].value" size="mini" style="width: 100%">
                      <el-option
                        v-for="item in tectonicTypeOptions"
                        :key="item.idProjectType"
                        :label="item.name"
                        :value="item.idProjectType"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" class="right" />
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[44]">{{ fieldName[44] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_44">
                    <el-input v-model="form['_44'].value" size="mini" type="number" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[48]">{{ fieldName[48] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_48">
                    <el-select v-model="form['_48'].value" size="mini" style="width: 100%">
                      <el-option
                        v-for="item in tectonicTypeOptions"
                        :key="item.idProjectType"
                        :label="item.name"
                        :value="item.idProjectType"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" class="right" />
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[45]">{{ fieldName[45] }}</el-col>
                <!-- <el-col :span="4" class="left ellipsis" :title="fieldName[47]">{{ fieldName[47] }}</el-col> -->
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_47">
                    <el-input v-model="form['_47'].value" size="mini" type="number" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[49]">{{ fieldName[49] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_49">
                    <el-select v-model="form['_49'].value" size="mini" style="width: 100%">
                      <el-option
                        v-for="item in tectonicTypeOptions"
                        :key="item.idProjectType"
                        :label="item.name"
                        :value="item.idProjectType"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" class="right" />
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[46]">{{ fieldName[46] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_46">
                    <el-input v-model="form['_46'].value" size="mini" type="number" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[50]">{{ fieldName[50] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_50">
                    <el-select v-model="form['_50'].value" size="mini" style="width: 100%">
                      <el-option
                        v-for="item in tectonicTypeOptions"
                        :key="item.idProjectType"
                        :label="item.name"
                        :value="item.idProjectType"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="8" class="right" />
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[36]">{{ fieldName[36] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_36">
                    <el-select v-model="form['_36'].value" placeholder="是" size="mini" style="width:100%">
                      <el-option label="是" value="1" />
                      <el-option label="否" value="2" />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[37]">{{ fieldName[37] }}</el-col>
                <el-col :span="12" class="right">
                  <el-form-item prop="_37">
                    <el-select v-model="form['_37'].value" placeholder="是" size="mini" style="width:100%">
                      <el-option label="是" value="1" />
                      <el-option label="否" value="2" />
                    </el-select>
                  </el-form-item>
                </el-col>
              </div>
              <div class="align facade-images">
                <el-col :span="4" class="left ellipsis" :title="fieldName[42]">{{ fieldName[42] }}</el-col>
                <el-col :span="20" class="right">
                  <el-tag
                    class="cursor"
                    v-for="(file, index) in fileList"
                    :key="file.fileId"
                    size="mini"
                    @click="onClickFile(fileList, index, 0)"
                  >{{ file.fileName }}</el-tag>
                </el-col>
              </div>
              <div class="align facade-images">
                <el-col :span="4" class="left">{{ fieldName[56] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-tag
                    class="cursor"
                    v-for="(file, index) in filefileIdCA"
                    :key="file.fileId"
                    size="mini"
                    @click="onClickFile(filefileIdCA, index, 1)"
                  >{{ file.fileName }}</el-tag>
                </el-col>

                <el-col :span="4" class="left">{{ fieldName[57] }}</el-col>
                <el-col :span="12" class="right">
                  <el-tag
                    class="cursor"
                    v-for="(file, index) in filefileIdSE"
                    :key="file.fileId"
                    size="mini"
                    @click="onClickFile(filefileIdSE, index, 1)"
                  >{{ file.fileName }}</el-tag>
                </el-col>
              </div>
            </div>
          </div>

          <!-- 详细信息 -->
          <div v-else>
            <div class="tableList scope required">
              <div class="title">详细信息</div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[26]">{{ fieldName[26] }}</el-col>
                <el-col :span="20" class="right">
                  <el-form-item prop="_26">
                    <el-input v-model="form['_26'].value" size="mini" placeholder />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[27]">{{ fieldName[27] }}</el-col>
                <el-col :span="20" class="right">
                  <el-form-item prop="_27">
                    <el-input v-model="form['_27'].value" size="mini" placeholder />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[28]">{{ fieldName[28] }}</el-col>
                <el-col :span="20" class="right">
                  <el-form-item prop="_28">
                    <el-input v-model="form['_28'].value" size="mini" placeholder />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[29]">{{ fieldName[29] }}</el-col>
                <el-col :span="20" class="right">
                  <el-form-item prop="_29">
                    <el-input v-model="form['_29'].value" size="mini" placeholder />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[30]">{{ fieldName[30] }}</el-col>
                <el-col :span="20" class="right">
                  <el-form-item prop="_30">
                    <el-input v-model="form['_30'].value" size="mini" placeholder />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[31]">{{ fieldName[31] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_31">
                    <el-input v-model="form['_31'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[32]">{{ fieldName[32] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_32">
                    <el-input v-model="form['_32'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[33]">{{ fieldName[33] }}</el-col>
                <el-col :span="4" class="right">
                  <el-form-item prop="_33">
                    <el-input v-model="form['_33'].value" size="mini" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[38]">{{ fieldName[38] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_38">
                    <el-input v-model="form['_38'].value" size="mini" type="number" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[39]">{{ fieldName[39] }}</el-col>
                <el-col :span="12" class="right">
                  <el-form-item prop="_39">
                    <el-input v-model="form['_39'].value" size="mini" type="number" />
                  </el-form-item>
                </el-col>
              </div>
              <div class="align">
                <el-col :span="4" class="left ellipsis" :title="fieldName[40]">{{ fieldName[40] }}</el-col>
                <el-col :span="4" class="right borderR">
                  <el-form-item prop="_40">
                    <el-input v-model="form['_40'].value" size="mini" />
                  </el-form-item>
                </el-col>
                <el-col :span="4" class="left ellipsis" :title="fieldName[41]">{{ fieldName[41] }}</el-col>
                <el-col :span="12" class="right">
                  <el-form-item prop="_41">
                    <el-input v-model="form['_41'].value" size="mini" />
                  </el-form-item>
                </el-col>
              </div>
            </div>

            <el-tabs v-model="detailTabActive" type="border-card" style="max-height: 600px;" @tab-click="changeClick">
              <el-tab-pane :label="item" :name="index + ''" v-for="(item, index) in tabPositionData" :key="index">
                <!-- 事故上报列表 -->
                <div v-if="index == 0">
                  <el-table
                    v-loading="listLoading"
                    :data="accidentData"
                    element-loading-text="Loading"
                    border
                    fit
                    highlight-current-row
                    :stripe="true"
                    class="tableClass"
                    :cell-class-name="cellStyle">
                    <el-table-column align="center" label="序号" width="60">
                      <template slot-scope="scope">{{ scope.$index + 1 }}</template>
                    </el-table-column>
                    <el-table-column label="事故编号" align="left" prop="code" show-overflow-tooltip />
                    <el-table-column label="事故标题" align="left" prop="title" min-width="150" show-overflow-tooltip />
                    <el-table-column label="上报人" align="left" prop="userName" show-overflow-tooltip />
                    <el-table-column label="事故类型" align="left" prop="idAccidentType" :formatter="formatAccidentType" show-overflow-tooltip />
                    <el-table-column label="提交时间" width="180" align="left" prop="createTime" show-overflow-tooltip />
                    <el-table-column label="状态" width="110" align="center" prop="idAccidentState" :formatter="formatAccidentState" />
                    <el-table-column align="center" label="操作" width="120">
                      <template slot-scope="scope">
                        <template v-if="scope.row.idAccidentState === 2">
                          <el-button size="mini" type="text" @click="handleAccidentClick('detail', scope.row)">查看详情</el-button>
                        </template>
                      </template>
                    </el-table-column>
                  </el-table>
                  <Pagination v-show="totalPage > 0" 
                    :total="totalPage" 
                    :page.sync="pageNum" 
                    :limit.sync="pageSize"
                    :page-sizes="[10, 15, 20,30]"
                    layout="total, sizes, prev, pager, next, jumper"
                    @pagination="getAccidentData(0)" />
                </div>

                <!-- 日常巡查状态列表 -->
                <div v-if="index == 1">
                  <el-table v-loading="listLoading" :data="maintenanceData" element-loading-text="Loading" border highlight-current-row :stripe="true" class="tableClass" :cell-class-name="cellStyle">
                    <el-table-column align="center" label="序号" width="60">
                      <template slot-scope="scope">{{ scope.$index + 1 }}</template>
                    </el-table-column>
                    <el-table-column label="上报月份" min-width="100" align="left" prop="month" show-overflow-tooltip />
                    <el-table-column label="项目名称" min-width="150" align="left" show-overflow-tooltip prop="projectName" />
                    <el-table-column label="上报人" width="180" prop="userName"/>
                    <el-table-column label="状态" min-width="150" align="left">
                      <template slot-scope="scope">
                        <div v-if="scope.row.idReportState === 1" class="rt_state un">未上报</div>
                        <div v-else class="rt_state en">已上报</div>
                      </template>
                    </el-table-column>
                    <el-table-column label="创建日期" min-width="150" align="left" prop="createTime" show-overflow-tooltip />
                    <el-table-column align="center" label="操作" width="120">
                      <template slot-scope="scope">
                        <el-button size="mini" type="text" v-if="scope.row.idReportState == 2" @click="handleMaintenanceDetail(scope.row)">查看详情</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                  <Pagination v-show="totalPage > 0" 
                    :total="totalPage" 
                    :page.sync="pageNum" 
                    :limit.sync="pageSize"
                    :page-sizes="[10, 15, 20,30]"
                    layout="total, sizes, prev, pager, next, jumper"
                    @pagination="getMaintenanceData(0)" />
                </div>

                <!-- 幕墙预警内容 -->
                <div v-if="index == 2">
                  <el-table :cell-class-name="cellStyle" :data="warningData" border highlight-current-row :stripe="true" class="tableClass">
                    <el-table-column align="center" label="序号" width="60">
                      <template slot-scope="scope">{{ scope.$index + 1 }}</template>
                    </el-table-column>
                    <el-table-column label="项目名称" min-width="150" align="left" prop="project.projectName" show-overflow-tooltip />
                    <el-table-column label="项目地址" min-width="150" align="left" prop="project.addressName" show-overflow-tooltip />
                    <el-table-column label="所属区域" align="left" min-width="150" prop="project.districtName" show-overflow-tooltip />
                    <el-table-column label="负责人" align="left" prop="project.userName" show-overflow-tooltip />
                    <el-table-column label="预警类型" min-width="120" align="left" :formatter="formatProjectType" prop="idWarningType" show-overflow-tooltip />
                    <el-table-column label="竣工时间" width="120" align="left" prop="project.curtainCompletion" show-overflow-tooltip />
                    <el-table-column label="下次安检时间" min-width="120" align="left" prop="nextCkeckDate" show-overflow-tooltip />
                    <el-table-column label="整改通知" min-width="120" align="left" prop="warningPdfPath" show-overflow-tooltip>
                      <template slot-scope="scope">
                        <a v-if="scope.row.warningPdfPath !== null" @click="preView(scope.row.warningPdfPath)">
                          <span class="orange-row">整改通知(点击查看)</span>
                        </a>
                      </template>
                    </el-table-column>
                    <el-table-column label="状态" width="110" align="left" prop="idWarningState" :formatter="formatProjectState" />
                    <el-table-column align="center" label="操作" width="130">
                      <template slot-scope="scope">
                        <template v-if="[2, 3, 4].indexOf(scope.row.idWarningState) > -1">
                          <el-button v-if="checkPerimission('warningInfoEdit') && scope.row.updateApprovalState !== 2" size="mini" type="text" @click="handleEdit(scope.row)"
                            >分项预警状态修改</el-button
                          >
                          <span v-if="scope.row.updateApprovalState === 2">审核中</span>
                        </template>
                      </template>
                    </el-table-column>
                  </el-table>
                </div>

                <!-- 监督检查列表 -->
                <div v-if="index == 3">
                  <el-table v-loading="listLoading" :data="inspectionData" element-loading-text="Loading" border fit highlight-current-row :stripe="true" class="tableClass mt10">
                    <el-table-column align="center" label="序号" width="60">
                      <template slot-scope="scope">{{ scope.$index + 1 }}</template>
                    </el-table-column>
                    <el-table-column label="标题" align="left" prop="name" show-overflow-tooltip />
                    <el-table-column label="参加人员" prop="joinUser" align="left" show-overflow-tooltip />
                    <el-table-column label="创建人" width="130" align="left" prop="createUserName" />
                    <el-table-column label="创建日期" width="180" prop="createTime" align="left" />
                    <el-table-column label="计划检查时间" width="180" prop="planTime" align="left" />
                    <el-table-column label="状态" width="90" align="center" prop="handleState">
                      <template slot-scope="scope">
                        <template v-if="scope.row.handleState === 1">
                          <span class="color-green">已处理</span>
                        </template>
                        <template v-else>
                          <span class="color-red">待处理</span>
                        </template>
                      </template>
                    </el-table-column>
                    <el-table-column align="center" prop="created_at" label="操作" width="120">
                      <template slot-scope="scope">
                        <el-button size="mini" type="text" @click="handleInspectionClick('detail', scope.row)">查看详情</el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                  <Pagination v-show="totalPage > 0" 
                    :total="totalPage" 
                    :page.sync="pageNum" 
                    :limit.sync="pageSize" 
                    :page-sizes="[10, 15, 20,30]"
                    layout="total, sizes, prev, pager, next, jumper"
                    @pagination="getInspectionData(0)" />
                </div>

                <!-- 年度信息上报列表 -->
                <div v-if="index == 4">
                  <el-table
                    v-loading="listLoading"
                    :data="reportData"
                    element-loading-text="Loading"
                    border
                    fit
                    highlight-current-row
                    :stripe="true"
                    class="tableClass"
                    :cell-class-name="cellStyle">
                    <el-table-column align="center" label="序号" width="60">
                      <template slot-scope="scope">{{ scope.$index + 1 }}</template>
                    </el-table-column>
                    <el-table-column label="上报年份" align="left" prop="year" width="100" />
                    <el-table-column label="所属区域、街道" align="left" min-width="180" prop="addressName" show-overflow-tooltip />
                    <el-table-column label="上报人" align="left" show-overflow-tooltip prop="people" />
                    <el-table-column label="状态" width="110" align="left" prop="idReportState" :formatter="formatReportState" />
                    <el-table-column label="创建日期" min-width="150" align="left" prop="createTime" />
                    <el-table-column align="center" label="操作" width="120">
                      <template slot-scope="scope">
                        <template v-if="scope.row.idReportState === 2">
                          <el-button size="mini" type="text" @click="handleReportDetail(scope.row, 'detail')">查看详情</el-button>
                        </template>
                      </template>
                    </el-table-column>
                  </el-table>
                  <Pagination v-show="totalPage > 0" 
                    :total="totalPage" 
                    :page.sync="pageNum" 
                    :limit.sync="pageSize" 
                    :page-sizes="[10, 15, 20,30]"
                    layout="total, sizes, prev, pager, next, jumper"
                    @pagination="getReportData" />
                </div>

                <!-- 待办列表 -->
                <div v-if="index == 5">
                  <div style="height: auto;">
                    <el-steps direction="vertical" :active="dataInfo.length">
                      <el-step :title="item.name" 
                        :key="index"
                        v-for="(item, index) in dataInfo" 
                        :description="'待办数量（'+ item.num +'）'"
                        @click.native="clikStep(index)"
                      >
                        <template slot="description" v-if="activeIndex == index && isShowStepDetail">
                          <div class="processing_content" v-if="index == 0">
                            <div class="box-align-cr" v-if="noticeData.length < 1">- 暂无待办项 -</div>
                            <div v-else>
                              <el-table
                                :data="noticeData"
                                style="width: 100%"
                                :row-class-name="tableRowClassName"
                                :row-style="getRowClass" 
                                :cell-style="getRowClass" 
                                :header-row-style="getRowClass" 
                                :header-cell-style="getRowClass"
                                >
                                <el-table-column prop="title" label="内容标题" width="250"></el-table-column>
                                <el-table-column prop="userName" label="操作人" width="180"></el-table-column>
                                <el-table-column label="状态">
                                  <template slot-scope="scope">
                                    <span v-if="scope.row.idNoticeState == 1">草稿</span>
                                    <span v-if="scope.row.idNoticeState == 2">已发布</span>
                                    <span v-if="scope.row.idNoticeState == 3">撤回</span>
                                  </template>
                                </el-table-column>
                                <el-table-column prop="createTime" label="创建日期" width="180"></el-table-column>
                                <el-table-column prop="publishTime" label="发布日期" ></el-table-column>
                              </el-table>
                              <!-- <Pagination v-show="totalPage > 0" 
                                :total="totalPage" 
                                :page.sync="pageNum" 
                                :limit.sync="pageSize"
                                @pagination="getNoticeByDone" /> -->

                              <el-pagination
                                small
                                :current-page.sync="pageNum"
                                :page-size.sync="pageSize"
                                layout="prev, pager, next"
                                :total="totalPage"
                                @current-change="getNoticeByDone">
                              </el-pagination>
                            </div>
                          </div>

                          <div class="processing_content" v-if="index == 1">
                            <div class="box-align-cr" v-if="warningList.length < 1">- 暂无待办项 -</div>
                            <el-table
                              v-else
                              :data="warningList"
                              style="width: 100%"
                              :row-class-name="tableRowClassName"
                              :row-style="getRowClass" 
                              :cell-style="getRowClass" 
                              :header-row-style="getRowClass" 
                              :header-cell-style="getRowClass"
                              >
                              <el-table-column prop="projectName" label="项目名称" width="180"></el-table-column>
                              <el-table-column prop="addressName" label="项目地址" width="180"></el-table-column>
                              <el-table-column prop="districtName" label="所属区域"></el-table-column>
                              <el-table-column prop="userName" label="负责人" width="180"></el-table-column>
                              <el-table-column prop="curtainCompletion" label="竣工时间"></el-table-column>
                              <el-table-column prop="checkState" label="预警状态" :formatter="formatProjectState"></el-table-column>
                            </el-table>
                          </div>

                          <div class="processing_content" v-if="index == 2">
                            <div class="box-align-cr" v-if="needInspectionData.length < 1">- 暂无待办项 -</div>
                            <div v-else>
                              <el-table
                                :data="needInspectionData"
                                style="width: 100%"
                                :row-class-name="tableRowClassName"
                                :row-style="getRowClass" 
                                :cell-style="getRowClass" 
                                :header-row-style="getRowClass" 
                                :header-cell-style="getRowClass"
                                >
                                <el-table-column align="center" label="序号" width="60">
                                  <template slot-scope="scope">{{ scope.$index + 1 }}</template>
                                </el-table-column>
                                <el-table-column label="标题" align="left" prop="name" show-overflow-tooltip />
                                <el-table-column label="参加人员" prop="joinUser" align="left" show-overflow-tooltip />
                                <el-table-column label="创建人" width="130" align="left" prop="createUserName" />
                                <el-table-column label="创建日期" width="180" prop="createTime" align="left" />
                                <el-table-column label="计划检查时间" width="180" prop="planTime" align="left" />
                                <el-table-column label="状态" width="90" align="center" prop="handleState">
                                  <template slot-scope="scope">
                                    <template v-if="scope.row.handleState === 1">
                                      <span class="color-green">已处理</span>
                                    </template>
                                    <template v-else>
                                      <span class="color-red">待处理</span>
                                    </template>
                                  </template>
                                </el-table-column>
                              </el-table>
                              <el-pagination
                                small
                                :current-page.sync="pageNum"
                                :page-size.sync="pageSize"
                                layout="prev, pager, next"
                                :total="totalPage"
                                @current-change="getInspectionData(2)">
                              </el-pagination>
                            </div>
                          </div>
                          
                          <div class="processing_content" v-if="index == 3">
                            <div class="box-align-cr" v-if="nrMaintenanceData.length < 1">- 暂无待办项 -</div>
                            <div v-else>
                              <el-table
                                :data="nrMaintenanceData"
                                style="width: 100%"
                                :row-class-name="tableRowClassName"
                                :row-style="getRowClass" 
                                :cell-style="getRowClass" 
                                :header-row-style="getRowClass" 
                                :header-cell-style="getRowClass"
                                >
                                <el-table-column align="center" label="序号" width="60">
                                  <template slot-scope="scope">{{ scope.$index + 1 }}</template>
                                </el-table-column>
                                <el-table-column label="上报月份" min-width="100" align="left" prop="month" show-overflow-tooltip />
                                <el-table-column label="项目名称" min-width="150" align="left" show-overflow-tooltip prop="projectName" />
                                <el-table-column label="上报人" width="180" prop="userName"/>
                                <el-table-column label="状态" min-width="150" align="left">
                                  <template slot-scope="scope">
                                    <div v-if="scope.row.idReportState === 1" class="rt_state un">未上报</div>
                                    <div v-else class="rt_state en">已上报</div>
                                  </template>
                                </el-table-column>
                                <el-table-column label="创建日期" min-width="150" align="left" prop="createTime" show-overflow-tooltip />
                              </el-table>
                              <el-pagination
                                small
                                :current-page.sync="pageNum"
                                :page-size.sync="pageSize"
                                layout="prev, pager, next"
                                :total="totalPage"
                                @current-change="getMaintenanceData(1)">
                              </el-pagination>
                            </div>
                          </div>

                          <div class="processing_content" v-if="index == 4">
                            <div class="box-align-cr" v-if="nrAccidentData.length < 1">- 暂无待办项 -</div>
                            <div v-else>
                              <el-table
                                :data="nrAccidentData"
                                style="width: 100%"
                                :row-class-name="tableRowClassName"
                                :row-style="getRowClass" 
                                :cell-style="getRowClass" 
                                :header-row-style="getRowClass" 
                                :header-cell-style="getRowClass"
                                >
                                <el-table-column label="事故编号" align="left" prop="code" width="150" />
                                <el-table-column label="事故标题" align="left" prop="title" width="250" />
                                <el-table-column label="上报人" align="left" prop="userName" width="200" />
                                <el-table-column label="事故类型" align="left" prop="idAccidentType" :formatter="formatAccidentType" width="120" />
                                <el-table-column label="提交时间" width="220" align="left" prop="createTime" />
                                <el-table-column label="状态" width="150" align="center" prop="idAccidentState" :formatter="formatAccidentState" />
                              </el-table>
                              <el-pagination
                                small
                                :current-page.sync="pageNum"
                                :page-size.sync="pageSize"
                                layout="prev, pager, next"
                                :total="totalPage"
                                @current-change="getAccidentData(1)">
                              </el-pagination>
                            </div>
                          </div>
                        </template>

                      </el-step>
                    </el-steps>
                  </div>
                </div>

                <!-- 登录次数 -->
                <div v-if="index == 6">
                  <div class="login_count">登录次数：{{loginCountData.length}}（次）</div>
                  <el-table
                    v-loading="listLoading"
                    :data="loginCountData"
                    element-loading-text="Loading"
                    border
                    fit
                    highlight-current-row
                    :stripe="true"
                    class="tableClass"
                    :cell-class-name="cellStyle">
                    <el-table-column align="center" label="序号" width="60">
                      <template slot-scope="scope">{{ scope.$index + 1 }}</template>
                    </el-table-column>
                    <el-table-column label="IP地址" align="left" prop="addressIP" />
                    <el-table-column label="登录时间" align="left" prop="loginTime" :formatter="formatDateTime" show-overflow-tooltip />
                    <el-table-column label="离开时间" align="left" prop="leaveTime" :formatter="formatLeaveTime" show-overflow-tooltip />
                    <el-table-column label="停留时长" align="left" prop="useTime" />
                  </el-table>
                  <Pagination v-show="totalPage > 0" 
                    :total="totalPage" 
                    :page.sync="pageNum" 
                    :limit.sync="pageSize" 
                    :page-sizes="[10, 15, 20,30]"
                    layout="total, sizes, prev, pager, next, jumper"
                    @pagination="getLoginCountData" />
                </div>

                <!-- 应急备案 -->
                <div v-if="index == 7">
                  <div class="tableList scope required">
                    <div class="title">备案信息</div>
                    <div class="align">
                      <el-col :span="6" class="left ellipsis" :title="eFieldName">{{ eFieldName }}</el-col>
                      <el-col :span="18" class="right">
                        <el-tag
                          class="cursor"
                          v-for="(file, index) in eFileList"
                          :key="file.fileId"
                          size="mini"
                          @click="onClickFile(eFileList, index, 0)"
                          @close="onRemoveFile(index)">
                          {{ file.fileName }}
                        </el-tag>
                      </el-col>
                    </div>
                  </div>
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>

        </el-form>
      </el-tab-pane>
    </el-tabs>

    <el-col class="space-between mb10 mt30">
      <div class="ml10 f16">流程审批信息</div>
      <div class="mr10 f16">流程名称：{{ processName }}</div>
    </el-col>
    <el-table
      :data="processTable"
      border
      fit
      highlight-current-row
      :stripe="true"
      class="tableClass">
      <el-table-column label="流程步骤" align="left" prop="caseName" show-overflow-tooltip />
      <el-table-column label="环节操作人" align="left" prop="caseUserName" />
      <el-table-column
        label="操作结果"
        align="left"
        min-width="200"
        prop="checkCommon"
        show-overflow-tooltip
      />
      <el-table-column label="操作时间" align="left" prop="createTime" show-overflow-tooltip />
      <el-table-column label="下一环节" align="left" prop="nextCaseUserName" show-overflow-tooltip />
      <el-table-column label="下一环节操作人" align="left" prop="nextCaseName" show-overflow-tooltip />
    </el-table>
    <PreviewImage ref="previewImage" />

    <BaiduMapDialog
      :visible.sync="mapVisible"
      :search-key="projectAddress"
      :edit-enalbe="false"
      :zoom-level="13"
      api-key="FV426NknViD9EiT7wcSKNKbbobuqBXze"
      map-center="广州"
      @ok="selectedOk"
    />
  </div>
</template>

<script>
import * as FILE from "@/api/files"
import * as HOME from "@/api/home"
import * as API from "@/api/project"
import * as APP from "@/api/approval"
import * as REPORT from "@/api/report"
import * as NOTICE from "@/api/notice"
import * as WARNING from "@/api/warning"
import * as treeAPI from "@/api/district"
import * as ACCIDENT from "@/api/accident"
import * as EMERGENCY from '@/api/emergency'
import * as natureAPI from "@/api/natureland"
import * as INSPECTION from "@/api/inspection"
import * as MAINTENANCE from "@/api/maintenance"
import * as SYSTEMACTION from "@/api/systemaction"
import { formatDate } from "@/utils/validate"
import PreviewImage from "../../components/PreviewImage"
import BaiduMapDialog from "@/components/BaiduMapDialog"
import Pagination from "@/components/Pagination"

const getValueById = (id, source) => {
  for (let i = 0; i < source.length; i += 1) {
    if (source[i].idDistrict === id) {
      return source[i].name
    }
  }
  return null
}

export default {
  components: { 
    PreviewImage, 
    BaiduMapDialog, 
    Pagination 
  },
  data() {
    let validateValues = (rule, val, callback) => {
      if (Object.isEmpty(val.value) 
      || val.value === '/' 
      || val.value === '000000' 
      || val.value === '无' 
      || val.value === NaN) {
        val.value = ''
        callback(new Error('未填写字段信息'));
      }
    }
    return {
      unWrite: true,
      mapVisible: false,
      projectAddress: "火车站",
      form: {
        _0: { value: null, idProjectField: 1 },
        _1: { value: null, idProjectField: 2 },
        _2: { value: null, idProjectField: 3 },
        _3: { value: 2, idProjectField: 4 },
        _4: { value: 15, idProjectField: 5 },
        _5: { value: null, idProjectField: 6 },
        _6: { value: null, idProjectField: 7 },
        _7: { value: null, idProjectField: 8 },
        _8: { value: null, idProjectField: 9 },
        _9: { value: null, idProjectField: 10 },
        _10: { value: null, idProjectField: 11 },
        _11: { value: null, idProjectField: 12 },
        _12: { value: null, idProjectField: 13 },
        _13: { value: null, idProjectField: 14 },
        _14: { value: null, idProjectField: 15 },
        _15: { value: 1, idProjectField: 16 },
        _16: { value: null, idProjectField: 17 },
        _17: { value: null, idProjectField: 18 },
        _18: { value: "1", idProjectField: 19 },
        _19: { value: null, idProjectField: 20 },
        _20: { value: null, idProjectField: 21 },
        _21: { value: null, idProjectField: 22 },
        _22: { value: null, idProjectField: 23 },
        _23: { value: null, idProjectField: 24 },
        _24: { value: null, idProjectField: 25 },
        _25: { value: null, idProjectField: 26 },
        _26: { value: null, idProjectField: 27 },
        _27: { value: null, idProjectField: 28 },
        _28: { value: null, idProjectField: 29 },
        _29: { value: null, idProjectField: 30 },
        _30: { value: null, idProjectField: 31 },
        _31: { value: null, idProjectField: 32 },
        _32: { value: null, idProjectField: 33 },
        _33: { value: null, idProjectField: 34 },
        _34: { value: "1", idProjectField: 37 },
        _35: { value: "1", idProjectField: 38 },
        _36: { value: "1", idProjectField: 39 },
        _37: { value: "1", idProjectField: 40 },
        _38: { value: null, idProjectField: 41 },
        _39: { value: null, idProjectField: 42 },
        _40: { value: null, idProjectField: 43 },
        _41: { value: null, idProjectField: 44 },
        _42: { value: null, idProjectField: 45 },
        _43: { value: null, idProjectField: 46 },
        _44: { value: null, idProjectField: 47 },
        _45: { value: null, idProjectField: 48 },
        _46: { value: null, idProjectField: 49 },
        _47: { value: null, idProjectField: 50 },
        _48: { value: null, idProjectField: 51 },
        _49: { value: null, idProjectField: 52 },
        _50: { value: null, idProjectField: 53 },
        _51: { value: null, idProjectField: 54 },
        _52: { value: null, idProjectField: 55 },
        _53: { value: null, idProjectField: 56 },
        _54: { value: null, idProjectField: 57 },
        _55: { value: null, idProjectField: 58 },
        _56: { value: null, idProjectField: 59 },
        _57: { value: null, idProjectField: 60 }
      },
      detailFields: [
        "_26",
        "_27",
        "_28",
        "_29",
        "_30",
        "_31",
        "_32",
        "_33",
        "_38",
        "_39",
        "_40",
        "_41"
      ],
      fileList: [],
      filefileIdSE: [],
      filefileIdCA: [],
      isShowRegist: false,
      registerState: null,
      showBtn: true,
      fieldName: [],
      projectData: [],
      buildingNumber: 1,
      tectonicTypeOptions: {},
      districtOptions: [],
      streetOptions: [],
      idProject: null,
      projectStates: {},
      houseNumber: [],
      houseHigh: [],
      houseNumberValue: 0,
      processTable: [],
      processName: null,
      projectNum: '',
      natureLands: {},
      progressNum: 0,

      rules: {
        _0: [{ validator: validateValues }],
        _1: [{ validator: validateValues }],
        _2: [{ validator: validateValues }],
        _3: [{ validator: validateValues }],
        _4: [{ validator: validateValues }],
        _5: [{ validator: validateValues }],
        _6: [{ validator: validateValues }],
        _7: [{ validator: validateValues }],
        _8: [{ validator: validateValues }],
        _9: [{ validator: validateValues }],
        _10: [{ validator: validateValues }],
        _11: [{ validator: validateValues }],
        _12: [{ validator: validateValues }],
        _13: [{ validator: validateValues }],
        _14: [{ validator: validateValues }],
        _15: [{ validator: validateValues }],
        _16: [{ validator: validateValues }],
        _17: [{ validator: validateValues }],
        _18: [{ validator: validateValues }],
        _19: [{ validator: validateValues }],
        _20: [{ validator: validateValues }],
        _21: [{ validator: validateValues }],
        _22: [{ validator: validateValues }],
        _23: [{ validator: validateValues }],
        _24: [{ validator: validateValues }],
        _25: [{ validator: validateValues }],
        _26: [{ validator: validateValues }],
        _27: [{ validator: validateValues }],
        _28: [{ validator: validateValues }],
        _29: [{ validator: validateValues }],
        _30: [{ validator: validateValues }],
        _31: [{ validator: validateValues }],
        _32: [{ validator: validateValues }],
        _33: [{ validator: validateValues }],
        _34: [{ validator: validateValues }],
        _35: [{ validator: validateValues }],
        _36: [{ validator: validateValues }],
        _37: [{ validator: validateValues }],
        _38: [{ validator: validateValues }],
        _39: [{ validator: validateValues }],
        _40: [{ validator: validateValues }],
        _41: [{ validator: validateValues }],
        _42: [{ validator: validateValues }],
        _43: [{ validator: validateValues }],
        _44: [{ validator: validateValues }],
        _45: [{ validator: validateValues }],
        _46: [{ validator: validateValues }],
        _47: [{ validator: validateValues }],
        _48: [{ validator: validateValues }],
        _49: [{ validator: validateValues }],
        _50: [{ validator: validateValues }],
        _51: [{ validator: validateValues }],
        _52: [{ validator: validateValues }],
        _53: [{ validator: validateValues }],
        _54: [{ validator: validateValues }],
        _55: [{ validator: validateValues }],
        _56: [{ validator: validateValues }],
        _57: [{ validator: validateValues }]
      },
      activeNames: [
        "accident_content",
        "maintenance_content",
        "project_warning_content",
        "inspection_content",
        "report_content",
        "login_count_content"
      ],

      pageNum: 1,
      pageSize: 10,
      totalPage: 0,
      listLoading: false,
      accidentData: [],
      nrAccidentData: [],
      maintenanceData: [],
      nrMaintenanceData: [],
      warningData: [],
      inspectionData: [],
      needInspectionData: [],
      reportData: [],
      loginCountData: [],
      projectDataInfo: [],
      warningList: [],
      noticeData: [],
      accdientTypeOptions: {},
      accdientStatusOptions: {},
      projectStateOptions: {},
      reportStatusOptions: {},
      reportTypeOption: [],
      projectTypeOptions: {},
      tabPositionData: ['事故上报列表', '日常巡查状态列表', '预警内容', '监督检查列表', '年度信息上报列表', '待办列表', '登录次数', '应急备案'],
      dataInfo: [{
          name: '公告通知',
          num: 0,
        },{
          name: '安全检查预警',
          num: 0,
        },{
          name: '监督抽查',
          num: 0,
        },{
          name: '巡查维护维修',
          num: 0,
        },{
          name: '事故处置',
          num: 0,
        }],

      activeIndex: 0,
      isShowStepDetail: false,

      tabData: ['必填信息', '详细信息'],
      tabActiveIndex: 0,
      detailTabActive: 0,

      eFieldName: '幕墙应急预案',
      eFileList: []
    }
  },
  computed: {
    // 级联
    streetSelects() {
      return Object.values(this.streetOptions).filter(
        item => item.parentId === this.form["_3"].value
      )
    }
  },
  mounted() {
    // 获取事故状态
    ACCIDENT.getAccidentState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idAccidentState] = item;
        });
        this.accdientStatusOptions = tmpData;
      }
    });

    // 获取事故类型
    ACCIDENT.getAccidentType().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idAccidentType] = item;
        });
        this.accdientTypeOptions = tmpData;
      }
    });

    // 获取报告类型
    MAINTENANCE.getReportType().then(res => {
      this.reportTypeOption = res.data.datas
    })

    // 获取预警状态
    WARNING.getWarningState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idWarningState] = item;
        });
        this.projectStateOptions = tmpData;
      }
    });

    // 获取预警类型
    WARNING.getWarningType().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idWarningType] = item;
        });
        this.projectTypeOptions = tmpData;
      }
    });

    // 获取上报状态
    REPORT.getReportState().then(res => {
      if (res.data.status === 200) {
        const tmpData = {};
        res.data.datas.forEach(item => {
          tmpData[item.idReportState] = item;
        });
        this.reportStatusOptions = tmpData;
      }
    });

    this.progressNum = this.$route.query.progressNum
    this.getProjectInfoByuser()
    this.getProjectTypeState()
    this.getDistrictTree()
    this.selectNatureType()
    this.getAccidentData(0)
  },
  created() {
    this.getProjectField()
  },
  methods: {
    // 查询个人项目信息
    getProjectInfoByuser() {
      if (this.$route.path === "/curtainManagement/curtainDetail") {
        const param = {
          prjId: this.$route.query.idProject
        }
        API.getProjectList(param).then(res => {
          const tmpData = res.data.datas
          if (tmpData !== null) {
            // const form = {};
            tmpData.projectFieldValuesList.forEach((_, idx) => {
              this.form["_" + idx] = _
            })
            // this.form = form;
            this.currentUserId = tmpData.currentUserId
            this.projectUserId = tmpData.idUser
            this.projectNum = tmpData.userName
            this.form["_1"].value = parseInt(this.form["_1"].value)
            this.form["_3"].value = parseInt(this.form["_3"].value)
            this.form["_4"].value = parseInt(this.form["_4"].value)
            this.form["_47"].value = parseInt(this.form["_47"].value)
            this.form["_48"].value = parseInt(this.form["_48"].value)
            this.form["_49"].value = parseInt(this.form["_49"].value)
            this.form["_50"].value = parseInt(this.form["_50"].value)
            try {
              if (!Object.isEmpty(this.form["_42"])) {
                this.fileList = JSON.parse(this.form["_42"].value)
              }
              if (!Object.isEmpty(this.form["_56"])) {
                this.filefileIdCA = JSON.parse(this.form["_56"].value)
              }
              if (!Object.isEmpty(this.form["_57"])) {
                this.filefileIdSE = JSON.parse(this.form["_57"].value)
              }
            } catch (e) {}
            this.houseNumberValue = parseInt(this.form["_15"].value)
            this.houseHigh = this.form["_16"].value.split(",")
            this.houseNumber = this.form["_17"].value.split(",")

            this.detailFields.find(index => {
              this.setEmptyFieldVal(index)
            })
          }
        })
        this.getProcessTable(this.$route.query.idApproval)
      }
    },
    setEmptyFieldVal(index) {
      if (Object.isEmpty(this.form[index].value)) {
        this.form[index].value = '/'
      }
    },
    // 获取关联项目待办公告
    getNoticeByDone() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        idUser: this.$route.query.idUser,
      };
      NOTICE.getNoticeByDone(params).then(res => {
        this.noticeData = res.data.datas.list;
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },
    getRowClass({ row, column, rowIndex, columnIndex }) {
      return "background:#D9E5F9;"
    },
    tableRowClassName({row, rowIndex}) {
      if (rowIndex === 0) {
        return 'warning-row';
      } else if (rowIndex === 3) {
        return 'success-row';
      }
      return '';
    },
    // 获取待办安全预警
    getProjectByIdUser() {
      const params = {
        idUser: this.$route.query.idUser
      }
      API.getProjectByIdUser(params)
      .then(res => {
        if (res.data.status == 200) {
          if (res.data.datas != null) {
            this.warningList.push(res.data.datas)
          }
        }
      })
    },
    // 获取关联项目待办数据
    getPendingNumByProject() {
      const params = {
        idRole: this.$route.query.roleId,
        userId: this.$route.query.idUser
      }
      HOME.getPendingByProject(params)
      .then(res => {
        if (res.data.status == 200) {
          let tmpData = res.data.datas
          this.dataInfo[0].num = tmpData.noticeCount
          this.dataInfo[1].num = tmpData.warningCount
          this.dataInfo[2].num = tmpData.inspectionCount
          this.dataInfo[3].num = tmpData.maintenanceCount
          this.dataInfo[4].num = tmpData.accidentCount
        }
      })
    },
    clikStep(index) {
      this.activeIndex = index
      this.isShowStepDetail = true
    },
    changeClick(tab, event) {
      switch (tab.index) {
        case "0": // 事故上报
          this.getAccidentData(0)
          break;
        case "1": // 日常维修维护
          this.getMaintenanceData(0)
          break;
        case "2": // 安全预警
          this.getProjectWarningData()
          break;
        case "3": // 监督抽查
          this.getInspectionData(0)
          break;
        case "4": // 年度上报
          this.getReportData()
          break;
        case "5": // 待办列表
          this.warningList = []
          this.getPendingNumByProject()

          this.getNoticeByDone()
          this.getProjectByIdUser()
          this.getInspectionData(2) // 待办抽查
          this.getMaintenanceData(1) // 待办维修
          this.getAccidentData(1) // 待办事故
          break;
        case "6": // 登录次数
          this.getLoginCountData()
          break;
        case "7": // 应急备案
          this.selectByProjectId()
          break;
      }
    },
    selectByProjectId() {
      EMERGENCY.selectByProjectId({
        idProject: this.$route.query.idProject
      }).then(res => {
        if (res.data.status === 200) {
          this.eFileList = JSON.parse(res.data.datas.filePath)
        }
      })
    },
    getLoginCountData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        idUser: this.$route.query.idUser,
      };
      SYSTEMACTION.getLoginCountByIdUser(params).then(res => {
        this.loginCountData = res.data.datas.list;
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },
    getReportData() {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        idUser: this.$route.query.idUser,
      };
      REPORT.getReportByIdUser(params).then(res => {
        this.reportData = res.data.datas.list;
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },
    getInspectionData(state) {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        idUser: this.$route.query.idProject,
        state: state
      };
      INSPECTION.getInspectionByIdUser(params).then(res => {
        if (state == 0) {
          this.inspectionData = res.data.datas.list;
        } else {
          this.needInspectionData = res.data.datas.list;
        }
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },
    getProjectWarningData() {
      this.listLoading = true
      const param = {
        idProject: this.$route.query.idProject
      }
      WARNING.getWarningList(param).then(res => {
        if (res.data.status === 200) {
          this.warningData = res.data.datas.list
          this.listLoading = false
        }
      })
    },
    getMaintenanceData(state) {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        idProject: this.$route.query.idProject,
        state: state
      };
      MAINTENANCE.getMaintenanceByIdProject(params).then(res => {
        if (state == 0) {
          this.maintenanceData = res.data.datas.list;
        } else {
          this.nrMaintenanceData = res.data.datas.list;
        }
        this.totalPage = res.data.datas.totalRecord;
        this.listLoading = false;
      });
    },
    // 查询事故上报列表
    getAccidentData(state) {
      this.listLoading = true;
      const params = {
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        idUser: this.$route.query.idUser,
        state: state
      }
      ACCIDENT.getAccidentByUserId(params).then(res => {
        if (state == 0) {
          this.accidentData = res.data.datas.list;
        } else {
          this.nrAccidentData = res.data.datas.list;
        }
        this.totalPage = res.data.datas.totalRecord
        this.listLoading = false
      })
    },
    // 路由至年度上报详情
    handleReportDetail(row, title) {
      this.$router.push({
        path: "/annualReportMangement/addAnnualReport",
        query: { ID: row.idReport, btn: title, idG: row.idAccessoryGroup }
      });
    },
    // 路由至抽查检查详情
    handleInspectionClick(btn, row) {
      if (btn === "add") {
        this.$router.push({
          path: "/noticeManagement/addInspection",
          query: { BTN: btn }
        });
      } else {
        this.$router.push({
          path: "/noticeManagement/addInspection",
          query: { BTN: btn, id: row.idInspectionGroup }
        });
      }
    },
    // 路由至幕墙预警详情
    handleWarningDetail(row) {
      this.$router.push({
        path: "/curtainWarning/warningDetail",
        query: { id: row.idProject }
      });
    },
    // 路由至维修维护报告详情
    handleMaintenanceDetail(row) {
      this.$router.push({
        path: "/patrolMaintenance/addMaintenanceReport",
        query: {
          btn: 'detail',
          id: row.idPatrolMaintenance,
          projectName: row.projectName,
          idG: row.idAccessoryGroup
        }
      })
    },
    // 路由至事故详情
    handleAccidentClick(btn, row) {
      if (row.idAccidentState === 1 || row.idAccidentState === 4) {
        this.$router.push({
          path: "/accidentManagement/addAccident",
          query: { id: row.idAccident }
        });
      } else {
        this.$router.push({
          path: "/accidentManagement/accidentDetail",
          query: { id: row.idAccident }
        });
      }
    },
    formatProjectType(row) {
      return this.projectTypeOptions[row.idWarningType] ? this.projectTypeOptions[row.idWarningType].name : null;
    },
    formatDateTime(row) {
      return formatDate(row.loginTime)
    },
    formatLeaveTime(row) {
      return formatDate(row.leaveTime)
    },
    formatReportState(row) {
      return this.reportStatusOptions[row.idReportState] ? this.reportStatusOptions[row.idReportState].name : null;
    },
    formatProjectState(row) {
      return this.projectStateOptions[row.idWarningState] ? this.projectStateOptions[row.idWarningState].name : null;
    },
    formatAccidentState(row) {
      return this.accdientStatusOptions[row.idAccidentState] ? this.accdientStatusOptions[row.idAccidentState].name : null;
    },
    formatAccidentType(row) {
      return this.accdientTypeOptions[row.idAccidentType] ? this.accdientTypeOptions[row.idAccidentType].name : null;
    },
    // 获取用地性质分类列表
    selectNatureType() {
      natureAPI.selectNatureType().then(res => {
        if (res.data.status === 200) {
          const tmpData = {}
          res.data.datas.forEach(item => {
            tmpData[item.id] = item
          })
          this.natureLands = tmpData
        }
      })
    },
    // 根据不同状态，展示不同颜色
    processColor(row) {
      switch (row.checkState) {
        case 1:
          this.cellColorList = "green-row";
          break;
        case 2:
          this.cellColorList = "yellow-row";
          break;
        case 3:
          this.cellColorList = "red-row";
          break;
        case 4:
          this.cellColorList = "orange-row";
          break;
      }
    },
    // 渲染颜色
    cellStyle({ row, column, rowIndex, columnIndex }) {
      if (columnIndex === 7) {
        this.processColor(row);
        return this.cellColorList;
      }
    },
    // 查看地图
    viewBaiduMap() {
      this.mapVisible = !this.mapVisible
      if (this.mapVisible) {
        const districeName = getValueById(
          this.form._3.value,
          this.districtOptions
        )
        const streetName = getValueById(this.form._4.value, this.streetOptions)
        const doorNo = this.form._5.value || ""
        this.projectAddress = districeName + streetName + doorNo || "火车站"
      }
    },
    selectedOk(result) {
      this.form._5.value = result
    },
    onClickFile(file, index, type) {
      if (type === 1) {
        const params = {
          id: file[index].fileId,
          fileName: file[index].fileName
        }
        FILE.readPDF(params)
      } else {
        this.$refs.previewImage.show(file, index)
      }
    },
    // 流程审批信息列表
    getProcessTable(idApproval) {
      const param = {
        idApproval: idApproval
      }
      APP.getApprovalInfo(param).then(res => {
        if (res.data.status === 200) {
          this.processTable = res.data.datas.list
          this.processName = res.data.datas.name
        }
      })
    },
    clearStreet() {
      this.form["_4"].value = null
    },
    // 获取区及街道信息
    getDistrictTree() {
      treeAPI.getDistrictTree({ isNeedFilter: false }).then(res => {
        if (res.data.status === 200) {
          const tmpTreeData = res.data.datas
          for (let i = 0; i < tmpTreeData.length; i += 1) {
            if (tmpTreeData[i].level === 2) {
              this.districtOptions.push(tmpTreeData[i])
            } else if (tmpTreeData[i].level === 3) {
              this.streetOptions.push(tmpTreeData[i])
            }
          }
        }
      })
    },
    // 获取玻璃幕墙构造类型
    getProjectTypeState() {
      API.getProjectTypeState().then(res => {
        if (res.data.status === 200) {
          const tmpData = {}
          res.data.datas.forEach(item => {
            tmpData[item.idProjectType] = item
          })
          this.tectonicTypeOptions = tmpData
        }
      })
    },
    // 幕墙数据库结构信息
    getProjectField() {
      API.getProjectField().then(res => {
        if (res.data.status === 200) {
          res.data.datas.forEach(item => {
            this.fieldName.push(item.name)
          })
        }
      })
    },
    // 返回
    goback() {
      this.$router.go(-1)
    },
    canback() {
      if (this.$route.query && this.$route.query.canback) {
        return false
      } else {
        return true
      }
    },
    // 返回抽查检查列表
    gobackInspection() {
      this.$router.push({
        path: "/noticeManagement/inspection"
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.tableList {
  color: #2e4f7b;
  border: 1px solid rgba(46, 79, 123, 0.5);
  border-bottom-width: 0;
  margin-bottom: 20px;
  div {
    height: 36px;
    line-height: 36px;
  }

  .title {
    font-size: 16px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
  }

  .align {
    &.facade-images {
      .upload-facade-images {
        display: inline-block;
      }

      /deep/ .el-tag {
        margin-right: 10px;
      }
    }
  }

  .left {
    background: rgba(46, 79, 123, 0.1);
    border-right: 1px solid rgba(46, 79, 123, 0.5);
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }

  .right {
    border-bottom: 1px solid rgba(46, 79, 123, 0.5);
    padding: 0 20px;
  }

  .borderR {
    border-right: 1px solid rgba(46, 79, 123, 0.5);
  }

  /deep/ .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item {
    margin-bottom: 0px;
  }

  /deep/ .el-form-item__content {
    margin-left: 0 !important;
  }

  /deep/ .el-form-item__error {
    top: 30%;
    left: 20px;
  }
}
.f17 {
  width: 100%;
  display: inline-block;
  margin: 0 0 10px 0;
  div {
    float: left;
    width: 200px;
  }
}
.un_write {
  border: 1px solid red;
  border-radius:5px;
  line-height:35px;height:35px;
}
.rle-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #2e4f7b;
}
.step-row {
  min-width:500px;
  margin-bottom:12px;
  margin-top:12px;
}
.processing_content{
  background-color: #D9E5F9;
  color: #4d4d4d;
  padding: 10px;
}
.el-table .warning-row {
  background: oldlace;
}
.el-table .success-row {
  background: #f0f9eb;
}
.box-align-cr {
  text-align: center;
}
.el-pagination button,
.el-pager li {
  background-color: #D9E5F9;
}
.login_count {
  margin-bottom: 10px;
  color: #4d4d4d;
}
</style>
