<template>
  <div class="cockpitContainer scrollbar">
    <el-tabs type="card" v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="统计汇总" name="tab1">
        <div class="mainer">
          <el-row :gutter="20">
            <el-col :span="6">
              <div class="gridBox">
                <div class="header">公告通知</div>
                <Notice :table-data="tableData" />
              </div>
              <div class="gridBox mt20">
                <div class="header">幕墙统计</div>
                <CurtainCount :curtain-count="curtainCount" :curtain-area="curtainTotalArea" />
              </div>
            </el-col>
            <el-col :span="12">
              <div class="map">
                <div class="align-justify">
                  <BaiduMapChart
                    :edit-enalbe="false"
                    :show-tab="1"
                    ref="tab1"
                    @dataChange="getChartData"
                    @tabChange="changeTab"
                  ></BaiduMapChart>
                </div>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="gridBox">
                <div class="header">幕墙构造类型</div>
                <div class="align-justify">
                  <CurtainTypeChart
                    v-if="curtainTypeData.length > 0"
                    :chart-data="curtainTypeData"
                    :curtain-area="countArea"
                  />
                </div>
              </div>
              <div class="gridBox mt20">
                <div class="header">报警统计</div>
                <div class="align-justify">
                  <WarningCountChart
                    v-if="warningCountData.length > 0"
                    :chart-data="warningCountData"
                  />
                </div>
              </div>
            </el-col>
          </el-row>
          <el-row :gutter="20" class="mt20">
            <el-col :span="6">
              <div class="gridBox">
                <div class="header">幕墙入库趋势</div>
                <div class="align-justify">
                  <CurtainStateChart
                    v-if="curtainStateData.month.length > 0"
                    :chart-data="curtainStateData"
                  />
                </div>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="gridBox">
                <div class="header">幕墙高度</div>
                <div class="align-justify">
                  <CurtainHeightChart
                    v-if="curtainHeightData.Xdata.length > 0"
                    :chart-data="curtainHeightData"
                  />
                </div>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="gridBox">
                <div class="header">幕墙使用年限</div>
                <div class="align-justify">
                  <CurtainLifeChart
                    v-if="curtainLifeData.year.length > 0"
                    :chart-data="curtainLifeData"
                  />
                </div>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="gridBox">
                <div class="header">事故统计</div>
                <div class="align-justify">
                  <AccidentCountChart
                    v-if="accidentCountData.month.length > 0"
                    :chart-data="accidentCountData"
                  />
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
      <el-tab-pane label="项目分布" name="tab2">
        <div class="mainer">
          <BaiduMapChart :edit-enalbe="false" :show-tab="2" ref="tab2"></BaiduMapChart>
        </div>
      </el-tab-pane>
      <el-tab-pane label="数据分析" name="tab3" v-if="roleId !== '2'">
        <div class="mainer">
          <div class="gridBox">
            <div class="header">
              <div>数据分析</div>
              <div align="right">
                <el-button size="mini" @click="exportToExcel">导出</el-button>
              </div>
            </div>
            <!-- <CurtainDataAnalysis :table-data="analysisData" /> -->
            <CurtainDataAnalysis
            :area-data="dataInfo.areaData"
            :curtain-height-data="dataInfo.curtainHeightData"
            :main-completion-data="dataInfo.mainCompletionData"
            :house-use-data="houseUseData"
            :table-data="analysisData"
             />
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import * as API from "@/api/cockpit"
import * as HOME from "@/api/home"
import { getRole } from "@/utils/auth"

import Notice from "./components/Notice.vue"
import CurtainDataAnalysis from "./components/CurtainDataAnalysis.vue"
import CurtainCount from "./components/CurtainCount.vue"
import MapChart from "./components/MapChart.vue"
import CityMapChart from "./components/CityMapChart.vue"
import CurtainTypeChart from "./components/CurtainTypeChart.vue"
import WarningCountChart from "./components/WarningCountChart.vue"
import CurtainStateChart from "./components/CurtainStateChart.vue"
import CurtainHeightChart from "./components/CurtainHeightChart.vue"
import CurtainLifeChart from "./components/CurtainLifeChart.vue"
import AccidentCountChart from "./components/AccidentCountChart.vue"
import BaiduMapChart from "./components/BaiduMapChart"

export default {
  name: "Cockpit",
  components: {
    Notice,
    CurtainDataAnalysis,
    CurtainCount,
    MapChart,
    CityMapChart,
    CurtainTypeChart,
    WarningCountChart,
    CurtainStateChart,
    CurtainHeightChart,
    CurtainLifeChart,
    AccidentCountChart,
    BaiduMapChart
  },
  data() {
    return {
      roleId: getRole(),
      tableData: [],
      analysisData: [],
      countArea: 0,
      curtainTypeData: [],
      warningCountData: [],
      userRegionName: "",
      curtainCount: 0,
      curtainTotalArea: 0,
      districts: [],
      activeName: "tab1",
      curtainStateData: {
        curtainArea: [],
        month: [],
        curtainCount: []
      },

      curtainHeightData: {
        Xdata: [],
        data: []
      },
      curtainLifeData: {
        year: [],
        data: []
      },
      accidentCountData: {
        month: [],
        data: []
      },
      dataInfo: {
        areaData: [],
        curtainHeightData: [],
        mainCompletionData: []
      },
      houseUseData: []
    }
  },
  created() {
    this.getUserRegionInfo()
    this.getChartData()
  },
  methods: {
    // 获取基础数据分析(建筑性质分布)
    getHouseUseData() {
      HOME.getHouseUseData()
      .then(res => {
        if (res.data.status === 200) {
          this.houseUseData = res.data.datas
        }
      })
    },
    // 获取面积分布/高度/使用寿命
    getAllDataInfo() {
      HOME.getAllDataInfo()
      .then(res => {
        if (res.data.status === 200) {
          this.dataInfo = {
            curtainHeightData: res.data.datas.heightMap,
            mainCompletionData: res.data.datas.mainCompletionMap,
            areaData: res.data.datas.areaMap
          }
        }
      })
    },
    // 导出数据
    exportToExcel() {
      HOME.exportAnalysisData()
    },
    // 获取图表数据
    getChartData(districts) {
      this.districts = districts
      this.getTableData()
      if (this.roleId !== '2') {
        this.getAnalysisData()
      }
      
      this.getCurtainTypeInfo()
      this.getCurtainStatisInfo()
      this.getCurtainWarningInfo()
      this.getCurtainStatisInfoByMonth()
      this.getCurtainHeightInfo()
      this.getCurtainLifeInfo()
      this.getCurtainAccidentInfo()
    },
    // 获取用户所属区的信息
    getUserRegionInfo() {
      API.getUserRegionInfo().then(res => {
        if (res.data.status === 200) {
          const tmpData = res.data.datas
          this.userRegionName = tmpData.name
        }
      })
    },

    // 切换到项目分布标签页
    changeTab(marker) {
      this.activeName = "tab2"
      this.$refs.tab2.projectClick(marker)
    },

    handleClick(tab, event) {
      if (tab.name === "tab2") {
        var view = this.$refs.tab1.getViewport()
        var datas = this.$refs.tab1.getDatas()
        this.$refs.tab2.plantoView(view)
        this.$refs.tab2.setDdtas(datas)
      } else if (tab.name === "tab3") {
        this.getHouseUseData()
        this.getAllDataInfo()
      } else {
        var view = this.$refs.tab2.getViewport()
        var datas = this.$refs.tab2.getDatas()
        this.$refs.tab1.plantoView(view)
        this.$refs.tab1.setDdtas(datas)
      }
    },
    getAnalysisData() {
      HOME.getAnalysisData().then(res => {
        if (res.data.status === 200) {
          this.analysisData = res.data.datas
        }
      })
    },
    // 查询公告通知列表
    getTableData() {
      let param = {
        districts: this.districts
      }
      API.getNoticeInfo(param).then(res => {
        if (res.data.status === 200) {
          this.tableData = res.data.datas
        }
      })
    },

    // 获取幕墙玻璃类型信息
    getCurtainTypeInfo() {
      let param = {
        districts: this.districts
      }
      API.getCurtainTypeInfo(param).then(res => {
        if (res.data.status === 200) {
          const tmpArray = []
          let tmpArea = 0
          res.data.datas.forEach(item => {
            const tmpObj = {
              value: 0,
              name: ""
            }
            tmpObj.value = item.countArea
            tmpObj.name = item.name
            tmpArray.push(tmpObj)
            tmpArea += item.countArea
          })
          this.countArea = tmpArea
          this.curtainTypeData = tmpArray
        }
      })
    },

    // 获取幕墙统计信息
    getCurtainStatisInfo() {
      let param = {
        districts: this.districts
      }
      API.getCurtainStatisInfo(param).then(res => {
        const tmpData = res.data.datas
        if (res.data.status === 200) {
          this.curtainCount = tmpData.projectNum
          this.curtainTotalArea = tmpData.curtainTotalArea
        }
      })
    },

    // 获取报警统计信息
    getCurtainWarningInfo() {
      let param = {
        districts: this.districts
      }
      API.getCurtainWarningInfo(param).then(res => {
        if (res.data.status === 200) {
          const tmpArray = []
          res.data.datas.forEach(item => {
            const tmpObj = {
              value: 0,
              name: "",
              idWarningState: null
            }
            tmpObj.value = item.countNum
            tmpObj.name = item.warningStateName
            tmpObj.idWarningState = item.warningStateCode
            tmpArray.push(tmpObj)
          })
          this.warningCountData = tmpArray
        }
      })
    },

    // 获取幕墙入库趋势
    getCurtainStatisInfoByMonth() {
      let param = {
        districts: this.districts
      }
      API.getCurtainStatisInfoByMonth(param).then(res => {
        if (res.data.status === 200) {
          const areaArray = []
          const monthArray = []
          const countArray = []
          res.data.datas.forEach(item => {
            areaArray.push(item.curtainTotalArea)
            monthArray.push(item.month.toString())
            countArray.push(item.projectNum)
          })
          this.curtainStateData.curtainArea = areaArray
          this.curtainStateData.month = monthArray
          this.curtainStateData.curtainCount = countArray
        }
      })
    },

    // 获取幕墙高度信息
    getCurtainHeightInfo() {
      let param = {
        districts: this.districts
      }
      API.getCurtainHeightInfo(param).then(res => {
        if (res.data.status === 200) {
          const xArray = []
          const dataArray = []
          res.data.datas.forEach(item => {
            xArray.push(item.heightX)
            dataArray.push(item.heightNum)
          })
          this.curtainHeightData.Xdata = xArray
          this.curtainHeightData.data = dataArray
        }
      })
    },

    // 获取幕墙使用年限信息
    getCurtainLifeInfo() {
      let param = {
        districts: this.districts
      }
      API.getCurtainLifeInfo(param).then(res => {
        if (res.data.status === 200) {
          const yearArray = []
          const dataArray = []
          res.data.datas.forEach(item => {
            yearArray.push(item.year.toString())
            dataArray.push(item.num)
          })
          this.curtainLifeData.year = yearArray
          this.curtainLifeData.data = dataArray
        }
      })
    },

    // 获取事故统计信息
    getCurtainAccidentInfo() {
      let param = {
        districts: this.districts
      }
      API.getCurtainAccidentInfo(param).then(res => {
        if (res.data.status === 200) {
          const mouthArray = []
          const dataArray = []
          res.data.datas.forEach(item => {
            mouthArray.push(item.month.toString())
            dataArray.push(item.num)
          })
          this.accidentCountData.month = mouthArray
          this.accidentCountData.data = dataArray
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.cockpitContainer {
  width: 100%;
  height: 100%;
  padding: 20px 10px 20px 20px;
  background: #061220;
  .mainer {
    width: 100%;
    height: 100%;
    .map {
      height: 580px;
    }
    .gridBox {
      // height: 280px;
      // border: 1px solid #074874;
      .header {
        height: 50px;
        padding-left: 20px;
        background: #0d1f37;
        border-bottom: 1px solid #074874;
        color: #fff;
        font-size: 16px;
        display: -webkit-flex;
        display: flex;
        align-items: center;
      }
    }
  }
}
</style>

<style>
.el-tabs--card > .el-tabs__header {
  border-bottom: 1px solid #074874;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav {
  border: 1px solid #074874;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border-bottom-color: #074874;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  border-left: 1px solid #074874;
}
.el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  color: white;
}
.el-tabs--card > .el-tabs__header .el-tabs__item {
  color: #074874;
}
.header > div{
  width: 50%;
}
.header div:nth-child(2) {
  padding-right: 20px;
}
.header > div > button {
  background-color: #074874;
  border: 1px solid #0d1f37;
  color: #fff;
}
</style>
