<template>
  <div :class="classObj" class="app-wrapper" style="overflow:hidden">
    <el-container>
      <el-header>
        <navbar />
      </el-header>
      <el-container>
        <el-aside class="sidebar-width">
          <sidebar class="sidebar-container" />
        </el-aside>
        <el-container>
          <el-main class="column">
            <div class="breadcrumbContainer">
              <breadcrumb class="breadcrumb-container" />
            </div>
            <app-main />
          </el-main>
        </el-container>
      </el-container>
      <el-footer>
        <div class="justify">广州市既有幕墙基础信息管理系统 版权所有 |&nbsp;<a href="http://www.beian.miit.gov.cn/">粤ICP备12030444号-2</a></div>
      </el-footer>
    </el-container>
  </div>
</template>

<script>
import { Navbar, Sidebar, AppMain } from "./components";
import Breadcrumb from "@/components/Breadcrumb";

export default {
  name: "Layout",
  components: {
    Navbar,
    Sidebar,
    AppMain,
    Breadcrumb
  },
  computed: {
    sidebar() {
      return this.$store.state.app.sidebar;
    },
    device() {
      return this.$store.state.app.device;
    },
    classObj() {
      return {
        hideSidebar: !this.sidebar.opened,
        openSidebar: this.sidebar.opened
        // withoutAnimation: this.sidebar.withoutAnimation,
        // mobile: this.device === "mobile"
      };
    }
  },
  methods: {
    handleClickOutside() {
      this.$store.dispatch("app/closeSideBar", { withoutAnimation: false });
    },
    toggleSideBar() {
      this.$store.dispatch("app/toggleSideBar");
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import "~@/styles/variables.scss";

.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
}
.hamburger-container {
  height: 46px;
  line-height: 50px;
  float: left;
  margin-left: 3px;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background: rgba(0, 0, 0, 0.025);
  }
}

.breadcrumbContainer {
  width: 100%;
  background: #061220;
  color: #fff;
  border-bottom: 1px solid #074874;
}
.breadcrumb-container {
  float: left;
}

.el-main {
  padding: 0;
  background: #f7faff;
  margin-top: -10px;
  overflow: hidden;
}
.el-footer {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
  background: #061220;
  border-top: 1px solid #074874;
}
</style>
